backups/20260326-142509-local-state/workflows/G2eWuttplu8FkdR3.json
{"data":{"updatedAt":"2026-03-13T10:23:46.169Z","createdAt":"2026-01-20T11:23:05.264Z","id":"G2eWuttplu8FkdR3","name":"NiFi - New Member Emails (Converted)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Derive a stable filename from the message-id header\nconst json = items[0].json;\nconst messageId = json.email?.headers?.['message-id'];\njson.filename = messageId ? `${messageId}.eml` : (json.filename || 'message.eml');\nreturn items;"},"id":"88a99077-e13f-34ad-8f12-3c591694cdff","name":"Update filename attribute to message id","type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-1264],"notes":"NiFi type: org.apache.nifi.processors.attributes.UpdateAttribute\nProperties:\n- Delete Attributes Expression: None\n- Stateful Variables Initial Value: None\n- Store State: Do not store state\n- canonical-value-lookup-cache-size: 100\n- filename: ${email.headers.message-id}"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Flatten dotted/nested attributes into plain fields\nconst json = items[0].json;\njson.signup_date = json.signup_date || json.email?.headers?.sent_date;\njson.member = json.member?.member || json.member || (Array.isArray(json.members) ? json.members[0] : undefined);\njson.product = json.product || json.payer?.product;\njson.payer = json.payer?.payer || json.payer;\njson.cost = json.cost?.cost || json.cost;\njson.quantity = json.quantity?.quantity || json.quantity;\njson.method = json.method?.method || json.method;\njson.status = json.status?.status || json.status;\nreturn items;"},"id":"022b8dd0-89b4-3ef6-a3f3-9a33558c8183","name":"Copy signup attributes to names without dots ","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,480],"notes":"NiFi type: org.apache.nifi.processors.attributes.UpdateAttribute\nProperties:\n- Delete Attributes Expression: None\n- Stateful Variables Initial Value: None\n- Store State: Do not store state\n- canonical-value-lookup-cache-size: 100\n- cost: ${cost.cost}\n- member: ${member.member}\n- method: ${method.method}\n- payer: ${payer.payer}\n- product: ${payer.product}\n- quantity: ${quantity.quantity}\n- signup_date: ${email.headers.sent_date}\n- status: ${status.status}"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Expand each member into its own item\nconst json = items[0].json;\nconst members = Array.isArray(json.members) ? json.members : (json.member ? [json.member] : []);\nif (!members.length) return items;\nreturn members.map(member => ({ json: { ...json, member } }));"},"id":"84faa40c-662b-39c3-a2d6-0aada1f306f7","name":"ForkRecord on members","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,1072],"notes":"NiFi type: org.apache.nifi.processors.standard.ForkRecord\nProperties:\n- fork-mode: split\n- include-parent-fields: true\n- member: /members\n- record-reader: 0feb8305-71b4-3dcd-aad2-925843cbba25\n- record-writer: 8ebb759d-9899-3050-a25a-6d0a54097ec3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Convert basic HTML to plain text with line breaks\nconst json = items[0].json;\nlet body = json.email?.body || '';\nif (json.email?.body_is_html) {\n  body = body.replace(/<br\\s*\\/?>/gi, '\\n');\n  body = body.replace(/<\\/p>/gi, '\\n');\n  body = body.replace(/<[^>]+>/g, '');\n  body = body.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n}\njson.email = json.email || {};\njson.email.body_text = body;\nreturn items;"},"id":"34c285e0-3f1c-34fc-8cc7-d7b377956232","name":"ConvertHTMLToText","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,-1072],"notes":"NiFi type: com.shortcentral.nifi.processors.ConvertHTMLToText\nProperties:\n- convert_br_to_lf: true"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.GetFile\n// This node is a placeholder.\nreturn items;"},"id":"7aad98f4-ca8c-3738-99e2-cf2b817349a8","name":"GetFile","type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-2272],"notes":"NiFi type: org.apache.nifi.processors.standard.GetFile\nProperties:\n- Batch Size: 10\n- File Filter: [^\\.].*\n- Ignore Hidden Files: true\n- Input Directory: /var/lib/nifi/emails\n- Keep Source File: false\n- Maximum File Age: None\n- Maximum File Size: None\n- Minimum File Age: 0 sec\n- Minimum File Size: 0 B\n- Path Filter: None\n- Polling Interval: 0 sec\n- Recurse Subdirectories: false"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract member, payer, and method for paid-upfront emails\nconst json = items[0].json;\nconst body = json.email?.body_text || json.email?.body || '';\nlet match;\nmatch = body.match(/^Members? names?: (?<member>[\\p{L}\\x20\\-',]+);?$/m);\nif (match?.groups?.member) { json.member = json.member || {}; json.member.member = match.groups.member; }\nmatch = body.match(/^Payment method: (?<method>.*)$/m);\nif (match?.groups?.method) { json.method = json.method || {}; json.method.method = match.groups.method; }\nmatch = body.match(/^(?<payer>[\\p{L}\\x20\\-']+) has applied for (?<product>.*).$/m);\nif (match?.groups?.payer || match?.groups?.product) {\n  json.payer = json.payer || {};\n  if (match?.groups?.payer) json.payer.payer = match.groups.payer;\n  if (match?.groups?.product) json.payer.product = match.groups.product;\n}\nreturn items;"},"id":"b2975481-0195-1000-9bef-20866fe176f9","name":"Extract members and payer from email","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,-336],"notes":"NiFi type: org.apache.nifi.processors.standard.ExtractText\nProperties:\n- Character Set: UTF-8\n- Enable Canonical Equivalence: false\n- Enable Case-insensitive Matching: false\n- Enable DOTALL Mode: false\n- Enable Literal Parsing of the Pattern: false\n- Enable Multiline Mode: true\n- Enable Unicode Predefined Character Classes: false\n- Enable Unicode-aware Case Folding: false\n- Enable Unix Lines Mode: false\n- Enable named group support: true\n- Enable repeating capture group: false\n- Include Capture Group 0: false\n- Maximum Buffer Size: 1 MB\n- Maximum Capture Group Length: 1024\n- Permit Whitespace and Comments in Pattern: false\n- member: ^Members? names?: (?<member>[\\p{L}\\x20\\-',]+);?$\n- method: ^Payment method: (?<method>.*)$\n- payer: ^(?<payer>[\\p{L}\\x20\\-']+) has applied for (?<product>.*).$"},{"parameters":{"mailbox":"NewMemberships","postProcessAction":"nothing","options":{}},"id":"ccd217f3-0195-1000-3fbf-7f3bf46038e4","name":"ConsumeIMAP - members.avondale","type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-1680,-2272],"credentials":{"imap":{"id":"HJxk7y3s5QotQh06","name":"IMAP account"}},"disabled":true,"notes":"NiFi type: org.apache.nifi.processors.email.ConsumeIMAP\nHost: imap.gmail.com\nUser: members.avondaleltc@gmail.com\nPort: 993\nUse SSL: true"},{"parameters":{"mailbox":"INBOX.AvondaleTest","postProcessAction":"nothing","options":{}},"id":"613de55c-f1ff-3050-adf0-0a972dce21b0","name":"ConsumeIMAP - shortcentral","type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-1088,-2272],"executeOnce":false,"credentials":{"imap":{"id":"HJxk7y3s5QotQh06","name":"IMAP account"}},"notes":"NiFi type: org.apache.nifi.processors.email.ConsumeIMAP\nHost: da5.thewebhostserver.com\nUser: steve@shortcentral.com\nPort: 993\nUse SSL: true"},{"parameters":{"operation":"executeQuery","query":"=insert into email_status (message_id, send_date, \"from\", subject, status_date, status)\nvalues ('{{$json.email.headers[\"message-id\"]}}', '{{$json.email.headers.sent_date}}', '{{$json.email.headers.from[0]}}', '{{$json.email.headers.subject}}', now(), 'Start processing');","options":{}},"id":"ecae74b5-0195-1000-ae59-66df3855f4aa","name":"PutSQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1088,-1520],"notes":"NiFi type: org.apache.nifi.processors.standard.PutSQL\nProperties: {'Support Fragmented Transactions': 'true', 'putsql-sql-statement': 'insert into email_status (message_id, send_date, \"from\", subject, status_date, status)\\nvalues (\\'${email.headers.message-id}\\', \\'${email.headers.sent_date}\\', \\'${email.headers.from.0}\\', \\'${email.headers.subject}\\', now(), \\'Start processing\\');', 'Transaction Timeout': None, 'Batch Size': '100', 'Obtain Generated Keys': 'false', 'JDBC Connection Pool': 'effa5772-b76d-3839-8ee1-8c97cd3c59f3', 'database-session-autocommit': 'false', 'rollback-on-failure': 'false'}"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"bd372ff2-0195-1000-8752-7a3359ead8f0","name":"LogMessage","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,1360],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: JSON processing error.\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"1c0830dd-b04e-35c6-aa01-6a9d663c9143","name":"LogMessage (2)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,1936],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: info\n- log-message: Message ${email.headers.message-id}: Successfully added membership signup for ${member}\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract payment status for card payments\nconst json = items[0].json;\nconst body = json.email?.body_text || json.email?.body || '';\nconst match = body.match(/^We have successfully received payment by credit or debit card, and the membership is \\\"(?<status>.*)\\\".$/m);\nif (match?.groups?.status) {\n  json.status = json.status || {};\n  json.status.status = match.groups.status;\n}\nreturn items;"},"id":"ccaff89b-0195-1000-d064-82553b0634f3","name":"Extract payment status from email","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,144],"notes":"NiFi type: org.apache.nifi.processors.standard.ExtractText\nProperties:\n- Character Set: UTF-8\n- Enable Canonical Equivalence: false\n- Enable Case-insensitive Matching: false\n- Enable DOTALL Mode: false\n- Enable Literal Parsing of the Pattern: false\n- Enable Multiline Mode: true\n- Enable Unicode Predefined Character Classes: false\n- Enable Unicode-aware Case Folding: false\n- Enable Unix Lines Mode: false\n- Enable named group support: true\n- Enable repeating capture group: false\n- Include Capture Group 0: false\n- Maximum Buffer Size: 1 MB\n- Maximum Capture Group Length: 1024\n- Permit Whitespace and Comments in Pattern: false\n- status: ^We have successfully received payment by credit or debit card, and the membership is \"(?<status>.*)\".$"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"ccb28189-0195-1000-3235-2a4aa2d5c622","name":"LogMessage (3)","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,448],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: Missing payment status information.\n- log-prefix: None"},{"parameters":{"operation":"executeQuery","query":"=update email_status set status_date = now(), status = 'Processed'\nwhere message_id = '{{$json.email.headers[\"message-id\"]}}';","options":{}},"id":"ecaf6328-0195-1000-842f-eb631b156222","name":"PutSQL (2)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,2208],"notes":"NiFi type: org.apache.nifi.processors.standard.PutSQL\nProperties: {'Support Fragmented Transactions': 'true', 'putsql-sql-statement': \"update email_status set status_date = now(), status = 'Processed'\\nwhere message_id = '${email.headers.message-id}';\", 'Transaction Timeout': None, 'Batch Size': '100', 'Obtain Generated Keys': 'false', 'JDBC Connection Pool': 'effa5772-b76d-3839-8ee1-8c97cd3c59f3', 'database-session-autocommit': 'false', 'rollback-on-failure': 'false'}"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Paid-upfront path: mark type and default quantity\nconst json = items[0].json;\njson.type = 'Payment';\njson.quantity = json.quantity || {};\njson.quantity.quantity = 1;\nreturn items;"},"id":"399a31c7-aafc-3f25-8163-a0936d5b4e49","name":"Set type and update quantity attribute ","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,-80],"notes":"NiFi type: org.apache.nifi.processors.attributes.UpdateAttribute\nProperties:\n- Delete Attributes Expression: None\n- Stateful Variables Initial Value: None\n- Store State: Do not store state\n- canonical-value-lookup-cache-size: 100\n- quantity.quantity: 1\n- type: Payment"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Installment path: mark type and default quantity\nconst json = items[0].json;\njson.type = 'Installments';\njson.quantity = json.quantity || {};\njson.quantity.quantity = 1;\nreturn items;"},"id":"e69d0eec-0195-1000-64f5-abe8ee3a40bf","name":"Set type","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,-80],"notes":"NiFi type: org.apache.nifi.processors.attributes.UpdateAttribute\nProperties:\n- Delete Attributes Expression: None\n- Stateful Variables Initial Value: None\n- Store State: Do not store state\n- canonical-value-lookup-cache-size: 100\n- quantity.quantity: 1\n- type: Installments"},{"parameters":{"operation":"executeQuery","query":"=insert into member_signups (signup_date, member, product, payer, cost, quantity, type, method, status)\nvalues ('{{$json.signup_date}}', '{{$json.member}}', '{{$json.product}}', '{{$json.payer}}', '{{$json.cost}}', '{{$json.quantity}}', '{{$json.type}}', '{{$json.method}}', '{{$json.status}}');","options":{}},"id":"08b762f7-e51f-3bf5-8a02-e0dfb4858a2a","name":"PutDatabaseRecord - update member_signup table","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-464,1936],"notes":"NiFi type: org.apache.nifi.processors.standard.PutDatabaseRecord\nProperties: {'put-db-record-allow-multiple-statements': 'false', 'put-db-record-schema-name': None, 'put-db-record-field-containing-sql': None, 'put-db-record-unmatched-column-behavior': 'Fail on Unmatched Columns', 'Delete Keys': None, 'put-db-record-catalog-name': None, 'put-db-record-statement-type': 'INSERT', 'put-db-record-update-keys': None, 'put-db-record-quoted-identifiers': 'false', 'put-db-record-unmatched-field-behavior': 'Ignore Unmatched Fields', 'put-db-record-max-batch-size': '1000', 'Database Dialect Service': None, 'Data Record Path': None, 'database-session-autocommit': 'false', 'table-schema-cache-size': '100', 'put-db-record-quoted-table-identifiers': 'false', 'Statement Type Record Path': None, 'Column Name Translation Pattern': None, 'put-db-record-translate-field-names': 'false', 'put-db-record-dcbp-service': 'effa5772-b76d-3839-8ee1-8c97cd3c59f3', 'put-db-record-query-timeout': '0 seconds', 'Column Name Translation Strategy': 'REMOVE_UNDERSCORE', 'rollback-on-failure': 'false', 'put-db-record-binary-format': 'UTF-8', 'db-type': 'PostgreSQL', 'put-db-record-table-name': 'member_signups', 'put-db-record-record-reader': 'd2d28b21-f758-32e1-9cae-3302aaf59f4d'}"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// No-op: keep JSON for database insert\nreturn items;"},"id":"57020fb8-2e53-3b6c-9e9e-9aaa6c263fc0","name":"Convert JSON to CSV","type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,1584],"notes":"NiFi type: org.apache.nifi.processors.standard.ConvertRecord\nProperties:\n- Include Zero Record FlowFiles: true\n- Record Reader: 0feb8305-71b4-3dcd-aad2-925843cbba25\n- Record Writer: 0af5a623-ae19-3c30-90c3-eb4421ad0bc0"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Build a consolidated signup payload\nconst json = items[0].json;\njson.signup = {\n  signup_date: json.signup_date,\n  member: json.member,\n  product: json.product,\n  payer: json.payer,\n  cost: json.cost,\n  quantity: json.quantity,\n  type: json.type,\n  method: json.method,\n  status: json.status,\n};\nreturn items;"},"id":"79e796c7-d2f1-33e5-b89c-92c5197a167b","name":"Convert signup attributes to JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,800],"notes":"NiFi type: org.apache.nifi.processors.standard.AttributesToJSON\nProperties:\n- Attributes List: signup_date, member, product, payer, cost, quantity, type, method, status\n- Destination: flowfile-content\n- Include Core Attributes: false\n- JSON Handling Strategy: ESCAPED\n- Null Value: false\n- Pretty Print: true\n- attributes-to-json-regex: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Prefer HTML when available, fall back to plain text\nconst json = items[0].json;\nconst html = json.html || json.textAsHtml || json.text_as_html;\nconst text = json.text || json.body || '';\njson.email = json.email || {};\njson.email.body = html || text;\njson.email.body_is_html = Boolean(html);\nreturn items;"},"id":"d17c629b-b57d-3131-a7b9-e112a7cf5422","name":"ExtractEmailBody","type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-1056],"notes":"NiFi type: com.shortcentral.nifi.processors.ExtractEmailBody\nProperties:\n- MIME_type: text/html"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"bd363761-0195-1000-608b-edaa159beae6","name":"LogMessage (4)","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,816],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: Failed to create signup JSON.\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"bd338e5b-0195-1000-22e8-0ba667ac159e","name":"LogMessage (5)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,-336],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: Missing payment information.\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"bd39cab0-0195-1000-e1dd-23ceaedf3567","name":"LogMessage (6)","type":"n8n-nodes-base.code","typeVersion":2,"position":[192,1936],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: Failed to add membership signup for ${member}\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract membership cost from the email body\nconst json = items[0].json;\nconst body = json.email?.body_text || json.email?.body || '';\nconst match = body.match(/^Membership cost: £(?<cost>[0-9-.]+)$/m);\nif (match?.groups?.cost) {\n  json.cost = json.cost || {};\n  json.cost.cost = match.groups.cost;\n}\nreturn items;"},"id":"cc921901-0195-1000-a0e8-0fe534521fff","name":"Extract cost","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,-816],"notes":"NiFi type: org.apache.nifi.processors.standard.ExtractText\nProperties:\n- Character Set: UTF-8\n- Enable Canonical Equivalence: false\n- Enable Case-insensitive Matching: false\n- Enable DOTALL Mode: false\n- Enable Literal Parsing of the Pattern: false\n- Enable Multiline Mode: true\n- Enable Unicode Predefined Character Classes: false\n- Enable Unicode-aware Case Folding: false\n- Enable Unix Lines Mode: false\n- Enable named group support: true\n- Enable repeating capture group: false\n- Include Capture Group 0: false\n- Maximum Buffer Size: 1 MB\n- Maximum Capture Group Length: 1024\n- Permit Whitespace and Comments in Pattern: false\n- cost: ^Membership cost: £(?<cost>[0-9-.]+)$"},{"parameters":{"mode":"expression","output":"={{ ((($json.quantity && $json.quantity.quantity !== undefined) ? $json.quantity.quantity : $json.quantity) == 0) ? 0 : (((($json.quantity && $json.quantity.quantity !== undefined) ? $json.quantity.quantity : $json.quantity) > 0) ? 2 : 1) }}"},"id":"8b9ce9b1-0195-1000-2748-145215dba14f","name":"Route for total paid vs monthy payments","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-560,-400],"notes":"NiFi type: org.apache.nifi.processors.standard.RouteOnAttribute\nProperties: {'Routing Strategy': 'Route to Property name', 'paidupfront': '${quantity.quantity:equals(0)}', 'paymentbyinstallment': '${quantity.quantity:gt(0)}'}"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Normalize member to first entry\nconst json = items[0].json;\nif (Array.isArray(json.members) && json.members.length) {\n  json.member = json.members[0];\n}\nreturn items;"},"id":"ef0430be-0195-1000-2fa2-45f946614826","name":"Jolt set member to first entry in members","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,1312],"notes":"NiFi type: org.apache.nifi.processors.jolt.JoltTransformJSON\nProperties:\n- Custom Module Directory: None\n- Custom Transformation Class Name: None\n- Jolt Specification: [\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"members\": {\n        \"0\": \"member\"\n      }\n    }\n  }\n]\n\n- Jolt Transform: jolt-transform-chain\n- Max String Length: 20 MB\n- Pretty Print: true\n- Transform Cache Size: 1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Convert member string into members array\nconst json = items[0].json;\nconst memberStr = json.member?.member || json.member || '';\njson.members = memberStr.split(',').map(s => s.trim()).filter(Boolean);\nreturn items;"},"id":"9cae2e53-0195-1000-718b-df292f79dde0","name":"Jolt split member string into members value","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,816],"notes":"NiFi type: org.apache.nifi.processors.jolt.JoltTransformJSON\nProperties:\n- Custom Module Directory: None\n- Custom Transformation Class Name: None\n- Jolt Specification: [\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"members\": \"=split(',',@(1,member))\"\n    }\n  }\n]\n\n- Jolt Transform: jolt-transform-chain\n- Max String Length: 20 MB\n- Pretty Print: true\n- Transform Cache Size: 1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"e686a977-0195-1000-724f-cf1ef25c8cd3","name":"LogMessage (7)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2288,1072],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: Split record processing original.\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"a9cd23d6-0195-1000-85d9-a4c29c475f87","name":"LogMessage (8)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1728,-2016],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: None\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"bd38de58-0195-1000-9925-1962655c176d","name":"LogMessage (9)","type":"n8n-nodes-base.code","typeVersion":2,"position":[192,1584],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: Failed to convert JSON to CSV.\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract payment details for subscription emails\nconst json = items[0].json;\nconst body = json.email?.body_text || json.email?.body || '';\nlet match;\nmatch = body.match(/^Monthly cost: £(?<cost>[0-9-.]+)$/m);\nif (match?.groups?.cost) { json.cost = json.cost || {}; json.cost.cost = match.groups.cost; }\nmatch = body.match(/^Number of installments: (?<quantity>.*)$/m);\nif (match?.groups?.quantity) { json.quantity = json.quantity || {}; json.quantity.quantity = match.groups.quantity; }\nmatch = body.match(/^Members? names?: (?<member>[\\p{L}\\x20-*',]+);?$/m);\nif (match?.groups?.member) { json.member = json.member || {}; json.member.member = match.groups.member; }\nmatch = body.match(/^Payment method: (?<method>.*)$/m);\nif (match?.groups?.method) { json.method = json.method || {}; json.method.method = match.groups.method; }\nmatch = body.match(/^(?<payer>.*) has applied for (?<product>.*).$/m);\nif (match?.groups?.payer || match?.groups?.product) {\n  json.payer = json.payer || {};\n  if (match?.groups?.payer) json.payer.payer = match.groups.payer;\n  if (match?.groups?.product) json.payer.product = match.groups.product;\n}\nreturn items;"},"id":"aea8bc35-0195-1000-0963-f2628879b369","name":"Extract subscription payment from email","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-336],"notes":"NiFi type: org.apache.nifi.processors.standard.ExtractText\nProperties:\n- Character Set: UTF-8\n- Enable Canonical Equivalence: false\n- Enable Case-insensitive Matching: false\n- Enable DOTALL Mode: false\n- Enable Literal Parsing of the Pattern: false\n- Enable Multiline Mode: true\n- Enable Unicode Predefined Character Classes: false\n- Enable Unicode-aware Case Folding: false\n- Enable Unix Lines Mode: false\n- Enable named group support: true\n- Enable repeating capture group: false\n- Include Capture Group 0: false\n- Maximum Buffer Size: 1 MB\n- Maximum Capture Group Length: 1024\n- Permit Whitespace and Comments in Pattern: false\n- cost: ^Monthly cost: £(?<cost>[0-9-.]+)$\n- member: ^Members? names?: (?<member>[\\p{L}\\x20-*',]+);?$\n- method: ^Payment method: (?<method>.*)$\n- payer: ^(?<payer>.*) has applied for (?<product>.*).$\n- quantity: ^Number of installments: (?<quantity>.*)$"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract payment status for subscription/direct debit emails\nconst json = items[0].json;\nconst body = json.email?.body_text || json.email?.body || '';\nconst match = body.match(/^We have successfully received payment instructions to set up the (?<installmenttype>Subscription|Direct Debit)\\. Their payment will appear as \\\"(?<status>.*)\\\" until we receive notification from (?<provider>.+) that the payment has cleared\\.$/m);\nif (match?.groups) {\n  json.status = json.status || {};\n  if (match.groups.status) json.status.status = match.groups.status;\n  if (match.groups.installmenttype) json.status.installmenttype = match.groups.installmenttype;\n  if (match.groups.provider) json.status.provider = match.groups.provider;\n}\nreturn items;"},"id":"ccb0eb6b-0195-1000-1c86-2953c95b5aad","name":"Extract payment status from email (2)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,144],"notes":"NiFi type: org.apache.nifi.processors.standard.ExtractText\nProperties:\n- Character Set: UTF-8\n- Enable Canonical Equivalence: false\n- Enable Case-insensitive Matching: false\n- Enable DOTALL Mode: false\n- Enable Literal Parsing of the Pattern: false\n- Enable Multiline Mode: true\n- Enable Unicode Predefined Character Classes: false\n- Enable Unicode-aware Case Folding: false\n- Enable Unix Lines Mode: false\n- Enable named group support: true\n- Enable repeating capture group: false\n- Include Capture Group 0: false\n- Maximum Buffer Size: 1 MB\n- Maximum Capture Group Length: 1024\n- Permit Whitespace and Comments in Pattern: false\n- status: ^We have successfully received payment instructions to set up the (?<installmenttype>Subscription|Direct Debit)\\. Their payment will appear as \"(?<status>.*)\" until we receive notification from (?<provider>.+) that the payment has cleared\\.$"},{"parameters":{"fileName":"={\"/var/lib/nifi/emailstore/\" + ($json.filename || \"message.eml\")}","options":{}},"id":"1ef8b710-1f97-3d90-84a4-d4231cb730a1","name":"Save message to email store","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[-1152,-1280],"notes":"NiFi type: org.apache.nifi.processors.standard.PutFile\nProperties: {'Group': None, 'Owner': None, 'Create Missing Directories': 'true', 'Permissions': None, 'Maximum File Count': None, 'Last Modified Time': None, 'Directory': '/var/lib/nifi/emailstore', 'Conflict Resolution Strategy': 'fail'}"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"ef76b573-2efc-3c50-97f9-8bee09ffe420","name":"LogMessage (10)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,-1776],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: No route for subject \"${email.headers.subject}\". \n\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Map IMAP trigger fields into a NiFi-like header structure\nconst json = items[0].json;\nconst headers = json.headers || json.header || {};\nconst messageId = headers['message-id'] || headers['Message-ID'] || json.messageId || json.messageID || json['message-id'];\nconst subject = json.subject || headers.subject || headers.Subject;\nconst from = json.from || headers.from || headers.From;\nconst sentDate = json.date || headers.date || headers.Date;\njson.email = json.email || {};\njson.email.headers = json.email.headers || {};\nif (messageId) json.email.headers['message-id'] = messageId;\nif (subject) json.email.headers.subject = subject;\nif (from) json.email.headers.from = Array.isArray(from) ? from : [from];\nif (sentDate) json.email.headers.sent_date = sentDate;\nreturn items;"},"id":"b33f468b-874e-3762-b8a6-761de2fb25a2","name":"ExtractEmailHeaders","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,-2016],"notes":"NiFi type: org.apache.nifi.processors.email.ExtractEmailHeaders\nProperties:\n- CAPTURED_HEADERS: x-mailer\n- STRICT_ADDRESS_PARSING: true"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// TODO: convert NiFi processor org.apache.nifi.processors.standard.LogMessage\n// This node is a placeholder.\nreturn items;"},"id":"bd2f6021-0195-1000-897b-5c61b4f5294c","name":"LogMessage (11)","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,-816],"notes":"NiFi type: org.apache.nifi.processors.standard.LogMessage\nProperties:\n- log-level: warn\n- log-message: Message ${email.headers.message-id}: Cost informmation not found.\n- log-prefix: None"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract pending status message\nconst json = items[0].json;\nconst body = json.email?.body_text || json.email?.body || '';\nconst match = body.match(/^Their membership will now appear as \\\"(?<status>.*)\\\" in Clubspark with the payment status of pending\\. Make sure you update their payment history as soon as you receive their payment\\. You can do this here\\.$/m);\nif (match?.groups?.status) {\n  json.status = json.status || {};\n  json.status.status = match.groups.status;\n}\nreturn items;"},"id":"ccb0ef5c-0195-1000-1d25-86d5f1145411","name":"Extract payment status from email (3)","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,128],"notes":"NiFi type: org.apache.nifi.processors.standard.ExtractText\nProperties:\n- Character Set: UTF-8\n- Enable Canonical Equivalence: false\n- Enable Case-insensitive Matching: false\n- Enable DOTALL Mode: false\n- Enable Literal Parsing of the Pattern: false\n- Enable Multiline Mode: true\n- Enable Unicode Predefined Character Classes: false\n- Enable Unicode-aware Case Folding: false\n- Enable Unix Lines Mode: false\n- Enable named group support: true\n- Enable repeating capture group: false\n- Include Capture Group 0: false\n- Maximum Buffer Size: 1 MB\n- Maximum Capture Group Length: 1024\n- Permit Whitespace and Comments in Pattern: false\n- status: ^Their membership will now appear as \"(?<status>.*)\" in Clubspark with the payment status of pending. Make sure you update their payment history as soon as you receive their payment. You can do this here.$"},{"parameters":{"mode":"expression","output":"={{ (($json.email && $json.email.headers && $json.email.headers.subject) ? $json.email.headers.subject : ($json.subject || '')).includes('New membership application on ClubSpark') ? 1 : 0 }}"},"id":"3d5ab755-30ef-3df0-a0a9-6fe405b01a49","name":"Route on email subject","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1088,-1760],"notes":"NiFi type: org.apache.nifi.processors.standard.RouteOnAttribute\nProperties: {'Routing Strategy': 'Route to Property name', 'newmembership': '${anyMatchingAttribute(\"email.headers.subject.*\"):contains(\"New membership application on ClubSpark\")}'}"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Ensure member field is present\nconst json = items[0].json;\nif (!json.member && Array.isArray(json.members) && json.members.length) {\n  json.member = json.members[0];\n}\nreturn items;"},"id":"daf4cddf-4ed4-3b74-9ac2-1c799804a7de","name":"Evaluate - update member attribute from record","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,1600],"notes":"NiFi type: org.apache.nifi.processors.standard.EvaluateJsonPath\nProperties:\n- Destination: flowfile-attribute\n- Max String Length: 20 MB\n- Null Value Representation: empty string\n- Path Not Found Behavior: ignore\n- Return Type: auto-detect\n- member: $.members[0]"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Records are already split into items\nreturn items;"},"id":"dcff21be-7769-3639-a9c0-a0c6746bfb4f","name":"SplitRecord","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,1072],"notes":"NiFi type: org.apache.nifi.processors.standard.SplitRecord\nProperties:\n- Record Reader: 0feb8305-71b4-3dcd-aad2-925843cbba25\n- Record Writer: 8ebb759d-9899-3050-a25a-6d0a54097ec3\n- Records Per Split: 1"},{"parameters":{},"id":"manual-trigger-new-member-emails","name":"Manual Trigger (Dry Run)","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2400,-2016]},{"parameters":{"jsCode":"// Synthetic email payload for local testing\nreturn [\n  {\n    json: {\n      subject: 'New membership application on ClubSpark',\n      from: 'ClubSpark <no-reply@clubspark.uk>',\n      date: '2025-01-01T12:34:56Z',\n      text: `Membership cost: £120\\nMembers names: Alice Example, Bob Example;\\nPayment method: Card\\nJane Doe has applied for Adult Membership.\\nWe have successfully received payment by credit or debit card, and the membership is \"Paid\".`\n    }\n  }\n];"},"id":"sample-email-dry-run","name":"Sample Email (Dry Run)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2160,-2016]}],"connections":{"Extract payment status from email (2)":{"main":[[{"node":"Extract payment status from email (3)","type":"main","index":0},{"node":"Copy signup attributes to names without dots ","type":"main","index":0}]]},"SplitRecord":{"main":[[{"node":"Jolt set member to first entry in members","type":"main","index":0},{"node":"LogMessage (7)","type":"main","index":0},{"node":"LogMessage","type":"main","index":0}]]},"PutDatabaseRecord - update member_signup table":{"main":[[{"node":"LogMessage (2)","type":"main","index":0},{"node":"LogMessage (6)","type":"main","index":0},{"node":"PutSQL (2)","type":"main","index":0}]]},"Extract cost":{"main":[[{"node":"Route for total paid vs monthy payments","type":"main","index":0},{"node":"LogMessage (11)","type":"main","index":0}]]},"Evaluate - update member attribute from record":{"main":[[{"node":"LogMessage","type":"main","index":0},{"node":"Convert JSON to CSV","type":"main","index":0}]]},"Extract subscription payment from email":{"main":[[{"node":"Set type","type":"main","index":0},{"node":"LogMessage (5)","type":"main","index":0}]]},"PutSQL":{"main":[[{"node":"Update filename attribute to message id","type":"main","index":0}]]},"Jolt set member to first entry in members":{"main":[[{"node":"Evaluate - update member attribute from record","type":"main","index":0},{"node":"LogMessage","type":"main","index":0}]]},"Jolt split member string into members value":{"main":[[{"node":"LogMessage","type":"main","index":0},{"node":"ForkRecord on members","type":"main","index":0}]]},"Route on email subject":{"main":[[{"node":"LogMessage (10)","type":"main","index":0}],[{"node":"PutSQL","type":"main","index":0}]]},"Convert JSON to CSV":{"main":[[{"node":"PutDatabaseRecord - update member_signup table","type":"main","index":0},{"node":"LogMessage (9)","type":"main","index":0}]]},"ConsumeIMAP - shortcentral":{"main":[[{"node":"ExtractEmailHeaders","type":"main","index":0}]]},"ForkRecord on members":{"main":[[{"node":"LogMessage","type":"main","index":0},{"node":"SplitRecord","type":"main","index":0}]]},"Extract payment status from email":{"main":[[{"node":"Extract payment status from email (2)","type":"main","index":0},{"node":"Copy signup attributes to names without dots ","type":"main","index":0}]]},"ConvertHTMLToText":{"main":[[{"node":"Extract cost","type":"main","index":0}]]},"Copy signup attributes to names without dots ":{"main":[[{"node":"Convert signup attributes to JSON","type":"main","index":0}]]},"Update filename attribute to message id":{"main":[[{"node":"ExtractEmailBody","type":"main","index":0},{"node":"Save message to email store","type":"main","index":0}]]},"ExtractEmailBody":{"main":[[{"node":"ConvertHTMLToText","type":"main","index":0}]]},"Extract members and payer from email":{"main":[[{"node":"LogMessage (5)","type":"main","index":0},{"node":"Set type and update quantity attribute ","type":"main","index":0}]]},"Route for total paid vs monthy payments":{"main":[[{"node":"Extract members and payer from email","type":"main","index":0}],[{"node":"LogMessage (11)","type":"main","index":0}],[{"node":"Extract subscription payment from email","type":"main","index":0}]]},"GetFile":{"main":[[{"node":"ExtractEmailHeaders","type":"main","index":0}]]},"Extract payment status from email (3)":{"main":[[{"node":"Copy signup attributes to names without dots ","type":"main","index":0},{"node":"LogMessage (3)","type":"main","index":0}]]},"ExtractEmailHeaders":{"main":[[{"node":"LogMessage (8)","type":"main","index":0},{"node":"Route on email subject","type":"main","index":0}]]},"Set type and update quantity attribute ":{"main":[[{"node":"Extract payment status from email","type":"main","index":0}]]},"Convert signup attributes to JSON":{"main":[[{"node":"LogMessage (4)","type":"main","index":0},{"node":"Jolt split member string into members value","type":"main","index":0}]]},"Set type":{"main":[[{"node":"Extract payment status from email","type":"main","index":0}]]},"ConsumeIMAP - members.avondale":{"main":[[{"node":"ExtractEmailHeaders","type":"main","index":0}]]},"Manual Trigger (Dry Run)":{"main":[[{"node":"Sample Email (Dry Run)","type":"main","index":0}]]},"Sample Email (Dry Run)":{"main":[[{"node":"ExtractEmailHeaders","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"bc8ca291-7dec-4865-8c12-caa29f702697","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2026-01-20T11:23:05.264Z","createdAt":"2026-01-20T11:23:05.264Z","role":"workflow:owner","workflowId":"G2eWuttplu8FkdR3","projectId":"AtpW2flNrTDUqcis","project":{"updatedAt":"2026-03-07T15:05:21.831Z","createdAt":"2025-04-29T13:45:55.157Z","id":"AtpW2flNrTDUqcis","name":"Steve Short <steve@shortcentral.com>","type":"personal","icon":null,"description":null,"creatorId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectRelations":[{"updatedAt":"2025-04-29T13:45:55.157Z","createdAt":"2025-04-29T13:45:55.157Z","userId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectId":"AtpW2flNrTDUqcis","user":{"updatedAt":"2026-03-26T04:00:34.778Z","createdAt":"2025-04-29T13:45:54.337Z","id":"1aa25644-d384-4810-beaa-f58314d3e70c","email":"steve@shortcentral.com","firstName":"Steve","lastName":"Short","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-29T13:48:39.758Z","personalization_survey_n8n_version":"1.89.2","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6XC5aXJ8uS5DS553","userActivatedAt":1773664748790,"npsSurvey":{"responded":true,"lastShownAt":1774020442311}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-26","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":null,"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"81aa5506726c4313892c9e669c73ea94d2e8488cb6914989d8843f4619fb22f3"}}