backups/20260326-142509-local-state/workflows/rnwJ9lr346JFHAa6.json
{"data":{"updatedAt":"2026-03-24T17:14:29.556Z","createdAt":"2026-03-23T19:04:15.905Z","id":"rnwJ9lr346JFHAa6","name":"Add Manual Batch Item","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"a1b2c3d4-1000-1000-1000-000000000001","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[220,320]},{"parameters":{"inputSource":"passthrough"},"id":"a1b2c3d4-1000-1000-1000-000000000002","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[220,500]},{"parameters":{"path":"add-manual-batch-item","httpMethod":"GET","responseMode":"lastNode","options":{}},"id":"a1b2c3d4-1000-1000-1000-000000000003","name":"Add Manual Batch Item Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,140],"webhookId":"add-manual-batch-item"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const input = $input.first()?.json ?? {};\nconst source = input.query ?? input;\nconst intValue = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const parsed = Number.parseInt(String(value), 10);\n  return Number.isInteger(parsed) ? parsed : null;\n};\nreturn [{\n  json: {\n    batch_id: intValue(source.batch_id ?? source.batchId),\n    member: source.member ?? '',\n    venue_id: source.venue_id ?? source.venueId ?? '',\n    btn: source.btn ?? source.british_tennis_number ?? source.britishTennisNumber ?? '',\n    payer: source.payer ?? '',\n    email_address: source.email_address ?? source.email ?? '',\n    address_1: source.address_1 ?? '',\n    address_2: source.address_2 ?? '',\n    address_3: source.address_3 ?? '',\n    town: source.town ?? '',\n    postcode: source.postcode ?? '',\n    regular_tags: intValue(source.regular_tags ?? source.regularTags) ?? 0,\n    parent_tags: intValue(source.parent_tags ?? source.parentTags) ?? 0,\n    key_tags: intValue(source.key_tags ?? source.keyTags) ?? 0,\n    notes: source.notes ?? '',\n    created_by: source.created_by ?? source.request_source ?? 'manual_workflow',\n  },\n}];"},"id":"a1b2c3d4-1000-1000-1000-000000000004","name":"Resolve Inputs","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,320]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst sqlInteger = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const parsed = Number.parseInt(String(value), 10);\n  return Number.isInteger(parsed) ? String(parsed) : 'NULL';\n};\nconst item = $input.first()?.json ?? {};\nconst hasIdentifier = Boolean(item.member || item.venue_id || item.btn);\nconst itemCount = (item.regular_tags ?? 0) + (item.parent_tags ?? 0) + (item.key_tags ?? 0);\nif (!hasIdentifier) {\n  return [{ json: { sql: \"select false as ok, 400 as response_code, 'Provide member, venue_id, or btn.'::text as message;\" } }];\n}\nif (itemCount <= 0) {\n  return [{ json: { sql: \"select false as ok, 400 as response_code, 'At least one of regular_tags, parent_tags, or key_tags must be greater than zero.'::text as message;\" } }];\n}\nreturn [{\n  json: {\n    sql: `WITH params AS (\n  SELECT\n    ${sqlLiteral(item.member)}::text AS member_name,\n    ${sqlLiteral(item.venue_id)}::text AS venue_id,\n    ${sqlLiteral(item.btn)}::text AS btn,\n    ${sqlInteger(item.batch_id)}::bigint AS requested_batch_id,\n    ${sqlLiteral(item.payer)}::text AS payer_override,\n    ${sqlLiteral(item.email_address)}::text AS email_override,\n    ${sqlLiteral(item.address_1)}::text AS address_1_override,\n    ${sqlLiteral(item.address_2)}::text AS address_2_override,\n    ${sqlLiteral(item.address_3)}::text AS address_3_override,\n    ${sqlLiteral(item.town)}::text AS town_override,\n    ${sqlLiteral(item.postcode)}::text AS postcode_override,\n    ${sqlInteger(item.regular_tags)}::integer AS regular_tags,\n    ${sqlInteger(item.parent_tags)}::integer AS parent_tags,\n    ${sqlInteger(item.key_tags)}::integer AS key_tags,\n    ${sqlLiteral(item.notes)}::text AS notes,\n    ${sqlLiteral(item.created_by)}::text AS created_by\n), resolved_batch AS (\n  SELECT\n    COALESCE(\n      p.requested_batch_id,\n      (SELECT b.id FROM public.signup_batches b WHERE b.status = 'Processing' ORDER BY b.id DESC LIMIT 1)\n    ) AS batch_id,\n    p.requested_batch_id\n  FROM params p\n), candidate_member AS (\n  SELECT\n    trim(concat_ws(' ', m.\"First name\", m.\"Last name\")) AS member_name,\n    m.\"Venue ID\" AS venue_id,\n    m.\"British Tennis Number\"::text AS btn,\n    m.\"Email address\" AS member_email\n  FROM public.raw_members m\n  CROSS JOIN params p\n  WHERE coalesce(m.is_current, true) = true\n    AND (\n      (p.member_name IS NOT NULL\n      AND lower(trim(concat_ws(' ', m.\"First name\", m.\"Last name\"))) = lower(trim(p.member_name)))\n     OR (\n      p.venue_id IS NOT NULL\n      AND trim(COALESCE(m.\"Venue ID\", '')) = trim(p.venue_id)\n    )\n     OR (\n      p.btn IS NOT NULL\n      AND trim(COALESCE(m.\"British Tennis Number\"::text, '')) = trim(p.btn)\n    )\n  )\n  ORDER BY\n    CASE\n      WHEN p.member_name IS NOT NULL\n       AND lower(trim(concat_ws(' ', m.\"First name\", m.\"Last name\"))) = lower(trim(p.member_name))\n      THEN 0 ELSE 1\n    END,\n    CASE\n      WHEN p.venue_id IS NOT NULL\n       AND trim(COALESCE(m.\"Venue ID\", '')) = trim(p.venue_id)\n      THEN 0 ELSE 1\n    END,\n    CASE\n      WHEN p.btn IS NOT NULL\n       AND trim(COALESCE(m.\"British Tennis Number\"::text, '')) = trim(p.btn)\n      THEN 0 ELSE 1\n    END,\n    trim(concat_ws(' ', m.\"First name\", m.\"Last name\"))\n  LIMIT 1\n), best_contact AS (\n  SELECT\n    rc.\"Email address\" AS contact_email,\n    rc.\"Address 1\" AS address_1,\n    rc.\"Address 2\" AS address_2,\n    rc.\"Address 3\" AS address_3,\n    rc.town,\n    rc.postcode,\n    trim(concat_ws(' ', rc.\"First name\", rc.\"Last name\")) AS payer_name\n  FROM public.raw_contacts rc\n  JOIN candidate_member cm\n    ON lower(trim(concat_ws(' ', rc.\"First name\", rc.\"Last name\"))) = lower(cm.member_name)\n  WHERE coalesce(rc.is_current, true) = true\n  ORDER BY\n    CASE WHEN COALESCE(NULLIF(trim(rc.\"Address 1\"), ''), NULLIF(trim(rc.postcode), '')) IS NOT NULL THEN 0 ELSE 1 END,\n    CASE WHEN NULLIF(trim(rc.\"Address 1\"), '') IS NOT NULL THEN 0 ELSE 1 END,\n    CASE WHEN NULLIF(trim(rc.postcode), '') IS NOT NULL THEN 0 ELSE 1 END\n  LIMIT 1\n), chosen AS (\n  SELECT\n    COALESCE(NULLIF(trim(p.member_name), ''), cm.member_name) AS member_name,\n    COALESCE(NULLIF(trim(p.payer_override), ''), bc.payer_name, cm.member_name) AS payer_name,\n    COALESCE(NULLIF(trim(p.email_override), ''), NULLIF(trim(cm.member_email), ''), NULLIF(trim(bc.contact_email), '')) AS email_address,\n    COALESCE(NULLIF(trim(p.address_1_override), ''), NULLIF(trim(bc.address_1), '')) AS address_1,\n    COALESCE(NULLIF(trim(p.address_2_override), ''), NULLIF(trim(bc.address_2), '')) AS address_2,\n    COALESCE(NULLIF(trim(p.address_3_override), ''), NULLIF(trim(bc.address_3), '')) AS address_3,\n    COALESCE(NULLIF(trim(p.town_override), ''), NULLIF(trim(bc.town), '')) AS town,\n    COALESCE(NULLIF(trim(p.postcode_override), ''), NULLIF(trim(bc.postcode), '')) AS postcode,\n    p.regular_tags,\n    p.parent_tags,\n    p.key_tags,\n    p.notes,\n    p.created_by\n  FROM params p\n  LEFT JOIN candidate_member cm ON true\n  LEFT JOIN best_contact bc ON true\n), validation AS (\n  SELECT\n    CASE\n      WHEN rb.batch_id IS NULL THEN 'No processing batch available and no batch_id was provided.'\n      WHEN rb.requested_batch_id IS NOT NULL\n       AND NOT EXISTS (SELECT 1 FROM public.signup_batches b WHERE b.id = rb.requested_batch_id)\n      THEN format('Batch %s does not exist', rb.requested_batch_id)\n      WHEN ch.member_name IS NULL OR trim(ch.member_name) = '' THEN 'Member could not be resolved.'\n      WHEN COALESCE(ch.regular_tags, 0) + COALESCE(ch.parent_tags, 0) + COALESCE(ch.key_tags, 0) <= 0\n      THEN 'At least one item count must be greater than zero.'\n      ELSE NULL\n    END AS error_message,\n    rb.batch_id\n  FROM resolved_batch rb\n  CROSS JOIN chosen ch\n), inserted AS (\n  INSERT INTO public.signup_batch_manual_items (\n    batch_id,\n    member,\n    payer,\n    email_address,\n    address_1,\n    address_2,\n    address_3,\n    town,\n    postcode,\n    regular_tags,\n    parent_tags,\n    key_tags,\n    notes,\n    created_by,\n    source\n  )\n  SELECT\n    v.batch_id,\n    ch.member_name,\n    ch.payer_name,\n    ch.email_address,\n    ch.address_1,\n    ch.address_2,\n    ch.address_3,\n    ch.town,\n    ch.postcode,\n    ch.regular_tags,\n    ch.parent_tags,\n    ch.key_tags,\n    ch.notes,\n    ch.created_by,\n    'manual'\n  FROM validation v\n  CROSS JOIN chosen ch\n  WHERE v.error_message IS NULL\n  RETURNING id, batch_id, member, payer, regular_tags, parent_tags, key_tags, source\n)\nSELECT\n  true AS ok,\n  200 AS response_code,\n  format('Added manual batch item %s to batch %s', id, batch_id) AS message,\n  id,\n  batch_id,\n  member,\n  payer,\n  regular_tags,\n  parent_tags,\n  key_tags,\n  source\nFROM inserted\nUNION ALL\nSELECT\n  false AS ok,\n  400 AS response_code,\n  error_message AS message,\n  NULL::bigint AS id,\n  batch_id,\n  NULL::text AS member,\n  NULL::text AS payer,\n  NULL::integer AS regular_tags,\n  NULL::integer AS parent_tags,\n  NULL::integer AS key_tags,\n  'manual'::text AS source\nFROM validation\nWHERE error_message IS NOT NULL;`,\n  },\n}];"},"id":"a1b2c3d4-1000-1000-1000-000000000005","name":"Build Insert SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[790,320]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}"},"id":"a1b2c3d4-1000-1000-1000-000000000006","name":"Insert Manual Batch Item","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1040,320],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Resolve Inputs","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Resolve Inputs","type":"main","index":0}]]},"Add Manual Batch Item Webhook":{"main":[[{"node":"Resolve Inputs","type":"main","index":0}]]},"Resolve Inputs":{"main":[[{"node":"Build Insert SQL","type":"main","index":0}]]},"Build Insert SQL":{"main":[[{"node":"Insert Manual Batch Item","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d9c06416-3006-4e73-b2ef-90978d55f425","activeVersionId":"d9c06416-3006-4e73-b2ef-90978d55f425","versionCounter":5,"triggerCount":1,"shared":[{"updatedAt":"2026-03-23T19:04:15.905Z","createdAt":"2026-03-23T19:04:15.905Z","role":"workflow:owner","workflowId":"rnwJ9lr346JFHAa6","projectId":"AtpW2flNrTDUqcis","project":{"updatedAt":"2026-03-07T15:05:21.831Z","createdAt":"2025-04-29T13:45:55.157Z","id":"AtpW2flNrTDUqcis","name":"Steve Short <steve@shortcentral.com>","type":"personal","icon":null,"description":null,"creatorId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectRelations":[{"updatedAt":"2025-04-29T13:45:55.157Z","createdAt":"2025-04-29T13:45:55.157Z","userId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectId":"AtpW2flNrTDUqcis","user":{"updatedAt":"2026-03-26T04:00:34.778Z","createdAt":"2025-04-29T13:45:54.337Z","id":"1aa25644-d384-4810-beaa-f58314d3e70c","email":"steve@shortcentral.com","firstName":"Steve","lastName":"Short","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-29T13:48:39.758Z","personalization_survey_n8n_version":"1.89.2","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6XC5aXJ8uS5DS553","userActivatedAt":1773664748790,"npsSurvey":{"responded":true,"lastShownAt":1774020442311}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-26","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-03-24T17:14:29.556Z","createdAt":"2026-03-24T17:14:29.556Z","versionId":"d9c06416-3006-4e73-b2ef-90978d55f425","workflowId":"rnwJ9lr346JFHAa6","nodes":[{"parameters":{},"id":"a1b2c3d4-1000-1000-1000-000000000001","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[220,320]},{"parameters":{"inputSource":"passthrough"},"id":"a1b2c3d4-1000-1000-1000-000000000002","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[220,500]},{"parameters":{"path":"add-manual-batch-item","httpMethod":"GET","responseMode":"lastNode","options":{}},"id":"a1b2c3d4-1000-1000-1000-000000000003","name":"Add Manual Batch Item Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,140],"webhookId":"add-manual-batch-item"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const input = $input.first()?.json ?? {};\nconst source = input.query ?? input;\nconst intValue = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const parsed = Number.parseInt(String(value), 10);\n  return Number.isInteger(parsed) ? parsed : null;\n};\nreturn [{\n  json: {\n    batch_id: intValue(source.batch_id ?? source.batchId),\n    member: source.member ?? '',\n    venue_id: source.venue_id ?? source.venueId ?? '',\n    btn: source.btn ?? source.british_tennis_number ?? source.britishTennisNumber ?? '',\n    payer: source.payer ?? '',\n    email_address: source.email_address ?? source.email ?? '',\n    address_1: source.address_1 ?? '',\n    address_2: source.address_2 ?? '',\n    address_3: source.address_3 ?? '',\n    town: source.town ?? '',\n    postcode: source.postcode ?? '',\n    regular_tags: intValue(source.regular_tags ?? source.regularTags) ?? 0,\n    parent_tags: intValue(source.parent_tags ?? source.parentTags) ?? 0,\n    key_tags: intValue(source.key_tags ?? source.keyTags) ?? 0,\n    notes: source.notes ?? '',\n    created_by: source.created_by ?? source.request_source ?? 'manual_workflow',\n  },\n}];"},"id":"a1b2c3d4-1000-1000-1000-000000000004","name":"Resolve Inputs","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,320]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst sqlInteger = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const parsed = Number.parseInt(String(value), 10);\n  return Number.isInteger(parsed) ? String(parsed) : 'NULL';\n};\nconst item = $input.first()?.json ?? {};\nconst hasIdentifier = Boolean(item.member || item.venue_id || item.btn);\nconst itemCount = (item.regular_tags ?? 0) + (item.parent_tags ?? 0) + (item.key_tags ?? 0);\nif (!hasIdentifier) {\n  return [{ json: { sql: \"select false as ok, 400 as response_code, 'Provide member, venue_id, or btn.'::text as message;\" } }];\n}\nif (itemCount <= 0) {\n  return [{ json: { sql: \"select false as ok, 400 as response_code, 'At least one of regular_tags, parent_tags, or key_tags must be greater than zero.'::text as message;\" } }];\n}\nreturn [{\n  json: {\n    sql: `WITH params AS (\n  SELECT\n    ${sqlLiteral(item.member)}::text AS member_name,\n    ${sqlLiteral(item.venue_id)}::text AS venue_id,\n    ${sqlLiteral(item.btn)}::text AS btn,\n    ${sqlInteger(item.batch_id)}::bigint AS requested_batch_id,\n    ${sqlLiteral(item.payer)}::text AS payer_override,\n    ${sqlLiteral(item.email_address)}::text AS email_override,\n    ${sqlLiteral(item.address_1)}::text AS address_1_override,\n    ${sqlLiteral(item.address_2)}::text AS address_2_override,\n    ${sqlLiteral(item.address_3)}::text AS address_3_override,\n    ${sqlLiteral(item.town)}::text AS town_override,\n    ${sqlLiteral(item.postcode)}::text AS postcode_override,\n    ${sqlInteger(item.regular_tags)}::integer AS regular_tags,\n    ${sqlInteger(item.parent_tags)}::integer AS parent_tags,\n    ${sqlInteger(item.key_tags)}::integer AS key_tags,\n    ${sqlLiteral(item.notes)}::text AS notes,\n    ${sqlLiteral(item.created_by)}::text AS created_by\n), resolved_batch AS (\n  SELECT\n    COALESCE(\n      p.requested_batch_id,\n      (SELECT b.id FROM public.signup_batches b WHERE b.status = 'Processing' ORDER BY b.id DESC LIMIT 1)\n    ) AS batch_id,\n    p.requested_batch_id\n  FROM params p\n), candidate_member AS (\n  SELECT\n    trim(concat_ws(' ', m.\"First name\", m.\"Last name\")) AS member_name,\n    m.\"Venue ID\" AS venue_id,\n    m.\"British Tennis Number\"::text AS btn,\n    m.\"Email address\" AS member_email\n  FROM public.raw_members m\n  CROSS JOIN params p\n  WHERE coalesce(m.is_current, true) = true\n    AND (\n      (p.member_name IS NOT NULL\n      AND lower(trim(concat_ws(' ', m.\"First name\", m.\"Last name\"))) = lower(trim(p.member_name)))\n     OR (\n      p.venue_id IS NOT NULL\n      AND trim(COALESCE(m.\"Venue ID\", '')) = trim(p.venue_id)\n    )\n     OR (\n      p.btn IS NOT NULL\n      AND trim(COALESCE(m.\"British Tennis Number\"::text, '')) = trim(p.btn)\n    )\n  )\n  ORDER BY\n    CASE\n      WHEN p.member_name IS NOT NULL\n       AND lower(trim(concat_ws(' ', m.\"First name\", m.\"Last name\"))) = lower(trim(p.member_name))\n      THEN 0 ELSE 1\n    END,\n    CASE\n      WHEN p.venue_id IS NOT NULL\n       AND trim(COALESCE(m.\"Venue ID\", '')) = trim(p.venue_id)\n      THEN 0 ELSE 1\n    END,\n    CASE\n      WHEN p.btn IS NOT NULL\n       AND trim(COALESCE(m.\"British Tennis Number\"::text, '')) = trim(p.btn)\n      THEN 0 ELSE 1\n    END,\n    trim(concat_ws(' ', m.\"First name\", m.\"Last name\"))\n  LIMIT 1\n), best_contact AS (\n  SELECT\n    rc.\"Email address\" AS contact_email,\n    rc.\"Address 1\" AS address_1,\n    rc.\"Address 2\" AS address_2,\n    rc.\"Address 3\" AS address_3,\n    rc.town,\n    rc.postcode,\n    trim(concat_ws(' ', rc.\"First name\", rc.\"Last name\")) AS payer_name\n  FROM public.raw_contacts rc\n  JOIN candidate_member cm\n    ON lower(trim(concat_ws(' ', rc.\"First name\", rc.\"Last name\"))) = lower(cm.member_name)\n  WHERE coalesce(rc.is_current, true) = true\n  ORDER BY\n    CASE WHEN COALESCE(NULLIF(trim(rc.\"Address 1\"), ''), NULLIF(trim(rc.postcode), '')) IS NOT NULL THEN 0 ELSE 1 END,\n    CASE WHEN NULLIF(trim(rc.\"Address 1\"), '') IS NOT NULL THEN 0 ELSE 1 END,\n    CASE WHEN NULLIF(trim(rc.postcode), '') IS NOT NULL THEN 0 ELSE 1 END\n  LIMIT 1\n), chosen AS (\n  SELECT\n    COALESCE(NULLIF(trim(p.member_name), ''), cm.member_name) AS member_name,\n    COALESCE(NULLIF(trim(p.payer_override), ''), bc.payer_name, cm.member_name) AS payer_name,\n    COALESCE(NULLIF(trim(p.email_override), ''), NULLIF(trim(cm.member_email), ''), NULLIF(trim(bc.contact_email), '')) AS email_address,\n    COALESCE(NULLIF(trim(p.address_1_override), ''), NULLIF(trim(bc.address_1), '')) AS address_1,\n    COALESCE(NULLIF(trim(p.address_2_override), ''), NULLIF(trim(bc.address_2), '')) AS address_2,\n    COALESCE(NULLIF(trim(p.address_3_override), ''), NULLIF(trim(bc.address_3), '')) AS address_3,\n    COALESCE(NULLIF(trim(p.town_override), ''), NULLIF(trim(bc.town), '')) AS town,\n    COALESCE(NULLIF(trim(p.postcode_override), ''), NULLIF(trim(bc.postcode), '')) AS postcode,\n    p.regular_tags,\n    p.parent_tags,\n    p.key_tags,\n    p.notes,\n    p.created_by\n  FROM params p\n  LEFT JOIN candidate_member cm ON true\n  LEFT JOIN best_contact bc ON true\n), validation AS (\n  SELECT\n    CASE\n      WHEN rb.batch_id IS NULL THEN 'No processing batch available and no batch_id was provided.'\n      WHEN rb.requested_batch_id IS NOT NULL\n       AND NOT EXISTS (SELECT 1 FROM public.signup_batches b WHERE b.id = rb.requested_batch_id)\n      THEN format('Batch %s does not exist', rb.requested_batch_id)\n      WHEN ch.member_name IS NULL OR trim(ch.member_name) = '' THEN 'Member could not be resolved.'\n      WHEN COALESCE(ch.regular_tags, 0) + COALESCE(ch.parent_tags, 0) + COALESCE(ch.key_tags, 0) <= 0\n      THEN 'At least one item count must be greater than zero.'\n      ELSE NULL\n    END AS error_message,\n    rb.batch_id\n  FROM resolved_batch rb\n  CROSS JOIN chosen ch\n), inserted AS (\n  INSERT INTO public.signup_batch_manual_items (\n    batch_id,\n    member,\n    payer,\n    email_address,\n    address_1,\n    address_2,\n    address_3,\n    town,\n    postcode,\n    regular_tags,\n    parent_tags,\n    key_tags,\n    notes,\n    created_by,\n    source\n  )\n  SELECT\n    v.batch_id,\n    ch.member_name,\n    ch.payer_name,\n    ch.email_address,\n    ch.address_1,\n    ch.address_2,\n    ch.address_3,\n    ch.town,\n    ch.postcode,\n    ch.regular_tags,\n    ch.parent_tags,\n    ch.key_tags,\n    ch.notes,\n    ch.created_by,\n    'manual'\n  FROM validation v\n  CROSS JOIN chosen ch\n  WHERE v.error_message IS NULL\n  RETURNING id, batch_id, member, payer, regular_tags, parent_tags, key_tags, source\n)\nSELECT\n  true AS ok,\n  200 AS response_code,\n  format('Added manual batch item %s to batch %s', id, batch_id) AS message,\n  id,\n  batch_id,\n  member,\n  payer,\n  regular_tags,\n  parent_tags,\n  key_tags,\n  source\nFROM inserted\nUNION ALL\nSELECT\n  false AS ok,\n  400 AS response_code,\n  error_message AS message,\n  NULL::bigint AS id,\n  batch_id,\n  NULL::text AS member,\n  NULL::text AS payer,\n  NULL::integer AS regular_tags,\n  NULL::integer AS parent_tags,\n  NULL::integer AS key_tags,\n  'manual'::text AS source\nFROM validation\nWHERE error_message IS NOT NULL;`,\n  },\n}];"},"id":"a1b2c3d4-1000-1000-1000-000000000005","name":"Build Insert SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[790,320]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}"},"id":"a1b2c3d4-1000-1000-1000-000000000006","name":"Insert Manual Batch Item","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1040,320],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Resolve Inputs","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Resolve Inputs","type":"main","index":0}]]},"Add Manual Batch Item Webhook":{"main":[[{"node":"Resolve Inputs","type":"main","index":0}]]},"Resolve Inputs":{"main":[[{"node":"Build Insert SQL","type":"main","index":0}]]},"Build Insert SQL":{"main":[[{"node":"Insert Manual Batch Item","type":"main","index":0}]]}},"authors":"Steve Short","name":"Add Manual Batch Item","description":"","autosaved":false,"workflowPublishHistory":[]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"f2ac70fcb6cf184c07c448d61eda1c889cea58594f2450de53b36f0e075b151f"}}