backups/20260417-143132-full-backup/workflows/URTRDf2aT2eSmGqC-Case_Tracking_App.json
{
  "name": "Case Tracking App",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "cta000000-0000-0000-0000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "path": "case-tracking",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cta000000-0000-0000-0000-000000000002",
      "name": "Case Tracking App Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "case-tracking"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'email_delivery_mode' THEN value END) AS email_delivery_mode,\n  MAX(CASE WHEN key = 'email_test_recipient' THEN value END) AS email_test_recipient,\n  MAX(CASE WHEN key = 'email_sender_name' THEN value END) AS email_sender_name,\n  MAX(CASE WHEN key = 'email_reply_to' THEN value END) AS email_reply_to,\n  MAX(CASE WHEN key = 'email_signature_template_key' THEN value END) AS email_signature_template_key,\n  MAX(CASE WHEN key = 'n8n_base_url' THEN value END) AS n8n_base_url\nFROM public.global_settings\nWHERE key IN ('email_delivery_mode', 'email_test_recipient', 'email_sender_name', 'email_reply_to', 'email_signature_template_key', 'n8n_base_url');"
      },
      "id": "cta000000-0000-0000-0000-000000000003",
      "name": "Load App Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const settings = $('Load App Settings').first()?.json ?? {};\nconst request = $('Case Tracking App Webhook').first()?.json ?? $input.first()?.json ?? {};\nconst query = request.query ?? request;\nconst headers = request.headers ?? {};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst deriveBaseUrl = (headers, fallback) => {\n  const forwardedProto = clean(headers['x-forwarded-proto']);\n  const forwardedHost = clean(headers['x-forwarded-host']);\n  const host = forwardedHost || clean(headers.host);\n  const forwardedPort = clean(headers['x-forwarded-port']);\n  if (!host) return fallback;\n  const proto = forwardedProto || 'http';\n  let authority = host;\n  if (forwardedPort && !authority.includes(':')) {\n    const isDefaultPort = (proto === 'http' && forwardedPort === '80') || (proto === 'https' && forwardedPort === '443');\n    if (!isDefaultPort) authority = authority + ':' + forwardedPort;\n  }\n  return proto + '://' + authority;\n};\nconst validViews = new Set(['dashboard', 'case', 'contacts', 'signatures', 'settings']);\nconst validStatuses = new Set(['New', 'In Progress', 'Waiting', 'Completed']);\nconst validPriorities = new Set(['Low', 'Medium', 'High', 'Urgent']);\nconst rawView = clean(query.view).toLowerCase();\nconst view = validViews.has(rawView) ? rawView : 'dashboard';\nconst scope = ['active', 'completed', 'all'].includes(clean(query.scope).toLowerCase()) ? clean(query.scope).toLowerCase() : 'active';\nconst statusFilter = validStatuses.has(clean(query.status_filter || query.status)) ? clean(query.status_filter || query.status) : '';\nconst priorityFilter = validPriorities.has(clean(query.priority_filter || query.priority)) ? clean(query.priority_filter || query.priority) : '';\nconst caseId = /^[0-9a-fA-F-]{36}$/.test(clean(query.id)) ? clean(query.id) : '';\nconst templateKey = clean(query.template_key);\nconst q = clean(query.q);\nconst fallbackBaseUrl = clean(settings.n8n_base_url) || 'http://n8n:5678';\nconst n8nBaseUrl = deriveBaseUrl(headers, fallbackBaseUrl);\nreturn [{\n  json: {\n    view,\n    scope,\n    q,\n    status_filter: statusFilter,\n    priority_filter: priorityFilter,\n    case_id: caseId,\n    selected_template_key: templateKey,\n    flash_message: clean(query.message),\n    flash_error: clean(query.error),\n    n8n_base_url: n8nBaseUrl,\n    default_delivery_mode: clean(settings.email_delivery_mode).toLowerCase() === 'production' ? 'production' : 'test',\n    email_test_recipient: clean(settings.email_test_recipient),\n    email_sender_name: clean(settings.email_sender_name) || 'Steve Short',\n    email_reply_to: clean(settings.email_reply_to) || 'members.avondaleltc@gmail.com',\n    email_signature_template_key: clean(settings.email_signature_template_key) || 'signature',\n  },\n}];\n"
      },
      "id": "cta000000-0000-0000-0000-000000000004",
      "name": "Resolve App Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json ?? {};\nconst sqlLiteral = (value) => \"'\" + String(value ?? '').replace(/'/g, \"''\") + \"'\";\nconst summaryCte = [\n  'summary AS (',\n  '  SELECT',\n  '    count(*)::int AS total_cases,',\n  \"    count(*) FILTER (WHERE status = 'New')::int AS new_cases,\",\n  \"    count(*) FILTER (WHERE status = 'In Progress')::int AS in_progress_cases,\",\n  \"    count(*) FILTER (WHERE status = 'Waiting')::int AS waiting_cases,\",\n  \"    count(*) FILTER (WHERE status = 'Completed')::int AS completed_cases\",\n  '  FROM public.cases',\n  ')',\n].join('\\n');\nconst scopeFilter = input.status_filter\n  ? 'TRUE'\n  : (input.scope === 'completed' ? \"c.status = 'Completed'\" : (input.scope === 'all' ? 'TRUE' : \"c.status <> 'Completed'\"));\nconst statusFilter = input.status_filter ? `c.status = ${sqlLiteral(input.status_filter)}` : 'TRUE';\nconst priorityFilter = input.priority_filter ? `c.priority = ${sqlLiteral(input.priority_filter)}` : 'TRUE';\nconst qSql = sqlLiteral(input.q || '');\nconst caseIdSql = input.case_id ? sqlLiteral(input.case_id) : 'NULL';\nconst selectedTemplateSql = sqlLiteral(input.selected_template_key || '');\nlet sql = '';\n\nif (input.view === 'dashboard') {\n  sql = [\n    'WITH',\n    summaryCte + ',',\n    'case_rows AS (',\n    '  SELECT',\n    '    c.id,',\n    '    c.title,',\n    '    c.contact_name,',\n    '    c.contact_email,',\n    '    c.contact_phone,',\n    '    c.status,',\n    '    c.priority,',\n    '    c.source,',\n    '    c.notes,',\n    '    c.created_at,',\n    '    c.updated_at,',\n    '    c.last_inbound_at,',\n    '    c.last_outbound_at,',\n    '    COALESCE(last_event.activity_at, c.updated_at, c.created_at) AS last_activity_at,',\n    '    last_event.direction AS last_activity_direction,',\n    '    last_event.subject AS last_activity_subject,',\n    '    last_event.preview AS last_activity_preview,',\n    '    last_event.recipient_summary AS last_activity_recipient,',\n    '    counts.activity_count',\n    '  FROM public.cases c',\n    '  LEFT JOIN LATERAL (',\n    '    SELECT',\n    '      ce.direction,',\n    '      ce.subject,',\n    \"      LEFT(regexp_replace(COALESCE(ce.body_text, regexp_replace(COALESCE(ce.body_html, ''), '<[^>]+>', ' ', 'g')), '\\\\s+', ' ', 'g'), 180) AS preview,\",\n    '      COALESCE(ce.sent_at, ce.created_at) AS activity_at,',\n    \"      COALESCE(ce.recipients ->> 'to', ce.recipients ->> 'from', '') AS recipient_summary\",\n    '    FROM public.case_emails ce',\n    '    WHERE ce.case_id = c.id',\n    '    ORDER BY COALESCE(ce.sent_at, ce.created_at) DESC, ce.created_at DESC',\n    '    LIMIT 1',\n    '  ) last_event ON TRUE',\n    '  LEFT JOIN LATERAL (',\n    '    SELECT count(*)::int AS activity_count',\n    '    FROM public.case_emails ce',\n    '    WHERE ce.case_id = c.id',\n    '  ) counts ON TRUE',\n    '  WHERE ' + scopeFilter,\n    '    AND ' + statusFilter,\n    '    AND ' + priorityFilter,\n    \"    AND (\" + qSql + \" = '' OR c.title ILIKE '%' || \" + qSql + \" || '%' OR c.contact_name ILIKE '%' || \" + qSql + \" || '%' OR COALESCE(c.contact_email, '') ILIKE '%' || \" + qSql + \" || '%' OR COALESCE(c.notes, '') ILIKE '%' || \" + qSql + \" || '%')\",\n    '  ORDER BY COALESCE(last_event.activity_at, c.updated_at, c.created_at) DESC',\n    '  LIMIT 80',\n    ')',\n    'SELECT',\n    '  (SELECT row_to_json(summary) FROM summary) AS summary,',\n    \"  COALESCE((SELECT json_agg(to_jsonb(case_rows)) FROM case_rows), '[]'::json) AS case_rows\",\n  ].join('\\n');\n} else if (input.view === 'case') {\n  sql = [\n    'WITH',\n    summaryCte + ',',\n    'selected_case AS (',\n    '  SELECT * FROM public.cases WHERE id = ' + caseIdSql + '::uuid',\n    '),',\n    'activity_rows AS (',\n    '  SELECT',\n    '    ce.id,',\n    '    ce.direction,',\n    '    ce.subject,',\n    '    ce.body_html,',\n    '    ce.body_text,',\n    '    ce.template_key,',\n    '    ce.signature_template_key,',\n    '    ce.delivery_mode,',\n    '    ce.recipients,',\n    '    ce.gmail_message_id,',\n    '    ce.gmail_thread_id,',\n    '    ce.created_by,',\n    '    COALESCE(ce.sent_at, ce.created_at) AS activity_at',\n    '  FROM public.case_emails ce',\n    '  JOIN selected_case sc ON sc.id = ce.case_id',\n    '  ORDER BY COALESCE(ce.sent_at, ce.created_at) DESC, ce.created_at DESC',\n    '  LIMIT 100',\n    '),',\n    'message_templates AS (',\n    \"  SELECT template_key, COALESCE(NULLIF(template_name, ''), template_key) AS template_name\",\n    '  FROM public.email_templates',\n    '  WHERE template_type = 0 AND is_active = true',\n    \"  ORDER BY COALESCE(NULLIF(template_name, ''), template_key)\",\n    '),',\n    'signature_templates AS (',\n    \"  SELECT template_key, COALESCE(NULLIF(template_name, ''), template_key) AS template_name\",\n    '  FROM public.email_templates',\n    '  WHERE template_type = 2 AND is_active = true',\n    \"  ORDER BY COALESCE(NULLIF(template_name, ''), template_key)\",\n    ')',\n    'SELECT',\n    '  (SELECT row_to_json(summary) FROM summary) AS summary,',\n    \"  COALESCE((SELECT to_jsonb(selected_case) FROM selected_case), '{}'::jsonb) AS case_row,\",\n    \"  COALESCE((SELECT json_agg(to_jsonb(activity_rows)) FROM activity_rows), '[]'::json) AS activity_rows,\",\n    \"  COALESCE((SELECT json_agg(to_jsonb(message_templates)) FROM message_templates), '[]'::json) AS message_templates,\",\n    \"  COALESCE((SELECT json_agg(to_jsonb(signature_templates)) FROM signature_templates), '[]'::json) AS signature_templates\",\n  ].join('\\n');\n} else if (input.view === 'contacts') {\n  sql = [\n    'WITH',\n    summaryCte + ',',\n    'member_rollup AS (',\n    '  SELECT',\n    `    trim(concat_ws(' ', rm.\"First name\", rm.\"Last name\")) AS contact_name,`,\n    `    string_agg(DISTINCT rm.\"Membership\", ', ' ORDER BY rm.\"Membership\") AS memberships`,\n    '  FROM public.raw_members rm',\n    '  WHERE COALESCE(rm.is_current, true) = true',\n    '  GROUP BY 1',\n    '),',\n    'matches AS (',\n    '  SELECT',\n    '    c.contact_id,',\n    '    c.payer_name AS contact_name,',\n    '    c.email_address,',\n    '    c.mobile_number,',\n    '    c.phone_number,',\n    '    c.address_1,',\n    '    c.town,',\n    '    c.postcode,',\n    '    c.venue_id,',\n    '    c.member_status,',\n    '    c.quality_score,',\n    '    mr.memberships',\n    '  FROM public.vw_best_current_contacts c',\n    '  LEFT JOIN member_rollup mr ON mr.contact_name = c.payer_name',\n    \"  WHERE (\" + qSql + \" = '' OR c.payer_name ILIKE '%' || \" + qSql + \" || '%' OR COALESCE(c.email_address, '') ILIKE '%' || \" + qSql + \" || '%' OR COALESCE(c.mobile_number, '') ILIKE '%' || \" + qSql + \" || '%' OR COALESCE(c.venue_id, '') ILIKE '%' || \" + qSql + \" || '%')\",\n    \"  ORDER BY CASE WHEN \" + qSql + \" = '' THEN 1 ELSE 0 END, c.quality_score DESC, c.payer_name\",\n    '  LIMIT 40',\n    ')',\n    'SELECT',\n    '  (SELECT row_to_json(summary) FROM summary) AS summary,',\n    \"  COALESCE((SELECT json_agg(to_jsonb(matches)) FROM matches), '[]'::json) AS contact_rows\",\n  ].join('\\n');\n} else if (input.view === 'signatures') {\n  sql = [\n    'WITH',\n    summaryCte + ',',\n    'signature_rows AS (',\n    '  SELECT',\n    '    template_key,',\n    \"    COALESCE(NULLIF(template_name, ''), template_key) AS template_name,\",\n    '    text_template,',\n    '    html_template,',\n    '    updated_at,',\n    '    is_active',\n    '  FROM public.email_templates',\n    '  WHERE template_type = 2',\n    \"  ORDER BY is_active DESC, COALESCE(NULLIF(template_name, ''), template_key)\",\n    '),',\n    'selected_signature AS (',\n    '  SELECT * FROM signature_rows',\n    \"  WHERE template_key = COALESCE(NULLIF(\" + selectedTemplateSql + \", ''), (SELECT template_key FROM signature_rows LIMIT 1))\",\n    '  LIMIT 1',\n    ')',\n    'SELECT',\n    '  (SELECT row_to_json(summary) FROM summary) AS summary,',\n    \"  COALESCE((SELECT json_agg(to_jsonb(signature_rows)) FROM signature_rows), '[]'::json) AS signature_rows,\",\n    \"  COALESCE((SELECT to_jsonb(selected_signature) FROM selected_signature), '{}'::jsonb) AS selected_signature\",\n  ].join('\\n');\n} else {\n  sql = [\n    'WITH',\n    summaryCte + ',',\n    'setting_rows AS (',\n    '  SELECT',\n    '    key.key,',\n    \"    COALESCE(gs.value, '') AS value,\",\n    \"    COALESCE(gs.description, '') AS description\",\n    '  FROM (VALUES',\n    \"    ('email_delivery_mode'),\",\n    \"    ('email_test_recipient'),\",\n    \"    ('email_sender_name'),\",\n    \"    ('email_reply_to'),\",\n    \"    ('email_signature_template_key'),\",\n    \"    ('n8n_base_url')\",\n    '  ) AS key(key)',\n    '  LEFT JOIN public.global_settings gs ON gs.key = key.key',\n    '),',\n    'signature_rows AS (',\n    \"  SELECT template_key, COALESCE(NULLIF(template_name, ''), template_key) AS template_name\",\n    '  FROM public.email_templates',\n    '  WHERE template_type = 2 AND is_active = true',\n    \"  ORDER BY COALESCE(NULLIF(template_name, ''), template_key)\",\n    ')',\n    'SELECT',\n    '  (SELECT row_to_json(summary) FROM summary) AS summary,',\n    \"  COALESCE((SELECT json_agg(to_jsonb(setting_rows)) FROM setting_rows), '[]'::json) AS setting_rows,\",\n    \"  COALESCE((SELECT json_agg(to_jsonb(signature_rows)) FROM signature_rows), '[]'::json) AS signature_rows\",\n  ].join('\\n');\n}\n\nreturn [{ json: { ...input, sql } }];\n"
      },
      "id": "cta000000-0000-0000-0000-000000000005",
      "name": "Build Page SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "cta000000-0000-0000-0000-000000000006",
      "name": "Load Page Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $('Resolve App Request').first()?.json ?? {};\nconst row = $('Load Page Data').first()?.json ?? {};\nconst parseMaybe = (value, fallback) => {\n  if (value === null || value === undefined || value === '') return fallback;\n  if (typeof value === 'string') {\n    try { return JSON.parse(value); } catch { return fallback; }\n  }\n  return value;\n};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst escapeHtml = (value) => clean(value)\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\nconst toScriptString = (value) => JSON.stringify(clean(value)).replace(/<\\/script/gi, '<\\\\/script');\nconst formatDateTime = (value) => {\n  const text = clean(value);\n  if (!text) return '—';\n  const parsed = new Date(text);\n  if (Number.isNaN(parsed.getTime())) return text;\n  return parsed.toLocaleString('en-GB', {\n    year: 'numeric',\n    month: 'short',\n    day: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit',\n  });\n};\nconst stripHtml = (value) => clean(value).replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst summary = parseMaybe(row.summary, {}) || {};\nconst caseRows = parseMaybe(row.case_rows, []);\nconst caseRow = parseMaybe(row.case_row, {}) || {};\nconst activityRows = parseMaybe(row.activity_rows, []);\nconst messageTemplates = parseMaybe(row.message_templates, []);\nconst signatureTemplates = parseMaybe(row.signature_templates, []);\nconst contactRows = parseMaybe(row.contact_rows, []);\nconst signatureRows = parseMaybe(row.signature_rows, []);\nconst selectedSignature = parseMaybe(row.selected_signature, {}) || {};\nconst settingRows = parseMaybe(row.setting_rows, []);\nconst signatureOptions = parseMaybe(row.signature_rows, []);\nconst baseUrl = clean(input.n8n_base_url) || 'http://n8n:5678';\nconst appUrl = baseUrl + '/webhook/case-tracking';\nconst actionsUrl = baseUrl + '/webhook/case-tracking-actions';\nconst previewUrl = baseUrl + '/webhook/preview-case-tracking-email';\nconst refundFormUrl = baseUrl + '/webhook/refund-form';\nconst settingsMap = Object.fromEntries(settingRows.map((item) => [clean(item.key), clean(item.value)]));\nconst navItems = [\n  { key: 'dashboard', label: 'Dashboard', href: appUrl + '?view=dashboard' },\n  { key: 'contacts', label: 'Contacts', href: appUrl + '?view=contacts' },\n  { key: 'signatures', label: 'Signatures', href: appUrl + '?view=signatures' },\n  { key: 'settings', label: 'Settings', href: appUrl + '?view=settings' },\n];\nconst statusOptions = ['', 'New', 'In Progress', 'Waiting', 'Completed'];\nconst priorityOptions = ['', 'Low', 'Medium', 'High', 'Urgent'];\nconst renderSummaryCards = () => {\n  const selectedStatus = clean(input.status_filter);\n  const cards = [\n    { label: 'Total Cases', value: clean(summary.total_cases) || '0', href: appUrl + buildQueryString({ view: 'dashboard', q: input.q, priority_filter: input.priority_filter, scope: 'all' }), active: !selectedStatus && clean(input.scope) === 'all' },\n    { label: 'New', value: clean(summary.new_cases) || '0', href: appUrl + buildQueryString({ view: 'dashboard', q: input.q, priority_filter: input.priority_filter, status_filter: 'New' }), active: selectedStatus === 'New' },\n    { label: 'In Progress', value: clean(summary.in_progress_cases) || '0', href: appUrl + buildQueryString({ view: 'dashboard', q: input.q, priority_filter: input.priority_filter, status_filter: 'In Progress' }), active: selectedStatus === 'In Progress' },\n    { label: 'Waiting', value: clean(summary.waiting_cases) || '0', href: appUrl + buildQueryString({ view: 'dashboard', q: input.q, priority_filter: input.priority_filter, status_filter: 'Waiting' }), active: selectedStatus === 'Waiting' },\n    { label: 'Completed', value: clean(summary.completed_cases) || '0', href: appUrl + buildQueryString({ view: 'dashboard', q: input.q, priority_filter: input.priority_filter, status_filter: 'Completed' }), active: selectedStatus === 'Completed' },\n  ];\n  return cards\n    .map((item) => {\n      const cardClass = item.active\n        ? 'stat bg-primary text-primary-content shadow-sm rounded-box border border-primary'\n        : 'stat bg-base-100 shadow-sm rounded-box border border-base-300 hover:border-primary/40 hover:bg-base-100';\n      return '<a class=\"block\" href=\"' + item.href + '\"><div class=\"' + cardClass + '\"><div class=\"stat-title ' + (item.active ? 'text-primary-content/80' : '') + '\">' + escapeHtml(item.label) + '</div><div class=\"stat-value text-2xl\">' + escapeHtml(item.value) + '</div></div></a>';\n    })\n    .join('');\n};\nconst renderNotice = () => {\n  if (clean(input.flash_error)) return '<div class=\"alert alert-error shadow-sm mb-4\"><span>' + escapeHtml(input.flash_error) + '</span></div>';\n  if (clean(input.flash_message)) return '<div class=\"alert alert-success shadow-sm mb-4\"><span>' + escapeHtml(input.flash_message) + '</span></div>';\n  return '';\n};\nconst statusBadgeClass = (value) => {\n  const map = { New: 'badge-primary', 'In Progress': 'badge-info', Waiting: 'badge-warning', Completed: 'badge-success' };\n  return map[clean(value)] || 'badge-ghost';\n};\nconst priorityBadgeClass = (value) => {\n  const map = { Low: 'badge-ghost', Medium: 'badge-info', High: 'badge-warning', Urgent: 'badge-error' };\n  return map[clean(value)] || 'badge-ghost';\n};\nconst buildQueryString = (params) => {\n  const pairs = [];\n  Object.entries(params).forEach(([key, value]) => {\n    const text = clean(value);\n    if (text) pairs.push(encodeURIComponent(key) + '=' + encodeURIComponent(text));\n  });\n  return pairs.length ? '?' + pairs.join('&') : '';\n};\nconst renderShell = (title, intro, bodyHtml) => {\n  const navHtml = navItems.map((item) => {\n    const active = item.key === input.view ? 'active bg-primary text-primary-content' : '';\n    return '<li><a class=\"' + active + '\" href=\"' + item.href + '\">' + escapeHtml(item.label) + '</a></li>';\n  }).join('');\n  return [\n    '<!doctype html>',\n    '<html lang=\"en\">',\n    '<head>',\n    '  <meta charset=\"utf-8\">',\n    '  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">',\n    '  <title>' + escapeHtml(title) + '</title>',\n    '  <link href=\"https://cdn.jsdelivr.net/npm/daisyui@5\" rel=\"stylesheet\" type=\"text/css\" />',\n    '  <script src=\"https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4\"></script>',\n    '  <style>',\n    '    body { background: linear-gradient(180deg, #f8fafc 0%, #eef2ff 100%); }',\n    '    .case-shell { min-height: 100vh; }',\n    '    .case-feed-card pre { white-space: pre-wrap; word-break: break-word; }',\n    '  </style>',\n    '</head>',\n    '<body>',\n    '  <div class=\"drawer lg:drawer-open case-shell\">',\n    '    <input id=\"case-nav\" type=\"checkbox\" class=\"drawer-toggle\" />',\n    '    <div class=\"drawer-content\">',\n    '      <div class=\"navbar bg-base-100/90 backdrop-blur border-b border-base-300 sticky top-0 z-20\">',\n    '        <div class=\"flex-none lg:hidden\">',\n    '          <label for=\"case-nav\" class=\"btn btn-square btn-ghost\">☰</label>',\n    '        </div>',\n    '        <div class=\"flex-1\">',\n    '          <div>',\n    '            <div class=\"text-xs font-semibold uppercase tracking-wide text-primary\">Avondale</div>',\n    '            <h1 class=\"text-2xl font-bold\">' + escapeHtml(title) + '</h1>',\n    '            <p class=\"text-sm text-base-content/70\">' + escapeHtml(intro) + '</p>',\n    '          </div>',\n    '        </div>',\n    '      </div>',\n    '      <main class=\"p-4 lg:p-6 space-y-6\">',\n    '        ' + renderNotice(),\n    '        <section class=\"grid gap-4 md:grid-cols-5\">' + renderSummaryCards() + '</section>',\n    '        ' + bodyHtml,\n    '      </main>',\n    '    </div>',\n    '    <div class=\"drawer-side z-30\">',\n    '      <label for=\"case-nav\" class=\"drawer-overlay\"></label>',\n    '      <aside class=\"w-72 bg-base-100 border-r border-base-300 p-4 flex flex-col gap-6\">',\n    '        <div>',\n    '          <div class=\"text-xs font-semibold uppercase tracking-wide text-primary\">Case Tracking</div>',\n    '          <div class=\"text-lg font-semibold\">n8n workflow app</div>',\n    '        </div>',\n    '        <ul class=\"menu gap-1\">' + navHtml + '</ul>',\n    '        <div class=\"text-sm text-base-content/60\">Using existing contacts, signatures, and email templates.</div>',\n    '      </aside>',\n    '    </div>',\n    '  </div>',\n    '</body>',\n    '</html>',\n  ].join('');\n};\n\nlet bodyHtml = '';\nlet title = 'Case Tracking';\nlet intro = 'Track membership cases, email activity, and supporting notes.';\n\nif (input.view === 'dashboard') {\n  const caseCards = caseRows.length\n    ? caseRows.map((item) => {\n      const detailHref = appUrl + '?view=case&id=' + encodeURIComponent(clean(item.id));\n      const preview = clean(item.last_activity_preview) || clean(item.notes) || 'No activity yet.';\n      return [\n        '<div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n        '  <div class=\"card-body gap-3\">',\n        '    <div class=\"flex flex-wrap items-start justify-between gap-3\">',\n        '      <div>',\n        '        <h2 class=\"card-title\">' + escapeHtml(item.title) + '</h2>',\n        '        <p class=\"text-sm text-base-content/70\">' + escapeHtml(clean(item.contact_name) || 'Unknown contact') + (clean(item.contact_email) ? ' · ' + escapeHtml(item.contact_email) : '') + '</p>',\n        '      </div>',\n        '      <div class=\"flex gap-2 flex-wrap\">',\n        '        <span class=\"badge ' + statusBadgeClass(item.status) + '\">' + escapeHtml(item.status) + '</span>',\n        '        <span class=\"badge ' + priorityBadgeClass(item.priority) + '\">' + escapeHtml(item.priority) + '</span>',\n        '      </div>',\n        '    </div>',\n        '    <p class=\"text-sm\">' + escapeHtml(preview) + '</p>',\n        '    <div class=\"flex flex-wrap gap-4 text-xs text-base-content/60\">',\n        '      <span>Updated ' + escapeHtml(formatDateTime(item.last_activity_at)) + '</span>',\n        '      <span>' + escapeHtml(clean(item.activity_count) || '0') + ' activity items</span>',\n        '    </div>',\n        '    <div class=\"card-actions justify-end\">',\n        '      <a class=\"btn btn-primary btn-sm\" href=\"' + detailHref + '\">Open case</a>',\n        '    </div>',\n        '  </div>',\n        '</div>',\n      ].join('');\n    }).join('')\n    : '<div class=\"card bg-base-100 border border-dashed border-base-300\"><div class=\"card-body\"><h2 class=\"card-title\">No cases yet</h2><p>Create the first case from the form or use the contacts directory.</p></div></div>';\n  bodyHtml = [\n    '<section class=\"grid gap-6 xl:grid-cols-[minmax(0,1fr)_360px]\">',\n    '  <div class=\"space-y-4\">',\n    '    <div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n    '      <div class=\"card-body\">',\n    '        <form class=\"grid gap-3 md:grid-cols-[minmax(0,1fr)_220px_220px_auto] items-end\" method=\"GET\" action=\"' + appUrl + '\">',\n    '          <input type=\"hidden\" name=\"view\" value=\"dashboard\">',\n    '          <label class=\"form-control\"><span class=\"label-text\">Search</span><input class=\"input input-bordered\" type=\"text\" name=\"q\" value=\"' + escapeHtml(input.q) + '\" placeholder=\"title, contact, email, notes\"></label>',\n    '          <label class=\"form-control\"><span class=\"label-text\">Status</span><select class=\"select select-bordered\" name=\"status_filter\">' + statusOptions.map((value) => '<option value=\"' + escapeHtml(value) + '\"' + (clean(input.status_filter) === value ? ' selected' : '') + '>' + escapeHtml(value || 'All statuses') + '</option>').join('') + '</select></label>',\n    '          <label class=\"form-control\"><span class=\"label-text\">Priority</span><select class=\"select select-bordered\" name=\"priority_filter\">' + priorityOptions.map((value) => '<option value=\"' + escapeHtml(value) + '\"' + (clean(input.priority_filter) === value ? ' selected' : '') + '>' + escapeHtml(value || 'All priorities') + '</option>').join('') + '</select></label>',\n    '          <div class=\"flex gap-2\"><button class=\"btn btn-outline\" type=\"submit\">Apply</button><a class=\"btn btn-ghost\" href=\"' + appUrl + '?view=dashboard\">Clear</a></div>',\n    '        </form>',\n    '      </div>',\n    '    </div>',\n    '    <div class=\"space-y-4\">' + caseCards + '</div>',\n    '  </div>',\n    '  <div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n    '    <div class=\"card-body\">',\n    '      <h2 class=\"card-title\">Create Case</h2>',\n    '      <form class=\"space-y-3\" method=\"POST\" action=\"' + actionsUrl + '\">',\n    '        <input type=\"hidden\" name=\"action\" value=\"create_case\">',\n    '        <input type=\"hidden\" name=\"return_url\" value=\"' + escapeHtml(appUrl + '?view=dashboard') + '\">',\n    '        <label class=\"form-control\"><span class=\"label-text\">Title</span><input class=\"input input-bordered\" type=\"text\" name=\"title\" required></label>',\n    '        <label class=\"form-control\"><span class=\"label-text\">Contact name</span><input class=\"input input-bordered\" type=\"text\" name=\"contact_name\" required></label>',\n    '        <label class=\"form-control\"><span class=\"label-text\">Contact email</span><input class=\"input input-bordered\" type=\"email\" name=\"contact_email\"></label>',\n    '        <label class=\"form-control\"><span class=\"label-text\">Contact phone</span><input class=\"input input-bordered\" type=\"text\" name=\"contact_phone\"></label>',\n    '        <label class=\"form-control\"><span class=\"label-text\">Priority</span><select class=\"select select-bordered\" name=\"priority\"><option>Low</option><option selected>Medium</option><option>High</option><option>Urgent</option></select></label>',\n    '        <label class=\"form-control\"><span class=\"label-text\">Opening note</span><textarea class=\"textarea textarea-bordered min-h-32\" name=\"opening_note\" placeholder=\"What needs to happen?\"></textarea></label>',\n    '        <button class=\"btn btn-primary w-full\" type=\"submit\">Create case</button>',\n    '      </form>',\n    '    </div>',\n    '  </div>',\n    '</section>',\n  ].join('');\n} else if (input.view === 'case') {\n  const currentCase = caseRow && clean(caseRow.id) ? caseRow : null;\n  if (!currentCase) {\n    title = 'Case not found';\n    intro = 'The requested case could not be loaded.';\n    bodyHtml = '<section class=\"card bg-base-100 shadow-sm border border-base-300\"><div class=\"card-body\"><p>No case was found for this id.</p><a class=\"btn btn-primary w-fit\" href=\"' + appUrl + '?view=dashboard\">Back to dashboard</a></div></section>';\n  } else {\n    title = currentCase.title || 'Case detail';\n    intro = 'Track status, add notes, and prepare outbound emails from a single screen.';\n    const caseUrl = appUrl + '?view=case&id=' + encodeURIComponent(clean(currentCase.id));\n    const refundLink = refundFormUrl + buildQueryString({\n      return_url: caseUrl,\n      name: clean(currentCase.contact_name),\n      refund_for: clean(currentCase.contact_name),\n    });\n    const activityHtml = activityRows.length\n      ? activityRows.map((item) => {\n        const body = clean(item.body_text) || stripHtml(item.body_html);\n        return [\n          '<div class=\"card case-feed-card bg-base-100 shadow-sm border border-base-300\">',\n          '  <div class=\"card-body gap-3\">',\n          '    <div class=\"flex flex-wrap items-start justify-between gap-3\">',\n          '      <div>',\n          '        <div class=\"flex gap-2 items-center\">',\n          '          <span class=\"badge badge-outline\">' + escapeHtml(clean(item.direction) || 'activity') + '</span>',\n          '          ' + (clean(item.delivery_mode) ? '<span class=\"badge badge-ghost\">' + escapeHtml(item.delivery_mode) + '</span>' : ''),\n          '        </div>',\n          '        <h3 class=\"font-semibold mt-2\">' + escapeHtml(clean(item.subject) || 'Activity') + '</h3>',\n          '      </div>',\n          '      <div class=\"text-sm text-base-content/60\">' + escapeHtml(formatDateTime(item.activity_at)) + '</div>',\n          '    </div>',\n          '    <pre class=\"bg-base-200 rounded-box p-3 text-sm\">' + escapeHtml(body || '—') + '</pre>',\n          '  </div>',\n          '</div>',\n        ].join('');\n      }).join('')\n      : '<div class=\"card bg-base-100 border border-dashed border-base-300\"><div class=\"card-body\"><p>No case activity yet.</p></div></div>';\n    const messageOptions = messageTemplates.map((item) => '<option value=\"' + escapeHtml(item.template_key) + '\">' + escapeHtml(item.template_name) + '</option>').join('');\n    const signatureOptionHtml = signatureTemplates.map((item) => '<option value=\"' + escapeHtml(item.template_key) + '\"' + (clean(item.template_key) === clean(input.email_signature_template_key) ? ' selected' : '') + '>' + escapeHtml(item.template_name) + '</option>').join('');\n    bodyHtml = [\n      '<section class=\"grid gap-6 xl:grid-cols-[minmax(0,1fr)_360px]\">',\n      '  <div class=\"space-y-4\">',\n      '    <div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n      '      <div class=\"card-body gap-4\">',\n      '        <div class=\"flex flex-wrap justify-between gap-3\">',\n      '          <div>',\n      '            <div class=\"text-sm text-base-content/60\">' + escapeHtml(clean(currentCase.contact_name) || 'Unknown contact') + (clean(currentCase.contact_email) ? ' · ' + escapeHtml(currentCase.contact_email) : '') + '</div>',\n      '            <div class=\"flex gap-2 mt-2\"><span class=\"badge ' + statusBadgeClass(currentCase.status) + '\">' + escapeHtml(currentCase.status) + '</span><span class=\"badge ' + priorityBadgeClass(currentCase.priority) + '\">' + escapeHtml(currentCase.priority) + '</span></div>',\n      '          </div>',\n      '          <div class=\"flex gap-2 flex-wrap\">',\n      '            <div class=\"text-sm text-base-content/60 self-center\">Updated ' + escapeHtml(formatDateTime(currentCase.updated_at)) + '</div>',\n      '            <a class=\"btn btn-outline btn-sm\" href=\"' + refundLink + '\">Create refund</a>',\n      '          </div>',\n      '        </div>',\n      '        <form class=\"grid gap-3\" method=\"POST\" action=\"' + actionsUrl + '\">',\n      '          <input type=\"hidden\" name=\"action\" value=\"update_case\">',\n      '          <input type=\"hidden\" name=\"case_id\" value=\"' + escapeHtml(currentCase.id) + '\">',\n      '          <input type=\"hidden\" name=\"return_url\" value=\"' + escapeHtml(caseUrl) + '\">',\n      '          <label class=\"form-control\"><span class=\"label-text\">Title</span><input class=\"input input-bordered\" type=\"text\" name=\"title\" value=\"' + escapeHtml(currentCase.title) + '\" required></label>',\n      '          <div class=\"grid gap-3 sm:grid-cols-2\">',\n      '            <label class=\"form-control\"><span class=\"label-text\">Contact name</span><input class=\"input input-bordered\" type=\"text\" name=\"contact_name\" value=\"' + escapeHtml(currentCase.contact_name) + '\" required></label>',\n      '            <label class=\"form-control\"><span class=\"label-text\">Contact email</span><input class=\"input input-bordered\" type=\"email\" name=\"contact_email\" value=\"' + escapeHtml(currentCase.contact_email) + '\"></label>',\n      '          </div>',\n      '          <div class=\"grid gap-3 sm:grid-cols-3\">',\n      '            <label class=\"form-control\"><span class=\"label-text\">Phone</span><input class=\"input input-bordered\" type=\"text\" name=\"contact_phone\" value=\"' + escapeHtml(currentCase.contact_phone) + '\"></label>',\n      '            <label class=\"form-control\"><span class=\"label-text\">Status</span><select class=\"select select-bordered\" name=\"status\"><option' + (clean(currentCase.status) === 'In Progress' ? ' selected' : '') + '>In Progress</option><option' + (clean(currentCase.status) === 'Waiting' ? ' selected' : '') + '>Waiting</option><option' + (clean(currentCase.status) === 'Completed' ? ' selected' : '') + '>Completed</option></select></label>',\n      '            <label class=\"form-control\"><span class=\"label-text\">Priority</span><select class=\"select select-bordered\" name=\"priority\"><option' + (clean(currentCase.priority) === 'Low' ? ' selected' : '') + '>Low</option><option' + (clean(currentCase.priority) === 'Medium' ? ' selected' : '') + '>Medium</option><option' + (clean(currentCase.priority) === 'High' ? ' selected' : '') + '>High</option><option' + (clean(currentCase.priority) === 'Urgent' ? ' selected' : '') + '>Urgent</option></select></label>',\n      '          </div>',\n      '          <label class=\"form-control\"><span class=\"label-text\">Case notes</span><textarea class=\"textarea textarea-bordered min-h-28\" name=\"notes\">' + escapeHtml(currentCase.notes) + '</textarea></label>',\n      '          <button class=\"btn btn-primary w-fit\" type=\"submit\">Save case</button>',\n      '        </form>',\n      '      </div>',\n      '    </div>',\n      '    <div class=\"grid gap-4 xl:grid-cols-2\">',\n      '      <div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n      '        <div class=\"card-body\">',\n      '          <h2 class=\"card-title\">Add note</h2>',\n      '          <form class=\"space-y-3\" method=\"POST\" action=\"' + actionsUrl + '\">',\n      '            <input type=\"hidden\" name=\"action\" value=\"add_note\">',\n      '            <input type=\"hidden\" name=\"case_id\" value=\"' + escapeHtml(currentCase.id) + '\">',\n      '            <input type=\"hidden\" name=\"return_url\" value=\"' + escapeHtml(caseUrl) + '\">',\n      '            <textarea class=\"textarea textarea-bordered min-h-36\" name=\"note_text\" placeholder=\"Internal note\" required></textarea>',\n      '            <button class=\"btn btn-outline\" type=\"submit\">Save note</button>',\n      '          </form>',\n      '        </div>',\n      '      </div>',\n      '      <div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n      '        <div class=\"card-body\">',\n      '          <h2 class=\"card-title\">Compose email</h2>',\n      '          <form class=\"space-y-3\" method=\"GET\" action=\"' + previewUrl + '\">',\n      '            <input type=\"hidden\" name=\"case_id\" value=\"' + escapeHtml(currentCase.id) + '\">',\n      '            <input type=\"hidden\" name=\"return_url\" value=\"' + escapeHtml(caseUrl) + '\">',\n      '            <label class=\"form-control\"><span class=\"label-text\">Template</span><select class=\"select select-bordered\" name=\"template_key\">' + messageOptions + '</select></label>',\n      '            <label class=\"form-control\"><span class=\"label-text\">Signature</span><select class=\"select select-bordered\" name=\"signature_template_key\">' + signatureOptionHtml + '</select></label>',\n      '            <label class=\"form-control\"><span class=\"label-text\">Recipient</span><input class=\"input input-bordered\" type=\"email\" name=\"to\" value=\"' + escapeHtml(currentCase.contact_email) + '\"></label>',\n      '            <label class=\"label cursor-pointer justify-start gap-3\"><input class=\"checkbox\" type=\"checkbox\" name=\"test_mode\" value=\"1\"' + (clean(input.default_delivery_mode) === 'production' ? '' : ' checked') + '><span class=\"label-text\">Preview in test mode</span></label>',\n      '            <button class=\"btn btn-primary\" type=\"submit\">Preview email</button>',\n      '          </form>',\n      '        </div>',\n      '      </div>',\n      '    </div>',\n      '    <section class=\"space-y-4\">',\n      '      <div class=\"flex items-center justify-between\"><h2 class=\"text-xl font-semibold\">Activity</h2><a class=\"btn btn-ghost btn-sm\" href=\"' + appUrl + '?view=dashboard\">Back to dashboard</a></div>',\n      '      ' + activityHtml,\n      '    </section>',\n      '  </div>',\n      '  <aside class=\"card bg-base-100 shadow-sm border border-base-300\">',\n      '    <div class=\"card-body\">',\n      '      <h2 class=\"card-title\">Case summary</h2>',\n      '      <div class=\"space-y-2 text-sm\">',\n      '        <div><span class=\"font-semibold\">Created:</span> ' + escapeHtml(formatDateTime(currentCase.created_at)) + '</div>',\n      '        <div><span class=\"font-semibold\">Last outbound:</span> ' + escapeHtml(formatDateTime(currentCase.last_outbound_at)) + '</div>',\n      '        <div><span class=\"font-semibold\">Last inbound:</span> ' + escapeHtml(formatDateTime(currentCase.last_inbound_at)) + '</div>',\n      '        <div><span class=\"font-semibold\">Source:</span> ' + escapeHtml(clean(currentCase.source) || 'manual') + '</div>',\n      '      </div>',\n      '    </div>',\n      '  </aside>',\n      '</section>',\n    ].join('');\n  }\n} else if (input.view === 'contacts') {\n  title = 'Contacts';\n  intro = 'Reuse existing club contacts to start a case without re-entering details.';\n  const resultCards = contactRows.length\n    ? contactRows.map((item) => [\n      '<div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n      '  <div class=\"card-body gap-3\">',\n      '    <div class=\"flex flex-wrap items-start justify-between gap-3\">',\n      '      <div>',\n      '        <h2 class=\"card-title\">' + escapeHtml(item.contact_name) + '</h2>',\n      '        <p class=\"text-sm text-base-content/70\">' + escapeHtml(clean(item.memberships) || 'No linked membership') + '</p>',\n      '      </div>',\n      '      <span class=\"badge badge-ghost\">' + escapeHtml(clean(item.member_status) || 'Status unknown') + '</span>',\n      '    </div>',\n      '    <div class=\"grid gap-2 text-sm\">',\n      '      <div>Email: ' + escapeHtml(clean(item.email_address) || '—') + '</div>',\n      '      <div>Phone: ' + escapeHtml(clean(item.mobile_number) || clean(item.phone_number) || '—') + '</div>',\n      '      <div>Venue ID: ' + escapeHtml(clean(item.venue_id) || '—') + '</div>',\n      '      <div>Address: ' + escapeHtml([clean(item.address_1), clean(item.town), clean(item.postcode)].filter(Boolean).join(', ') || '—') + '</div>',\n      '    </div>',\n      '    <form class=\"grid gap-3 md:grid-cols-[minmax(0,1fr)_auto] items-end\" method=\"POST\" action=\"' + actionsUrl + '\">',\n      '      <input type=\"hidden\" name=\"action\" value=\"create_case\">',\n      '      <input type=\"hidden\" name=\"source\" value=\"contact-directory\">',\n      '      <input type=\"hidden\" name=\"contact_name\" value=\"' + escapeHtml(item.contact_name) + '\">',\n      '      <input type=\"hidden\" name=\"contact_email\" value=\"' + escapeHtml(item.email_address) + '\">',\n      '      <input type=\"hidden\" name=\"contact_phone\" value=\"' + escapeHtml(clean(item.mobile_number) || clean(item.phone_number)) + '\">',\n      '      <label class=\"form-control\"><span class=\"label-text\">Case title</span><input class=\"input input-bordered\" type=\"text\" name=\"title\" value=\"Follow up with ' + escapeHtml(item.contact_name) + '\" required></label>',\n      '      <input type=\"hidden\" name=\"return_url\" value=\"' + escapeHtml(appUrl + buildQueryString({ view: 'contacts', q: input.q })) + '\">',\n      '      <button class=\"btn btn-primary\" type=\"submit\">Start case</button>',\n      '    </form>',\n      '  </div>',\n      '</div>',\n    ].join('')).join('')\n    : '<div class=\"card bg-base-100 border border-dashed border-base-300\"><div class=\"card-body\"><p>No contacts matched this search.</p></div></div>';\n  bodyHtml = [\n    '<section class=\"space-y-4\">',\n    '  <div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n    '    <div class=\"card-body\">',\n    '      <form class=\"flex flex-wrap gap-3 items-end\" method=\"GET\" action=\"' + appUrl + '\">',\n    '        <input type=\"hidden\" name=\"view\" value=\"contacts\">',\n    '        <label class=\"form-control flex-1 min-w-56\"><span class=\"label-text\">Search contacts</span><input class=\"input input-bordered\" type=\"text\" name=\"q\" value=\"' + escapeHtml(input.q) + '\" placeholder=\"name, email, phone, venue id\"></label>',\n    '        <button class=\"btn btn-primary\" type=\"submit\">Search</button>',\n    '      </form>',\n    '    </div>',\n    '  </div>',\n    '  <div class=\"grid gap-4\">' + resultCards + '</div>',\n    '</section>',\n  ].join('');\n} else if (input.view === 'signatures') {\n  title = 'Signatures';\n  intro = 'Edit signature templates stored in the shared email_templates table.';\n  const selected = clean(selectedSignature.template_key) ? selectedSignature : (signatureRows[0] || {});\n  const selectedTemplateKey = clean(selected.template_key);\n  const selectedHref = appUrl + buildQueryString({ view: 'signatures', template_key: selectedTemplateKey });\n  const initialHtmlLiteral = toScriptString(selected.html_template);\n  const initialTextLiteral = toScriptString(selected.text_template);\n  const initialNameLiteral = toScriptString(selected.template_name);\n  const selectedHrefLiteral = toScriptString(selectedHref);\n  const signatureList = signatureRows.map((item) => {\n    const href = appUrl + buildQueryString({ view: 'signatures', template_key: item.template_key });\n    const active = clean(item.template_key) === clean(selected.template_key) ? 'border-primary bg-primary/5' : '';\n    return '<a class=\"card bg-base-100 shadow-sm border border-base-300 ' + active + '\" href=\"' + href + '\"><div class=\"card-body py-4\"><div class=\"font-semibold\">' + escapeHtml(item.template_name) + '</div><div class=\"text-sm text-base-content/60\">' + escapeHtml(item.template_key) + '</div></div></a>';\n  }).join('');\n  bodyHtml = [\n    '<section class=\"grid gap-6 xl:grid-cols-[320px_minmax(0,1fr)]\">',\n    '  <div class=\"space-y-3\">' + (signatureList || '<div class=\"card bg-base-100 border border-dashed border-base-300\"><div class=\"card-body\"><p>No signature templates found.</p></div></div>') + '</div>',\n    '  <div class=\"card bg-base-100 shadow-sm border border-base-300\">',\n    '    <div class=\"card-body\">',\n    '      <div class=\"flex flex-wrap items-start justify-between gap-3\">',\n    '        <div>',\n    '          <h2 class=\"card-title\">' + escapeHtml(clean(selected.template_name) || 'Select a signature') + '</h2>',\n    '          <p class=\"text-sm text-base-content/60\">Switch between visual editing, raw HTML, and plain text before saving.</p>',\n    '        </div>',\n    '        <div class=\"badge badge-outline\">' + escapeHtml(selectedTemplateKey || 'No template selected') + '</div>',\n    '      </div>',\n    '      <form id=\"signature-editor-form\" class=\"space-y-4\" method=\"POST\" action=\"' + actionsUrl + '\">',\n    '        <input type=\"hidden\" name=\"action\" value=\"save_signature\">',\n    '        <input type=\"hidden\" name=\"template_key\" value=\"' + escapeHtml(selectedTemplateKey) + '\">',\n    '        <input type=\"hidden\" name=\"return_url\" value=\"' + escapeHtml(selectedHref) + '\">',\n    '        <label class=\"form-control\"><span class=\"label-text\">Template name</span><input class=\"input input-bordered\" type=\"text\" name=\"template_name\" value=\"' + escapeHtml(clean(selected.template_name)) + '\" required></label>',\n    '        <div class=\"flex flex-wrap items-center justify-between gap-3\">',\n    '          <div class=\"join\">',\n    '            <button class=\"btn btn-sm btn-primary join-item\" type=\"button\" data-editor-mode=\"rich\">Rich Edit</button>',\n    '            <button class=\"btn btn-sm btn-outline join-item\" type=\"button\" data-editor-mode=\"html\">HTML Edit</button>',\n    '            <button class=\"btn btn-sm btn-outline join-item\" type=\"button\" data-editor-mode=\"text\">Text Edit</button>',\n    '          </div>',\n    '          <button id=\"signature-reload\" class=\"btn btn-sm btn-ghost\" type=\"button\">Reload</button>',\n    '        </div>',\n    '        <div class=\"text-sm text-base-content/60\">The editor frame keeps the same size across modes and can be resized from the bottom-right corner.</div>',\n    '        <div id=\"signature-editor-frame\" class=\"signature-editor-frame\">',\n    '          <div id=\"signature-rich-toolbar\" class=\"signature-rich-toolbar\"></div>',\n    '          <div id=\"signature-rich-panel\" class=\"signature-editor-panel\">',\n    '            <div id=\"signature-rich-editor\" class=\"signature-rich-editor\"></div>',\n    '          </div>',\n    '          <div id=\"signature-html-panel\" class=\"signature-editor-panel hidden\">',\n    '            <textarea id=\"signature-html-source\" class=\"signature-source font-mono text-sm\" name=\"html_template\">' + escapeHtml(clean(selected.html_template)) + '</textarea>',\n    '          </div>',\n    '          <div id=\"signature-text-panel\" class=\"signature-editor-panel hidden\">',\n    '            <textarea id=\"signature-text-source\" class=\"signature-source font-mono text-sm\" name=\"text_template\">' + escapeHtml(clean(selected.text_template)) + '</textarea>',\n    '          </div>',\n    '        </div>',\n    '        <div class=\"flex flex-wrap gap-3\">',\n    '          <button class=\"btn btn-primary\" type=\"submit\">Save signature</button>',\n    '        </div>',\n    '      </form>',\n    '    </div>',\n    '  </div>',\n    '</section>',\n    '<style>',\n    '  .signature-editor-frame { width: min(90%, 54rem); max-width: 100%; min-width: min(100%, 36rem); min-height: 23.5rem; resize: both; overflow: auto; display: flex; flex-direction: column; align-self: flex-start; border: 1px solid oklch(var(--b3)); border-radius: 1rem; background: white; }',\n    '  .signature-editor-panel { flex: 1 1 auto; min-height: 0; display: flex; }',\n    '  .signature-editor-panel.hidden { display: none !important; }',\n    '  .signature-rich-toolbar { flex: 0 0 auto; padding: 0.5rem; border-bottom: 1px solid oklch(var(--b3)); background: color-mix(in oklab, oklch(var(--b2)) 85%, white); }',\n    '  .signature-rich-toolbar.hidden { display: none !important; }',\n    '  .signature-rich-editor { flex: 1 1 auto; min-height: 100%; padding: 0.9rem; overflow: auto; }',\n    '  #signature-rich-editor:focus { outline: none; }',\n    '  .signature-source { width: 100%; height: 100%; min-height: 100%; padding: 1rem; resize: none; border: 0; outline: none; background: transparent; }',\n    '  .tox-tbtn { border-radius: 0.5rem !important; }',\n    '  .tox-tinymce-inline, .tox-editor-header { background: transparent !important; }',\n    '  .tox-tinymce-inline { width: 100% !important; }',\n    '  .tox-toolbar__primary { flex-wrap: wrap !important; }',\n    '</style>',\n    '<script src=\"https://cdn.jsdelivr.net/npm/tinymce@7/tinymce.min.js\" referrerpolicy=\"origin\"></script>',\n    '<script>',\n    '(function () {',\n    '  const form = document.getElementById(\"signature-editor-form\");',\n    '  if (!form) return;',\n    '  const templateNameInput = form.querySelector(\\'input[name=\"template_name\"]\\');',\n    '  const htmlSource = document.getElementById(\"signature-html-source\");',\n    '  const textSource = document.getElementById(\"signature-text-source\");',\n    '  const reloadButton = document.getElementById(\"signature-reload\");',\n    '  const toolbarContainer = document.getElementById(\"signature-rich-toolbar\");',\n    '  const modeButtons = Array.from(form.querySelectorAll(\"[data-editor-mode]\"));',\n    '  const panels = {',\n    '    rich: document.getElementById(\"signature-rich-panel\"),',\n    '    html: document.getElementById(\"signature-html-panel\"),',\n    '    text: document.getElementById(\"signature-text-panel\"),',\n    '  };',\n    '  const state = {',\n    '    currentMode: \"rich\",',\n    '    initialName: ' + initialNameLiteral + ',',\n    '    initialHtml: ' + initialHtmlLiteral + ',',\n    '    initialText: ' + initialTextLiteral + ',',\n    '    currentUrl: ' + selectedHrefLiteral + ',',\n    '  };',\n    '  const normalizeRichHtml = (value) => String(value || \"\")',\n    '    .replace(/<!doctype[^>]*>/ig, \"\")',\n    '    .replace(/<\\\\/?(?:html|body)[^>]*>/ig, \"\")',\n    '    .trim();',\n    '  const syncHtmlFromEditor = () => {',\n    '    const editor = window.tinymce && window.tinymce.get(\"signature-rich-editor\");',\n    '    if (editor && htmlSource) htmlSource.value = editor.getContent({ format: \"html\" });',\n    '  };',\n    '  const syncEditorFromHtml = () => {',\n    '    const editor = window.tinymce && window.tinymce.get(\"signature-rich-editor\");',\n    '    if (!editor || !htmlSource) return;',\n    '    const nextValue = normalizeRichHtml(htmlSource.value || \"\");',\n    '    if (editor.getContent({ format: \"html\" }) !== nextValue) editor.setContent(nextValue);',\n    '  };',\n    '  const setMode = (mode) => {',\n    '    if (!panels[mode]) return;',\n    '    if (state.currentMode === \"rich\" && mode !== \"rich\") syncHtmlFromEditor();',\n    '    if (mode === \"rich\") syncEditorFromHtml();',\n    '    state.currentMode = mode;',\n    '    if (toolbarContainer) toolbarContainer.classList.toggle(\"hidden\", mode !== \"rich\");',\n    '    Object.entries(panels).forEach(([key, panel]) => {',\n    '      if (!panel) return;',\n    '      panel.classList.toggle(\"hidden\", key !== mode);',\n    '    });',\n    '    modeButtons.forEach((button) => {',\n    '      const active = button.dataset.editorMode === mode;',\n    '      button.classList.toggle(\"btn-primary\", active);',\n    '      button.classList.toggle(\"btn-outline\", !active);',\n    '    });',\n    '  };',\n    '  modeButtons.forEach((button) => {',\n    '    button.addEventListener(\"click\", () => setMode(button.dataset.editorMode));',\n    '  });',\n    '  form.addEventListener(\"submit\", () => { syncHtmlFromEditor(); });',\n    '  if (reloadButton) {',\n    '    reloadButton.addEventListener(\"click\", () => {',\n    '      if (templateNameInput) templateNameInput.value = state.initialName;',\n    '      if (htmlSource) htmlSource.value = state.initialHtml;',\n    '      if (textSource) textSource.value = state.initialText;',\n    '      syncEditorFromHtml();',\n    '      setMode(\"rich\");',\n    '    });',\n    '  }',\n    '  const initTinyMce = () => {',\n    '    if (!window.tinymce) {',\n    '      setMode(\"html\");',\n    '      return;',\n    '    }',\n    '    if (window.tinymce.get(\"signature-rich-editor\")) return;',\n    '    window.tinymce.init({',\n    '      selector: \"#signature-rich-editor\",',\n    '      inline: true,',\n    '      toolbar_persist: true,',\n    '      fixed_toolbar_container: \"#signature-rich-toolbar\",',\n    '      menubar: false,',\n    '      promotion: false,',\n    '      branding: false,',\n    '      plugins: \"autolink code link lists table\",',\n    '      toolbar: \"undo redo | blocks | bold italic underline strikethrough | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link table | removeformat code\",',\n    '      content_style: \"body { font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.5; padding: 1rem; }\",',\n    '      setup: (editor) => {',\n    '        editor.on(\"init\", () => editor.setContent(normalizeRichHtml(state.initialHtml || \"\")));',\n    '        editor.on(\"change input undo redo\", () => syncHtmlFromEditor());',\n    '      },',\n    '    });',\n    '  };',\n    '  setMode(\"rich\");',\n    '  initTinyMce();',\n    '})();',\n    '</script>',\n  ].join('');\n} else {\n  title = 'Settings';\n  intro = 'Manage the existing email defaults already used by the other automation workflows.';\n  const signatureChoices = signatureOptions.map((item) => '<option value=\"' + escapeHtml(item.template_key) + '\"' + (clean(settingsMap.email_signature_template_key) === clean(item.template_key) ? ' selected' : '') + '>' + escapeHtml(item.template_name) + '</option>').join('');\n  bodyHtml = [\n    '<section class=\"card bg-base-100 shadow-sm border border-base-300\">',\n    '  <div class=\"card-body\">',\n    '    <h2 class=\"card-title\">Email defaults</h2>',\n    '    <form class=\"grid gap-4 md:grid-cols-2\" method=\"POST\" action=\"' + actionsUrl + '\">',\n    '      <input type=\"hidden\" name=\"action\" value=\"save_settings\">',\n    '      <input type=\"hidden\" name=\"return_url\" value=\"' + escapeHtml(appUrl + '?view=settings') + '\">',\n    '      <label class=\"form-control\"><span class=\"label-text\">Delivery mode</span><select class=\"select select-bordered\" name=\"email_delivery_mode\"><option value=\"test\"' + (clean(settingsMap.email_delivery_mode) === 'test' ? ' selected' : '') + '>test</option><option value=\"production\"' + (clean(settingsMap.email_delivery_mode) === 'production' ? ' selected' : '') + '>production</option></select></label>',\n    '      <label class=\"form-control\"><span class=\"label-text\">Test recipient</span><input class=\"input input-bordered\" type=\"email\" name=\"email_test_recipient\" value=\"' + escapeHtml(settingsMap.email_test_recipient) + '\"></label>',\n    '      <label class=\"form-control\"><span class=\"label-text\">Sender name</span><input class=\"input input-bordered\" type=\"text\" name=\"email_sender_name\" value=\"' + escapeHtml(settingsMap.email_sender_name) + '\"></label>',\n    '      <label class=\"form-control\"><span class=\"label-text\">Reply-to</span><input class=\"input input-bordered\" type=\"email\" name=\"email_reply_to\" value=\"' + escapeHtml(settingsMap.email_reply_to) + '\"></label>',\n    '      <label class=\"form-control\"><span class=\"label-text\">Signature template</span><select class=\"select select-bordered\" name=\"email_signature_template_key\">' + signatureChoices + '</select></label>',\n    '      <label class=\"form-control\"><span class=\"label-text\">n8n base URL</span><input class=\"input input-bordered\" type=\"text\" name=\"n8n_base_url\" value=\"' + escapeHtml(settingsMap.n8n_base_url) + '\"></label>',\n    '      <div class=\"md:col-span-2\"><button class=\"btn btn-primary\" type=\"submit\">Save settings</button></div>',\n    '    </form>',\n    '  </div>',\n    '</section>',\n  ].join('');\n}\n\nreturn [{ json: { html: renderShell(title, intro, bodyHtml) } }];\n"
      },
      "id": "cta000000-0000-0000-0000-000000000007",
      "name": "Build Page HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store, no-cache, must-revalidate, max-age=0"
              },
              {
                "name": "Pragma",
                "value": "no-cache"
              },
              {
                "name": "Expires",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "cta000000-0000-0000-0000-000000000008",
      "name": "Respond App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1880,
        220
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load App Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Case Tracking App Webhook": {
      "main": [
        [
          {
            "node": "Load App Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load App Settings": {
      "main": [
        [
          {
            "node": "Resolve App Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve App Request": {
      "main": [
        [
          {
            "node": "Build Page SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Page SQL": {
      "main": [
        [
          {
            "node": "Load Page Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Page Data": {
      "main": [
        [
          {
            "node": "Build Page HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Page HTML": {
      "main": [
        [
          {
            "node": "Respond App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-16T12:08:00.695+00:00",
  "updatedAt": "2026-04-17T10:07:26.391+00:00",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "e5429fd3-0fb3-421c-9d41-e00937b1fb15",
  "triggerCount": 1,
  "id": "URTRDf2aT2eSmGqC",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 33,
  "description": "",
  "activeVersionId": "e5429fd3-0fb3-421c-9d41-e00937b1fb15"
}
