backups/20260326-170211-post-soak-local-state/workflows/JETtfbr4EGBAcCAA.json
{"updatedAt":"2026-03-22T17:19:56.168Z","createdAt":"2026-03-20T15:32:20.657Z","id":"JETtfbr4EGBAcCAA","name":"ClubSpark Auth Session","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"c5c10001-1111-4111-8111-000000000001","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"inputSource":"passthrough"},"id":"c5c10001-1111-4111-8111-000000000002","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[200,460]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  MAX(CASE WHEN key = 'clubspark_exporter_base_url' THEN value END) AS clubspark_exporter_base_url\nFROM public.global_settings\nWHERE key = 'clubspark_exporter_base_url';"},"id":"c5c10001-1111-4111-8111-000000000005","name":"Load Global Settings","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[480,380],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('Load Global Settings').first().json.clubspark_exporter_base_url + '/clubspark-auth-session' }}"},"id":"c5c10001-1111-4111-8111-000000000003","name":"Request Auth Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300]},{"parameters":{"jsCode":"const payload = $input.first().json ?? {};\nif (!payload.cookieHeader) {\n  throw new Error('ClubSpark auth session did not return a reusable cookie header.');\n}\nif (payload.authenticated !== true) {\n  throw new Error('ClubSpark auth session did not report authenticated=true.');\n}\nreturn [{\n  json: {\n    authenticated: payload.authenticated,\n    targetUrl: payload.targetUrl,\n    authenticatedUrl: payload.authenticatedUrl,\n    pageTitle: payload.pageTitle,\n    userAgent: payload.userAgent,\n    cookieHeader: payload.cookieHeader,\n    cookieCount: payload.cookieCount,\n    probe: payload.probe ?? null,\n  },\n}];"},"id":"c5c10001-1111-4111-8111-000000000004","name":"Keep Reusable Session","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,300]}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Load Global Settings","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Load Global Settings","type":"main","index":0}]]},"Load Global Settings":{"main":[[{"node":"Request Auth Session","type":"main","index":0}]]},"Request Auth Session":{"main":[[{"node":"Keep Reusable Session","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"b172e3d2-5f58-4006-a1be-54072a5298a9","activeVersionId":"b172e3d2-5f58-4006-a1be-54072a5298a9","versionCounter":14,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T15:32:20.657Z","createdAt":"2026-03-20T15:32:20.657Z","role":"workflow:owner","workflowId":"JETtfbr4EGBAcCAA","projectId":"AtpW2flNrTDUqcis","project":{"updatedAt":"2026-03-07T15:05:21.831Z","createdAt":"2025-04-29T13:45:55.157Z","id":"AtpW2flNrTDUqcis","name":"Steve Short <steve@shortcentral.com>","type":"personal","icon":null,"description":null,"creatorId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectRelations":[{"updatedAt":"2025-04-29T13:45:55.157Z","createdAt":"2025-04-29T13:45:55.157Z","userId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectId":"AtpW2flNrTDUqcis","user":{"updatedAt":"2026-03-26T04:00:34.778Z","createdAt":"2025-04-29T13:45:54.337Z","id":"1aa25644-d384-4810-beaa-f58314d3e70c","email":"steve@shortcentral.com","firstName":"Steve","lastName":"Short","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-29T13:48:39.758Z","personalization_survey_n8n_version":"1.89.2","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6XC5aXJ8uS5DS553","userActivatedAt":1773664748790,"npsSurvey":{"responded":true,"lastShownAt":1774020442311}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-22T17:19:14.006Z","createdAt":"2026-03-22T17:19:14.006Z","versionId":"b172e3d2-5f58-4006-a1be-54072a5298a9","workflowId":"JETtfbr4EGBAcCAA","nodes":[{"parameters":{},"id":"c5c10001-1111-4111-8111-000000000001","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"inputSource":"passthrough"},"id":"c5c10001-1111-4111-8111-000000000002","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[200,460]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  MAX(CASE WHEN key = 'clubspark_exporter_base_url' THEN value END) AS clubspark_exporter_base_url\nFROM public.global_settings\nWHERE key = 'clubspark_exporter_base_url';"},"id":"c5c10001-1111-4111-8111-000000000005","name":"Load Global Settings","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[480,380],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"={{ $('Load Global Settings').first().json.clubspark_exporter_base_url + '/clubspark-auth-session' }}"},"id":"c5c10001-1111-4111-8111-000000000003","name":"Request Auth Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300]},{"parameters":{"jsCode":"const payload = $input.first().json ?? {};\nif (!payload.cookieHeader) {\n  throw new Error('ClubSpark auth session did not return a reusable cookie header.');\n}\nif (payload.authenticated !== true) {\n  throw new Error('ClubSpark auth session did not report authenticated=true.');\n}\nreturn [{\n  json: {\n    authenticated: payload.authenticated,\n    targetUrl: payload.targetUrl,\n    authenticatedUrl: payload.authenticatedUrl,\n    pageTitle: payload.pageTitle,\n    userAgent: payload.userAgent,\n    cookieHeader: payload.cookieHeader,\n    cookieCount: payload.cookieCount,\n    probe: payload.probe ?? null,\n  },\n}];"},"id":"c5c10001-1111-4111-8111-000000000004","name":"Keep Reusable Session","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,300]}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Load Global Settings","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Load Global Settings","type":"main","index":0}]]},"Load Global Settings":{"main":[[{"node":"Request Auth Session","type":"main","index":0}]]},"Request Auth Session":{"main":[[{"node":"Keep Reusable Session","type":"main","index":0}]]}},"authors":"Steve Short","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-22T17:19:14.069Z","id":85,"workflowId":"JETtfbr4EGBAcCAA","versionId":"b172e3d2-5f58-4006-a1be-54072a5298a9","event":"activated","userId":"1aa25644-d384-4810-beaa-f58314d3e70c"},{"createdAt":"2026-03-22T17:19:56.220Z","id":86,"workflowId":"JETtfbr4EGBAcCAA","versionId":"b172e3d2-5f58-4006-a1be-54072a5298a9","event":"activated","userId":"1aa25644-d384-4810-beaa-f58314d3e70c"}]}}