backups/20260326-170211-post-soak-local-state/workflows/SyT9FvdjQuJOcRGM.json
{"updatedAt":"2026-03-24T13:46:51.620Z","createdAt":"2026-03-13T13:55:08.885Z","id":"SyT9FvdjQuJOcRGM","name":"Archive raw_members by membership season","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"f7e7f6c5-1111-4444-8888-000000000001","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[260,300]},{"parameters":{"operation":"executeQuery","query":"WITH current_season AS (\n    SELECT max(season::int) AS season\n    FROM public.membership_packages\n    WHERE season ~ '^[0-9]{4}$'\n),\ndeleted_rows AS (\n    DELETE FROM public.raw_members rm\n    USING public.membership_packages mp, current_season cs\n    WHERE mp.name = rm.\"Membership\"\n      AND mp.season ~ '^[0-9]{4}$'\n      AND mp.season::int < cs.season\n    RETURNING\n      rm.\"Venue ID\",\n      rm.\"First name\",\n      rm.\"Last name\",\n      rm.\"Gender\",\n      rm.\"Age\",\n      rm.\"Junior\",\n      rm.\"Date of birth\",\n      rm.\"Membership\",\n      rm.\"Payment\",\n      rm.\"Cost\",\n      rm.\"Paid\",\n      rm.\"Paid Credit Card\",\n      rm.\"Paid Direct Debit\",\n      rm.\"Paid Cash\",\n      rm.\"Paid Cheque\",\n      rm.\"Paid Other\",\n      rm.\"Gift aid\",\n      rm.\"Status\",\n      rm.\"Start Date\",\n      rm.\"Expiry Date\",\n      rm.\"Email address\",\n      rm.\"Phone number\",\n      rm.\"Work number\",\n      rm.\"Mobile number\",\n      rm.\"Emergency contact name\",\n      rm.\"Emergency phone number\",\n      rm.\"Address 1\",\n      rm.\"Address 2\",\n      rm.\"Address 3\",\n      rm.\"Town\",\n      rm.\"County\",\n      rm.\"Country\",\n      rm.\"Postcode\",\n      rm.\"British Tennis Number\",\n      rm.\"Date joined venue\",\n      rm.\"Medical history\",\n      rm.\"Venue source\",\n      rm.\"Contact source\",\n      rm.\"Occupation\",\n      rm.\"Tags provided\",\n      rm.\"Key pin number\",\n      rm.\"Registered\",\n      rm.\"Member status\",\n      rm.\"Receipt of Emails\",\n      rm.\"Share Contact Detail\",\n      rm.\"Member's Directory\",\n      rm.\"Photography\",\n      rm.\" Venue source\",\n      mp.season::int AS snapshot_year\n),\ninserted_rows AS (\n    INSERT INTO public.raw_members_historical (\n      \"Venue ID\",\n      \"First name\",\n      \"Last name\",\n      \"Gender\",\n      \"Age\",\n      \"Junior\",\n      \"Date of birth\",\n      \"Membership\",\n      \"Payment\",\n      \"Cost\",\n      \"Paid\",\n      \"Paid Credit Card\",\n      \"Paid Direct Debit\",\n      \"Paid Cash\",\n      \"Paid Cheque\",\n      \"Paid Other\",\n      \"Gift aid\",\n      \"Status\",\n      \"Start Date\",\n      \"Expiry Date\",\n      \"Email address\",\n      \"Phone number\",\n      \"Work number\",\n      \"Mobile number\",\n      \"Emergency contact name\",\n      \"Emergency phone number\",\n      \"Address 1\",\n      \"Address 2\",\n      \"Address 3\",\n      \"Town\",\n      \"County\",\n      \"Country\",\n      \"Postcode\",\n      \"British Tennis Number\",\n      \"Date joined venue\",\n      \"Medical history\",\n      \"Venue source\",\n      \"Contact source\",\n      \"Occupation\",\n      \"Tags provided\",\n      \"Key pin number\",\n      \"Registered\",\n      \"Member status\",\n      \"Receipt of Emails\",\n      \"Share Contact Detail\",\n      \"Member's Directory\",\n      \"Photography\",\n      \" Venue source\",\n      snapshot_year,\n      archived_at,\n      snapshot_source\n    )\n    SELECT\n      dr.\"Venue ID\",\n      dr.\"First name\",\n      dr.\"Last name\",\n      dr.\"Gender\",\n      dr.\"Age\",\n      dr.\"Junior\",\n      dr.\"Date of birth\",\n      dr.\"Membership\",\n      dr.\"Payment\",\n      dr.\"Cost\",\n      dr.\"Paid\",\n      dr.\"Paid Credit Card\",\n      dr.\"Paid Direct Debit\",\n      dr.\"Paid Cash\",\n      dr.\"Paid Cheque\",\n      dr.\"Paid Other\",\n      dr.\"Gift aid\",\n      dr.\"Status\",\n      dr.\"Start Date\",\n      dr.\"Expiry Date\",\n      dr.\"Email address\",\n      dr.\"Phone number\",\n      dr.\"Work number\",\n      dr.\"Mobile number\",\n      dr.\"Emergency contact name\",\n      dr.\"Emergency phone number\",\n      dr.\"Address 1\",\n      dr.\"Address 2\",\n      dr.\"Address 3\",\n      dr.\"Town\",\n      dr.\"County\",\n      dr.\"Country\",\n      dr.\"Postcode\",\n      dr.\"British Tennis Number\",\n      dr.\"Date joined venue\",\n      dr.\"Medical history\",\n      dr.\"Venue source\",\n      dr.\"Contact source\",\n      dr.\"Occupation\",\n      dr.\"Tags provided\",\n      dr.\"Key pin number\",\n      dr.\"Registered\",\n      dr.\"Member status\",\n      dr.\"Receipt of Emails\",\n      dr.\"Share Contact Detail\",\n      dr.\"Member's Directory\",\n      dr.\"Photography\",\n      dr.\" Venue source\",\n      dr.snapshot_year,\n      now(),\n      'membership_packages_season'\n    FROM deleted_rows dr\n    RETURNING snapshot_year\n)\nSELECT\n    (SELECT season FROM current_season) AS current_season,\n    COALESCE((SELECT count(*) FROM inserted_rows), 0) AS moved_row_count,\n    (SELECT min(snapshot_year) FROM inserted_rows) AS oldest_moved_season,\n    (SELECT max(snapshot_year) FROM inserted_rows) AS newest_moved_season;"},"id":"f7e7f6c5-1111-4444-8888-000000000002","name":"Move historical raw_members","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[560,300],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"jsCode":"const row = $input.first()?.json ?? {};\nconst moved = Number(row.moved_row_count ?? 0);\nconst currentSeason = row.current_season ?? null;\nconst oldest = row.oldest_moved_season ?? null;\nconst newest = row.newest_moved_season ?? null;\n\nreturn [{\n  json: {\n    current_season: currentSeason,\n    moved_row_count: moved,\n    message: moved\n      ? `Moved ${moved} raw_members rows for seasons ${oldest} to ${newest} into raw_members_historical.`\n      : `No raw_members rows matched seasons earlier than ${currentSeason}.`,\n    oldest_moved_season: oldest,\n    newest_moved_season: newest,\n  },\n}];"},"id":"f7e7f6c5-1111-4444-8888-000000000003","name":"Summarize move","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Move historical raw_members","type":"main","index":0}]]},"Move historical raw_members":{"main":[[{"node":"Summarize move","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"218bcfff-3447-4be8-8e43-d38577a95a8f","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-13T13:55:08.885Z","createdAt":"2026-03-13T13:55:08.885Z","role":"workflow:owner","workflowId":"SyT9FvdjQuJOcRGM","projectId":"AtpW2flNrTDUqcis","project":{"updatedAt":"2026-03-07T15:05:21.831Z","createdAt":"2025-04-29T13:45:55.157Z","id":"AtpW2flNrTDUqcis","name":"Steve Short <steve@shortcentral.com>","type":"personal","icon":null,"description":null,"creatorId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectRelations":[{"updatedAt":"2025-04-29T13:45:55.157Z","createdAt":"2025-04-29T13:45:55.157Z","userId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectId":"AtpW2flNrTDUqcis","user":{"updatedAt":"2026-03-26T04:00:34.778Z","createdAt":"2025-04-29T13:45:54.337Z","id":"1aa25644-d384-4810-beaa-f58314d3e70c","email":"steve@shortcentral.com","firstName":"Steve","lastName":"Short","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-29T13:48:39.758Z","personalization_survey_n8n_version":"1.89.2","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6XC5aXJ8uS5DS553","userActivatedAt":1773664748790,"npsSurvey":{"responded":true,"lastShownAt":1774020442311}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-26","isPending":false}}]}}],"tags":[],"activeVersion":null}