backups/20260326-170211-post-soak-local-state/workflows/Wgq4rJytywxHEZ5n.json
{"updatedAt":"2026-03-22T11:14:51.567Z","createdAt":"2026-03-22T11:14:51.567Z","id":"Wgq4rJytywxHEZ5n","name":"Capture Membership History Season Snapshot","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000001","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,280]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 30 * * * *"}]}},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000002","name":"Half Past Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,460]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const source = $input.first()?.json ?? {};\nconst now = new Date();\nconst yearText = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/London',\n  year: 'numeric',\n}).format(now);\nconst defaultYear = Number.parseInt(yearText, 10);\nconst rawSeason = source.source_season ?? source.snapshot_year ?? source.year ?? defaultYear;\nconst sourceSeason = String(rawSeason).trim();\nif (!/^\\d{4}$/.test(sourceSeason)) {\n  throw new Error('source_season must be a four-digit year');\n}\nconst nextSeason = String(Number.parseInt(sourceSeason, 10) + 1);\nconst snapshotKey = String(source.snapshot_key ?? `${sourceSeason}/${nextSeason}`).trim();\nreturn [{\n  json: {\n    snapshot_key: snapshotKey,\n    source_season: sourceSeason,\n  }\n}];"},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000003","name":"Build Snapshot Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,360]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\nconst config = $input.first()?.json ?? {};\nconst sql = `SELECT * FROM public.capture_membership_history_snapshot(${sqlLiteral(config.snapshot_key)}, ${sqlLiteral(config.source_season)});`;\nreturn [{ json: { ...config, sql } }];"},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000004","name":"Build Capture SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,360]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}"},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000005","name":"Capture Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1060,360],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const row = $input.first()?.json ?? {};\nreturn [{\n  json: {\n    snapshot_key: row.snapshot_key,\n    source_season: row.source_season,\n    rows_written: Number(row.rows_written ?? 0),\n    updated_membership_history: Boolean(row.updated_membership_history),\n    captured_at: new Date().toISOString(),\n  }\n}];"},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000006","name":"Summarize Capture","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,360]}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Build Snapshot Config","type":"main","index":0}]]},"Half Past Every Hour":{"main":[[{"node":"Build Snapshot Config","type":"main","index":0}]]},"Build Snapshot Config":{"main":[[{"node":"Build Capture SQL","type":"main","index":0}]]},"Build Capture SQL":{"main":[[{"node":"Capture Snapshot","type":"main","index":0}]]},"Capture Snapshot":{"main":[[{"node":"Summarize Capture","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Half Past Every Hour":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"12012d31-a50d-46cc-bdac-742988a498cc","activeVersionId":"12012d31-a50d-46cc-bdac-742988a498cc","versionCounter":5,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T11:14:51.567Z","createdAt":"2026-03-22T11:14:51.567Z","role":"workflow:owner","workflowId":"Wgq4rJytywxHEZ5n","projectId":"AtpW2flNrTDUqcis","project":{"updatedAt":"2026-03-07T15:05:21.831Z","createdAt":"2025-04-29T13:45:55.157Z","id":"AtpW2flNrTDUqcis","name":"Steve Short <steve@shortcentral.com>","type":"personal","icon":null,"description":null,"creatorId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectRelations":[{"updatedAt":"2025-04-29T13:45:55.157Z","createdAt":"2025-04-29T13:45:55.157Z","userId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectId":"AtpW2flNrTDUqcis","user":{"updatedAt":"2026-03-26T04:00:34.778Z","createdAt":"2025-04-29T13:45:54.337Z","id":"1aa25644-d384-4810-beaa-f58314d3e70c","email":"steve@shortcentral.com","firstName":"Steve","lastName":"Short","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-29T13:48:39.758Z","personalization_survey_n8n_version":"1.89.2","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6XC5aXJ8uS5DS553","userActivatedAt":1773664748790,"npsSurvey":{"responded":true,"lastShownAt":1774020442311}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-22T11:14:51.579Z","createdAt":"2026-03-22T11:14:51.579Z","versionId":"12012d31-a50d-46cc-bdac-742988a498cc","workflowId":"Wgq4rJytywxHEZ5n","nodes":[{"parameters":{},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000001","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,280]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 30 * * * *"}]}},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000002","name":"Half Past Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,460]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const source = $input.first()?.json ?? {};\nconst now = new Date();\nconst yearText = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/London',\n  year: 'numeric',\n}).format(now);\nconst defaultYear = Number.parseInt(yearText, 10);\nconst rawSeason = source.source_season ?? source.snapshot_year ?? source.year ?? defaultYear;\nconst sourceSeason = String(rawSeason).trim();\nif (!/^\\d{4}$/.test(sourceSeason)) {\n  throw new Error('source_season must be a four-digit year');\n}\nconst nextSeason = String(Number.parseInt(sourceSeason, 10) + 1);\nconst snapshotKey = String(source.snapshot_key ?? `${sourceSeason}/${nextSeason}`).trim();\nreturn [{\n  json: {\n    snapshot_key: snapshotKey,\n    source_season: sourceSeason,\n  }\n}];"},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000003","name":"Build Snapshot Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[520,360]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\nconst config = $input.first()?.json ?? {};\nconst sql = `SELECT * FROM public.capture_membership_history_snapshot(${sqlLiteral(config.snapshot_key)}, ${sqlLiteral(config.source_season)});`;\nreturn [{ json: { ...config, sql } }];"},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000004","name":"Build Capture SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,360]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}"},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000005","name":"Capture Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1060,360],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const row = $input.first()?.json ?? {};\nreturn [{\n  json: {\n    snapshot_key: row.snapshot_key,\n    source_season: row.source_season,\n    rows_written: Number(row.rows_written ?? 0),\n    updated_membership_history: Boolean(row.updated_membership_history),\n    captured_at: new Date().toISOString(),\n  }\n}];"},"id":"aa2fd804-c1fb-4efa-84e0-0f0000000006","name":"Summarize Capture","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,360]}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Build Snapshot Config","type":"main","index":0}]]},"Half Past Every Hour":{"main":[[{"node":"Build Snapshot Config","type":"main","index":0}]]},"Build Snapshot Config":{"main":[[{"node":"Build Capture SQL","type":"main","index":0}]]},"Build Capture SQL":{"main":[[{"node":"Capture Snapshot","type":"main","index":0}]]},"Capture Snapshot":{"main":[[{"node":"Summarize Capture","type":"main","index":0}]]}},"authors":"Steve Short","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-22T11:15:02.686Z","id":78,"workflowId":"Wgq4rJytywxHEZ5n","versionId":"12012d31-a50d-46cc-bdac-742988a498cc","event":"activated","userId":"1aa25644-d384-4810-beaa-f58314d3e70c"}]}}