backups/20260409-095128-full-backup/workflows/JETtfbr4EGBAcCAA-ClubSpark_Auth_Session.json
{
  "name": "ClubSpark Auth Session",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "c5c10001-1111-4111-8111-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c5c10001-1111-4111-8111-000000000002",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'clubspark_exporter_base_url' THEN value END) AS clubspark_exporter_base_url\nFROM public.global_settings\nWHERE key = 'clubspark_exporter_base_url';"
      },
      "id": "c5c10001-1111-4111-8111-000000000005",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getOrigin = (value) => {\n  const text = String(value ?? '').trim();\n  const match = text.match(/^https?:\\/\\/[^/]+/i);\n  return match ? match[0] : null;\n};\nconst settings = $input.first().json ?? {};\nconst incoming = $('When Executed by Another Workflow').first()?.json ?? $('When clicking \\'Execute workflow\\'').first()?.json ?? {};\nconst defaultTargetUrl = 'https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts';\nconst targetUrl = String(incoming.targetUrl ?? defaultTargetUrl).trim() || defaultTargetUrl;\nconst targetOrigin = getOrigin(targetUrl);\nconst forceRefresh = [true, 'true', '1', 1, 'yes'].includes(incoming.forceRefresh);\nconst requestedMaxAge = Number.parseFloat(String(incoming.maxAgeMinutes ?? incoming.cacheMaxAgeMinutes ?? '20'));\nconst maxAgeMinutes = Number.isFinite(requestedMaxAge) && requestedMaxAge > 0 ? requestedMaxAge : 20;\nconst providedCookieHeader = typeof incoming.cookieHeader === 'string' ? incoming.cookieHeader.trim() : '';\nconst providedUserAgent = typeof incoming.userAgent === 'string' ? incoming.userAgent.trim() : '';\nconst hasProvidedSession = Boolean(!forceRefresh && providedCookieHeader && providedUserAgent);\nconst staticData = $getWorkflowStaticData('global');\nconst fetchedAtMs = staticData.fetchedAt ? Date.parse(staticData.fetchedAt) : NaN;\nlet sameOrigin = true;\ntry {\n  const cachedOrigin = staticData.sessionOrigin ?? (staticData.targetUrl ? getOrigin(staticData.targetUrl) : null);\n  sameOrigin = cachedOrigin && targetOrigin ? cachedOrigin === targetOrigin : true;\n} catch {\n  sameOrigin = false;\n}\nconst hasCachedSession = Boolean(\n  !hasProvidedSession\n  && !forceRefresh\n  && staticData.cookieHeader\n  && staticData.userAgent\n  && Number.isFinite(fetchedAtMs)\n  && (Date.now() - fetchedAtMs) <= (maxAgeMinutes * 60 * 1000)\n  && sameOrigin\n);\nreturn [{\n  json: {\n    clubspark_exporter_base_url: settings.clubspark_exporter_base_url,\n    targetUrl,\n    maxAgeMinutes,\n    forceRefresh,\n    useCachedSession: hasProvidedSession || hasCachedSession,\n    authenticated: (hasProvidedSession || hasCachedSession) ? true : undefined,\n    authenticatedUrl: hasProvidedSession\n      ? (incoming.authenticatedUrl ?? targetUrl)\n      : hasCachedSession\n        ? (staticData.authenticatedUrl ?? targetUrl)\n        : undefined,\n    pageTitle: hasProvidedSession\n      ? (incoming.pageTitle ?? null)\n      : hasCachedSession\n        ? (staticData.pageTitle ?? null)\n        : undefined,\n    userAgent: hasProvidedSession ? providedUserAgent : hasCachedSession ? staticData.userAgent : undefined,\n    cookieHeader: hasProvidedSession ? providedCookieHeader : hasCachedSession ? staticData.cookieHeader : undefined,\n    cookieCount: hasProvidedSession\n      ? Number(incoming.cookieCount ?? 0)\n      : hasCachedSession\n        ? Number(staticData.cookieCount ?? 0)\n        : undefined,\n    probe: hasProvidedSession\n      ? {\n          source: 'input_session',\n          targetOrigin,\n        }\n      : hasCachedSession\n        ? {\n            source: 'workflow_static_data',\n            fetchedAt: staticData.fetchedAt ?? null,\n            maxAgeMinutes,\n            targetOrigin,\n          }\n        : null,\n  },\n}];"
      },
      "id": "c5c10001-1111-4111-8111-000000000006",
      "name": "Resolve Auth Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5c10001-1111-4111-8111-000000000007-condition",
              "leftValue": "={{ $json.useCachedSession === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5c10001-1111-4111-8111-000000000007",
      "name": "Reuse Cached Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Resolve Auth Request').first().json.clubspark_exporter_base_url + '/clubspark-auth-session' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ClubSpark-Target-Url",
              "value": "={{ $json.targetUrl }}"
            }
          ]
        }
      },
      "id": "c5c10001-1111-4111-8111-000000000003",
      "name": "Request Auth Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const getOrigin = (value) => {\n  const text = String(value ?? '').trim();\n  const match = text.match(/^https?:\\/\\/[^/]+/i);\n  return match ? match[0] : null;\n};\nconst payload = $input.first().json ?? {};\nif (payload.authenticated !== true || !payload.cookieHeader || !payload.userAgent) {\n  throw new Error('ClubSpark auth session did not return a reusable authenticated session.');\n}\nconst staticData = $getWorkflowStaticData('global');\nstaticData.fetchedAt = new Date().toISOString();\nstaticData.targetUrl = payload.targetUrl ?? null;\nstaticData.sessionOrigin = payload.targetUrl ? getOrigin(payload.targetUrl) : null;\nstaticData.authenticatedUrl = payload.authenticatedUrl ?? payload.targetUrl ?? null;\nstaticData.pageTitle = payload.pageTitle ?? null;\nstaticData.userAgent = payload.userAgent;\nstaticData.cookieHeader = payload.cookieHeader;\nstaticData.cookieCount = Number(payload.cookieCount ?? 0);\nreturn [{ json: payload }];"
      },
      "id": "c5c10001-1111-4111-8111-000000000008",
      "name": "Cache Auth Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json ?? {};\nif (!payload.cookieHeader) {\n  throw new Error('ClubSpark auth session did not return a reusable cookie header.');\n}\nif (payload.authenticated !== true) {\n  throw new Error('ClubSpark auth session did not report authenticated=true.');\n}\nreturn [{\n  json: {\n    authenticated: payload.authenticated,\n    targetUrl: payload.targetUrl,\n    authenticatedUrl: payload.authenticatedUrl,\n    pageTitle: payload.pageTitle,\n    userAgent: payload.userAgent,\n    cookieHeader: payload.cookieHeader,\n    cookieCount: payload.cookieCount,\n    probe: payload.probe ?? null,\n  },\n}];"
      },
      "id": "c5c10001-1111-4111-8111-000000000004",
      "name": "Keep Reusable Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        380
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Resolve Auth Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Auth Request": {
      "main": [
        [
          {
            "node": "Reuse Cached Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reuse Cached Session?": {
      "main": [
        [
          {
            "node": "Keep Reusable Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Auth Session": {
      "main": [
        [
          {
            "node": "Cache Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Auth Session": {
      "main": [
        [
          {
            "node": "Keep Reusable Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-20T15:32:20.657+00:00",
  "updatedAt": "2026-03-27T11:00:03.971+00:00",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "global": {
      "fetchedAt": "2026-04-09T06:00:13.095Z",
      "targetUrl": "https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts",
      "authenticatedUrl": "https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts",
      "pageTitle": "Clubspark / Admin / Contacts",
      "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/136.0.7103.25 Safari/537.36",
      "cookieHeader": "lastVenue=AvondaleTennisClub; __cf_bm=RBneRvbhsrym9SetkuGcU0Q0qttuCajXrCA9QjspBGI-1775714400.6253076-1.0.1.1-uYAlonvXQ.shnw3qj3kgPRpGwO3CmC_mvJwkY6fSrSMQGnLazqnviPu5vbDT_8IH_G9zg9Xc0CwIx8u6XKpq61XU2x8dVc78FYyDFu_WKRfLhRnPYc0H3kKDrbv0SEzv; CsAuth=77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48U2VjdXJpdHlDb250ZXh0VG9rZW4gcDE6SWQ9Il85Njk2YmZjOS1kMWZhLTRhZTQtODkwMy03ODY5NGVjZTcyYzYtQjVEMTU3QkY2MUY4Qzg2REJBNEMwNjY3NDIyMTVEMEMiIHhtbG5zOnAxPSJodHRwOi8vZG9jcy5vYXNpcy1vcGVuLm9yZy93c3MvMjAwNC8wMS9vYXNpcy0yMDA0MDEtd3NzLXdzc2VjdXJpdHktdXRpbGl0eS0xLjAueHNkIiB4bWxucz0iaHR0cDovL2RvY3Mub2FzaXMtb3Blbi5vcmcvd3Mtc3gvd3Mtc2VjdXJlY29udmVyc2F0aW9uLzIwMDUxMiI+PElkZW50aWZpZXI+dXJuOnV1aWQ6YTA4YmUxOWEtNGQwZi00ZDBmLTlhNmMtODUyMWU5MzQxZWViPC9JZGVudGlmaWVyPjxDb29raWUgeG1sbnM9Imh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwNi8wNS9zZWN1cml0eSI+NWVkV25mTVdJL1I0SUhKRmJsMUxLanJGN3pRU2xoYklkOHArUGJVaCtkY2Ywb0ExREI2NWhBRHF3UElzYlJEaGw5L3M4TlRKS0RQNXkwajRzdzhjamRRMExNUXFWaUwyNVpFdXlvdEdudlZRbHV5RE9MeERKUU9NQWRwSVpOWi94RGVaRnFTbUwwV3hiNHBjUzc5TndpNXZ2TUl5eVJYSGRNRzZnQ0Z3V2ljdXNxZlJjVUVTdUdoazJhcll1bFFQbkxaNmlWM2VMMDlmaWM4cE1yTnRnWW05bmM1blRFMW13dlJhQ2pzSWhwdW50YndaOTJ3UTdubTNHU0lpR2J5TFRIem5uNnE5UFJsNlZSSGgydGFJdTBOVGRTVFMybzhqVU9CWGFLVlNKN1UrVUtpQUZlZUQ2K0xRR3YxSDVhZTJsVVdSakFuT2tIN2JaY0NjdHZBYU5YMWg2ZkZIMUc3T1NYN3dKSUwxQXhFcDRPd1N3dUc0VURFaXlVTWdMNDJEYlVnbmxCTXJvYnF6WlFKRmIzenhTVWJETWZVbG9YZnVqS3BTQzRKVS91R1U1elA1SmJ2OWhzdE9VaTJmMUd3Umdvc204QmIzSFgvN3ljcnMrWkJBM2Z6RTBESndHdzFGeGRrQW5kQk9NRStuVWZ6VndkczVESmxTQ0NyUyt4STR2TjU1MEd5ek10Vkk2ekRuTjRXbVkxcjhGZll0RnVhcVJKc2pjVzUvQmpXejNYQ0lWcXZQM1dYSU96bE1XdjdnaDNBRy9USEZLUkY4a3ZIalpJZ2JneUl0TWt2UGUyVUZpZzNBbFBwMFhhWC9SUjR0SVVsMURzc0dUT1pPS0NaeG96TWttR3NPbVlTd1NiSGdaT09KRk00Um1DS3BXTnVSdFB4aDEzd2w4REhqT0Y3SG4xRzNLV2U0WWNLVkhPSlNheGswMm1pT1dBdmpnRDVjeVhGZWlYZ0RYYURpbUxCTWpEN0xWNmlHbVlMQjlwam04dEFJU2NXMEcrMitXUzRUUEtJbjlaUFBXcEI3S01DSzIrcFVxQlRwaWE0S0JsR04rOXIwRWw5SHFxUzM3L3RCZ2VDS0VXQ1gzbWxkNWJsWU8wT3lMR1Q2VTRIZHZMditMRHlRTXBYOEdYaTBEQk43S0V4RHRtai9zMG10cGNBSGViTTdtcWNvY29PbG1DMDBSTk84ekp1OFpuQmtHRGRBbmZpR0huSkpvZ29iN08wMC9vekpTMzhNVUthQWxUbDQyTjcwNW1lOENvalZNUUxSeVcxeXNacHpEVHBXbWcxayttcHgwY3dKRS9wYkpjUUEyS21xeGFiL25xYkd2b2RCOEd1Uys5c1FGTDNaVktYRDhjTzdNU2pwbUpaMEpDc1NHRG91Wm5IeXJMK0tpOFJnNGhj; CsAuth1=Y3kzT0hIT3BXcTdBNHRRc3craGJtVHBiakY3d1lFUzhTdVNTMFh6RXFqeWliQ2JnV1NmTERaN2VuYWYwaHdGdzk2N0NjVnFad1ZlQUhqR3J3VlJjNGNiam5DMGN0OU9IbURjRWluNThDNVRqSVE1ZStqUm02M01oaXhiM05KbklnVmd0SEJEdz08L0Nvb2tpZT48L1NlY3VyaXR5Q29udGV4dFRva2VuPg==; _gcl_au=1.1.1704230777.1775714409; osano_consentmanager_uuid=5ee82785-324d-4104-9fdb-33c93fe0417b; osano_consentmanager=gxqf8omoKh7ZossLWBoyli5-NmlqZk9bpxEdIwOWoX764hRuKKr4IuxA3ctqrq4SA09LjiWisQxhCc2Nt6nrs-gDLFyqChODuoQ2cOaEFzHNO6PK381gwUiqLA1-QEeRFgeX6Q1PM42S5jJxq8vCSiR7kY71p2C6rEWtYQRV4S0DDDkmMCXq0_I8y7qHFC30D5iSEIKnKJNRS44qQCXiqv_B3cpl5quHMEJdliHk2v6ZJ1_spcYtPHYtKpO14uQUDJ6s5SZeF6MRwTSQxn8oUrFGM5qN3B9L8vX47Doo44fUsk8dVjt8U3mdWe5e0wDh",
      "cookieCount": 7,
      "sessionOrigin": "https://clubspark.lta.org.uk"
    }
  },
  "pinData": null,
  "versionId": "2a0ab02e-f3b3-42fb-958c-ef19ccabbb2b",
  "triggerCount": 0,
  "id": "JETtfbr4EGBAcCAA",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 369,
  "description": null,
  "activeVersionId": "2a0ab02e-f3b3-42fb-958c-ef19ccabbb2b"
}
