backups/20260409-095128-full-backup/workflows/Xs8KENEX5n7KKJsD-Refund_Form.json
{
  "name": "Refund Form",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "r1000000-0000-0000-0000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "path": "refund-form",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "r1000000-0000-0000-0000-000000000002",
      "name": "Refund Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "refund-form"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(CASE WHEN key = 'n8n_base_url' THEN value END) AS n8n_base_url FROM public.global_settings WHERE key = 'n8n_base_url';"
      },
      "id": "r1000000-0000-0000-0000-000000000003",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH directory AS (\n  SELECT trim(concat_ws(' ', rm.\"First name\", rm.\"Last name\")) AS name,\n         NULLIF(trim(rm.\"Email address\"), '') AS email\n  FROM public.raw_members rm\n  WHERE COALESCE(rm.is_current, true) = true\n  UNION\n  SELECT trim(concat_ws(' ', rc.\"First name\", rc.\"Last name\")) AS name,\n         NULLIF(trim(rc.\"Email address\"), '') AS email\n  FROM public.raw_contacts rc\n  WHERE COALESCE(rc.is_current, true) = true\n), membership_categories AS (\n  SELECT DISTINCT trim(category) AS membership\n  FROM public.membership_packages\n  WHERE COALESCE(trim(category), '') <> ''\n)\nSELECT 'person' AS row_type, name, email, NULL::text AS membership\nFROM directory\nWHERE COALESCE(name, '') <> ''\nUNION ALL\nSELECT 'membership' AS row_type, NULL::text AS name, NULL::text AS email, membership\nFROM membership_categories\nORDER BY row_type, name NULLS LAST, email NULLS LAST, membership NULLS LAST\nLIMIT 2000;"
      },
      "id": "r1000000-0000-0000-0000-000000000006",
      "name": "Load Directory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $('Refund Form Webhook').first()?.json ?? $('When clicking \\'Execute workflow\\'').first()?.json ?? $input.first()?.json ?? {};\nconst query = source.query ?? source;\nconst settings = $('Load Global Settings').first()?.json ?? {};\nconst headers = source.headers ?? {};\nconst rows = $input.all().map((item) => item.json ?? {});\nconst directory = rows.filter((entry) => entry.row_type === 'person' && String(entry.name ?? '').trim());\nconst membershipCategories = rows.filter((entry) => entry.row_type === 'membership' && String(entry.membership ?? '').trim());\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst escapeHtml = (value) => clean(value)\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\nconst deriveBaseUrl = (headers, fallback) => {\n  const forwardedProto = clean(headers['x-forwarded-proto']);\n  const forwardedHost = clean(headers['x-forwarded-host']);\n  const host = forwardedHost || clean(headers.host);\n  const forwardedPort = clean(headers['x-forwarded-port']);\n  if (!host) return fallback;\n  const proto = forwardedProto || 'http';\n  let authority = host;\n  if (forwardedPort && !authority.includes(':')) {\n    const isDefaultPort = (proto === 'http' && forwardedPort === '80') || (proto === 'https' && forwardedPort === '443');\n    if (!isDefaultPort) authority = `${authority}:${forwardedPort}`;\n  }\n  return `${proto}://${authority}`;\n};\nconst fallbackBaseUrl = clean(settings.n8n_base_url) || 'http://n8n:5678';\nconst n8nBaseUrl = deriveBaseUrl(headers, fallbackBaseUrl);\nconst actionUrl = `${n8nBaseUrl}/webhook/add-refund`;\nconst returnUrl = clean(query.return_url) || `${n8nBaseUrl}/webhook/refunds`;\nconst name = clean(query.name);\nconst refundFor = clean(query.refund_for ?? query.for_name ?? query.for);\nconst reason = clean(query.reason);\nconst membership = clean(query.membership);\nconst amount = clean(query.amount);\nconst fromDate = clean(query.from_date ?? query.fromDate);\nconst toDate = clean(query.to_date ?? query.toDate);\nconst errorMessage = clean(query.error);\nconst directoryOptions = directory.map((entry) => {\n  const label = entry.email ? `${entry.name} <${entry.email}>` : entry.name;\n  return `<option value=\"${escapeHtml(label)}\"></option>`;\n}).join('');\nconst membershipOptions = membershipCategories.map((entry) => `<option value=\"${escapeHtml(entry.membership)}\"></option>`).join('');\nconst directoryJson = JSON.stringify(directory).replace(/</g, '\\\\u003c');\nconst html = `<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Create Refund Request</title>\n  <style>\n    :root { color-scheme: light; --bg: #f7f8fc; --panel: #ffffff; --ink: #243447; --muted: #66788a; --line: #d9e2ec; --accent: #2f80d8; --accent-dark: #2567ad; --danger: #b93a3a; }\n    * { box-sizing: border-box; }\n    body { margin: 0; padding: 24px; min-height: 100vh; font-family: Lato, 'Helvetica Neue', Arial, sans-serif; background: linear-gradient(180deg, #fbfcfe 0%, var(--bg) 100%); color: var(--ink); }\n    .wrap { max-width: 920px; margin: 0 auto; background: var(--panel); border: 1px solid var(--line); border-radius: 18px; padding: 28px; box-shadow: 0 18px 40px rgba(36, 52, 71, 0.08); }\n    h1 { margin: 0 0 10px; font-size: 32px; line-height: 1.1; }\n    p { margin: 0 0 20px; color: var(--muted); }\n    form { display: grid; gap: 18px; }\n    .grid { display: grid; gap: 16px; grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); }\n    .search-row { display:grid; gap:16px; grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); padding:16px; border:1px solid var(--line); border-radius:14px; background:#f8fbff; }\n    label { display: block; font-weight: 700; margin-bottom: 6px; }\n    input, textarea { width: 100%; border: 1px solid var(--line); border-radius: 10px; padding: 10px 12px; font: inherit; color: var(--ink); background: #fff; }\n    textarea { min-height: 96px; resize: vertical; }\n    .actions { display: flex; gap: 12px; align-items: center; flex-wrap: wrap; }\n    button, .secondary { appearance: none; border: 0; border-radius: 999px; padding: 12px 18px; font: inherit; font-weight: 700; cursor: pointer; text-decoration: none; }\n    button { color: #fff; background: linear-gradient(135deg, var(--accent) 0%, var(--accent-dark) 100%); }\n    .secondary { color: var(--ink); background: #eef2f7; border: 1px solid var(--line); }\n    .note { font-size: 14px; color: var(--muted); }\n    .error { margin: 0 0 20px; padding: 14px 16px; border-radius: 14px; background: #fdecec; color: var(--danger); font-weight: 700; }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <h1>Create Refund Request</h1>\n    <p>Create a refund case and return to the refunds landing page. Search fields help populate the names, but you can always type directly into the actual requestor and member fields.</p>\n    ${errorMessage ? `<div class=\"error\">${escapeHtml(errorMessage)}</div>` : ''}\n    <form action=\"${actionUrl}\" method=\"post\">\n      <input type=\"hidden\" name=\"created_by\" value=\"refund_form_webhook\">\n      <input type=\"hidden\" name=\"return_url\" value=\"${escapeHtml(returnUrl)}\">\n      <div class=\"search-row\">\n        <div>\n          <label for=\"requestor_search\">Search Requestor By Name Or Email</label>\n          <input id=\"requestor_search\" type=\"search\" list=\"member-directory\" placeholder=\"Start typing a name or email\" onchange=\"applyDirectoryMatch(this.value, 'name')\">\n        </div>\n        <div>\n          <label for=\"member_search\">Search Member By Name Or Email</label>\n          <input id=\"member_search\" type=\"search\" list=\"member-directory\" placeholder=\"Start typing a name or email\" onchange=\"applyDirectoryMatch(this.value, 'refund_for')\">\n        </div>\n        <datalist id=\"member-directory\">${directoryOptions}</datalist>\n      </div>\n      <div class=\"grid\">\n        <div>\n          <label for=\"name\">Requestor Name</label>\n          <input id=\"name\" name=\"name\" type=\"text\" value=\"${escapeHtml(name)}\" required>\n        </div>\n        <div>\n          <label for=\"refund_for\">Member Name</label>\n          <input id=\"refund_for\" name=\"refund_for\" type=\"text\" value=\"${escapeHtml(refundFor)}\" required>\n        </div>\n      </div>\n      <div class=\"grid\">\n        <div>\n          <label for=\"reason\">Reason</label>\n          <input id=\"reason\" name=\"reason\" type=\"text\" list=\"reason-options\" value=\"${escapeHtml(reason)}\" required>\n          <datalist id=\"reason-options\">\n            <option value=\"Injured\"></option>\n            <option value=\"Deceased\"></option>\n            <option value=\"Other\"></option>\n          </datalist>\n        </div>\n        <div>\n          <label for=\"membership\">Membership</label>\n          <input id=\"membership\" name=\"membership\" type=\"text\" list=\"membership-categories\" value=\"${escapeHtml(membership)}\" placeholder=\"Search or type a membership category\" required>\n          <datalist id=\"membership-categories\">${membershipOptions}</datalist>\n        </div>\n      </div>\n      <div class=\"grid\">\n        <div>\n          <label for=\"amount\">Amount Paid</label>\n          <input id=\"amount\" name=\"amount\" type=\"number\" min=\"0\" step=\"0.01\" value=\"${escapeHtml(amount)}\" required>\n        </div>\n        <div>\n          <label for=\"from_date\">From Date</label>\n          <input id=\"from_date\" name=\"from_date\" type=\"date\" value=\"${escapeHtml(fromDate)}\" required>\n        </div>\n        <div>\n          <label for=\"to_date\">To Date</label>\n          <input id=\"to_date\" name=\"to_date\" type=\"date\" value=\"${escapeHtml(toDate)}\" required>\n        </div>\n      </div>\n      <div class=\"actions\">\n        <button type=\"submit\">Create Refund Request</button>\n        <a class=\"secondary\" href=\"${escapeHtml(returnUrl)}\">Back To Refunds</a>\n        <span class=\"note\">New refunds are created with status <strong>New Request</strong>. Request-bank-details and treasury emails are sent later from the refunds landing page.</span>\n      </div>\n    </form>\n  </div>\n  <script>\n    const memberDirectory = ${directoryJson};\n    function applyDirectoryMatch(value, targetId) {\n      const needle = String(value || '').trim().toLowerCase();\n      if (!needle) return;\n      const match = memberDirectory.find((entry) => {\n        const name = String(entry.name || '').trim();\n        const email = String(entry.email || '').trim();\n        const combined = email ? (name + ' <' + email + '>') : name;\n        return combined.toLowerCase() === needle || name.toLowerCase() === needle || email.toLowerCase() === needle;\n      });\n      if (match) document.getElementById(targetId).value = match.name;\n    }\n  </script>\n</body>\n</html>`;\nreturn [{ json: { html } }];"
      },
      "id": "r1000000-0000-0000-0000-000000000004",
      "name": "Build Form HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "r1000000-0000-0000-0000-000000000005",
      "name": "Respond Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1240,
        220
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refund Form Webhook": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Load Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Directory": {
      "main": [
        [
          {
            "node": "Build Form HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Form HTML": {
      "main": [
        [
          {
            "node": "Respond Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-03T07:53:07.748+00:00",
  "updatedAt": "2026-04-03T18:31:46.083+00:00",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {},
  "pinData": {},
  "versionId": "0c839781-fdd0-4809-b87b-92d7b98349b4",
  "triggerCount": 1,
  "id": "Xs8KENEX5n7KKJsD",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 55,
  "description": "",
  "activeVersionId": "0c839781-fdd0-4809-b87b-92d7b98349b4"
}
