backups/20260324-110330-local-state/workflows/uRd78LSp8p7BWKkC.json
{"updatedAt":"2026-03-22T17:19:56.245Z","createdAt":"2026-03-20T15:32:40.827Z","id":"uRd78LSp8p7BWKkC","name":"ClubSpark Auth Session Test","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"c5c10002-2222-4222-8222-000000000001","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  MAX(CASE WHEN key = 'clubspark_venue_slug' THEN value END) AS clubspark_venue_slug\nFROM public.global_settings\nWHERE key = 'clubspark_venue_slug';"},"id":"c5c10002-2222-4222-8222-000000000005","name":"Load Global Settings","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[480,460],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"source":"database","workflowId":{"mode":"list","value":"JETtfbr4EGBAcCAA"},"mode":"once","options":{"waitForSubWorkflow":true}},"id":"c5c10002-2222-4222-8222-000000000002","name":"Execute ClubSpark Auth Session","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[480,300]},{"parameters":{"method":"GET","url":"={{ 'https://clubspark.lta.org.uk/' + $('Load Global Settings').first().json.clubspark_venue_slug + '/Admin/Membership/Members' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $json.cookieHeader }}"},{"name":"User-Agent","value":"={{ $json.userAgent }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"c5c10002-2222-4222-8222-000000000003","name":"Fetch Members Page With Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,300]},{"parameters":{"jsCode":"const auth = $('Execute ClubSpark Auth Session').first().json ?? {};\nconst settings = $('Load Global Settings').first().json ?? {};\nconst html = String($input.first().json?.data ?? $input.first().json?.body ?? '');\nconst fetchVerifiedUrl = `https://clubspark.lta.org.uk/${settings.clubspark_venue_slug}/Admin/Membership/Members`;\nif (!html.trim()) {\n  throw new Error('The authenticated fetch did not return any HTML.');\n}\nif (/Sign in|Log in/i.test(html) && /auth\\.clubspark\\.uk|mylta\\.my\\.site\\.com/i.test(html)) {\n  throw new Error('The returned HTML is still the ClubSpark/LTA sign-in page.');\n}\nconst hasMembersTable = /members-table/i.test(html);\nconst hasAdminMarkers = /Contact Options|Reset filters|Export CSV|Membership/i.test(html);\nif (!hasMembersTable && !hasAdminMarkers) {\n  throw new Error('The fetched HTML does not look like the authenticated ClubSpark members page.');\n}\nreturn [{\n  json: {\n    authenticated: true,\n    auth_target_url: auth.targetUrl,\n    auth_authenticated_url: auth.authenticatedUrl,\n    cookie_count: auth.cookieCount,\n    fetch_verified_url: fetchVerifiedUrl,\n    members_table_detected: hasMembersTable,\n    html_snippet: html.replace(/\\s+/g, ' ').slice(0, 400),\n  },\n}];"},"id":"c5c10002-2222-4222-8222-000000000004","name":"Validate Reused Session","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,300]}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Load Global Settings","type":"main","index":0}]]},"Load Global Settings":{"main":[[{"node":"Execute ClubSpark Auth Session","type":"main","index":0}]]},"Execute ClubSpark Auth Session":{"main":[[{"node":"Fetch Members Page With Session","type":"main","index":0}]]},"Fetch Members Page With Session":{"main":[[{"node":"Validate Reused Session","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"ec8ba27f-ac0b-443a-aca7-4603129a3386","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T15:32:40.827Z","createdAt":"2026-03-20T15:32:40.827Z","role":"workflow:owner","workflowId":"uRd78LSp8p7BWKkC","projectId":"AtpW2flNrTDUqcis","project":{"updatedAt":"2026-03-07T15:05:21.831Z","createdAt":"2025-04-29T13:45:55.157Z","id":"AtpW2flNrTDUqcis","name":"Steve Short <steve@shortcentral.com>","type":"personal","icon":null,"description":null,"creatorId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectRelations":[{"updatedAt":"2025-04-29T13:45:55.157Z","createdAt":"2025-04-29T13:45:55.157Z","userId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectId":"AtpW2flNrTDUqcis","user":{"updatedAt":"2026-03-24T09:17:45.419Z","createdAt":"2025-04-29T13:45:54.337Z","id":"1aa25644-d384-4810-beaa-f58314d3e70c","email":"steve@shortcentral.com","firstName":"Steve","lastName":"Short","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-29T13:48:39.758Z","personalization_survey_n8n_version":"1.89.2","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6XC5aXJ8uS5DS553","userActivatedAt":1773664748790,"npsSurvey":{"responded":true,"lastShownAt":1774020442311}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-24","isPending":false}}]}}],"tags":[],"activeVersion":null}