backups/20260416-152321-full-backup/workflows/6XC5aXJ8uS5DS553-ClubSpark_Contacts_Export.json
{
  "name": "ClubSpark Contacts Export",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000016",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'clubspark_exporter_base_url' THEN value END) AS clubspark_exporter_base_url\nFROM public.global_settings\nWHERE key = 'clubspark_exporter_base_url';"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000017",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        450,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getOrigin = (value) => {\n  const text = String(value ?? '').trim();\n  const match = text.match(/^https?:\\/\\/[^/]+/i);\n  return match ? match[0] : null;\n};\nconst getNodeJson = (nodeName) => {\n  try {\n    return $(nodeName).first().json ?? null;\n  } catch {\n    return null;\n  }\n};\nconst settings = $('Load Global Settings').first().json ?? {};\nconst incoming = getNodeJson('When Executed by Another Workflow') ?? getNodeJson(\"When clicking 'Execute workflow'\") ?? {};\nconst targetUrl = 'https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts';\nconst targetOrigin = getOrigin(targetUrl);\nconst forceRefresh = [true, 'true', '1', 1, 'yes'].includes(incoming.forceRefresh);\nconst requestedMaxAge = Number.parseFloat(String(incoming.maxAgeMinutes ?? incoming.cacheMaxAgeMinutes ?? '20'));\nconst maxAgeMinutes = Number.isFinite(requestedMaxAge) && requestedMaxAge > 0 ? requestedMaxAge : 20;\nconst providedCookieHeader = typeof incoming.cookieHeader === 'string' ? incoming.cookieHeader.trim() : '';\nconst providedUserAgent = typeof incoming.userAgent === 'string' ? incoming.userAgent.trim() : '';\nconst hasProvidedSession = Boolean(!forceRefresh && providedCookieHeader && providedUserAgent);\nconst staticData = $getWorkflowStaticData('global');\nconst fetchedAtMs = staticData.fetchedAt ? Date.parse(staticData.fetchedAt) : NaN;\nlet sameOrigin = true;\ntry {\n  const cachedOrigin = staticData.sessionOrigin ?? (staticData.targetUrl ? getOrigin(staticData.targetUrl) : null);\n  sameOrigin = cachedOrigin && targetOrigin ? cachedOrigin === targetOrigin : true;\n} catch {\n  sameOrigin = false;\n}\nconst hasCachedSession = Boolean(\n  !hasProvidedSession\n  && !forceRefresh\n  && staticData.cookieHeader\n  && staticData.userAgent\n  && Number.isFinite(fetchedAtMs)\n  && (Date.now() - fetchedAtMs) <= (maxAgeMinutes * 60 * 1000)\n  && sameOrigin\n);\nreturn [{\n  json: {\n    clubspark_exporter_base_url: settings.clubspark_exporter_base_url,\n    targetUrl,\n    maxAgeMinutes,\n    forceRefresh,\n    useCachedSession: hasProvidedSession || hasCachedSession,\n    authenticated: (hasProvidedSession || hasCachedSession) ? true : undefined,\n    authenticatedUrl: hasProvidedSession\n      ? (incoming.authenticatedUrl ?? targetUrl)\n      : hasCachedSession\n        ? (staticData.authenticatedUrl ?? targetUrl)\n        : undefined,\n    pageTitle: hasProvidedSession\n      ? (incoming.pageTitle ?? null)\n      : hasCachedSession\n        ? (staticData.pageTitle ?? null)\n        : undefined,\n    userAgent: hasProvidedSession ? providedUserAgent : hasCachedSession ? staticData.userAgent : undefined,\n    cookieHeader: hasProvidedSession ? providedCookieHeader : hasCachedSession ? staticData.cookieHeader : undefined,\n    cookieCount: hasProvidedSession\n      ? Number(incoming.cookieCount ?? 0)\n      : hasCachedSession\n        ? Number(staticData.cookieCount ?? 0)\n        : undefined,\n    probe: hasProvidedSession\n      ? {\n          source: 'input_session',\n          targetOrigin,\n        }\n      : hasCachedSession\n        ? {\n            source: 'workflow_static_data',\n            fetchedAt: staticData.fetchedAt ?? null,\n            maxAgeMinutes,\n            targetOrigin,\n          }\n        : null,\n  },\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000018",
      "name": "Prepare Auth Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Load Global Settings').first().json.clubspark_exporter_base_url + '/clubspark-export' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ClubSpark-Target-Url",
              "value": "https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts"
            },
            {
              "name": "X-ClubSpark-Cookie-Header",
              "value": "={{ $('Keep Reusable Session').first().json.cookieHeader }}"
            },
            {
              "name": "X-ClubSpark-User-Agent",
              "value": "={{ $('Keep Reusable Session').first().json.userAgent }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000015",
      "name": "Fetch Contacts CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst payload = item.json ?? {};\nconst csvText = String(payload.body ?? payload.data ?? payload.stdout ?? '').trim();\nconst detail = JSON.stringify(Object.keys(payload));\nif (!csvText) {\n  throw new Error(`ClubSpark exporter did not return CSV output. Payload keys: ${detail}`);\n}\nif (/^<!DOCTYPE html/i.test(csvText) || /^<html/i.test(csvText) || /<title>.*Sign in/i.test(csvText)) {\n  throw new Error('ClubSpark exporter returned HTML instead of CSV. The browser login did not complete successfully.');\n}\nfunction parseCsv(text) {\n  const rows = [];\n  let row = [], field = '', inQuotes = false;\n  for (let i = 0; i < text.length; i++) {\n    const ch = text[i], next = text[i + 1];\n    if (inQuotes) {\n      if (ch === '\"' && next === '\"') { field += '\"'; i++; }\n      else if (ch === '\"') { inQuotes = false; }\n      else { field += ch; }\n    } else {\n      if (ch === '\"') { inQuotes = true; }\n      else if (ch === ',') { row.push(field); field = ''; }\n      else if (ch === '\\r' && next === '\\n') { row.push(field); field = ''; rows.push(row); row = []; i++; }\n      else if (ch === '\\n' || ch === '\\r') { row.push(field); field = ''; rows.push(row); row = []; }\n      else { field += ch; }\n    }\n  }\n  if (field || row.length) { row.push(field); rows.push(row); }\n  return rows;\n}\nconst allRows = parseCsv(csvText);\nif (allRows.length < 2) throw new Error(`CSV has fewer than 2 rows (got ${allRows.length}).`);\nconst headers = allRows[0].map((h) => h.trim());\nif (!headers.includes('First name') || !headers.includes('Last name')) {\n  throw new Error(`ClubSpark export did not return the expected contacts CSV headers. Got: ${headers.slice(0, 8).join(', ')}`);\n}\nconst dataRows = allRows.slice(1).filter((r) => r.some((c) => c.trim() !== ''));\nif (!dataRows.length) {\n  return [{ json: { rowCount: 0, message: 'No data rows in CSV export.' } }];\n}\nreturn dataRows.map((row) => ({ json: Object.fromEntries(headers.map((h, i) => [h, (row[i] ?? '').trim()])) }));"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Parse Contacts CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst sqlInteger = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const digits = String(value).replace(/[^0-9-]+/g, '');\n  if (!digits || digits === '-') return 'NULL';\n  const parsed = Number.parseInt(digits, 10);\n  return Number.isNaN(parsed) ? 'NULL' : String(parsed);\n};\nconst rows = $input.all().map((item) => item.json ?? {});\nif (!rows.length) {\n  throw new Error('No parsed contact rows were available to build the import SQL.');\n}\nconst columns = [\n  { db: 'Venue ID', headers: ['Venue ID'] },\n  { db: 'Unique ID', headers: ['Unique ID'] },\n  { db: 'First name', headers: ['First name'] },\n  { db: 'Last name', headers: ['Last name'] },\n  { db: 'gender', headers: ['Gender'] },\n  { db: 'age', headers: ['Age'], type: 'integer' },\n  { db: 'junior', headers: ['Junior'] },\n  { db: 'Date of birth', headers: ['Date of birth'] },\n  { db: 'Email address', headers: ['Email address'] },\n  { db: 'Phone number', headers: ['Phone number'] },\n  { db: 'Work number', headers: ['Work number'] },\n  { db: 'Mobile number', headers: ['Mobile number'] },\n  { db: 'Emergency contact name', headers: ['Emergency contact name'] },\n  { db: 'Emergency phone number', headers: ['Emergency phone number'] },\n  { db: 'Address 1', headers: ['Address 1'] },\n  { db: 'Address 2', headers: ['Address 2'] },\n  { db: 'Address 3', headers: ['Address 3'] },\n  { db: 'town', headers: ['Town', 'town'] },\n  { db: 'county', headers: ['County', 'county'] },\n  { db: 'country', headers: ['Country', 'country'] },\n  { db: 'postcode', headers: ['Postcode', 'postcode'] },\n  { db: 'British Tennis Number', headers: ['British Tennis Number'], type: 'integer' },\n  { db: 'Date joined venue', headers: ['Date joined venue'] },\n  { db: 'Medical history', headers: ['Medical history'] },\n  { db: 'occupation', headers: ['Occupation', 'occupation'] },\n  { db: 'registered', headers: ['Registered', 'registered'] },\n  { db: 'unsubscribed', headers: ['Unsubscribed', 'unsubscribed'] },\n  { db: 'Member status', headers: ['Member status'] },\n  { db: 'Last active', headers: ['Last active'] },\n  { db: 'created', headers: ['Created', 'created'] },\n  { db: 'Receipt of Emails', headers: ['Receipt of Emails'] },\n  { db: 'Share Contact Detail', headers: ['Share Contact Detail'] },\n  { db: \"Member's Directory\", headers: [\"Member's Directory\"] },\n  { db: 'photography', headers: ['Photography', 'photography'] }\n];\nconst getValue = (row, headers) => {\n  for (const header of headers) {\n    if (Object.prototype.hasOwnProperty.call(row, header)) {\n      return row[header];\n    }\n  }\n  return null;\n};\nconst quotedColumns = columns.map(({ db }) => '\"' + db.replace(/\"/g, '\"\"') + '\"').join(', ');\nconst values = rows.map((row) => {\n  const record = columns.map((column) => {\n    const rawValue = getValue(row, column.headers);\n    return column.type === 'integer' ? sqlInteger(rawValue) : sqlLiteral(rawValue);\n  });\n  return '(' + record.join(', ') + ')';\n}).join(',\\n  ');\nconst sql = 'BEGIN;\\n' +\n  'SELECT * FROM public.prepare_raw_contacts_import_staging();\\n' +\n  'INSERT INTO public.raw_contacts_import_staging (' + quotedColumns + ')\\n' +\n  'VALUES\\n  ' + values + ';\\n' +\n  'SELECT * FROM public.reconcile_raw_contacts_from_staging();\\n' +\n  'COMMIT;';\nreturn [{ json: { sql, rowCount: rows.length } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Build Insert SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Insert Into raw_contacts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1950,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS total_contacts FROM raw_contacts;"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "Verify Row Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const counts = $input.first().json ?? {};\nconst session = $('Keep Reusable Session').first().json ?? {};\nreturn [{\n  json: {\n    total_contacts: Number(counts.total_contacts ?? 0),\n    authenticated: session.authenticated === true,\n    targetUrl: session.targetUrl ?? 'https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts',\n    authenticatedUrl: session.authenticatedUrl ?? null,\n    pageTitle: session.pageTitle ?? null,\n    userAgent: session.userAgent ?? null,\n    cookieHeader: session.cookieHeader ?? null,\n    cookieCount: Number(session.cookieCount ?? 0),\n    probe: session.probe ?? null,\n  },\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000020",
      "name": "Keep Session Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000021-reuse-cached-condition",
              "leftValue": "={{ $json.useCachedSession === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000021-reuse-cached-session",
      "name": "Reuse Cached Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        950,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare Auth Request').first().json.clubspark_exporter_base_url + '/clubspark-auth-session' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ClubSpark-Target-Url",
              "value": "={{ $json.targetUrl }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000021-request-auth-session",
      "name": "Request Auth Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const getOrigin = (value) => {\n  const text = String(value ?? '').trim();\n  const match = text.match(/^https?:\\/\\/[^/]+/i);\n  return match ? match[0] : null;\n};\nconst payload = $input.first().json ?? {};\nif (payload.authenticated !== true || !payload.cookieHeader || !payload.userAgent) {\n  throw new Error('ClubSpark auth session did not return a reusable authenticated session.');\n}\nconst staticData = $getWorkflowStaticData('global');\nstaticData.fetchedAt = new Date().toISOString();\nstaticData.targetUrl = payload.targetUrl ?? null;\nstaticData.sessionOrigin = payload.targetUrl ? getOrigin(payload.targetUrl) : null;\nstaticData.authenticatedUrl = payload.authenticatedUrl ?? payload.targetUrl ?? null;\nstaticData.pageTitle = payload.pageTitle ?? null;\nstaticData.userAgent = payload.userAgent;\nstaticData.cookieHeader = payload.cookieHeader;\nstaticData.cookieCount = Number(payload.cookieCount ?? 0);\nreturn [{ json: payload }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000021-cache-auth-session",
      "name": "Cache Auth Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json ?? {};\nif (!payload.cookieHeader) {\n  throw new Error('ClubSpark auth session did not return a reusable cookie header.');\n}\nif (payload.authenticated !== true) {\n  throw new Error('ClubSpark auth session did not report authenticated=true.');\n}\nreturn [{\n  json: {\n    authenticated: payload.authenticated,\n    targetUrl: payload.targetUrl,\n    authenticatedUrl: payload.authenticatedUrl,\n    pageTitle: payload.pageTitle,\n    userAgent: payload.userAgent,\n    cookieHeader: payload.cookieHeader,\n    cookieCount: payload.cookieCount,\n    probe: payload.probe ?? null,\n  },\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000021-keep-reusable-session",
      "name": "Keep Reusable Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        460
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Prepare Auth Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Auth Request": {
      "main": [
        [
          {
            "node": "Reuse Cached Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Contacts CSV": {
      "main": [
        [
          {
            "node": "Parse Contacts CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contacts CSV": {
      "main": [
        [
          {
            "node": "Build Insert SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insert SQL": {
      "main": [
        [
          {
            "node": "Insert Into raw_contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into raw_contacts": {
      "main": [
        [
          {
            "node": "Verify Row Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Row Count": {
      "main": [
        [
          {
            "node": "Keep Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reuse Cached Session?": {
      "main": [
        [
          {
            "node": "Keep Reusable Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Auth Session": {
      "main": [
        [
          {
            "node": "Cache Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Auth Session": {
      "main": [
        [
          {
            "node": "Keep Reusable Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Reusable Session": {
      "main": [
        [
          {
            "node": "Fetch Contacts CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-13T10:10:50.019+00:00",
  "updatedAt": "2026-04-15T13:37:50.82+00:00",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "global": {
      "fetchedAt": "2026-04-16T14:01:36.544Z",
      "targetUrl": "https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts",
      "sessionOrigin": "https://clubspark.lta.org.uk",
      "authenticatedUrl": "https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts",
      "pageTitle": "Clubspark / Admin / Contacts",
      "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/136.0.7103.25 Safari/537.36",
      "cookieHeader": "lastVenue=AvondaleTennisClub; __cf_bm=YsxYFjMPbmaGPc5qu9RctcfK8I7n245y3n0yyK7A88s-1776348000.6662877-1.0.1.1-_OEj0fSFeXZbKI6AnM_h15omr.iTnr60ohArSiBlz8vjUWlTKAbbJhhdm6KHKF9KnfrNM.nd6o7kXB_DulXKcGml60N37Sf7_uzr11uHmjAJg2TpTRv1hq_8MjKXPsQt; CsAuth=77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48U2VjdXJpdHlDb250ZXh0VG9rZW4gcDE6SWQ9Il84NjU5ZmQxZC1lZGZmLTQzMTktYTQzMi1kN2VkNTcxYWQ0MDEtQkY3QjJGOTUzRkY4QTBGOEMzMDcwQTY2NTBBNkM2OTQiIHhtbG5zOnAxPSJodHRwOi8vZG9jcy5vYXNpcy1vcGVuLm9yZy93c3MvMjAwNC8wMS9vYXNpcy0yMDA0MDEtd3NzLXdzc2VjdXJpdHktdXRpbGl0eS0xLjAueHNkIiB4bWxucz0iaHR0cDovL2RvY3Mub2FzaXMtb3Blbi5vcmcvd3Mtc3gvd3Mtc2VjdXJlY29udmVyc2F0aW9uLzIwMDUxMiI+PElkZW50aWZpZXI+dXJuOnV1aWQ6ODc3OGU4OGQtMDdiYy00NDVlLWJmOTUtNzY3MmNiOGE4M2RhPC9JZGVudGlmaWVyPjxDb29raWUgeG1sbnM9Imh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwNi8wNS9zZWN1cml0eSI+K09EdG5TdlNyditxOHk0a0c3dHN3VENXMVFWRmpiUjAzMUlnQTdnV1lzdGxBdE1NYXhBQ0MyVmt2L0lEYXZ4MHJoWElHMGJOMlpqSlhkRWxJeVFXSmMxWnpuelNycm1WZUkwaEF5MEpUaU1LTGlmOUxyM1paV05BV1dYZG5LallEVjNnOFVnVGFhcDNXbWt2cjkwL3JLMTZvQWkwdWQ1RDc5a2VybC9vcEV2eGJraGp1aFZYTTN6NjRDeUNZUGpuY0dOMnR3TVNxSHFLZjEvSDlDaDJERmhBVTU5QkluQzdJalpobml4d1ZhMytkZkN5aDNxTFAyMVNMYjArQTB1YVZ6b21wTEpaVXBod3lCOHVBNjZwT1Z1dTNLY3JlM0VGUmNqWVBuV2xKZ2FxQ01KM0pkSWFGQVQwb2N1bnRtVGhNcmp3dDExd0hoZnVWek9ENE5LZERiNnF3MW4wN2lPQ2c2WHk4ajR3bk5GWE9UY1k1ekpsUmhBZTMvbiszeDUzZGw2K05HM1V2MklWeFNsUHV1SHRtUmg3dlBlOFFxbXQ0eno1Z2I4UzVqTXJrOHcrUWtwaWlYeW1oV1ZuUWI4QnY1M1JoU0dmbVhsYVZucEdldXNONEFma3FWV25tZk1tVVlTYzd5SXNKU3JpQ0NyNmhacTNYT0xyQlNsRjNyRGV2bkN4WXhLalRXU2ZySWI4cWhmaEFWb253WnE5K0x0czdBSjFSYlVHeloxSm9wUTRtai81ZVo4SllVZnlFMzlOZkljajMwb3FqSldSZWxyVExwRm1MeGJrR3d5VDZiTzJxdGdaeTNHbmVoSnlkbUZnc1d0WTdCaWxWeGRudE51UFFlL0YwWWlCVWc4czJpaGVWWUt2WVg4Qjl2d2t5Sm4wU0RrWkNBRVY3bWVrRmNlUXI0dWt3YTFCU3NIL0dqYVVRb2F3U1VWOTNQZXFHekZPMGxmZWJQVFRTN2xnTmVmT3A4d2hkWHZYMDVsSGlEYjNGTXlITVYwaDI5ZVNxTnZVU0hpUTY1YllTM2lEWU5rVi9WeXJ0R1Z2cDd2TGZpY0VGd1puZk5hUk9kTXc1b2NrdXVKbkhabGVOaTI2V0J4T29SUnNMOFZseEV3ODhkMGRVaE1WZEd5TGk4UDlKeDZXdVBGa2NoVWVXTm8zcnFsWjg0Mmlxb3FmM1RvY2pLdUJzeE5PRUlQcEpwSjZSTzhJQ1NubENHdkttb1dTTzRrK1ZIaldBenNMMERMelF1cU1jYTRRaldOZVMzQUNncXMxOW5ONkV3a0htTmZTRFZCZG1zc2pNNXhLb29OME5QU3VkMjcyRVhmQVdkcitFTEo2ZWxPMGdGREhpajhjaXBVTUpwQzY4d2k0aU4rVGFqZ056ZGQ1bXVKMzh1Y3k1VDVxQ2NP; CsAuth1=UmRwVWdyc09MVHRpeklRWEd6Z2d6T25SVEpIMHFaa0h4MHkwbFNyYi9EY0pBYW00cDE5d282L0RlclMwajlzYmJNMDVUdlkxY0hEazVkSWFiV0Y0UkdoYXc4cHd0ZHB5ZU9RazhjQitEdUg0ZzJDYXQ2aEorckRyelB6a0xOQkJrYjNYMnFGdz08L0Nvb2tpZT48L1NlY3VyaXR5Q29udGV4dFRva2VuPg==; _gcl_au=1.1.1859099370.1776348013; _gid=GA1.3.1707303062.1776348013; _ga=GA1.1.1206344851.1776348013; _ga_R8CDFT1V4H=GS2.1.s1776348013$o1$g0$t1776348013$j60$l0$h0; _ga_5CZ62BC06S=GS2.1.s1776348013$o1$g0$t1776348013$j60$l0$h0; _ga_N6HHPLH4XC=GS2.1.s1776348013$o1$g0$t1776348013$j60$l0$h0; _ga_5THG22YLMH=GS2.1.s1776348013$o1$g0$t1776348013$j60$l0$h0; osano_consentmanager_uuid=f0a99669-8fc4-4ccd-a5d6-cf6082dbf45e; osano_consentmanager=DAhR9AquD6GVZaQtAxrkbMuK4ohuirDGTsP9EyfgqxybtT2OVAlhjfc_uhyRP5wpkGfNpryJQv7-ol5wmaFK5SNdiHbYnohmFj41T_5qXLc3W-8CLq1j0Otgzz5ds0C8kWO9KkhJlNxc5h5WkFYUFy75hqpgHtk8Rg_DouO1DB5SxinAk8Ur31WOf0hXaUQWf8VoxH0FUJWnK6yeodC_y3myD4oKwDmcwdLkuAkZuodXM4GKLkv1twJBElxPbRifzXOWyTeVmdtF4QMjBHeCtQ7VUmkIviwxu-HdCpX4kTI-awjsLKWxH-TDKm4ZPTVq",
      "cookieCount": 13
    }
  },
  "pinData": {},
  "versionId": "84b43bbc-a2d2-4567-8892-23483d39a597",
  "triggerCount": 0,
  "id": "6XC5aXJ8uS5DS553",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 127,
  "description": null,
  "activeVersionId": "84b43bbc-a2d2-4567-8892-23483d39a597"
}
