backups/20260416-152321-full-backup/workflows/JETtfbr4EGBAcCAA-ClubSpark_Auth_Session.json
{
  "name": "ClubSpark Auth Session",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "c5c10001-1111-4111-8111-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c5c10001-1111-4111-8111-000000000002",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'clubspark_exporter_base_url' THEN value END) AS clubspark_exporter_base_url\nFROM public.global_settings\nWHERE key = 'clubspark_exporter_base_url';"
      },
      "id": "c5c10001-1111-4111-8111-000000000005",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getOrigin = (value) => {\n  const text = String(value ?? '').trim();\n  const match = text.match(/^https?:\\/\\/[^/]+/i);\n  return match ? match[0] : null;\n};\nconst settings = $input.first().json ?? {};\nconst incoming = $('When Executed by Another Workflow').first()?.json ?? $('When clicking \\'Execute workflow\\'').first()?.json ?? {};\nconst defaultTargetUrl = 'https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts';\nconst targetUrl = String(incoming.targetUrl ?? defaultTargetUrl).trim() || defaultTargetUrl;\nconst targetOrigin = getOrigin(targetUrl);\nconst forceRefresh = [true, 'true', '1', 1, 'yes'].includes(incoming.forceRefresh);\nconst requestedMaxAge = Number.parseFloat(String(incoming.maxAgeMinutes ?? incoming.cacheMaxAgeMinutes ?? '20'));\nconst maxAgeMinutes = Number.isFinite(requestedMaxAge) && requestedMaxAge > 0 ? requestedMaxAge : 20;\nconst providedCookieHeader = typeof incoming.cookieHeader === 'string' ? incoming.cookieHeader.trim() : '';\nconst providedUserAgent = typeof incoming.userAgent === 'string' ? incoming.userAgent.trim() : '';\nconst hasProvidedSession = Boolean(!forceRefresh && providedCookieHeader && providedUserAgent);\nconst staticData = $getWorkflowStaticData('global');\nconst fetchedAtMs = staticData.fetchedAt ? Date.parse(staticData.fetchedAt) : NaN;\nlet sameOrigin = true;\ntry {\n  const cachedOrigin = staticData.sessionOrigin ?? (staticData.targetUrl ? getOrigin(staticData.targetUrl) : null);\n  sameOrigin = cachedOrigin && targetOrigin ? cachedOrigin === targetOrigin : true;\n} catch {\n  sameOrigin = false;\n}\nconst hasCachedSession = Boolean(\n  !hasProvidedSession\n  && !forceRefresh\n  && staticData.cookieHeader\n  && staticData.userAgent\n  && Number.isFinite(fetchedAtMs)\n  && (Date.now() - fetchedAtMs) <= (maxAgeMinutes * 60 * 1000)\n  && sameOrigin\n);\nreturn [{\n  json: {\n    clubspark_exporter_base_url: settings.clubspark_exporter_base_url,\n    targetUrl,\n    maxAgeMinutes,\n    forceRefresh,\n    useCachedSession: hasProvidedSession || hasCachedSession,\n    authenticated: (hasProvidedSession || hasCachedSession) ? true : undefined,\n    authenticatedUrl: hasProvidedSession\n      ? (incoming.authenticatedUrl ?? targetUrl)\n      : hasCachedSession\n        ? (staticData.authenticatedUrl ?? targetUrl)\n        : undefined,\n    pageTitle: hasProvidedSession\n      ? (incoming.pageTitle ?? null)\n      : hasCachedSession\n        ? (staticData.pageTitle ?? null)\n        : undefined,\n    userAgent: hasProvidedSession ? providedUserAgent : hasCachedSession ? staticData.userAgent : undefined,\n    cookieHeader: hasProvidedSession ? providedCookieHeader : hasCachedSession ? staticData.cookieHeader : undefined,\n    cookieCount: hasProvidedSession\n      ? Number(incoming.cookieCount ?? 0)\n      : hasCachedSession\n        ? Number(staticData.cookieCount ?? 0)\n        : undefined,\n    probe: hasProvidedSession\n      ? {\n          source: 'input_session',\n          targetOrigin,\n        }\n      : hasCachedSession\n        ? {\n            source: 'workflow_static_data',\n            fetchedAt: staticData.fetchedAt ?? null,\n            maxAgeMinutes,\n            targetOrigin,\n          }\n        : null,\n  },\n}];"
      },
      "id": "c5c10001-1111-4111-8111-000000000006",
      "name": "Resolve Auth Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5c10001-1111-4111-8111-000000000007-condition",
              "leftValue": "={{ $json.useCachedSession === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5c10001-1111-4111-8111-000000000007",
      "name": "Reuse Cached Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Resolve Auth Request').first().json.clubspark_exporter_base_url + '/clubspark-auth-session' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ClubSpark-Target-Url",
              "value": "={{ $json.targetUrl }}"
            }
          ]
        }
      },
      "id": "c5c10001-1111-4111-8111-000000000003",
      "name": "Request Auth Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const getOrigin = (value) => {\n  const text = String(value ?? '').trim();\n  const match = text.match(/^https?:\\/\\/[^/]+/i);\n  return match ? match[0] : null;\n};\nconst payload = $input.first().json ?? {};\nif (payload.authenticated !== true || !payload.cookieHeader || !payload.userAgent) {\n  throw new Error('ClubSpark auth session did not return a reusable authenticated session.');\n}\nconst staticData = $getWorkflowStaticData('global');\nstaticData.fetchedAt = new Date().toISOString();\nstaticData.targetUrl = payload.targetUrl ?? null;\nstaticData.sessionOrigin = payload.targetUrl ? getOrigin(payload.targetUrl) : null;\nstaticData.authenticatedUrl = payload.authenticatedUrl ?? payload.targetUrl ?? null;\nstaticData.pageTitle = payload.pageTitle ?? null;\nstaticData.userAgent = payload.userAgent;\nstaticData.cookieHeader = payload.cookieHeader;\nstaticData.cookieCount = Number(payload.cookieCount ?? 0);\nreturn [{ json: payload }];"
      },
      "id": "c5c10001-1111-4111-8111-000000000008",
      "name": "Cache Auth Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json ?? {};\nif (!payload.cookieHeader) {\n  throw new Error('ClubSpark auth session did not return a reusable cookie header.');\n}\nif (payload.authenticated !== true) {\n  throw new Error('ClubSpark auth session did not report authenticated=true.');\n}\nreturn [{\n  json: {\n    authenticated: payload.authenticated,\n    targetUrl: payload.targetUrl,\n    authenticatedUrl: payload.authenticatedUrl,\n    pageTitle: payload.pageTitle,\n    userAgent: payload.userAgent,\n    cookieHeader: payload.cookieHeader,\n    cookieCount: payload.cookieCount,\n    probe: payload.probe ?? null,\n  },\n}];"
      },
      "id": "c5c10001-1111-4111-8111-000000000004",
      "name": "Keep Reusable Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        380
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Resolve Auth Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Auth Request": {
      "main": [
        [
          {
            "node": "Reuse Cached Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reuse Cached Session?": {
      "main": [
        [
          {
            "node": "Keep Reusable Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Auth Session": {
      "main": [
        [
          {
            "node": "Cache Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Auth Session": {
      "main": [
        [
          {
            "node": "Keep Reusable Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-20T15:32:20.657+00:00",
  "updatedAt": "2026-03-27T11:00:03.971+00:00",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "global": {
      "fetchedAt": "2026-04-15T13:01:34.827Z",
      "targetUrl": "https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts",
      "authenticatedUrl": "https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Contacts",
      "pageTitle": "Clubspark / Admin / Contacts",
      "userAgent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/136.0.7103.25 Safari/537.36",
      "cookieHeader": "lastVenue=AvondaleTennisClub; __cf_bm=aaF6rpuIy3rPHPFPnfpxGgItxIwEaNG38gCR9cd_4Is-1776258000.6461427-1.0.1.1-y8XvO0M4yBwKncfJpl4fHUYk1hmM6qdFiLac4gyofQBJC6L5XDVuyrbWsHhjUUsj88s0kerqXeZEGUD_pxVY25X_oj7PMgTIH6TF8fCqgnifIJLqzAagcH.Ofc_831PY; CsAuth=77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48U2VjdXJpdHlDb250ZXh0VG9rZW4gcDE6SWQ9Il9kODhlY2E3ZC0wNGU0LTRiMTMtYjQ0MC0yOGVhZWFiMWU1YzYtMjk3ODUxMjA5RkE3OTg1REFGQ0JDQkM5RkRFMUY0NEEiIHhtbG5zOnAxPSJodHRwOi8vZG9jcy5vYXNpcy1vcGVuLm9yZy93c3MvMjAwNC8wMS9vYXNpcy0yMDA0MDEtd3NzLXdzc2VjdXJpdHktdXRpbGl0eS0xLjAueHNkIiB4bWxucz0iaHR0cDovL2RvY3Mub2FzaXMtb3Blbi5vcmcvd3Mtc3gvd3Mtc2VjdXJlY29udmVyc2F0aW9uLzIwMDUxMiI+PElkZW50aWZpZXI+dXJuOnV1aWQ6Y2NkMjVmMjgtODE5Ni00MWRhLTkxZjMtNjJjZTJkYTQ0MmU3PC9JZGVudGlmaWVyPjxDb29raWUgeG1sbnM9Imh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwNi8wNS9zZWN1cml0eSI+YzJDWTVGc1Z6ZEVGK2h0cmVHdEtwL3dvYWV3b2lFKzJCa09pNHlSdGF2YTVHVldiZHJuNnhxQVpBaW5JS0x0U0ZPM3MvdG5rc2x0NlkyMjZXV25IbitaRUZDei9lUlBWOXU0L1loNWIwNVVPVEtJWW1HZFNHeDRqcHlacDd4RXBlM1M2akVneUpPa1NKV3hnWlA2KzRKcUpHT3FiU0I1c2YzWjRvNWkyNURGNGtyblBLcUM5YXd5d3kxREhHbXhEYStkaDNVdWhoUnorbnNBY0pkVDlneUI3dGNHeFlsNm1VVDRkUnVVSnk4WHNlZnhxY3pmWjdwQ05HaHhYdEV2YlpkZ1hLSDF1bjg2WXZuQ2R1WXRlSXo1NjBQdGQ5WTd5aTBkZjBtbXJvaUJ2ZnNocktmcnBFYUt3YkFwcHdETWJHQUdkSFdhbVVLdXpMeFpReGEwTkJLY2xLcXpjM0FnMXFwUHpKTWZnVk5uODY1eWxxWU45SWdSc2VoblA0Zm9JUnhNZTJ2eHhzVkpyOEpXa254MGQ0TzlrR0l2Skx6OHV5TjBtYS9DOWFOYlgxT2VLbkwrWUI4SGpLc0cxVVNmRzdsN0xUSXBaK1J2WXZEQklnNFpZcldqbENZTWpSRkhwdHFKWXNBWVFnT1ptbVlFRlljNjZGK3BQOW13enR3Ukk1RUFQTjQ3UkkrMFVZSFFXQXdOTG5HdSs0SmZxbDJPaUE1djdlanBiQS95RFVLVmN5KzVBQUY2aDZ2YTcxUXlLTi9abW1Mckl5b0pRN3ZFd09EekhvUTlVMGFudllGMklDQmhRVGVUcG1ONTF4M1pCNDRDZnZLcTU4QVB2S3BEVlEydDhyTjlhdm9uWlQzTmtCSFlSOWlnTUpvUGVZMk1wSm1VblBqZjg3R0wxZUdyN0FmanY3bDdGK09TRk5rT1YzOXptYWM1bjdKdkFaS3IvV0NIWnBMZmFPblJqUGwzZGVPVHpoY3crWmlxV3Y4Z3hsR2VLRFNOVVlzSHhObXE5eVBNdmVySUM2YXZyTVJzODZYVW1lTmxmWkRhejg1ZHp6K08yQ0dRdlZjQlFaczg2WHg2bFJralZ1RldxMUJlbWlnNFBDMmR1VE9VMkh0Q3diMGlhS3NUakg5dGEraFErdFJOT1plMVpCTFMyYzJrU001UTJuZzRTV2pxWGZLNXZCcXNMQUJ4cDZmQkJuOUUvcjVOUmlGeWZWdkF4RmJBVFFSdkdpSUNQSmY0NVh3N29JQWlNOEk5anZZNU9rc1J0RHFabXUwVEsveUEvQVlvd1BPRmhwN2pEaEZ5SlZSaitFK1dvZkZuSG5NR1VuNC8yazVjSTZwbFBhaWJnOFJURjVTWCt3bWRLVEpQaEU5VVNPRzRvRStFbW9odUN0bW01Nzcw; CsAuth1=bU9mL1JOUnZpb1ZlQUlMZDlLWDhXZXlCcno0ZW5rZ0VYY1VEaFpEb1dOZ0w4WTM3OU5uNnB1c0RkMDRjWDEyZERVY1B1YzR0eTM5YjBmOVA1VWVZWHltcHlkUmd2MmNXS2NwaUQwcjBHMWJjeFBHTHR5UTZxSzRncURPTmRpMzRSelZMbzd3bz08L0Nvb2tpZT48L1NlY3VyaXR5Q29udGV4dFRva2VuPg==; _gcl_au=1.1.1536185798.1776258009; osano_consentmanager_uuid=d21652a3-da3e-4742-97bb-bab1d65cfe80; osano_consentmanager=FgYYOvg8QArDfnm2h3NP5QilawhkLTaHAY-rEXE-zS2biPe9FaW3zP7bPHY3l2BXtjKObdpt6xSpVrdREIPhw5XkEABmOrz8uQe-7Pqn7VscTG_d5LmQoxPtPTgrpVrpffHqATr0XVGukh4dcWS7-pw5Ux6eDQJiSy0PRdvpHHE9DfNcHqyiUWZIpPq9UArwMOFzns574J24qyTi-jCux09D9yZt-i1l0aXt1AY4rOcwJdJb45mc80aAoaRdQ-_F_TZK8o3eVPTWoeYgcB7V4oaWFQEAD33dfjEwWcnT9kwxch0qxKrZEIRosL8QquCK",
      "cookieCount": 7,
      "sessionOrigin": "https://clubspark.lta.org.uk"
    }
  },
  "pinData": null,
  "versionId": "2a0ab02e-f3b3-42fb-958c-ef19ccabbb2b",
  "triggerCount": 0,
  "id": "JETtfbr4EGBAcCAA",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 527,
  "description": null,
  "activeVersionId": "2a0ab02e-f3b3-42fb-958c-ef19ccabbb2b"
}
