workflows/add-refund.json
{
  "name": "Add Refund",
  "nodes": [
    {
      "parameters": {},
      "id": "r2000000-0000-0000-0000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "path": "add-refund",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "r2000000-0000-0000-0000-000000000002",
      "name": "Add Refund Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "add-refund"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first()?.json ?? {};\nconst source = input.query ?? input;\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst parseNumber = (value) => {\n  const normalized = clean(value).replace(/,/g, '');\n  if (!normalized) return null;\n  const parsed = Number.parseFloat(normalized);\n  return Number.isFinite(parsed) ? parsed : null;\n};\nconst parseDateInput = (value) => {\n  const raw = clean(value);\n  if (!raw) return '';\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw;\n  const match = raw.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (!match) return raw;\n  const [, day, month, year] = match;\n  return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;\n};\nreturn [{\n  json: {\n    name: clean(source.name),\n    refund_for: clean(source.refund_for ?? source.for_name ?? source.for),\n    reason: clean(source.reason),\n    membership: clean(source.membership),\n    amount: parseNumber(source.amount),\n    from_date: parseDateInput(source.from_date ?? source.fromDate),\n    to_date: parseDateInput(source.to_date ?? source.toDate),\n    status: clean(source.status) || 'Requested',\n    created_by: clean(source.created_by) || 'refund_webhook'\n  }\n}];"
      },
      "id": "r2000000-0000-0000-0000-000000000003",
      "name": "Resolve Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first()?.json ?? {};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst sqlNumeric = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return String(Number(value));\n};\nconst parseIsoDate = (value) => {\n  const raw = clean(value);\n  const match = raw.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (!match) return null;\n  const [, yearText, monthText, dayText] = match;\n  const year = Number.parseInt(yearText, 10);\n  const month = Number.parseInt(monthText, 10);\n  const day = Number.parseInt(dayText, 10);\n  if (!Number.isInteger(year) || !Number.isInteger(month) || !Number.isInteger(day)) return null;\n  if (month < 1 || month > 12 || day < 1 || day > 31) return null;\n  return { year, month, day, iso: `${yearText}-${monthText}-${dayText}` };\n};\nconst formatMoney = (value) => {\n  const rounded = Math.round((Number(value) + Number.EPSILON) * 100) / 100;\n  const text = Number.isInteger(rounded) ? String(rounded) : rounded.toFixed(2).replace(/\\.00$/, '').replace(/(\\.\\d)0$/, '$1');\n  return `£${text}`;\n};\nconst fail = (message) => [{ json: { sql: `select false as ok, 400 as response_code, ${sqlLiteral(message)}::text as message;` } }];\nif (!clean(item.name)) return fail('name is required');\nif (!clean(item.refund_for)) return fail('refund_for is required');\nif (!clean(item.reason)) return fail('reason is required');\nif (!clean(item.membership)) return fail('membership is required');\nif (item.amount === null || !Number.isFinite(Number(item.amount)) || Number(item.amount) < 0) return fail('amount must be a valid number greater than or equal to zero');\nconst fromDate = parseIsoDate(item.from_date);\nconst toDate = parseIsoDate(item.to_date);\nif (!fromDate) return fail('from_date must be a valid date');\nif (!toDate) return fail('to_date must be a valid date');\nconst fromMonthNumber = (fromDate.year * 12) + fromDate.month;\nconst toMonthNumber = (toDate.year * 12) + toDate.month;\nconst months = toMonthNumber - fromMonthNumber;\nif (months < 1) return fail('to_date must be at least one calendar month after from_date');\nconst refund = Math.round((Number(item.amount) * Math.max(months - 1, 0)) / 12);\nconst explanation = `Refund of membership. Reason Player ${clean(item.reason)}. Repayment = ${formatMoney(item.amount)} * (${months}-1)/12 months = ${formatMoney(refund)}`;\nreturn [{\n  json: {\n    sql: `with inserted as (\n  insert into public.refunds (\n    name,\n    refund_for,\n    reason,\n    membership,\n    amount,\n    from_date,\n    to_date,\n    months,\n    refund,\n    status,\n    explanation,\n    created_by\n  ) values (\n    ${sqlLiteral(item.name)},\n    ${sqlLiteral(item.refund_for)},\n    ${sqlLiteral(item.reason)},\n    ${sqlLiteral(item.membership)},\n    ${sqlNumeric(item.amount)},\n    ${sqlLiteral(fromDate.iso)}::date,\n    ${sqlLiteral(toDate.iso)}::date,\n    ${months},\n    ${sqlNumeric(refund)},\n    ${sqlLiteral(item.status)},\n    ${sqlLiteral(explanation)},\n    ${sqlLiteral(item.created_by)}\n  )\n  returning id, name, refund_for, reason, membership, amount, from_date, to_date, months, refund, status, explanation, created_at\n)\nselect true as ok, 200 as response_code, format('Added refund %s', id) as message, *\nfrom inserted;`\n  }\n}];"
      },
      "id": "r2000000-0000-0000-0000-000000000004",
      "name": "Build Insert SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "r2000000-0000-0000-0000-000000000005",
      "name": "Insert Refund",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Resolve Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Refund Webhook": {
      "main": [
        [
          {
            "node": "Resolve Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Inputs": {
      "main": [
        [
          {
            "node": "Build Insert SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insert SQL": {
      "main": [
        [
          {
            "node": "Insert Refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "pinData": {},
  "versionId": "add-refund-v2",
  "active": true
}
