workflows/capture-membership-history-season-snapshot.json
{
  "name": "Capture Membership History Season Snapshot",
  "nodes": [
    {
      "parameters": {},
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 * * * *"
            }
          ]
        }
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000002",
      "name": "Half Past Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $input.first()?.json ?? {};\nconst now = new Date();\nconst yearText = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/London',\n  year: 'numeric',\n}).format(now);\nconst defaultYear = Number.parseInt(yearText, 10);\nconst rawSeason = source.source_season ?? source.snapshot_year ?? source.year ?? defaultYear;\nconst sourceSeason = String(rawSeason).trim();\nif (!/^\\d{4}$/.test(sourceSeason)) {\n  throw new Error('source_season must be a four-digit year');\n}\nconst nextSeason = String(Number.parseInt(sourceSeason, 10) + 1);\nconst snapshotKey = String(source.snapshot_key ?? `${sourceSeason}/${nextSeason}`).trim();\nreturn [{\n  json: {\n    snapshot_key: snapshotKey,\n    source_season: sourceSeason,\n  }\n}];"
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000003",
      "name": "Build Snapshot Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\nconst config = $input.first()?.json ?? {};\nconst sql = `SELECT * FROM public.capture_membership_history_snapshot(${sqlLiteral(config.snapshot_key)}, ${sqlLiteral(config.source_season)});`;\nreturn [{ json: { ...config, sql } }];"
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000004",
      "name": "Build Capture SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000005",
      "name": "Capture Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const row = $input.first()?.json ?? {};\nreturn [{\n  json: {\n    snapshot_key: row.snapshot_key,\n    source_season: row.source_season,\n    rows_written: Number(row.rows_written ?? 0),\n    updated_membership_history: Boolean(row.updated_membership_history),\n    captured_at: new Date().toISOString(),\n  }\n}];"
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000006",
      "name": "Summarize Capture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        360
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Build Snapshot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Half Past Every Hour": {
      "main": [
        [
          {
            "node": "Build Snapshot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Snapshot Config": {
      "main": [
        [
          {
            "node": "Build Capture SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Capture SQL": {
      "main": [
        [
          {
            "node": "Capture Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Snapshot": {
      "main": [
        [
          {
            "node": "Summarize Capture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "meta": null
}
