workflows/case-tracking-actions.json
{
  "name": "Case Tracking Actions",
  "nodes": [
    {
      "parameters": {},
      "id": "ctb000000-0000-0000-0000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "path": "case-tracking-actions",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ctb000000-0000-0000-0000-000000000002",
      "name": "Case Tracking Actions Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "case-tracking-actions"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'n8n_base_url' THEN value END) AS n8n_base_url\nFROM public.global_settings\nWHERE key = 'n8n_base_url';"
      },
      "id": "ctb000000-0000-0000-0000-000000000003",
      "name": "Load Action Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const settings = $('Load Action Settings').first()?.json ?? {};\nconst request = $('Case Tracking Actions Webhook').first()?.json ?? $input.first()?.json ?? {};\nconst body = request.body ?? request.query ?? request;\nconst headers = request.headers ?? {};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst deriveBaseUrl = (headers, fallback) => {\n  const forwardedProto = clean(headers['x-forwarded-proto']);\n  const forwardedHost = clean(headers['x-forwarded-host']);\n  const host = forwardedHost || clean(headers.host);\n  const forwardedPort = clean(headers['x-forwarded-port']);\n  if (!host) return fallback;\n  const proto = forwardedProto || 'http';\n  let authority = host;\n  if (forwardedPort && !authority.includes(':')) {\n    const isDefaultPort = (proto === 'http' && forwardedPort === '80') || (proto === 'https' && forwardedPort === '443');\n    if (!isDefaultPort) authority = authority + ':' + forwardedPort;\n  }\n  return proto + '://' + authority;\n};\nconst fallbackBaseUrl = clean(settings.n8n_base_url) || 'http://n8n:5678';\nconst n8nBaseUrl = deriveBaseUrl(headers, fallbackBaseUrl);\nconst action = clean(body.action);\nconst caseId = /^[0-9a-fA-F-]{36}$/.test(clean(body.case_id)) ? clean(body.case_id) : '';\nconst allowedPriorities = new Set(['Low', 'Medium', 'High', 'Urgent']);\nconst priority = allowedPriorities.has(clean(body.priority)) ? clean(body.priority) : 'Medium';\nconst allowedStatuses = new Set(['New', 'In Progress', 'Waiting', 'Completed']);\nconst status = allowedStatuses.has(clean(body.status)) ? clean(body.status) : 'New';\nconst returnUrl = clean(body.return_url) || (n8nBaseUrl + '/webhook/case-tracking?view=dashboard');\nlet errorMessage = '';\nif (action === 'create_case') {\n  if (!clean(body.title)) errorMessage = 'Title is required.';\n  else if (!clean(body.contact_name)) errorMessage = 'Contact name is required.';\n} else if (action === 'update_case') {\n  if (!caseId) errorMessage = 'A valid case id is required.';\n  else if (!clean(body.title)) errorMessage = 'Title is required.';\n  else if (!clean(body.contact_name)) errorMessage = 'Contact name is required.';\n} else if (action === 'add_note') {\n  if (!caseId) errorMessage = 'A valid case id is required.';\n  else if (!clean(body.note_text)) errorMessage = 'Note text is required.';\n} else if (action === 'save_signature') {\n  if (!clean(body.template_key)) errorMessage = 'template_key is required.';\n  else if (!clean(body.template_name)) errorMessage = 'Template name is required.';\n} else if (action === 'save_settings') {\n  if (!clean(body.email_test_recipient)) errorMessage = 'Test recipient is required.';\n} else {\n  errorMessage = 'Unsupported action.';\n}\nreturn [{ json: {\n  action, case_id: caseId, return_url: returnUrl, n8n_base_url: n8nBaseUrl,\n  title: clean(body.title), contact_name: clean(body.contact_name), contact_email: clean(body.contact_email), contact_phone: clean(body.contact_phone),\n  source: clean(body.source) || 'manual', priority, status, notes: clean(body.notes), opening_note: clean(body.opening_note),\n  note_text: clean(body.note_text), template_key: clean(body.template_key), template_name: clean(body.template_name), text_template: body.text_template ?? '', html_template: body.html_template ?? '',\n  email_delivery_mode: clean(body.email_delivery_mode) === 'production' ? 'production' : 'test',\n  email_test_recipient: clean(body.email_test_recipient), email_sender_name: clean(body.email_sender_name), email_reply_to: clean(body.email_reply_to), email_signature_template_key: clean(body.email_signature_template_key), n8n_base_url_setting: clean(body.n8n_base_url),\n  error_message: errorMessage\n} }];"
      },
      "id": "ctb000000-0000-0000-0000-000000000004",
      "name": "Resolve Action Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ctb000000-0000-0000-0000-000000000005-condition",
              "leftValue": "={{ $json.error_message || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ctb000000-0000-0000-0000-000000000005",
      "name": "Check Request Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $('Resolve Action Request').first()?.json ?? {};\nconst message = input.error_message || 'Unable to complete the requested action.';\nconst redirectTo = (input.return_url || '#') + ((input.return_url || '').includes('?') ? '&' : '?') + 'error=' + encodeURIComponent(message);\nconst escapeHtml = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '&quot;').replace(/'/g, '&#39;');\nconst html = '<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta http-equiv=\"refresh\" content=\"0; url=' + escapeHtml(redirectTo) + '\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><title>Action failed</title></head><body><p>' + escapeHtml(message) + '</p><p><a href=\"' + escapeHtml(redirectTo) + '\">Continue</a></p></body></html>';\nreturn [{ json: { html } }];"
      },
      "id": "ctb000000-0000-0000-0000-000000000006",
      "name": "Build Error HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store, no-cache, must-revalidate, max-age=0"
              },
              {
                "name": "Pragma",
                "value": "no-cache"
              },
              {
                "name": "Expires",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "ctb000000-0000-0000-0000-000000000007",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1540,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json ?? {};\nconst sqlLiteral = (value) => value === null || value === undefined ? 'NULL' : \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\nlet sql = '';\nlet successTitle = 'Saved';\nlet successMessage = 'Changes saved.';\nif (input.action === 'create_case') {\n  sql = [\n    'WITH inserted_case AS (',\n    '  INSERT INTO public.cases (title, contact_name, contact_email, contact_phone, source, status, priority, notes, created_by, updated_at)',\n    '  VALUES (' + [sqlLiteral(input.title), sqlLiteral(input.contact_name), sqlLiteral(input.contact_email), sqlLiteral(input.contact_phone), sqlLiteral(input.source), sqlLiteral('New'), sqlLiteral(input.priority), sqlLiteral(input.opening_note), sqlLiteral('case-tracking'), 'now()'].join(', ') + ')',\n    '  RETURNING id, title, contact_name',\n    '), inserted_note AS (',\n    '  INSERT INTO public.case_emails (case_id, direction, subject, body_text, created_by, created_at)',\n    \"  SELECT id, \" + sqlLiteral('note') + \", \" + sqlLiteral('Case created') + \", NULLIF(\" + sqlLiteral(input.opening_note) + \", ''), \" + sqlLiteral('case-tracking') + \", now()\",\n    '  FROM inserted_case',\n    \"  WHERE NULLIF(\" + sqlLiteral(input.opening_note) + \", '') IS NOT NULL\",\n    '  RETURNING id',\n    ')',\n    'SELECT id::text AS case_id, title, contact_name FROM inserted_case'\n  ].join('\\n');\n  successTitle = 'Case created';\n  successMessage = 'The new case is ready.';\n} else if (input.action === 'update_case') {\n  sql = [\n    'UPDATE public.cases',\n    'SET',\n    '  title = ' + sqlLiteral(input.title) + ',',\n    '  contact_name = ' + sqlLiteral(input.contact_name) + ',',\n    '  contact_email = ' + sqlLiteral(input.contact_email) + ',',\n    '  contact_phone = ' + sqlLiteral(input.contact_phone) + ',',\n    '  status = ' + sqlLiteral(input.status) + ',',\n    '  priority = ' + sqlLiteral(input.priority) + ',',\n    '  notes = ' + sqlLiteral(input.notes) + ',',\n    '  updated_at = now(),',\n    \"  closed_at = CASE WHEN \" + sqlLiteral(input.status) + \" = 'Completed' THEN COALESCE(closed_at, now()) ELSE NULL END\",\n    'WHERE id = ' + sqlLiteral(input.case_id) + '::uuid',\n    'RETURNING id::text AS case_id, title'\n  ].join('\\n');\n  successTitle = 'Case updated';\n  successMessage = 'Case details saved.';\n} else if (input.action === 'add_note') {\n  sql = [\n    'WITH inserted_note AS (',\n    '  INSERT INTO public.case_emails (case_id, direction, subject, body_text, created_by, created_at)',\n    '  VALUES (' + [sqlLiteral(input.case_id) + '::uuid', sqlLiteral('note'), sqlLiteral('Internal note'), sqlLiteral(input.note_text), sqlLiteral('case-tracking'), 'now()'].join(', ') + ')',\n    '  RETURNING case_id',\n    '), updated_case AS (',\n    '  UPDATE public.cases',\n    '  SET updated_at = now()',\n    '  WHERE id = (SELECT case_id FROM inserted_note)',\n    '  RETURNING id',\n    ')',\n    'SELECT id::text AS case_id FROM updated_case'\n  ].join('\\n');\n  successTitle = 'Note saved';\n  successMessage = 'The case note was added.';\n} else if (input.action === 'save_signature') {\n  sql = [\n    'UPDATE public.email_templates',\n    'SET',\n    '  template_name = ' + sqlLiteral(input.template_name) + ',',\n    '  text_template = ' + sqlLiteral(input.text_template) + ',',\n    '  html_template = ' + sqlLiteral(input.html_template) + ',',\n    '  updated_at = now()',\n    'WHERE template_key = ' + sqlLiteral(input.template_key),\n    '  AND template_type = 2',\n    'RETURNING template_key'\n  ].join('\\n');\n  successTitle = 'Signature saved';\n  successMessage = 'Signature template updated.';\n} else if (input.action === 'save_settings') {\n  const values = [\n    ['email_delivery_mode', input.email_delivery_mode, 'Default case-tracking delivery mode'],\n    ['email_test_recipient', input.email_test_recipient, 'Case-tracking test recipient'],\n    ['email_sender_name', input.email_sender_name, 'Case-tracking sender name'],\n    ['email_reply_to', input.email_reply_to, 'Case-tracking reply-to address'],\n    ['email_signature_template_key', input.email_signature_template_key, 'Default signature template used by case tracking'],\n    ['n8n_base_url', input.n8n_base_url_setting, 'Base URL used in generated case-tracking links']\n  ];\n  sql = [\n    'WITH incoming(key, value, description) AS (',\n    '  VALUES',\n    values.map((item) => '    (' + [sqlLiteral(item[0]), sqlLiteral(item[1]), sqlLiteral(item[2])].join(', ') + ')').join(',\\n'),\n    '), upserted AS (',\n    '  INSERT INTO public.global_settings (key, value, description, updated_at)',\n    '  SELECT key, value, description, now() FROM incoming',\n    '  ON CONFLICT (key) DO UPDATE SET value = EXCLUDED.value, description = EXCLUDED.description, updated_at = now()',\n    '  RETURNING key',\n    ')',\n    'SELECT count(*)::text AS updated_count FROM upserted'\n  ].join('\\n');\n  successTitle = 'Settings saved';\n  successMessage = 'Global settings updated.';\n}\nreturn [{ json: { ...input, sql, success_title: successTitle, success_message: successMessage } }];"
      },
      "id": "ctb000000-0000-0000-0000-000000000008",
      "name": "Build Action SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "ctb000000-0000-0000-0000-000000000009",
      "name": "Execute Action SQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1540,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $('Build Action SQL').first()?.json ?? {};\nconst result = $input.first()?.json ?? {};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nlet redirectTo = input.return_url || (input.n8n_base_url + '/webhook/case-tracking?view=dashboard');\nif (input.action === 'create_case' && clean(result.case_id)) {\n  redirectTo = input.n8n_base_url + '/webhook/case-tracking?view=case&id=' + encodeURIComponent(result.case_id);\n} else if ((input.action === 'update_case' || input.action === 'add_note') && clean(result.case_id)) {\n  redirectTo = input.n8n_base_url + '/webhook/case-tracking?view=case&id=' + encodeURIComponent(result.case_id);\n} else if (input.action === 'save_signature' && clean(input.template_key)) {\n  redirectTo = input.n8n_base_url + '/webhook/case-tracking?view=signatures&template_key=' + encodeURIComponent(input.template_key);\n} else if (input.action === 'save_settings') {\n  redirectTo = input.n8n_base_url + '/webhook/case-tracking?view=settings';\n}\nredirectTo += (redirectTo.includes('?') ? '&' : '?') + 'message=' + encodeURIComponent(input.success_message || 'Saved');\nconst escapeHtml = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\\\"/g, '&quot;').replace(/'/g, '&#39;');\nconst html = '<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta http-equiv=\"refresh\" content=\"0; url=' + escapeHtml(redirectTo) + '\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"><title>' + escapeHtml(input.success_title) + '</title></head><body><p>Saved. Redirecting\u2026</p><p><a href=\"' + escapeHtml(redirectTo) + '\">Continue</a></p></body></html>';\nreturn [{ json: { html } }];"
      },
      "id": "ctb000000-0000-0000-0000-000000000010",
      "name": "Build Success HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store, no-cache, must-revalidate, max-age=0"
              },
              {
                "name": "Pragma",
                "value": "no-cache"
              },
              {
                "name": "Expires",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "ctb000000-0000-0000-0000-000000000011",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2060,
        320
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Action Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Case Tracking Actions Webhook": {
      "main": [
        [
          {
            "node": "Load Action Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Action Settings": {
      "main": [
        [
          {
            "node": "Resolve Action Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Action Request": {
      "main": [
        [
          {
            "node": "Check Request Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Request Error": {
      "main": [
        [
          {
            "node": "Build Error HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Action SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error HTML": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Action SQL": {
      "main": [
        [
          {
            "node": "Execute Action SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Action SQL": {
      "main": [
        [
          {
            "node": "Build Success HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success HTML": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
