workflows/clubspark-full-refresh.json
{
  "name": "ClubSpark Full Refresh",
  "nodes": [
    {
      "parameters": {},
      "id": "c54e2472-c240-4540-a297-f341f07e86b3",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * * *"
            }
          ]
        }
      },
      "id": "b2786eaa-70af-4471-bf00-9d5f947f4bf2",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        260,
        480
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "mode": "list",
          "value": "6XC5aXJ8uS5DS553"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "bd1cbd51-5d94-4690-bcdf-c7c92cb7e800",
      "name": "Execute Contacts Export",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        560,
        300
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "189895af-7acb-4e50-bc12-96bc47a7988f",
              "leftValue": "={{ !!$json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0efdd05a-dc90-47fb-bbe4-d8b7f54b28af",
      "name": "Contacts Export Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "mode": "list",
          "value": "0cLfjgMnyQeFcJ8T"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "a2c77e7e-55f7-44d5-a7d4-c0a9f5186df6",
      "name": "Execute Members Export",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1080,
        440
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55180778-d76e-43d6-a839-13425a400b2b",
              "leftValue": "={{ !!$json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6c7a636-a30b-4c04-a10b-d1fd9205d09d",
      "name": "Members Export Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        440
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "mode": "list",
          "value": "ce20mohkFS0JIeDc"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "5e8d5fc0-1db1-4410-b3fd-60d7e5c6d35f",
      "name": "Execute Sync To Cloud",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1600,
        580
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "58ced0a0-e65f-45a0-9e68-f1c9268fdaea",
              "leftValue": "={{ !!$json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56546416-e14b-4379-9b8f-4cb0bf138c61",
      "name": "Sync Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\nconst rawError = item.error;\nconst errorMessage = rawError?.message ?? rawError?.description ?? rawError ?? 'ClubSpark contacts export failed';\n\nreturn [{\n  json: {\n    overall_status: 'error',\n    failed_stage: 'contacts_export',\n    contacts_status: 'error',\n    members_status: 'not_started',\n    sync_status: 'not_started',\n    error_message: String(errorMessage),\n    completed_at: new Date().toISOString(),\n  },\n}];"
      },
      "id": "2db8d86c-0d1d-460c-9a83-b60ef9f46dbf",
      "name": "Contacts Export Error Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\nconst rawError = item.error;\nconst errorMessage = rawError?.message ?? rawError?.description ?? rawError ?? 'ClubSpark members export failed';\n\nreturn [{\n  json: {\n    overall_status: 'error',\n    failed_stage: 'members_export',\n    contacts_status: 'success',\n    members_status: 'error',\n    sync_status: 'not_started',\n    error_message: String(errorMessage),\n    completed_at: new Date().toISOString(),\n  },\n}];"
      },
      "id": "f4c3caa1-24db-4ccc-8312-57c874f26957",
      "name": "Members Export Error Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\nconst rawError = item.error;\nconst errorMessage = rawError?.message ?? rawError?.description ?? rawError ?? 'Raw table sync failed';\n\nreturn [{\n  json: {\n    overall_status: 'error',\n    failed_stage: 'sync_to_cloud',\n    contacts_status: 'success',\n    members_status: 'success',\n    sync_status: 'error',\n    error_message: String(errorMessage),\n    completed_at: new Date().toISOString(),\n  },\n}];"
      },
      "id": "8ec5ed7c-1c7d-4df6-8437-ee547ff286a2",
      "name": "Sync Error Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    overall_status: 'success',\n    contacts_status: 'success',\n    members_status: 'success',\n    sync_status: 'success',\n    message: 'Contacts export, members export, and cloud sync completed successfully.',\n    completed_at: new Date().toISOString(),\n  },\n}];"
      },
      "id": "d4ca7e52-ec8c-48af-b3d7-6d4d71dd3f24",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        720
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Execute Contacts Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour": {
      "main": [
        [
          {
            "node": "Execute Contacts Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Contacts Export": {
      "main": [
        [
          {
            "node": "Contacts Export Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Export Failed?": {
      "main": [
        [
          {
            "node": "Contacts Export Error Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Members Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Members Export": {
      "main": [
        [
          {
            "node": "Members Export Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Members Export Failed?": {
      "main": [
        [
          {
            "node": "Members Export Error Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sync To Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sync To Cloud": {
      "main": [
        [
          {
            "node": "Sync Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Failed?": {
      "main": [
        [
          {
            "node": "Sync Error Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
