workflows/clubspark-main-contacts-export.json
{
  "name": "ClubSpark Main Contacts Export",
  "nodes": [
    {
      "parameters": {},
      "id": "c2d3e4f5-0001-0001-0001-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000002",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'clubspark_exporter_base_url' THEN value END) AS clubspark_exporter_base_url\nFROM public.global_settings\nWHERE key = 'clubspark_exporter_base_url';"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000003",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        450,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const getOrigin = (value) => {\n  const text = String(value ?? '').trim();\n  const match = text.match(/^https?:\\/\\/[^/]+/i);\n  return match ? match[0] : null;\n};\nconst getNodeJson = (nodeName) => {\n  try {\n    return $(nodeName).first().json ?? null;\n  } catch {\n    return null;\n  }\n};\nconst settings = $('Load Global Settings').first().json ?? {};\nconst incoming = getNodeJson('When Executed by Another Workflow') ?? getNodeJson(\"When clicking 'Execute workflow'\") ?? {};\nconst targetUrl = 'https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Membership/Members';\nconst targetOrigin = getOrigin(targetUrl);\nconst forceRefresh = [true, 'true', '1', 1, 'yes'].includes(incoming.forceRefresh);\nconst requestedMaxAge = Number.parseFloat(String(incoming.maxAgeMinutes ?? incoming.cacheMaxAgeMinutes ?? '20'));\nconst maxAgeMinutes = Number.isFinite(requestedMaxAge) && requestedMaxAge > 0 ? requestedMaxAge : 20;\nconst providedCookieHeader = typeof incoming.cookieHeader === 'string' ? incoming.cookieHeader.trim() : '';\nconst providedUserAgent = typeof incoming.userAgent === 'string' ? incoming.userAgent.trim() : '';\nconst hasProvidedSession = Boolean(!forceRefresh && providedCookieHeader && providedUserAgent);\nconst staticData = $getWorkflowStaticData('global');\nconst fetchedAtMs = staticData.fetchedAt ? Date.parse(staticData.fetchedAt) : NaN;\nlet sameOrigin = true;\ntry {\n  const cachedOrigin = staticData.sessionOrigin ?? (staticData.targetUrl ? getOrigin(staticData.targetUrl) : null);\n  sameOrigin = cachedOrigin && targetOrigin ? cachedOrigin === targetOrigin : true;\n} catch {\n  sameOrigin = false;\n}\nconst hasCachedSession = Boolean(\n  !hasProvidedSession\n  && !forceRefresh\n  && staticData.cookieHeader\n  && staticData.userAgent\n  && Number.isFinite(fetchedAtMs)\n  && (Date.now() - fetchedAtMs) <= (maxAgeMinutes * 60 * 1000)\n  && sameOrigin\n);\nreturn [{\n  json: {\n    clubspark_exporter_base_url: settings.clubspark_exporter_base_url,\n    targetUrl,\n    maxAgeMinutes,\n    forceRefresh,\n    useCachedSession: hasProvidedSession || hasCachedSession,\n    authenticated: (hasProvidedSession || hasCachedSession) ? true : undefined,\n    authenticatedUrl: hasProvidedSession\n      ? (incoming.authenticatedUrl ?? targetUrl)\n      : hasCachedSession\n        ? (staticData.authenticatedUrl ?? targetUrl)\n        : undefined,\n    pageTitle: hasProvidedSession\n      ? (incoming.pageTitle ?? null)\n      : hasCachedSession\n        ? (staticData.pageTitle ?? null)\n        : undefined,\n    userAgent: hasProvidedSession ? providedUserAgent : hasCachedSession ? staticData.userAgent : undefined,\n    cookieHeader: hasProvidedSession ? providedCookieHeader : hasCachedSession ? staticData.cookieHeader : undefined,\n    cookieCount: hasProvidedSession\n      ? Number(incoming.cookieCount ?? 0)\n      : hasCachedSession\n        ? Number(staticData.cookieCount ?? 0)\n        : undefined,\n    probe: hasProvidedSession\n      ? {\n          source: 'input_session',\n          targetOrigin,\n        }\n      : hasCachedSession\n        ? {\n            source: 'workflow_static_data',\n            fetchedAt: staticData.fetchedAt ?? null,\n            maxAgeMinutes,\n            targetOrigin,\n          }\n        : null,\n  },\n}];"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000004",
      "name": "Prepare Auth Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Load Global Settings').first().json.clubspark_exporter_base_url + '/clubspark-members-main-contacts-export' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ClubSpark-Target-Url",
              "value": "https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Membership/Members"
            },
            {
              "name": "X-ClubSpark-Cookie-Header",
              "value": "={{ $('Keep Reusable Session').first().json.cookieHeader }}"
            },
            {
              "name": "X-ClubSpark-User-Agent",
              "value": "={{ $('Keep Reusable Session').first().json.userAgent }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000006",
      "name": "Fetch Main Contacts CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst payload = item.json ?? {};\nconst csvText = String(payload.body ?? payload.data ?? payload.stdout ?? '').trim();\nconst detail = JSON.stringify(Object.keys(payload));\nif (!csvText) {\n  throw new Error(`ClubSpark main contacts exporter did not return CSV output. Payload keys: ${detail}`);\n}\nif (/^<!DOCTYPE html/i.test(csvText) || /^<html/i.test(csvText) || /<title>.*Sign in/i.test(csvText)) {\n  throw new Error('ClubSpark main contacts exporter returned HTML instead of CSV. The browser login did not complete successfully.');\n}\nfunction parseCsv(text) {\n  const rows = [];\n  let row = [], field = '', inQuotes = false;\n  for (let i = 0; i < text.length; i++) {\n    const ch = text[i], next = text[i + 1];\n    if (inQuotes) {\n      if (ch === '\"' && next === '\"') { field += '\"'; i++; }\n      else if (ch === '\"') { inQuotes = false; }\n      else { field += ch; }\n    } else {\n      if (ch === '\"') { inQuotes = true; }\n      else if (ch === ',') { row.push(field); field = ''; }\n      else if (ch === '\\r' && next === '\\n') { row.push(field); field = ''; rows.push(row); row = []; i++; }\n      else if (ch === '\\n' || ch === '\\r') { row.push(field); field = ''; rows.push(row); row = []; }\n      else { field += ch; }\n    }\n  }\n  if (field || row.length) { row.push(field); rows.push(row); }\n  return rows;\n}\nconst allRows = parseCsv(csvText);\nif (allRows.length < 2) throw new Error(`CSV has fewer than 2 rows (got ${allRows.length}).`);\nconst headers = allRows[0].map((h) => h.trim());\nif (!headers.includes('First name') || !headers.includes('Membership')) {\n  throw new Error(`ClubSpark export did not return the expected main contacts CSV headers. Got: ${headers.slice(0, 8).join(', ')}`);\n}\nconst dataRows = allRows.slice(1).filter((r) => r.some((c) => c.trim() !== ''));\nif (!dataRows.length) {\n  return [{ json: { rowCount: 0, message: 'No data rows in CSV export.' } }];\n}\nreturn dataRows.map((row) => ({ json: Object.fromEntries(headers.map((h, i) => [h, (row[i] ?? '').trim()])) }));"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000007",
      "name": "Parse Main Contacts CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst sqlInteger = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const digits = String(value).replace(/[^0-9-]+/g, '');\n  if (!digits || digits === '-') return 'NULL';\n  const parsed = Number.parseInt(digits, 10);\n  return Number.isNaN(parsed) ? 'NULL' : String(parsed);\n};\nconst sqlNumeric = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const normalized = String(value).replace(/,/g, '').replace(/[^0-9.-]+/g, '');\n  if (!normalized || normalized === '-' || normalized === '.' || normalized === '-.') return 'NULL';\n  const parsed = Number.parseFloat(normalized);\n  return Number.isNaN(parsed) ? 'NULL' : String(parsed);\n};\nconst rows = $input.all().map((item) => item.json ?? {});\nif (!rows.length) {\n  throw new Error('No parsed main contacts rows were available to build the import SQL.');\n}\nconst columns = [\n  { db: 'Venue ID', headers: ['Venue ID'] },\n  { db: 'First name', headers: ['First name'] },\n  { db: 'Last name', headers: ['Last name'] },\n  { db: 'Gender', headers: ['Gender'] },\n  { db: 'Age', headers: ['Age'], type: 'integer' },\n  { db: 'Junior', headers: ['Junior'] },\n  { db: 'Date of birth', headers: ['Date of birth'] },\n  { db: 'Membership', headers: ['Membership'] },\n  { db: 'Payment', headers: ['Payment'] },\n  { db: 'Cost', headers: ['Cost'], type: 'numeric' },\n  { db: 'Paid', headers: ['Paid'], type: 'numeric' },\n  { db: 'Paid Credit Card', headers: ['Paid Credit Card'], type: 'numeric' },\n  { db: 'Paid Direct Debit', headers: ['Paid Direct Debit'], type: 'numeric' },\n  { db: 'Paid Cash', headers: ['Paid Cash'], type: 'numeric' },\n  { db: 'Paid Cheque', headers: ['Paid Cheque'], type: 'numeric' },\n  { db: 'Paid Other', headers: ['Paid Other'], type: 'numeric' },\n  { db: 'Gift aid', headers: ['Gift aid'] },\n  { db: 'Status', headers: ['Status'] },\n  { db: 'Start Date', headers: ['Start Date'] },\n  { db: 'Expiry Date', headers: ['Expiry Date'] },\n  { db: 'Email address', headers: ['Email address'] },\n  { db: 'Phone number', headers: ['Phone number'] },\n  { db: 'Work number', headers: ['Work number'] },\n  { db: 'Mobile number', headers: ['Mobile number'] },\n  { db: 'Emergency contact name', headers: ['Emergency contact name'] },\n  { db: 'Emergency phone number', headers: ['Emergency phone number'] },\n  { db: 'Address 1', headers: ['Address 1'] },\n  { db: 'Address 2', headers: ['Address 2'] },\n  { db: 'Address 3', headers: ['Address 3'] },\n  { db: 'Town', headers: ['Town'] },\n  { db: 'County', headers: ['County'] },\n  { db: 'Country', headers: ['Country'] },\n  { db: 'Postcode', headers: ['Postcode'] },\n  { db: 'British Tennis Number', headers: ['British Tennis Number'] },\n  { db: 'Date joined venue', headers: ['Date joined venue'] },\n  { db: 'Medical history', headers: ['Medical history'] },\n  { db: 'Venue source', headers: ['Venue source', ' Venue source'] },\n  { db: 'Contact source', headers: ['Contact source'] },\n  { db: 'Occupation', headers: ['Occupation'] },\n  { db: 'Tags provided', headers: ['Tags provided'] },\n  { db: 'Key pin number', headers: ['Key pin number'] },\n  { db: 'Registered', headers: ['Registered'] },\n  { db: 'Member status', headers: ['Member status'] },\n  { db: 'Receipt of Emails', headers: ['Receipt of Emails'] },\n  { db: 'Share Contact Detail', headers: ['Share Contact Detail'] },\n  { db: \"Member's Directory\", headers: [\"Member's Directory\"] },\n  { db: 'Photography', headers: ['Photography'] },\n  { db: ' Venue source', headers: [' Venue source', 'Venue source'] }\n];\nconst getValue = (row, headers) => {\n  for (const header of headers) {\n    if (Object.prototype.hasOwnProperty.call(row, header)) {\n      return row[header];\n    }\n  }\n  return null;\n};\nconst quotedColumns = columns.map(({ db }) => '\"' + db.replace(/\"/g, '\"\"') + '\"').join(', ');\nconst values = rows.map((row) => {\n  const record = columns.map((column) => {\n    const rawValue = getValue(row, column.headers);\n    if (column.type === 'integer') return sqlInteger(rawValue);\n    if (column.type === 'numeric') return sqlNumeric(rawValue);\n    return sqlLiteral(rawValue);\n  });\n  return '(' + record.join(', ') + ')';\n}).join(',\\n  ');\nconst sql = 'BEGIN;\\n' +\n  'SELECT * FROM public.prepare_raw_members_main_contacts_import_staging();\\n' +\n  'INSERT INTO public.raw_members_main_contacts_import_staging (' + quotedColumns + ')\\n' +\n  'VALUES\\n  ' + values + ';\\n' +\n  'SELECT * FROM public.reconcile_raw_members_main_contacts_from_staging();\\n' +\n  'COMMIT;';\nreturn [{ json: { sql, rowCount: rows.length } }];"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000008",
      "name": "Build Insert SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000009",
      "name": "Insert Into raw_members_main_contacts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1950,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS total_main_contacts_rows FROM public.raw_members_main_contacts;"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000010",
      "name": "Verify Row Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2d3e4f5-0001-0001-0001-000000000021-reuse-cached-condition",
              "leftValue": "={{ $json.useCachedSession === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000021-reuse-cached-session",
      "name": "Reuse Cached Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        950,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare Auth Request').first().json.clubspark_exporter_base_url + '/clubspark-auth-session' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ClubSpark-Target-Url",
              "value": "={{ $json.targetUrl }}"
            }
          ]
        }
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000021-request-auth-session",
      "name": "Request Auth Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const getOrigin = (value) => {\n  const text = String(value ?? '').trim();\n  const match = text.match(/^https?:\\/\\/[^/]+/i);\n  return match ? match[0] : null;\n};\nconst payload = $input.first().json ?? {};\nif (payload.authenticated !== true || !payload.cookieHeader || !payload.userAgent) {\n  throw new Error('ClubSpark auth session did not return a reusable authenticated session.');\n}\nconst staticData = $getWorkflowStaticData('global');\nstaticData.fetchedAt = new Date().toISOString();\nstaticData.targetUrl = payload.targetUrl ?? null;\nstaticData.sessionOrigin = payload.targetUrl ? getOrigin(payload.targetUrl) : null;\nstaticData.authenticatedUrl = payload.authenticatedUrl ?? payload.targetUrl ?? null;\nstaticData.pageTitle = payload.pageTitle ?? null;\nstaticData.userAgent = payload.userAgent;\nstaticData.cookieHeader = payload.cookieHeader;\nstaticData.cookieCount = Number(payload.cookieCount ?? 0);\nreturn [{ json: payload }];"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000021-cache-auth-session",
      "name": "Cache Auth Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json ?? {};\nif (!payload.cookieHeader) {\n  throw new Error('ClubSpark auth session did not return a reusable cookie header.');\n}\nif (payload.authenticated !== true) {\n  throw new Error('ClubSpark auth session did not report authenticated=true.');\n}\nreturn [{\n  json: {\n    authenticated: payload.authenticated,\n    targetUrl: payload.targetUrl,\n    authenticatedUrl: payload.authenticatedUrl,\n    pageTitle: payload.pageTitle,\n    userAgent: payload.userAgent,\n    cookieHeader: payload.cookieHeader,\n    cookieCount: payload.cookieCount,\n    probe: payload.probe ?? null,\n  },\n}];"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000021-keep-reusable-session",
      "name": "Keep Reusable Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const counts = $input.first().json ?? {};\nconst session = $('Keep Reusable Session').first().json ?? {};\nreturn [{\n  json: {\n    total_main_contacts_rows: Number(counts.total_main_contacts_rows ?? 0),\n    authenticated: session.authenticated === true,\n    targetUrl: session.targetUrl ?? 'https://clubspark.lta.org.uk/AvondaleTennisClub/Admin/Membership/Members',\n    authenticatedUrl: session.authenticatedUrl ?? null,\n    pageTitle: session.pageTitle ?? null,\n    userAgent: session.userAgent ?? null,\n    cookieHeader: session.cookieHeader ?? null,\n    cookieCount: Number(session.cookieCount ?? 0),\n    probe: session.probe ?? null,\n  },\n}];"
      },
      "id": "c2d3e4f5-0001-0001-0001-000000000021",
      "name": "Keep Session Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2450,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Prepare Auth Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Auth Request": {
      "main": [
        [
          {
            "node": "Reuse Cached Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Main Contacts CSV": {
      "main": [
        [
          {
            "node": "Parse Main Contacts CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Main Contacts CSV": {
      "main": [
        [
          {
            "node": "Build Insert SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insert SQL": {
      "main": [
        [
          {
            "node": "Insert Into raw_members_main_contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into raw_members_main_contacts": {
      "main": [
        [
          {
            "node": "Verify Row Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reuse Cached Session?": {
      "main": [
        [
          {
            "node": "Keep Reusable Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Auth Session": {
      "main": [
        [
          {
            "node": "Cache Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Auth Session": {
      "main": [
        [
          {
            "node": "Keep Reusable Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Reusable Session": {
      "main": [
        [
          {
            "node": "Fetch Main Contacts CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Row Count": {
      "main": [
        [
          {
            "node": "Keep Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "global": {}
  },
  "meta": null,
  "pinData": null,
  "tags": [],
  "active": true,
  "isArchived": false
}
