workflows/create-missing-signup-capture.json
{
  "name": "Create Missing Signup Capture",
  "nodes": [
    {
      "parameters": {},
      "id": "c47d8f75-90aa-4f30-9b75-100000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "path": "create-missing-signup-capture",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000002",
      "name": "Create Missing Signup Capture Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "create-missing-signup-capture"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $input.first()?.json ?? {};\nconst pick = (...values) => values.find((value) => value !== undefined && value !== null && String(value).trim() !== '');\nconst clean = (value) => {\n  const picked = pick(value);\n  return picked === undefined ? '' : String(picked).trim();\n};\nconst member = clean(source.member ?? source.query?.member ?? source.params?.member);\nconst product = clean(source.product ?? source.query?.product ?? source.params?.product);\nconst venueId = clean(source.venue_id ?? source.venueId ?? source.query?.venue_id ?? source.query?.venueId ?? source.params?.venue_id ?? source.params?.venueId);\nconst btn = clean(source.btn ?? source.british_tennis_number ?? source.query?.btn ?? source.query?.british_tennis_number ?? source.params?.btn ?? source.params?.british_tennis_number);\nconst requestSource = clean(source.request_source ?? source.requestSource ?? source.query?.request_source ?? source.query?.requestSource ?? source.params?.request_source ?? source.params?.requestSource) || 'metabase_missing_signup';\nreturn [{ json: { member, product, venue_id: venueId, btn, request_source: requestSource } }];"
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000003",
      "name": "Resolve Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst request = $input.first()?.json ?? {};\nconst member = request.member ?? '';\nconst product = request.product ?? '';\nconst venueId = request.venue_id ?? '';\nconst btn = request.btn ?? '';\nconst requestSource = request.request_source ?? 'metabase_missing_signup';\nconst hasIdentifier = Boolean(venueId || btn || member);\nif (!product || !hasIdentifier) {\n  return [{ json: { sql: `SELECT 'Missing required identifier(s). Provide product and at least one of member, venue_id, or btn.'::text AS message, 400::int AS response_code, 'bad_request'::text AS action, NULL::bigint AS signup_id, NULL::bigint AS batch_id, NULL::text AS member, NULL::text AS product, NULL::text AS source;` } }];\n}\nreturn [{\n  json: {\n    sql: `WITH params AS (\n  SELECT\n    ${sqlLiteral(member)}::text AS member_name,\n    ${sqlLiteral(product)}::text AS requested_product_name,\n    ${sqlLiteral(venueId)}::text AS venue_id,\n    ${sqlLiteral(btn)}::text AS btn,\n    ${sqlLiteral(requestSource)}::text AS request_source\n), matching_identity AS (\n  SELECT\n    p.requested_product_name,\n    trim(concat_ws(' ', m.\"First name\", m.\"Last name\")) AS member_name,\n    m.\"Membership\" AS product_name,\n    m.\"First name\" AS first_name,\n    m.\"Last name\" AS last_name,\n    m.\"Age\"::text AS age_text,\n    m.\"Email address\" AS member_email,\n    m.\"Venue ID\" AS member_venue_id,\n    m.\"British Tennis Number\"::text AS member_btn,\n    m.\"Status\" AS clubspark_status,\n    m.\"Cost\"::text AS cost_text,\n    m.\"Start Date\" AS start_date,\n    m.\"Date joined venue\" AS joined_date,\n    mp.season,\n    mp.category,\n    row_number() OVER (\n      PARTITION BY m.\"Membership\"\n      ORDER BY\n        CASE\n          WHEN p.venue_id <> '' AND nullif(trim(m.\"Venue ID\"), '') = p.venue_id THEN 0\n          WHEN p.btn <> '' AND nullif(trim(m.\"British Tennis Number\"::text), '') = p.btn THEN 1\n          WHEN lower(trim(concat_ws(' ', m.\"First name\", m.\"Last name\"))) = lower(p.member_name) THEN 2\n          ELSE 9\n        END,\n        m.id\n    ) AS match_rank\n  FROM params p\n  JOIN public.raw_members m\n    ON coalesce(m.is_current, true) = true\n   AND (\n     (p.venue_id <> '' AND nullif(trim(m.\"Venue ID\"), '') = p.venue_id)\n     OR (p.btn <> '' AND nullif(trim(m.\"British Tennis Number\"::text), '') = p.btn)\n     OR (p.member_name <> '' AND lower(trim(concat_ws(' ', m.\"First name\", m.\"Last name\"))) = lower(p.member_name))\n   )\n  JOIN public.membership_packages mp\n    ON mp.name = m.\"Membership\"\n  WHERE m.\"Status\" = 'Active'\n    AND m.\"Payment\" IN ('Paid', 'Part Paid')\n    AND coalesce(nullif(trim(mp.category), ''), '') <> 'Pavilion Key'\n), latest_season AS (\n  SELECT max(season::int)::text AS season\n  FROM matching_identity\n), candidate AS (\n  SELECT\n    mi.member_name,\n    mi.product_name,\n    coalesce(nullif(trim(bc.payer_name), ''), trim(mi.member_name)) AS payer_name,\n    nullif(trim(mi.first_name), '') AS first_name,\n    nullif(trim(mi.last_name), '') AS last_name,\n    CASE\n      WHEN nullif(trim(coalesce(mi.age_text, '')), '') IS NULL THEN NULL\n      ELSE regexp_replace(mi.age_text, '[^0-9-]+', '', 'g')::int\n    END AS age,\n    coalesce(nullif(trim(bc.email_address), ''), nullif(trim(mi.member_email), '')) AS email_address,\n    bc.address_1,\n    bc.address_2,\n    bc.address_3,\n    bc.town,\n    bc.postcode,\n    coalesce(\n      to_timestamp(nullif(mi.joined_date, ''), 'DD/MM/YYYY'),\n      to_timestamp(nullif(mi.start_date, ''), 'DD/MM/YYYY'),\n      now()\n    ) AS signup_date,\n    CASE\n      WHEN nullif(regexp_replace(coalesce(mi.cost_text, ''), '[^0-9.-]+', '', 'g'), '') IS NULL THEN NULL\n      ELSE regexp_replace(mi.cost_text, '[^0-9.-]+', '', 'g')::numeric\n    END AS cost,\n    coalesce(nullif(trim(mi.clubspark_status), ''), 'Active') AS clubspark_status,\n    mi.match_rank\n  FROM matching_identity mi\n  JOIN latest_season ls\n    ON mi.season = ls.season\n  LEFT JOIN LATERAL public.resolve_best_contact_row(\n    mi.member_name,\n    mi.member_email,\n    mi.last_name,\n    mi.product_name ILIKE '%Family%'\n  ) bc ON TRUE\n  WHERE mi.product_name = mi.requested_product_name\n), selected_candidate AS (\n  SELECT *\n  FROM candidate\n  WHERE match_rank = 1\n), existing_signup AS (\n  SELECT ms.id, ms.source\n  FROM public.member_signups ms\n  JOIN selected_candidate c\n    ON lower(trim(ms.member)) = lower(c.member_name)\n   AND lower(trim(ms.product)) = lower(c.product_name)\n  ORDER BY CASE WHEN ms.source = 'missing_signup_capture' THEN 0 ELSE 1 END, ms.id DESC\n  LIMIT 1\n), updated_backfill AS (\n  UPDATE public.member_signups ms\n  SET signup_date = c.signup_date,\n      payer = c.payer_name,\n      cost = c.cost,\n      quantity = 1,\n      method = 'Backfilled',\n      status = 'New',\n      clubspark_status = c.clubspark_status,\n      batch_id = NULL,\n      \"First name\" = c.first_name,\n      \"Last name\" = c.last_name,\n      \"Age\" = c.age,\n      email_address = c.email_address,\n      address_1 = c.address_1,\n      address_2 = c.address_2,\n      address_3 = c.address_3,\n      town = c.town,\n      postcode = c.postcode,\n      source = 'missing_signup_capture'\n  FROM selected_candidate c\n  WHERE ms.id IN (SELECT id FROM existing_signup WHERE source = 'missing_signup_capture')\n  RETURNING ms.id, c.member_name, c.product_name\n), inserted_signup AS (\n  INSERT INTO public.member_signups (\n    signup_date,\n    member,\n    product,\n    payer,\n    cost,\n    quantity,\n    method,\n    status,\n    clubspark_status,\n    batch_id,\n    \"First name\",\n    \"Last name\",\n    \"Age\",\n    email_address,\n    address_1,\n    address_2,\n    address_3,\n    town,\n    postcode,\n    source\n  )\n  SELECT\n    c.signup_date,\n    c.member_name,\n    c.product_name,\n    c.payer_name,\n    c.cost,\n    1,\n    'Backfilled',\n    'New',\n    c.clubspark_status,\n    NULL,\n    c.first_name,\n    c.last_name,\n    c.age,\n    c.email_address,\n    c.address_1,\n    c.address_2,\n    c.address_3,\n    c.town,\n    c.postcode,\n    'missing_signup_capture'\n  FROM selected_candidate c\n  WHERE NOT EXISTS (SELECT 1 FROM existing_signup)\n  RETURNING id, member, product\n), outcome AS (\n  SELECT\n    CASE\n      WHEN NOT EXISTS (SELECT 1 FROM selected_candidate) THEN 'not_found'\n      WHEN EXISTS (SELECT 1 FROM inserted_signup) THEN 'inserted'\n      WHEN EXISTS (SELECT 1 FROM updated_backfill) THEN 'updated'\n      ELSE 'already_exists'\n    END AS action,\n    CASE\n      WHEN NOT EXISTS (SELECT 1 FROM selected_candidate) THEN 404\n      ELSE 200\n    END AS response_code,\n    CASE\n      WHEN NOT EXISTS (SELECT 1 FROM selected_candidate) THEN 'Matching current membership row was not found in raw_members'\n      WHEN EXISTS (SELECT 1 FROM inserted_signup) THEN 'Created missing signup capture row'\n      WHEN EXISTS (SELECT 1 FROM updated_backfill) THEN 'Refreshed existing missing-signup backfill row'\n      ELSE 'Signup capture already exists for this member and package'\n    END AS message,\n    coalesce((SELECT id FROM inserted_signup LIMIT 1), (SELECT id FROM updated_backfill LIMIT 1), (SELECT id FROM existing_signup LIMIT 1)) AS signup_id,\n    (SELECT member_name FROM selected_candidate LIMIT 1) AS member,\n    (SELECT product_name FROM selected_candidate LIMIT 1) AS product,\n    CASE\n      WHEN EXISTS (SELECT 1 FROM inserted_signup) OR EXISTS (SELECT 1 FROM updated_backfill) THEN 'missing_signup_capture'\n      ELSE (SELECT source FROM existing_signup LIMIT 1)\n    END AS source\n)\nSELECT * FROM outcome;`\n  }\n}];"
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000004",
      "name": "Build Backfill SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000005",
      "name": "Create Missing Signup Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "needs-batch-update",
              "leftValue": "={{ ['inserted', 'updated'].includes($json.action) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000006",
      "name": "Needs Batch Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        220
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "mode": "list",
          "value": "YYrFJbug2FOcujPmhhQ8T"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000007",
      "name": "Execute Create Signup Batch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1650,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const created = $('Create Missing Signup Row').first()?.json ?? {};\nconst batch = $('Execute Create Signup Batch').first()?.json ?? {};\nreturn [{ json: { message: created.message, action: created.action, signup_id: created.signup_id ?? null, member: created.member ?? null, product: created.product ?? null, source: created.source ?? null, batch_message: batch.message ?? null, batch_id: batch.batch_id ?? null, signup_count: batch.signup_count ?? null, response_code: created.response_code ?? 200 } }];"
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000008",
      "name": "Build Batched Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1930,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const created = $('Create Missing Signup Row').first()?.json ?? {};\nreturn [{ json: { message: created.message, action: created.action, signup_id: created.signup_id ?? null, member: created.member ?? null, product: created.product ?? null, source: created.source ?? null, batch_message: null, batch_id: null, signup_count: null, response_code: created.response_code ?? 200 } }];"
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000009",
      "name": "Build Direct Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const result = $input.first()?.json ?? {};\nconst escapeHtml = (value) => String(value ?? '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\nconst responseCode = Number(result.response_code ?? 200);\nconst isSuccess = responseCode >= 200 && responseCode < 300;\nconst details = [\n  ['Action', result.action],\n  ['Member', result.member],\n  ['Product', result.product],\n  ['Signup ID', result.signup_id],\n  ['Batch ID', result.batch_id],\n  ['Batch Signup Count', result.signup_count],\n  ['Source', result.source],\n].filter(([, value]) => value !== null && value !== undefined && String(value).trim() !== '');\nconst extraMessage = result.batch_message && String(result.batch_message).trim() !== '' ? `<p class=\"note\">${escapeHtml(result.batch_message)}</p>` : '';\nconst detailHtml = details.map(([label, value]) => `<div class=\"detail\"><span>${escapeHtml(label)}</span><strong>${escapeHtml(value)}</strong></div>`).join('');\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Missing Signup Capture Result</title>\n  <style>\n    :root {\n      color-scheme: light;\n      --bg: #f4f7fb;\n      --panel: #ffffff;\n      --ink: #1f2937;\n      --muted: #667085;\n      --line: #d7e0ea;\n      --success: #166534;\n      --success-soft: #ecfdf3;\n      --error: #b42318;\n      --error-soft: #fef3f2;\n      --button: #e9eef5;\n    }\n    * { box-sizing: border-box; }\n    body {\n      margin: 0;\n      padding: 24px;\n      background: linear-gradient(180deg, #fbfdff 0%, var(--bg) 100%);\n      color: var(--ink);\n      font-family: Lato, Arial, sans-serif;\n    }\n    .panel {\n      max-width: 780px;\n      margin: 0 auto;\n      background: var(--panel);\n      border: 1px solid var(--line);\n      border-radius: 18px;\n      padding: 28px;\n      box-shadow: 0 20px 40px rgba(15, 23, 42, 0.08);\n    }\n    .badge {\n      display: inline-flex;\n      padding: 6px 12px;\n      border-radius: 999px;\n      font-size: 13px;\n      font-weight: 700;\n      letter-spacing: 0.04em;\n      text-transform: uppercase;\n      color: ${isSuccess ? 'var(--success)' : 'var(--error)'};\n      background: ${isSuccess ? 'var(--success-soft)' : 'var(--error-soft)'};\n    }\n    h1 {\n      margin: 16px 0 8px;\n      font-size: 32px;\n      line-height: 1.1;\n    }\n    p {\n      margin: 0;\n      color: var(--muted);\n      line-height: 1.6;\n      font-size: 16px;\n    }\n    .note {\n      margin-top: 12px;\n    }\n    .details {\n      display: grid;\n      gap: 12px;\n      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));\n      margin-top: 24px;\n    }\n    .detail {\n      border: 1px solid var(--line);\n      border-radius: 14px;\n      padding: 14px 16px;\n      background: #f8fafc;\n    }\n    .detail span {\n      display: block;\n      margin-bottom: 6px;\n      color: var(--muted);\n      font-size: 13px;\n      font-weight: 700;\n      text-transform: uppercase;\n      letter-spacing: 0.04em;\n    }\n    .detail strong {\n      font-size: 17px;\n      line-height: 1.4;\n      word-break: break-word;\n    }\n    .actions {\n      display: flex;\n      gap: 12px;\n      flex-wrap: wrap;\n      margin-top: 24px;\n    }\n    button {\n      appearance: none;\n      border: 1px solid var(--line);\n      border-radius: 999px;\n      background: var(--button);\n      color: var(--ink);\n      font: inherit;\n      font-weight: 700;\n      padding: 12px 18px;\n      cursor: pointer;\n    }\n  </style>\n</head>\n<body>\n  <main class=\"panel\">\n    <span class=\"badge\">${isSuccess ? 'Success' : 'Action needed'}</span>\n    <h1>Missing signup capture</h1>\n    <p>${escapeHtml(result.message ?? (isSuccess ? 'Signup capture updated.' : 'The request could not be completed.'))}</p>\n    ${extraMessage}\n    ${detailHtml ? `<section class=\"details\">${detailHtml}</section>` : ''}\n    <div class=\"actions\">\n      <button type=\"button\" onclick=\"window.close()\">Close</button>\n    </div>\n  </main>\n</body>\n</html>`;\nreturn [{ json: { ...result, response_code: responseCode, html } }];"
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000011",
      "name": "Build Result Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2210,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": "={{ Number($json.response_code || 200) }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "c47d8f75-90aa-4f30-9b75-100000000010",
      "name": "Respond Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2210,
        220
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Resolve Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Missing Signup Capture Webhook": {
      "main": [
        [
          {
            "node": "Resolve Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Request": {
      "main": [
        [
          {
            "node": "Build Backfill SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Backfill SQL": {
      "main": [
        [
          {
            "node": "Create Missing Signup Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Missing Signup Row": {
      "main": [
        [
          {
            "node": "Needs Batch Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Batch Update?": {
      "main": [
        [
          {
            "node": "Execute Create Signup Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Direct Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Create Signup Batch": {
      "main": [
        [
          {
            "node": "Build Batched Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Batched Response": {
      "main": [
        [
          {
            "node": "Build Result Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Direct Response": {
      "main": [
        [
          {
            "node": "Build Result Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Result Page": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
