workflows/create-signup-batch.json
{
  "updatedAt": "2026-03-20T10:25:10.824Z",
  "createdAt": "2026-03-13T10:24:54.941Z",
  "id": "YYrFJbug2FOcujPmhhQ8T",
  "name": "Create Signup Batch",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "0f5cc9e0-d745-489d-b30f-54a50abac001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "with existing_batch as (\n    select id\n    from signup_batches\n    where status = 'Processing'\n    order by id desc\n    limit 1\n),\ncandidate_rows as (\n    select id\n    from member_signups\n    where status = 'New'\n),\nnew_batch as (\n    insert into signup_batches (status)\n    select 'Processing'\n    where not exists (select 1 from existing_batch)\n      and exists (select 1 from candidate_rows)\n    returning id\n),\nselected_batch as (\n    select id from existing_batch\n    union all\n    select id from new_batch\n),\nupdated_signups as (\n    update member_signups s\n    set status = 'Processing',\n        batch_id = (select id from selected_batch limit 1)\n    where s.id in (select id from candidate_rows)\n      and exists (select 1 from selected_batch)\n    returning s.id, s.batch_id\n)\nselect\n    (select id from selected_batch limit 1) as batch_id,\n    coalesce((select count(*) from updated_signups), 0) as signup_count,\n    case\n        when exists (select 1 from existing_batch)\n         and exists (select 1 from updated_signups) then 'Added new signups to existing processing batch'\n        when exists (select 1 from existing_batch) then 'Using existing processing batch'\n        when exists (select 1 from updated_signups) then 'Processing'\n        else 'No new signups available'\n    end as message;"
      },
      "id": "998e6b55-995d-4d83-a91f-c1c798f87f3a",
      "name": "Create Batch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json ?? {};\n\nif (!item.batch_id) {\n  return [{\n    json: {\n      ...item,\n      batchDatasetSql: \"select NULL::bigint as batch_id, 'No new signups available'::text as message;\",\n    },\n  }];\n}\n\nconst batchId = Number(item.batch_id);\n\nreturn [{\n  json: {\n    ...item,\n    batchDatasetSql: `select\n    ${batchId}::bigint as batch_id,\n    to_char(i.item_date, 'dd-MM-yyyy hh24:mi') as item_date,\n    i.source,\n    i.member,\n    i.payer,\n    coalesce(i.product, 'Manual batch item') as product,\n    i.regular_tags,\n    i.parent_tags,\n    i.key_tags,\n    i.email_address,\n    i.address_1,\n    i.address_2,\n    i.address_3,\n    i.town,\n    i.postcode\nfrom public.vw_signup_batch_items as i\nwhere i.batch_id = ${batchId}\norder by i.item_date, i.member, i.source_id;`,\n  },\n}];"
      },
      "id": "0e1a3ae9-f145-42ac-9017-95f63f9a2358",
      "name": "Build Batch Dataset Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.batchDatasetSql }}"
      },
      "id": "c81f490c-b15d-4a3b-81a4-e2117c21e39d",
      "name": "Fetch Batch Dataset",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1170,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => item.json ?? {});\nconst first = rows[0] ?? {};\n\nif (!rows.length || !first.batch_id) {\n  return [{\n    json: {\n      batch_id: first.batch_id ?? null,\n      row_count: 0,\n      message: first.message ?? 'No new signups available',\n    },\n  }];\n}\n\nconst headers = [\n  'item_date',\n  'source',\n  'member',\n  'payer',\n  'product',\n  'regular_tags',\n  'parent_tags',\n  'key_tags',\n  'email_address',\n  'address_1',\n  'address_2',\n  'address_3',\n  'town',\n  'postcode',\n];\n\nconst csvEscape = (value) => {\n  if (value === null || value === undefined) return '';\n  const stringValue = String(value);\n  if (/[\",\\n\\r]/.test(stringValue)) {\n    return `\"${stringValue.replace(/\"/g, '\"\"')}\"`;\n  }\n  return stringValue;\n};\n\nconst lines = [headers.map(csvEscape).join(',')];\nfor (const row of rows) {\n  lines.push(headers.map((header) => csvEscape(row[header])).join(','));\n}\n\nconst batchId = Number(first.batch_id);\nconst fileName = `signup-batch-${batchId}.csv`;\nconst csv = lines.join('\\n');\n\nreturn [{\n  json: {\n    batch_id: batchId,\n    row_count: rows.length,\n    file_name: fileName,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csv, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName,\n      fileExtension: 'csv',\n    },\n  },\n}];"
      },
      "id": "59bb42cc-02b1-4b4e-9ee6-2813d44b9557",
      "name": "Build Batch CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "7c0e61d1-8b9b-4d96-b3a6-7f0f91f41a7f",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        120
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Create Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Batch": {
      "main": [
        [
          {
            "node": "Build Batch Dataset Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Batch Dataset Query": {
      "main": [
        [
          {
            "node": "Fetch Batch Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Batch Dataset": {
      "main": [
        [
          {
            "node": "Build Batch CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f28baf8d-c19d-4e6a-b982-bb6c4c6528ef",
  "activeVersionId": "f28baf8d-c19d-4e6a-b982-bb6c4c6528ef",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-13T10:24:54.941Z",
      "createdAt": "2026-03-13T10:24:54.941Z",
      "role": "workflow:owner",
      "workflowId": "YYrFJbug2FOcujPmhhQ8T",
      "projectId": "AtpW2flNrTDUqcis",
      "project": {
        "updatedAt": "2026-03-07T15:05:21.831Z",
        "createdAt": "2025-04-29T13:45:55.157Z",
        "id": "AtpW2flNrTDUqcis",
        "name": "Steve Short <steve@shortcentral.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1aa25644-d384-4810-beaa-f58314d3e70c",
        "projectRelations": [
          {
            "updatedAt": "2025-04-29T13:45:55.157Z",
            "createdAt": "2025-04-29T13:45:55.157Z",
            "userId": "1aa25644-d384-4810-beaa-f58314d3e70c",
            "projectId": "AtpW2flNrTDUqcis",
            "user": {
              "updatedAt": "2026-03-20T10:25:38.769Z",
              "createdAt": "2025-04-29T13:45:54.337Z",
              "id": "1aa25644-d384-4810-beaa-f58314d3e70c",
              "email": "steve@shortcentral.com",
              "firstName": "Steve",
              "lastName": "Short",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-29T13:48:39.758Z",
                "personalization_survey_n8n_version": "1.89.2",
                "companyType": "personal",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "6XC5aXJ8uS5DS553",
                "userActivatedAt": 1773664748790
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-20T10:25:10.821Z",
    "createdAt": "2026-03-20T10:25:10.821Z",
    "versionId": "f28baf8d-c19d-4e6a-b982-bb6c4c6528ef",
    "workflowId": "YYrFJbug2FOcujPmhhQ8T",
    "nodes": [
      {
        "parameters": {},
        "id": "0f5cc9e0-d745-489d-b30f-54a50abac001",
        "name": "When clicking 'Execute workflow'",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          260,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "with existing_batch as (\n    select id\n    from signup_batches\n    where status = 'Processing'\n    order by id desc\n    limit 1\n),\ncandidate_rows as (\n    select id\n    from member_signups\n    where status = 'New'\n),\nnew_batch as (\n    insert into signup_batches (status)\n    select 'Processing'\n    where not exists (select 1 from existing_batch)\n      and exists (select 1 from candidate_rows)\n    returning id\n),\nselected_batch as (\n    select id from existing_batch\n    union all\n    select id from new_batch\n),\nupdated_signups as (\n    update member_signups s\n    set status = 'Processing',\n        batch_id = (select id from selected_batch limit 1)\n    where s.id in (select id from candidate_rows)\n      and exists (select 1 from selected_batch)\n    returning s.id, s.batch_id\n)\nselect\n    (select id from selected_batch limit 1) as batch_id,\n    coalesce((select count(*) from updated_signups), 0) as signup_count,\n    case\n        when exists (select 1 from existing_batch)\n         and exists (select 1 from updated_signups) then 'Added new signups to existing processing batch'\n        when exists (select 1 from existing_batch) then 'Using existing processing batch'\n        when exists (select 1 from updated_signups) then 'Processing'\n        else 'No new signups available'\n    end as message;"
        },
        "id": "998e6b55-995d-4d83-a91f-c1c798f87f3a",
        "name": "Create Batch",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          560,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "PjTUDAMk0dZ7g1iO",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first()?.json ?? {};\n\nif (!item.batch_id) {\n  return [{\n    json: {\n      ...item,\n      batchDatasetSql: \"select NULL::bigint as batch_id, 'No new signups available'::text as message;\",\n    },\n  }];\n}\n\nconst batchId = Number(item.batch_id);\n\nreturn [{\n  json: {\n    ...item,\n    batchDatasetSql: `select\n    ${batchId}::bigint as batch_id,\n    to_char(s.signup_date, 'dd-MM-yyyy hh24:mi') as signup_date,\n    s.member,\n    s.payer,\n    s.product as product,\n    x.\"First name\" as \"First name\",\n    x.\"Last name\" as \"Last name\",\n    m.\"Age\" as \"Age\",\n    m.\"Email address\" as email_address,\n    x.\"Address 1\" as address_1,\n    x.\"Address 2\" as address_2,\n    x.\"Address 3\" as address_3,\n    x.\"town\" as \"town\",\n    x.\"postcode\" as \"postcode\",\n    'Y' as \"Tags provided\",\n    '' as \"Key pin number\"\nfrom member_signups as s\nleft join raw_members as m\n    on s.member = concat(m.\"First name\", ' ', m.\"Last name\")\n   and m.\"Membership\" = s.product\nleft join raw_contacts as x\n    on s.payer = concat(x.\"First name\", ' ', x.\"Last name\")\nwhere s.batch_id = ${batchId}\norder by s.signup_date;`,\n  },\n}];"
        },
        "id": "0e1a3ae9-f145-42ac-9017-95f63f9a2358",
        "name": "Build Batch Dataset Query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          860,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $json.batchDatasetSql }}"
        },
        "id": "c81f490c-b15d-4a3b-81a4-e2117c21e39d",
        "name": "Fetch Batch Dataset",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1170,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "PjTUDAMk0dZ7g1iO",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map((item) => item.json ?? {});\nconst first = rows[0] ?? {};\n\nif (!rows.length || !first.batch_id) {\n  return [{\n    json: {\n      batch_id: first.batch_id ?? null,\n      row_count: 0,\n      message: first.message ?? 'No new signups available',\n    },\n  }];\n}\n\nconst headers = [\n  'signup_date',\n  'member',\n  'payer',\n  'product',\n  'First name',\n  'Last name',\n  'Age',\n  'email_address',\n  'address_1',\n  'address_2',\n  'address_3',\n  'town',\n  'postcode',\n  'Tags provided',\n  'Key pin number',\n];\n\nconst csvEscape = (value) => {\n  if (value === null || value === undefined) return '';\n  const stringValue = String(value);\n  if (/[\",\\n\\r]/.test(stringValue)) {\n    return `\"${stringValue.replace(/\"/g, '\"\"')}\"`;\n  }\n  return stringValue;\n};\n\nconst lines = [headers.map(csvEscape).join(',')];\nfor (const row of rows) {\n  lines.push(headers.map((header) => csvEscape(row[header])).join(','));\n}\n\nconst batchId = Number(first.batch_id);\nconst fileName = `signup-batch-${batchId}.csv`;\nconst csv = lines.join('\\n');\n\nreturn [{\n  json: {\n    batch_id: batchId,\n    row_count: rows.length,\n    file_name: fileName,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csv, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName,\n      fileExtension: 'csv',\n    },\n  },\n}];"
        },
        "id": "59bb42cc-02b1-4b4e-9ee6-2813d44b9557",
        "name": "Build Batch CSV",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1450,
          300
        ]
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "7c0e61d1-8b9b-4d96-b3a6-7f0f91f41a7f",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          260,
          120
        ]
      }
    ],
    "connections": {
      "When clicking 'Execute workflow'": {
        "main": [
          [
            {
              "node": "Create Batch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Batch": {
        "main": [
          [
            {
              "node": "Build Batch Dataset Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Batch Dataset Query": {
        "main": [
          [
            {
              "node": "Fetch Batch Dataset",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Batch Dataset": {
        "main": [
          [
            {
              "node": "Build Batch CSV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Create Batch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Steve Short",
    "name": "Create Signup Batch",
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}
