workflows/member-search-detail.json
{
  "name": "Member Search Detail",
  "nodes": [
    {
      "parameters": {},
      "id": "f3000000-0000-0000-0000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "path": "member-search-detail",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f3000000-0000-0000-0000-000000000002",
      "name": "Member Search Detail Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "member-search-detail"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $input.first()?.json ?? {};\nconst query = source.query ?? source;\nconst headers = source.headers ?? {};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst deriveBaseUrl = (headers, fallback) => {\n  const forwardedProto = clean(headers['x-forwarded-proto']);\n  const forwardedHost = clean(headers['x-forwarded-host']);\n  const host = forwardedHost || clean(headers.host);\n  const forwardedPort = clean(headers['x-forwarded-port']);\n  if (!host) return fallback;\n  const proto = forwardedProto || 'http';\n  let authority = host;\n  if (forwardedPort && !authority.includes(':')) {\n    const isDefaultPort = (proto === 'http' && forwardedPort === '80') || (proto === 'https' && forwardedPort === '443');\n    if (!isDefaultPort) authority = `${authority}:${forwardedPort}`;\n  }\n  return `${proto}://${authority}`;\n};\nconst sqlLiteral = (value) => `'${String(value).replace(/'/g, \"''\")}'`;\nconst sqlInteger = (value) => {\n  const parsed = Number.parseInt(clean(value), 10);\n  return Number.isInteger(parsed) ? String(parsed) : 'NULL';\n};\nconst member = clean(query.member);\nconst memberId = sqlInteger(query.member_id ?? query.raw_member_id);\nconst membership = clean(query.membership);\nconst email = clean(query.email);\nconst fallbackBaseUrl = 'http://n8n:5678';\nconst n8nBaseUrl = deriveBaseUrl(headers, fallbackBaseUrl);\nif (!member && memberId === 'NULL') {\n  return [{\n    json: {\n      member: '',\n      query: { member: '', membership: '', email: '' },\n      n8n_base_url: n8nBaseUrl,\n      sql: `SELECT ''::text AS member, NULL::bigint AS raw_member_id, '[]'::json AS member_rows, '[]'::json AS contact_rows, '[]'::json AS signup_rows, '{}'::jsonb AS best_contact, '[]'::json AS email_templates, ''::text AS default_email_template_key, 'test'::text AS default_delivery_mode;`\n    }\n  }];\n}\nconst memberSql = sqlLiteral(member);\nconst membershipSql = sqlLiteral(membership);\nconst emailSql = sqlLiteral(email);\nconst sql = `\nWITH base_member AS (\n  SELECT\n    rm.id AS raw_member_id,\n    trim(concat_ws(' ', rm.\"First name\", rm.\"Last name\")) AS member_name,\n    NULLIF(trim(rm.\"Email address\"), '') AS email_address,\n    NULLIF(trim(rm.\"Venue ID\"), '') AS venue_id,\n    NULLIF(trim(COALESCE(rm.\"British Tennis Number\"::text, '')), '') AS british_tennis_number,\n    rm.\"Membership\" AS membership\n  FROM public.raw_members rm\n  WHERE COALESCE(rm.is_current, true) = true\n    AND (\n      (${memberId} IS NOT NULL AND rm.id = ${memberId})\n      OR (\n        ${memberId} IS NULL\n        AND trim(concat_ws(' ', rm.\"First name\", rm.\"Last name\")) = ${memberSql}\n        AND (${membershipSql} = '' OR rm.\"Membership\" = ${membershipSql})\n        AND (${emailSql} = '' OR public.normalize_match_email(rm.\"Email address\") = public.normalize_match_email(${emailSql}))\n      )\n    )\n  ORDER BY CASE WHEN (${membershipSql} <> '' AND rm.\"Membership\" = ${membershipSql}) THEN 0 ELSE 1 END, rm.id\n  LIMIT 1\n), member_rows AS (\n  SELECT\n    rm.id AS raw_member_id,\n    rm.\"Membership\" AS membership,\n    rm.\"Status\" AS status,\n    rm.\"Payment\" AS payment,\n    rm.\"Share Contact Detail\" AS share_contact_detail,\n    rm.\"Venue ID\" AS venue_id,\n    rm.\"British Tennis Number\" AS british_tennis_number,\n    rm.\"Email address\" AS email_address,\n    rm.\"Phone number\" AS phone_number,\n    rm.\"Mobile number\" AS mobile_number,\n    rm.\"Address 1\" AS address_1,\n    rm.\"Address 2\" AS address_2,\n    rm.\"Address 3\" AS address_3,\n    rm.\"Town\" AS town,\n    rm.\"County\" AS county,\n    rm.\"Postcode\" AS postcode,\n    rm.\"Start Date\" AS start_date,\n    rm.\"Date joined venue\" AS date_joined_venue,\n    rm.\"Cost\" AS cost,\n    rm.\"Paid\" AS paid_total,\n    rm.\"Paid Cash\" AS paid_cash,\n    rm.\"Paid Credit Card\" AS paid_credit_card,\n    rm.\"Paid Direct Debit\" AS paid_direct_debit\n  FROM public.raw_members rm\n  CROSS JOIN base_member bm\n  WHERE COALESCE(rm.is_current, true) = true\n    AND (\n      (bm.venue_id IS NOT NULL AND NULLIF(trim(rm.\"Venue ID\"), '') = bm.venue_id)\n      OR (bm.british_tennis_number IS NOT NULL AND NULLIF(trim(COALESCE(rm.\"British Tennis Number\"::text, '')), '') = bm.british_tennis_number)\n      OR (\n        bm.email_address IS NOT NULL\n        AND trim(concat_ws(' ', rm.\"First name\", rm.\"Last name\")) = bm.member_name\n        AND public.normalize_match_email(rm.\"Email address\") = public.normalize_match_email(bm.email_address)\n      )\n      OR (\n        bm.venue_id IS NULL AND bm.british_tennis_number IS NULL AND bm.email_address IS NULL\n        AND trim(concat_ws(' ', rm.\"First name\", rm.\"Last name\")) = bm.member_name\n      )\n    )\n  ORDER BY rm.\"Membership\", rm.id\n), contact_rows AS (\n  SELECT\n    rc.id AS raw_contact_id,\n    rc.\"Venue ID\" AS venue_id,\n    rc.\"Share Contact Detail\" AS share_contact_detail,\n    rc.\"Email address\" AS email_address,\n    rc.\"Phone number\" AS phone_number,\n    rc.\"Mobile number\" AS mobile_number,\n    rc.\"Address 1\" AS address_1,\n    rc.\"Address 2\" AS address_2,\n    rc.\"Address 3\" AS address_3,\n    rc.town,\n    rc.county,\n    rc.postcode\n  FROM public.raw_contacts rc\n  CROSS JOIN base_member bm\n  WHERE COALESCE(rc.is_current, true) = true\n    AND (\n      (bm.venue_id IS NOT NULL AND NULLIF(trim(rc.\"Venue ID\"), '') = bm.venue_id)\n      OR (\n        bm.email_address IS NOT NULL\n        AND trim(concat_ws(' ', rc.\"First name\", rc.\"Last name\")) = bm.member_name\n        AND public.normalize_match_email(rc.\"Email address\") = public.normalize_match_email(bm.email_address)\n      )\n      OR (\n        bm.venue_id IS NULL AND bm.email_address IS NULL\n        AND trim(concat_ws(' ', rc.\"First name\", rc.\"Last name\")) = bm.member_name\n      )\n    )\n  ORDER BY rc.id\n), best_contact AS (\n  SELECT to_jsonb(bc) AS best_contact\n  FROM base_member bm\n  LEFT JOIN LATERAL public.resolve_best_contact_row(\n    bm.member_name,\n    bm.email_address,\n    NULLIF(regexp_replace(bm.member_name, '^\\\\S+\\\\s*', ''), ''),\n    EXISTS (SELECT 1 FROM member_rows WHERE membership ILIKE '%Family%')\n  ) bc ON TRUE\n), signup_rows AS (\n  SELECT\n    ms.id,\n    ms.signup_date,\n    ms.product,\n    ms.email_address,\n    ms.method,\n    ms.source,\n    ms.batch_id\n  FROM public.member_signups ms\n  CROSS JOIN base_member bm\n  WHERE trim(COALESCE(ms.member, '')) = bm.member_name\n    AND EXISTS (SELECT 1 FROM member_rows mr WHERE mr.membership = ms.product)\n    AND (\n      (bm.email_address IS NOT NULL AND public.normalize_match_email(ms.email_address) = public.normalize_match_email(bm.email_address))\n      OR (\n        bm.email_address IS NULL\n        AND 1 = (\n          SELECT count(*)\n          FROM public.raw_members rm2\n          WHERE COALESCE(rm2.is_current, true) = true\n            AND trim(concat_ws(' ', rm2.\"First name\", rm2.\"Last name\")) = bm.member_name\n            AND rm2.\"Membership\" = ms.product\n        )\n      )\n    )\n  ORDER BY ms.signup_date DESC NULLS LAST, ms.id DESC\n), template_defaults AS (\n  SELECT\n    MAX(CASE WHEN key = 'gmail_test_email_template_key' THEN value END) AS default_email_template_key,\n    MAX(CASE WHEN key = 'email_delivery_mode' THEN value END) AS default_delivery_mode\n  FROM public.global_settings\n  WHERE key IN ('gmail_test_email_template_key', 'email_delivery_mode')\n), email_templates AS (\n  SELECT json_agg(\n    json_build_object(\n      'template_key', et.template_key,\n      'template_name', COALESCE(NULLIF(et.template_name, ''), et.template_key),\n      'template_type', et.template_type\n    )\n    ORDER BY COALESCE(NULLIF(et.template_name, ''), et.template_key)\n  ) AS email_templates\n  FROM public.email_templates et\n  WHERE et.is_active = true\n    AND et.template_type = 0\n)\nSELECT\n  COALESCE((SELECT member_name FROM base_member), ${memberSql})::text AS member,\n  (SELECT raw_member_id FROM base_member) AS raw_member_id,\n  COALESCE((SELECT json_agg(to_jsonb(mr)) FROM member_rows mr), '[]'::json) AS member_rows,\n  COALESCE((SELECT json_agg(to_jsonb(cr)) FROM contact_rows cr), '[]'::json) AS contact_rows,\n  COALESCE((SELECT json_agg(to_jsonb(sr)) FROM signup_rows sr), '[]'::json) AS signup_rows,\n  COALESCE((SELECT best_contact FROM best_contact), '{}'::jsonb) AS best_contact,\n  COALESCE((SELECT email_templates FROM email_templates), '[]'::json) AS email_templates,\n  COALESCE((SELECT default_email_template_key FROM template_defaults), '') AS default_email_template_key,\n  COALESCE((SELECT default_delivery_mode FROM template_defaults), 'test') AS default_delivery_mode;\n`;\nreturn [{ json: { member, query: { member, membership, email }, raw_member_id: memberId === 'NULL' ? null : Number.parseInt(memberId, 10), n8n_base_url: n8nBaseUrl, sql } }];"
      },
      "id": "f3000000-0000-0000-0000-000000000003",
      "name": "Build Detail Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "f3000000-0000-0000-0000-000000000004",
      "name": "Load Member Detail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        820,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $('Build Detail Query').first()?.json ?? {};\nconst row = $input.first()?.json ?? {};\nconst sourceQuery = source.query ?? {};\nconst parseMaybe = (value, fallback) => {\n  if (value === null || value === undefined || value === '') return fallback;\n  if (typeof value === 'string') {\n    try { return JSON.parse(value); } catch { return fallback; }\n  }\n  return value;\n};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst escapeHtml = (value) => clean(value)\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\nconst normalizeConsent = (value) => {\n  const raw = clean(value);\n  if (!raw) return 'No';\n  const normalized = raw.toLowerCase();\n  if (['yes', 'y', 'true', 't', '1'].includes(normalized)) return 'Yes';\n  if (['no', 'n', 'false', 'f', '0'].includes(normalized)) return 'No';\n  return raw;\n};\nconst renderConsentBadge = (value) => {\n  const normalized = normalizeConsent(value);\n  if (normalized === 'Yes') return '<span class=\"consent consent-yes\">Yes</span>';\n  if (normalized === 'No') return '<span class=\"consent consent-no\">No</span>';\n  return `<span class=\"consent consent-unknown\">${escapeHtml(normalized)}</span>`;\n};\nconst member = clean(row.member);\nconst rawMemberId = clean(row.raw_member_id);\nconst selectedMembership = clean(sourceQuery.membership);\nconst selectedEmail = clean(sourceQuery.email ?? sourceQuery.email_address);\nconst memberRows = parseMaybe(row.member_rows, []);\nconst contactRows = parseMaybe(row.contact_rows, []);\nconst signupRows = parseMaybe(row.signup_rows, []);\nconst emailTemplates = parseMaybe(row.email_templates, []);\nconst bestContact = parseMaybe(row.best_contact, {}) || {};\nconst pick = (...values) => values.map(clean).find(Boolean) ?? '';\nconst summaryAddress = [bestContact.address_1, bestContact.address_2, bestContact.address_3, bestContact.town, bestContact.county, bestContact.postcode].map(clean).filter(Boolean);\nconst summaryEmail = pick(selectedEmail, bestContact.email_address, ...memberRows.map((item) => item.email_address), ...contactRows.map((item) => item.email_address));\nconst summaryMobile = pick(bestContact.mobile_number, ...memberRows.map((item) => item.mobile_number), ...contactRows.map((item) => item.mobile_number));\nconst summaryPhone = pick(bestContact.phone_number, ...memberRows.map((item) => item.phone_number), ...contactRows.map((item) => item.phone_number));\nconst bestVenueId = pick(bestContact.venue_id, ...memberRows.map((item) => item.venue_id), ...contactRows.map((item) => item.venue_id));\nconst bestBtn = pick(...memberRows.map((item) => item.british_tennis_number));\nconst primaryMembership = pick(selectedMembership, ...memberRows.map((item) => item.membership));\nconst summaryShareConsent = normalizeConsent(pick(...contactRows.map((item) => item.share_contact_detail), ...memberRows.map((item) => item.share_contact_detail)));\nconst n8nBaseUrl = clean(source.n8n_base_url) || 'http://n8n:5678';\nconst defaultEmailTemplateKey = clean(row.default_email_template_key);\nconst defaultDeliveryMode = clean(row.default_delivery_mode).toLowerCase();\nconst formatValue = (value) => clean(value) || '&nbsp;';\nconst renderRows = (rows, columns) => {\n  if (!rows.length) {\n    return '<tr><td colspan=\"' + columns.length + '\" class=\"empty\">No matching rows</td></tr>';\n  }\n  return rows.map((item) => '<tr>' + columns.map((column) => {\n    if (column.key === 'share_contact_detail') {\n      return `<td>${renderConsentBadge(item[column.key])}</td>`;\n    }\n    return `<td>${formatValue(escapeHtml(item[column.key]))}</td>`;\n  }).join('') + '</tr>').join('');\n};\nconst memberColumns = [\n  { key: 'membership', label: 'Membership' },\n  { key: 'status', label: 'Status' },\n  { key: 'payment', label: 'Payment' },\n  { key: 'share_contact_detail', label: 'Share Contact Detail' },\n  { key: 'venue_id', label: 'Venue ID' },\n  { key: 'british_tennis_number', label: 'Tennis Number' },\n  { key: 'start_date', label: 'Start Date' },\n  { key: 'date_joined_venue', label: 'Joined Venue' },\n  { key: 'cost', label: 'Cost' },\n  { key: 'paid_total', label: 'Paid Total' },\n  { key: 'paid_cash', label: 'Paid Cash' },\n  { key: 'paid_credit_card', label: 'Paid Card' },\n  { key: 'paid_direct_debit', label: 'Paid Direct Debit' }\n];\nconst contactColumns = [\n  { key: 'venue_id', label: 'Venue ID' },\n  { key: 'share_contact_detail', label: 'Share Contact Detail' },\n  { key: 'email_address', label: 'Email' },\n  { key: 'mobile_number', label: 'Mobile' },\n  { key: 'phone_number', label: 'Phone' },\n  { key: 'address_1', label: 'Address 1' },\n  { key: 'address_2', label: 'Address 2' },\n  { key: 'address_3', label: 'Address 3' },\n  { key: 'town', label: 'Town' },\n  { key: 'county', label: 'County' },\n  { key: 'postcode', label: 'Postcode' }\n];\nconst signupColumns = [\n  { key: 'signup_date', label: 'Signup Date' },\n  { key: 'product', label: 'Product' },\n  { key: 'method', label: 'Method' },\n  { key: 'source', label: 'Source' },\n  { key: 'email_address', label: 'Email' },\n  { key: 'batch_id', label: 'Batch ID' }\n];\nconst detailUrl = `${n8nBaseUrl}/webhook/member-search-detail?member_id=${encodeURIComponent(rawMemberId)}&member=${encodeURIComponent(member)}&membership=${encodeURIComponent(primaryMembership)}&email=${encodeURIComponent(summaryEmail)}`;\nconst manualUrl = `${n8nBaseUrl}/webhook/manual-batch-item-form?member_id=${encodeURIComponent(rawMemberId)}&member=${encodeURIComponent(member)}&membership=${encodeURIComponent(primaryMembership)}&email=${encodeURIComponent(summaryEmail)}`;\nconst confirmBackfillUrl = `${n8nBaseUrl}/webhook/confirm-missing-signup-capture?member_id=${encodeURIComponent(rawMemberId)}&member=${encodeURIComponent(member)}&membership=${encodeURIComponent(selectedMembership)}&email=${encodeURIComponent(summaryEmail)}`;\nconst previewEmailUrl = `${n8nBaseUrl}/webhook/preview-member-template-email`;\nconst hasCapturedSignup = primaryMembership ? signupRows.some((item) => clean(item.product) === primaryMembership) : signupRows.length > 0;\nconst signupSummary = hasCapturedSignup ? 'Captured' : 'Missing';\nconst signupActionHtml = hasCapturedSignup\n  ? '<span class=\"pill success\">Signup captured for this membership</span>'\n  : `<a class=\"button\" href=\"${confirmBackfillUrl}\">Confirm Backfill</a>`;\nconst templateOptions = Array.isArray(emailTemplates)\n  ? emailTemplates\n      .map((item) => ({\n        template_key: clean(item.template_key),\n        template_name: clean(item.template_name || item.template_key),\n      }))\n      .filter((item) => item.template_key)\n  : [];\nconst selectedTemplateKey = templateOptions.some((item) => item.template_key === defaultEmailTemplateKey)\n  ? defaultEmailTemplateKey\n  : (templateOptions[0]?.template_key ?? '');\nconst emailPanelHtml = !summaryEmail\n  ? `<div class=\"panel-callout warning\">No email address is available for this member, so the email sender is unavailable.</div>`\n  : !templateOptions.length\n    ? `<div class=\"panel-callout warning\">No active message templates are available.</div>`\n    : `<form class=\"email-form\" method=\"GET\" action=\"${previewEmailUrl}\">\n        <input type=\"hidden\" name=\"member_id\" value=\"${escapeHtml(rawMemberId)}\">\n        <input type=\"hidden\" name=\"member\" value=\"${escapeHtml(member)}\">\n        <input type=\"hidden\" name=\"membership\" value=\"${escapeHtml(primaryMembership)}\">\n        <input type=\"hidden\" name=\"email\" value=\"${escapeHtml(summaryEmail)}\">\n        <input type=\"hidden\" name=\"return_url\" value=\"${escapeHtml(detailUrl)}\">\n        <div class=\"form-grid\">\n          <label>\n            <span>Template</span>\n            <select name=\"template_key\">\n              ${templateOptions.map((item) => `<option value=\"${escapeHtml(item.template_key)}\"${item.template_key === selectedTemplateKey ? ' selected' : ''}>${escapeHtml(item.template_name)}</option>`).join('')}\n            </select>\n          </label>\n          <label class=\"checkbox-row\">\n            <span>Mode</span>\n            <span class=\"checkbox-wrap\"><input type=\"checkbox\" name=\"test_mode\" value=\"1\"${defaultDeliveryMode !== 'production' ? ' checked' : ''}> Send in test mode</span>\n          </label>\n        </div>\n        <p class=\"meta form-meta\">The next step renders the selected template with signature so you can edit the subject and message before sending.</p>\n        <div class=\"actions form-actions\">\n          <button type=\"submit\" class=\"button\">Preview Email</button>\n        </div>\n      </form>`;\nconst html = `<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${escapeHtml(member || 'Member detail')}</title>\n  <style>\n    :root {\n      color-scheme: light;\n      --bg: #f7f8fc;\n      --panel: #ffffff;\n      --ink: #2e3d4e;\n      --muted: #6b7785;\n      --line: #e2e8f0;\n      --accent: #509ee3;\n      --accent-dark: #2f80d8;\n      --soft: #f2f7fd;\n      --button-soft: #eef2f7;\n      --success-bg: #edf8f2;\n      --success-ink: #1f7a4d;\n      --warning-bg: #fff6e8;\n      --warning-ink: #9b5c06;\n      --consent-yes-bg: #edf8f2;\n      --consent-yes-ink: #1f7a4d;\n      --consent-no-bg: #fdecec;\n      --consent-no-ink: #b93a3a;\n      --consent-unknown-bg: #eef2f7;\n      --consent-unknown-ink: #5f6b77;\n    }\n    * { box-sizing: border-box; }\n    body {\n      margin: 0;\n      font-family: Lato, 'Helvetica Neue', Arial, sans-serif;\n      color: var(--ink);\n      background: linear-gradient(180deg, #fbfcfe 0%, var(--bg) 100%);\n      padding: 24px;\n    }\n    .wrap { max-width: 1120px; margin: 0 auto; display: grid; gap: 20px; }\n    .hero, .panel { background: var(--panel); border: 1px solid var(--line); border-radius: 18px; box-shadow: 0 18px 40px rgba(53, 72, 91, 0.08); }\n    .hero { padding: 28px; }\n    h1 { margin: 0 0 6px; font-size: 34px; line-height: 1.05; letter-spacing: -0.02em; }\n    .lede { margin: 0; color: var(--muted); font-size: 16px; }\n    .summary { display: grid; gap: 14px; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); margin-top: 22px; }\n    .summary-card { border: 1px solid var(--line); border-radius: 14px; padding: 16px; background: var(--soft); }\n    .summary-card h2 { margin: 0 0 8px; font-size: 14px; text-transform: uppercase; letter-spacing: 0.08em; color: var(--muted); }\n    .summary-card p { margin: 0; font-size: 18px; line-height: 1.4; }\n    .actions { margin-top: 20px; display: flex; gap: 12px; flex-wrap: wrap; align-items: center; }\n    .button, .close-button { display: inline-flex; align-items: center; justify-content: center; padding: 12px 18px; border-radius: 999px; text-decoration: none; font-weight: 700; border: 0; cursor: pointer; font: inherit; }\n    .button { background: linear-gradient(135deg, var(--accent) 0%, var(--accent-dark) 100%); color: #fff; box-shadow: 0 10px 24px rgba(80, 158, 227, 0.22); }\n    .close-button { background: var(--button-soft); color: var(--ink); border: 1px solid var(--line); }\n    .pill { display: inline-flex; align-items: center; padding: 10px 14px; border-radius: 999px; font-weight: 700; background: var(--success-bg); color: var(--success-ink); }\n    .consent { display: inline-flex; align-items: center; padding: 4px 10px; border-radius: 999px; font-size: 13px; font-weight: 700; }\n    .consent-yes { background: var(--consent-yes-bg); color: var(--consent-yes-ink); }\n    .consent-no { background: var(--consent-no-bg); color: var(--consent-no-ink); }\n    .consent-unknown { background: var(--consent-unknown-bg); color: var(--consent-unknown-ink); }\n    .panel { padding: 22px; }\n    .panel h2 { margin: 0 0 12px; font-size: 24px; letter-spacing: -0.01em; }\n    .panel .meta { margin: 0 0 16px; color: var(--muted); }\n    .panel-callout { border: 1px solid var(--line); border-radius: 14px; padding: 14px 16px; background: var(--soft); }\n    .panel-callout.warning { background: var(--warning-bg); color: var(--warning-ink); border-color: #f6d9a6; }\n    .email-form { display: grid; gap: 16px; }\n    .form-grid { display: grid; gap: 16px; grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }\n    .email-form label { display: grid; gap: 8px; font-weight: 700; color: var(--ink); }\n    .email-form label span { font-size: 14px; }\n    .email-form select { width: 100%; border: 1px solid var(--line); border-radius: 12px; padding: 12px 14px; font: inherit; background: #fff; color: var(--ink); }\n    .checkbox-row { align-content: start; }\n    .checkbox-wrap { display: inline-flex; align-items: center; gap: 10px; font-weight: 600; color: var(--ink); }\n    .checkbox-wrap input { width: 18px; height: 18px; }\n    .form-meta { margin: 0; }\n    .form-actions { margin-top: 0; }\n    table { width: 100%; border-collapse: collapse; font-size: 14px; }\n    th, td { padding: 10px 12px; border-bottom: 1px solid var(--line); text-align: left; vertical-align: top; }\n    th { background: #f6f8fb; font-size: 12px; text-transform: uppercase; letter-spacing: 0.08em; color: var(--muted); }\n    .empty { color: var(--muted); font-style: italic; }\n    @media (max-width: 720px) { body { padding: 14px; } .hero, .panel { padding: 18px; } h1 { font-size: 28px; } table { display: block; overflow-x: auto; } }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <section class=\"hero\">\n      <h1>${escapeHtml(member || 'Member detail')}</h1>\n      <p class=\"lede\">Current member, contact, and signup data for the selected search result.</p>\n      <div class=\"summary\">\n        <div class=\"summary-card\"><h2>Primary Membership</h2><p>${escapeHtml(primaryMembership || 'Not available')}</p></div>\n        <div class=\"summary-card\"><h2>Signup Capture</h2><p>${escapeHtml(signupSummary)}</p></div>\n        <div class=\"summary-card\"><h2>Share Contact Detail</h2><p>${renderConsentBadge(summaryShareConsent)}</p></div>\n        <div class=\"summary-card\"><h2>Email</h2><p>${escapeHtml(summaryEmail || 'Not available')}</p></div>\n        <div class=\"summary-card\"><h2>Phone</h2><p>${escapeHtml(summaryMobile || summaryPhone || 'Not available')}</p></div>\n        <div class=\"summary-card\"><h2>Row ID</h2><p>${escapeHtml(rawMemberId || 'Not available')}</p></div>\n        <div class=\"summary-card\"><h2>Venue ID</h2><p>${escapeHtml(bestVenueId || 'Not available')}</p></div>\n        <div class=\"summary-card\"><h2>Tennis Number</h2><p>${escapeHtml(bestBtn || 'Not available')}</p></div>\n        <div class=\"summary-card\" style=\"grid-column: 1 / -1;\"><h2>Best Address</h2><p>${summaryAddress.length ? summaryAddress.map(escapeHtml).join('<br>') : 'Not available'}</p></div>\n      </div>\n      <div class=\"actions\">\n        ${signupActionHtml}\n        <a class=\"button\" href=\"${manualUrl}\">Open Manual Batch Form</a>\n        <button type=\"button\" class=\"close-button\" onclick=\"window.close()\">Close</button>\n      </div>\n    </section>\n    <section class=\"panel\">\n      <h2>Send Email</h2>\n      <p class=\"meta\">Choose any active message template and preview the rendered email before it is sent.</p>\n      ${emailPanelHtml}\n    </section>\n    <section class=\"panel\">\n      <h2>Member Rows</h2>\n      <p class=\"meta\">Current rows from <code>raw_members</code> for this resolved person.</p>\n      <table><thead><tr>${memberColumns.map((column) => `<th>${escapeHtml(column.label)}</th>`).join('')}</tr></thead><tbody>${renderRows(memberRows, memberColumns)}</tbody></table>\n    </section>\n    <section class=\"panel\">\n      <h2>Signup Rows</h2>\n      <p class=\"meta\">Rows from <code>member_signups</code> matched to this resolved person.</p>\n      <table><thead><tr>${signupColumns.map((column) => `<th>${escapeHtml(column.label)}</th>`).join('')}</tr></thead><tbody>${renderRows(signupRows, signupColumns)}</tbody></table>\n    </section>\n    <section class=\"panel\">\n      <h2>Contact Rows</h2>\n      <p class=\"meta\">Current rows from <code>raw_contacts</code>.</p>\n      <table><thead><tr>${contactColumns.map((column) => `<th>${escapeHtml(column.label)}</th>`).join('')}</tr></thead><tbody>${renderRows(contactRows, contactColumns)}</tbody></table>\n    </section>\n  </div>\n</body>\n</html>`;\nreturn [{ json: { html } }];"
      },
      "id": "f3000000-0000-0000-0000-000000000005",
      "name": "Build Detail HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "f3000000-0000-0000-0000-000000000006",
      "name": "Respond Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1420,
        220
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Build Detail Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Member Search Detail Webhook": {
      "main": [
        [
          {
            "node": "Build Detail Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Detail Query": {
      "main": [
        [
          {
            "node": "Load Member Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Member Detail": {
      "main": [
        [
          {
            "node": "Build Detail HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Detail HTML": {
      "main": [
        [
          {
            "node": "Respond Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
