workflows/new-member-email-parser.json
{
  "updatedAt": "2026-03-12T10:30:42.422Z",
  "createdAt": "2026-03-11T12:24:54.968Z",
  "id": "w9HY6Od1ScP1lMCX",
  "name": "New Member Email Parser",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mailbox": "NewMemberships",
        "postProcessAction": "read",
        "options": {}
      },
      "id": "8f2a7506-9bf0-4ac4-8b7b-0c49b44b0c4f",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "credentials": {
        "imap": {
          "id": "l4y28LrH90LlulZJ",
          "name": "Avondale Members Gmail IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const decodeHtml = (value) => {\n  if (!value) return '';\n  return value\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&pound;/gi, '\\u00A3')\n    .replace(/&#163;/gi, '\\u00A3')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>');\n};\n\nconst htmlToText = (html) => {\n  if (!html) return '';\n  return decodeHtml(\n    html\n      .replace(/<br\\s*\\/?>/gi, '\\n')\n      .replace(/<\\/p>/gi, '\\n')\n      .replace(/<\\/div>/gi, '\\n')\n      .replace(/<li>/gi, '\\n- ')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\r/g, '')\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim(),\n  );\n};\n\nreturn $input.all().map((item) => {\n  const json = item.json ?? {};\n  const headers = json.headers ?? json.email?.headers ?? {};\n  const metadata = json.metadata ?? json.email?.metadata ?? {};\n  const textHtml = json.textHtml ?? json.html ?? json.textAsHtml ?? json.bodyHtml ?? '';\n  const textPlain = json.textPlain ?? json.text ?? json.bodyText ?? '';\n  const normalizedText = textPlain && textPlain.trim() ? decodeHtml(textPlain) : htmlToText(textHtml);\n  const fromAddress = json.fromAddress ?? json.from ?? headers['from.0'] ?? headers.from?.[0] ?? headers.from ?? json.sender ?? null;\n\n  return {\n    json: {\n      ...json,\n      headers,\n      metadata,\n      normalizedText,\n      fromAddress,\n      messageId: json.messageId ?? json.message_id ?? headers['message-id'] ?? headers.messageId ?? metadata['message-id'] ?? metadata.messageId ?? null,\n      sentDate: json.date ?? json.sentDate ?? json.sent_date ?? headers.sent_date ?? headers.date ?? metadata.date ?? null,\n      subject: json.subject ?? headers.subject ?? metadata.subject ?? null,\n    },\n    binary: item.binary,\n    pairedItem: item.pairedItem,\n  };\n});"
      },
      "id": "60d6908d-02d1-40f8-9a0e-c0b7df2c3d29",
      "name": "Normalize HTML To Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const subjectNeedle = 'New membership application on ClubSpark';\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined) return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\n\nreturn $input.all()\n  .filter((item) => (item.json?.subject ?? '').includes(subjectNeedle))\n  .map((item) => {\n    const json = item.json ?? {};\n    return {\n      json: {\n        ...json,\n        startStatusSql: `insert into email_status (message_id, send_date, \"from\", subject, status_date, status) values (${sqlLiteral(json.messageId)}, ${sqlLiteral(json.sentDate)}, ${sqlLiteral(json.fromAddress)}, ${sqlLiteral(json.subject)}, now(), 'Start processing');`,\n      },\n      binary: item.binary,\n      pairedItem: item.pairedItem,\n    };\n  });"
      },
      "id": "18dc4253-71d4-4e50-8c26-4e15d9fbcbf1",
      "name": "Keep ClubSpark Membership Subjects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        790,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.startStatusSql }}"
      },
      "id": "af2448c2-b0f5-4777-97d3-b6256f2719cb",
      "name": "Insert email_status Start",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1090,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "DCYrUK9PAWz5kyFD",
          "name": "avondaledb-n8n-user-cloudsql-socket"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const decodeHtml = (value) => {\n  if (!value) return '';\n  return String(value)\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&pound;/gi, '\\u00A3')\n    .replace(/&#163;/gi, '\\u00A3')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>');\n};\n\nconst htmlToText = (html) => {\n  if (!html) return '';\n  return decodeHtml(\n    String(html)\n      .replace(/<br\\s*\\/?>/gi, '\\n')\n      .replace(/<\\/p>/gi, '\\n')\n      .replace(/<\\/div>/gi, '\\n')\n      .replace(/<\\/li>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\r/g, '')\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim(),\n  );\n};\n\nconst TRAILING_SEMICOLONS_PATTERN = /;+$/g;\nconst SQL_NUMBER_PATTERN = /^-?\\d+(?:\\.\\d+)?$/;\n\nconst COST_PATTERN = /(?:Total|Monthly)\\s*cost\\s*:\\s*[\\u00A3]?\\s*(?<cost>\\d+(?:[\\.,]\\d{1,2})?)/i;\nconst PAYER_PRODUCT_PATTERN = /^(?:Hi\\s*,?\\s*)?(?<payer>.*?)\\s+has\\s+applied\\s+for\\s+(?<product>.+?)\\s*\\.?$/i;\nconst MEMBER_PATTERN = /Members?\\s*(?:name|names|name\\(s\\)|names\\(s\\))?\\s*:\\s*(?<member>.+?)(?:;|\\n|$)/i;\nconst METHOD_PATTERN = /Payment\\s*(?:method|by|type)?\\s*:?\\s*(?<method>.+?)(?:\\n|$)/i;\nconst INSTALLMENT_QTY_PATTERN = /Number\\s+of\\s+installments\\s*:\\s*(?<quantity>.+?)(?:\\n|$)/i;\nconst STATUS_PATTERNS = [\n  /membership\\s+is\\s+\"?(?<status>[^\".\\n]+)\"?/i,\n  /payment\\s+will\\s+appear\\s+as\\s+\"?(?<status>[^\".\\n]+)\"?/i,\n  /payment\\s+status\\s+of\\s+(?<status>\\w+)/i,\n];\n\nconst splitMembers = (value) => {\n  if (!value) return [];\n  return String(value)\n    .split(',')\n    .map((entry) => entry.replace(TRAILING_SEMICOLONS_PATTERN, '').trim())\n    .filter(Boolean);\n};\n\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\n\nconst sqlNumber = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const normalized = String(value).replace(',', '.').trim();\n  return SQL_NUMBER_PATTERN.test(normalized) ? normalized : sqlLiteral(normalized);\n};\n\nconst pickFirst = (text, regexes) => {\n  for (const regex of regexes) {\n    const match = text.match(regex);\n    if (match?.groups) return match.groups;\n  }\n  return null;\n};\n\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const data = item.json ?? {};\n  const subject = data.subject ?? '';\n  const rawText = data.normalizedText ?? data.text ?? data.textPlain ?? data.snippet ?? (data.textHtml ? htmlToText(data.textHtml) : '') ?? (data.html ? htmlToText(data.html) : '');\n  const text = decodeHtml(rawText).replace(/\\r/g, '');\n  const flat = text.replace(/\\s+/g, ' ').trim();\n\n  const lines = text.split('\\n').map((line) => line.trim()).filter(Boolean);\n  const applyLine = lines.find((line) => /has\\s+applied\\s+for/i.test(line)) ?? null;\n\n  const payerProduct = (applyLine && applyLine.match(PAYER_PRODUCT_PATTERN)?.groups)\n    ?? flat.match(/(?:Hi\\s*,?\\s*)?.+?\\s+has\\s+applied\\s+for\\s+.+?(?:\\.|$)/i)?.[0]?.match(PAYER_PRODUCT_PATTERN)?.groups\n    ?? null;\n\n  const memberGroup = lines.map((line) => line.match(MEMBER_PATTERN)?.groups).find(Boolean)\n    ?? text.match(MEMBER_PATTERN)?.groups\n    ?? flat.match(MEMBER_PATTERN)?.groups\n    ?? null;\n\n  const methodGroup = lines.map((line) => line.match(METHOD_PATTERN)?.groups).find(Boolean)\n    ?? text.match(METHOD_PATTERN)?.groups\n    ?? flat.match(METHOD_PATTERN)?.groups\n    ?? null;\n\n  const qtyGroup = lines.map((line) => line.match(INSTALLMENT_QTY_PATTERN)?.groups).find(Boolean)\n    ?? text.match(INSTALLMENT_QTY_PATTERN)?.groups\n    ?? null;\n\n  const costGroup = text.match(COST_PATTERN)?.groups ?? flat.match(COST_PATTERN)?.groups ?? null;\n  const statusGroup = pickFirst(text, STATUS_PATTERNS) ?? pickFirst(flat, STATUS_PATTERNS);\n\n  const payer = payerProduct?.payer?.trim() || data.from || data.fromAddress?.text || null;\n  const product = payerProduct?.product?.trim() || null;\n  const memberRaw = memberGroup?.member?.trim() || null;\n  const method = methodGroup?.method?.trim() || null;\n  const clubsparkStatus = statusGroup?.status?.trim() || 'Unknown';\n  const quantity = qtyGroup?.quantity?.trim() || '1';\n  const cost = costGroup?.cost?.replace(',', '.') || null;\n\n  if (!cost) {\n    out.push({\n      json: {\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Neither total cost nor monthly cost could be extracted.',\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  if (!payer || !product || !memberRaw || !method) {\n    out.push({\n      json: {\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Required membership fields were not extracted.',\n        partial: { payer, product, member: memberRaw, method, clubspark_status: clubsparkStatus, cost, quantity },\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  const members = splitMembers(memberRaw);\n  if (!members.length) {\n    out.push({\n      json: {\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Member list was empty after splitting.',\n        partial: { payer, product, member: memberRaw, method, clubspark_status: clubsparkStatus, cost, quantity },\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  const signupDate = data.sentDate ?? data.send_date ?? data.date ?? new Date().toISOString();\n  const type = /monthly\\s*cost/i.test(text) ? 'Installments' : 'Payment';\n\n  for (const member of members) {\n    out.push({\n      json: {\n        message_id: data.messageId ?? data.message_id ?? null,\n        signup_date: signupDate,\n        member,\n        product,\n        payer,\n        cost,\n        quantity,\n        type,\n        method,\n        status: 'New',\n        clubspark_status: clubsparkStatus,\n        batch_id: null,\n        raw_member_field: memberRaw,\n        subject,\n        memberSignupSql: `insert into member_signups (signup_date, member, product, payer, cost, quantity, method, status, clubspark_status, batch_id) values (${sqlLiteral(signupDate)}, ${sqlLiteral(member)}, ${sqlLiteral(product)}, ${sqlLiteral(payer)}, ${sqlNumber(cost)}, ${sqlNumber(quantity)}, ${sqlLiteral(method)}, 'New', ${sqlLiteral(clubsparkStatus)}, NULL);`,\n        processedStatusSql: `update email_status set status_date = now(), status = 'Processed' where message_id = ${sqlLiteral(data.messageId ?? data.message_id ?? null)};`,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n  }\n}\n\nreturn out;\n"
      },
      "id": "d9c12cda-1a31-4e7f-864d-e1a56e74bb6e",
      "name": "Parse ClubSpark New Member Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1110,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const required = ['signup_date', 'member', 'product'];\n\nreturn $input.all().filter((item) =>\n  required.every((key) => {\n    const val = item.json?.[key];\n    return val !== undefined && val !== null && String(val).trim() !== '';\n  })\n);\n"
      },
      "id": "79844cb3-dc44-4e6b-8611-9ba3a4decb7a",
      "name": "Keep Parsed Signup Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.memberSignupSql }}"
      },
      "id": "d124d4fb-b5f9-4e87-aa74-c55f66aa7b46",
      "name": "Insert member_signups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1700,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "DCYrUK9PAWz5kyFD",
          "name": "avondaledb-n8n-user-cloudsql-socket"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $(\"Keep Parsed Signup Rows\").all();\nconst seen = new Set();\n\nreturn rows\n  .filter((item) => {\n    const messageId = item.json?.message_id ?? null;\n    if (!messageId || seen.has(messageId)) return false;\n    seen.add(messageId);\n    return Boolean(item.json?.processedStatusSql);\n  })\n  .map((item) => ({\n    json: {\n      message_id: item.json.message_id,\n      processedStatusSql: item.json.processedStatusSql,\n    },\n  }));"
      },
      "id": "9d03ae5a-4f16-48ee-b4dd-d464e23bac8c",
      "name": "Build Processed Status Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1870,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.processedStatusSql }}"
      },
      "id": "48ab2210-180a-4777-9287-e0dc5b747f1b",
      "name": "Update email_status Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1990,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "DCYrUK9PAWz5kyFD",
          "name": "avondaledb-n8n-user-cloudsql-socket"
        }
      }
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Normalize HTML To Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize HTML To Text": {
      "main": [
        [
          {
            "node": "Keep ClubSpark Membership Subjects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep ClubSpark Membership Subjects": {
      "main": [
        [
          {
            "node": "Insert email_status Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse ClubSpark New Member Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse ClubSpark New Member Email": {
      "main": [
        [
          {
            "node": "Keep Parsed Signup Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Parsed Signup Rows": {
      "main": [
        [
          {
            "node": "Insert member_signups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert member_signups": {
      "main": [
        [
          {
            "node": "Build Processed Status Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Processed Status Updates": {
      "main": [
        [
          {
            "node": "Update email_status Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "3f5367ca-0ff0-4710-ab50-8d32f3515589",
  "activeVersionId": null,
  "versionCounter": 11,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-11T12:24:54.968Z",
      "createdAt": "2026-03-11T12:24:54.968Z",
      "role": "workflow:owner",
      "workflowId": "w9HY6Od1ScP1lMCX",
      "projectId": "wACpjAjmafCK3zbr",
      "project": {
        "updatedAt": "2026-03-08T10:58:39.827Z",
        "createdAt": "2026-03-08T10:56:40.759Z",
        "id": "wACpjAjmafCK3zbr",
        "name": "Steve Short <steve.short@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8beae1bd-883b-47e1-b118-4b4dc77d2722"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
