workflows/new-member-email-parser.json
{"updatedAt":"2026-03-20T10:25:10.824Z","createdAt":"2026-03-13T10:24:40.908Z","id":"AP0C00u3WbKfyIqD8pyZr","name":"New Member Email Parser","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const rows = $(\"Keep Parsed Signup Rows\").all();\nconst seen = new Set();\n\nreturn rows\n  .filter((item) => {\n    const messageId = item.json?.message_id ?? null;\n    if (!messageId || seen.has(messageId)) return false;\n    seen.add(messageId);\n    return Boolean(item.json?.processedStatusSql);\n  })\n  .map((item) => ({\n    json: {\n      id: item.json?.gmail_id ?? item.json?.id ?? null,\n      gmail_id: item.json?.gmail_id ?? item.json?.id ?? null,\n      message_id: item.json.message_id,\n      processedStatusSql: item.json.processedStatusSql,\n    },\n  }));"},"id":"06ce7053-19ae-4101-ba55-ce8a14df56c7","name":"Build Processed Status Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,224]},{"parameters":{"mailbox":"NewMemberships","postProcessAction":"nothing","options":{"customEmailConfig":"[\"UNSEEN\"]","trackLastMessageId":true}},"id":"18463494-6877-4cb9-a7d9-5fc3c91b937d","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-832,160],"credentials":{"imap":{"id":"b77nZMkK8g7SfnIm","name":"Avondale Members Gmail IMAP"}},"disabled":true},{"parameters":{"source":"database","workflowId":{"mode":"list","value":"YYrFJbug2FOcujPmhhQ8T"},"mode":"once","options":{"waitForSubWorkflow":true}},"id":"db86870f-c55a-47a3-8b08-b703e03da279","name":"Execute Create Signup Batch","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2190,180]},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"getAll","returnAll":false,"limit":1,"simple":true,"filters":{"q":"={{ 'rfc822msgid:' + $json.message_id }}","readStatus":"unread"},"options":{}},"id":"f22e9a10-a75d-458f-930b-647c5f7e9117","name":"Gmail Find Message To Mark Read","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2200,360],"credentials":{"gmailOAuth2":{"id":"JHuPZBB6pULmuxKm","name":"Avondale Gmail OAuth2"}}},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"getAll","returnAll":true,"simple":false,"filters":{"readStatus":"unread"},"options":{}},"id":"6d902344-b994-41e0-a1ad-fae46253c4ab","name":"Gmail Get All Messages","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-832,-32],"webhookId":"d6dcb3d2-0884-4e40-bb62-c1da93f18208","credentials":{"gmailOAuth2":{"id":"JHuPZBB6pULmuxKm","name":"Avondale Gmail OAuth2"}}},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"markAsRead","messageId":"={{ $json.id }}"},"id":"d6cb1c3b-44fb-483a-befc-bfa4a65ee23a","name":"Gmail Mark Message Read","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2680,360],"credentials":{"gmailOAuth2":{"id":"JHuPZBB6pULmuxKm","name":"Avondale Gmail OAuth2"}}},{"parameters":{"operation":"executeQuery","query":"={{ $json.startStatusSql }}","options":{}},"id":"83c74081-b146-4d8b-97ff-c93f8a47b97f","name":"Insert email_status Start","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"={{ $json.memberSignupSql }}","options":{}},"id":"36e42079-6fe0-4279-8ac6-8853d497c5b0","name":"Insert member_signups","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[624,224],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"jsCode":"const subjectNeedle = 'New membership application on ClubSpark';\nconst BODY_PATTERNS = [/has\\s+applied\\s+for/i, /has\\s+renewed/i];\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined) return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\n\nreturn $input.all()\n  .filter((item) => {\n    const subject = item.json?.subject ?? '';\n    const text = item.json?.normalizedText ?? item.json?.textPlain ?? item.json?.text ?? '';\n    return subject.includes(subjectNeedle) || BODY_PATTERNS.some((regex) => regex.test(text));\n  })\n  .map((item) => {\n    const json = item.json ?? {};\n    return {\n      json: {\n        ...json,\n        startStatusSql: `insert into email_status (message_id, send_date, \"from\", subject, status_date, status) values (${sqlLiteral(json.messageId)}, ${sqlLiteral(json.sentDate)}, ${sqlLiteral(json.fromAddress)}, ${sqlLiteral(json.subject)}, now(), 'Start processing');`,\n      },\n      binary: item.binary,\n      pairedItem: item.pairedItem,\n    };\n  });"},"id":"7afd6ae7-992a-4e22-8458-b209ae8a39fe","name":"Keep ClubSpark Membership Subjects","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,160]},{"parameters":{"jsCode":"return $input.all().filter((item) => {\n  const id = item.json?.id ?? null;\n  return id !== null && id !== undefined && String(id).trim() !== '';\n});"},"id":"2e88b2fb-96af-4132-bff7-f37ed36dd4bf","name":"Keep Found Gmail Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,360]},{"parameters":{"jsCode":"const required = ['signup_date', 'member', 'product'];\n\nreturn $input.all().filter((item) =>\n  required.every((key) => {\n    const val = item.json?.[key];\n    return val !== undefined && val !== null && String(val).trim() !== '';\n  })\n);\n"},"id":"71d2d6ae-3355-4f3a-aff6-c8fec4c0421d","name":"Keep Parsed Signup Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,224]},{"parameters":{},"id":"2d765afe-4181-4b2d-a4e4-25180e162b01","name":"Manual Gmail Backfill","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1104,-32],"disabled":true},{"parameters":{"jsCode":"const decodeHtml = (value) => {\n  if (!value) return '';\n  return value\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&pound;/gi, '\\u00A3')\n    .replace(/&#163;/gi, '\\u00A3')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>');\n};\n\nconst htmlToText = (html) => {\n  if (!html) return '';\n  return decodeHtml(\n    html\n      .replace(/<br\\s*\\/?>/gi, '\\n')\n      .replace(/<\\/p>/gi, '\\n')\n      .replace(/<\\/div>/gi, '\\n')\n      .replace(/<li>/gi, '\\n- ')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\r/g, '')\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim(),\n  );\n};\n\nreturn $input.all().map((item) => {\n  const json = item.json ?? {};\n  const headers = json.headers ?? json.email?.headers ?? {};\n  const metadata = json.metadata ?? json.email?.metadata ?? {};\n  const textHtml = json.textHtml ?? json.html ?? json.textAsHtml ?? json.bodyHtml ?? '';\n  const textPlain = json.textPlain ?? json.text ?? json.bodyText ?? '';\n  const normalizedText = textPlain && textPlain.trim() ? decodeHtml(textPlain) : htmlToText(textHtml);\n  const fromAddress = json.fromAddress ?? json.from ?? headers['from.0'] ?? headers.from?.[0] ?? headers.from ?? json.sender ?? null;\n\n  return {\n    json: {\n      ...json,\n      headers,\n      metadata,\n      normalizedText,\n      fromAddress,\n      messageId: json.messageId ?? json.message_id ?? headers['message-id'] ?? headers.messageId ?? metadata['message-id'] ?? metadata.messageId ?? null,\n      sentDate: json.date ?? json.sentDate ?? json.sent_date ?? headers.sent_date ?? headers.date ?? metadata.date ?? null,\n      subject: json.subject ?? headers.subject ?? metadata.subject ?? null,\n    },\n    binary: item.binary,\n    pairedItem: item.pairedItem,\n  };\n});"},"id":"1a50c552-fa9a-4cd9-9a3b-92c38d80ba18","name":"Normalize HTML To Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,160]},{"parameters":{"jsCode":"const decodeHtml = (value) => {\n  if (!value) return '';\n  return String(value)\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&pound;/gi, '\\u00A3')\n    .replace(/&#163;/gi, '\\u00A3')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>');\n};\n\nconst htmlToText = (html) => {\n  if (!html) return '';\n  return decodeHtml(\n    String(html)\n      .replace(/<br\\s*\\/?>/gi, '\\n')\n      .replace(/<\\/p>/gi, '\\n')\n      .replace(/<\\/div>/gi, '\\n')\n      .replace(/<\\/li>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\r/g, '')\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim(),\n  );\n};\n\nconst TRAILING_SEMICOLONS_PATTERN = /;+$/g;\nconst SQL_NUMBER_PATTERN = /^-?\\d+(?:\\.\\d+)?$/;\nconst ACTION_PATTERN = /has\\s+(?:applied\\s+for|renewed)/i;\n\nconst COST_PATTERN = /(?:Total|Monthly)\\s*cost\\s*:\\s*[\\u00A3]?\\s*(?<cost>\\d+(?:[\\.,]\\d{1,2})?)/i;\nconst PAYER_PRODUCT_PATTERN = /^(?:Hi\\s*,?\\s*)?(?<payer>.*?)\\s+has\\s+(?:applied\\s+for|renewed)\\s+(?<product>.+?)\\s*\\.?$/i;\nconst MEMBER_PATTERN = /Members?\\s*(?:name|names|name\\(s\\)|names\\(s\\))?\\s*:\\s*(?<member>.+?)(?:;|\\n|$)/i;\nconst METHOD_PATTERN = /Payment\\s*(?:method|by|type)?\\s*:?\\s*(?<method>.+?)(?:\\n|$)/i;\nconst INSTALLMENT_QTY_PATTERN = /Number\\s+of\\s+installments\\s*:\\s*(?<quantity>.+?)(?:\\n|$)/i;\nconst STATUS_PATTERNS = [\n  /membership\\s+is\\s+\"?(?<status>[^\".\\n]+)\"?/i,\n  /payment\\s+will\\s+appear\\s+as\\s+\"?(?<status>[^\".\\n]+)\"?/i,\n  /payment\\s+status\\s+of\\s+(?<status>\\w+)/i,\n];\n\nconst splitMembers = (value) => {\n  if (!value) return [];\n  return String(value)\n    .split(',')\n    .map((entry) => entry.replace(TRAILING_SEMICOLONS_PATTERN, '').trim())\n    .filter(Boolean);\n};\n\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\n\nconst sqlNumber = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const normalized = String(value).replace(',', '.').trim();\n  return SQL_NUMBER_PATTERN.test(normalized) ? normalized : sqlLiteral(normalized);\n};\n\nconst pickFirst = (text, regexes) => {\n  for (const regex of regexes) {\n    const match = text.match(regex);\n    if (match?.groups) return match.groups;\n  }\n  return null;\n};\n\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const data = item.json ?? {};\n  const subject = data.subject ?? '';\n  const rawText = data.normalizedText ?? data.text ?? data.textPlain ?? data.snippet ?? (data.textHtml ? htmlToText(data.textHtml) : '') ?? (data.html ? htmlToText(data.html) : '');\n  const text = decodeHtml(rawText).replace(/\\r/g, '');\n  const flat = text.replace(/\\s+/g, ' ').trim();\n  const gmailId = data.id ?? data.gmail_id ?? null;\n\n  const lines = text.split('\\n').map((line) => line.trim()).filter(Boolean);\n  const actionLine = lines.find((line) => ACTION_PATTERN.test(line)) ?? null;\n\n  const payerProduct = (actionLine && actionLine.match(PAYER_PRODUCT_PATTERN)?.groups)\n    ?? flat.match(/(?:Hi\\s*,?\\s*)?.+?\\s+has\\s+(?:applied\\s+for|renewed)\\s+.+?(?:\\.|$)/i)?.[0]?.match(PAYER_PRODUCT_PATTERN)?.groups\n    ?? null;\n\n  const memberGroup = lines.map((line) => line.match(MEMBER_PATTERN)?.groups).find(Boolean)\n    ?? text.match(MEMBER_PATTERN)?.groups\n    ?? flat.match(MEMBER_PATTERN)?.groups\n    ?? null;\n\n  const methodGroup = lines.map((line) => line.match(METHOD_PATTERN)?.groups).find(Boolean)\n    ?? text.match(METHOD_PATTERN)?.groups\n    ?? flat.match(METHOD_PATTERN)?.groups\n    ?? null;\n\n  const qtyGroup = lines.map((line) => line.match(INSTALLMENT_QTY_PATTERN)?.groups).find(Boolean)\n    ?? text.match(INSTALLMENT_QTY_PATTERN)?.groups\n    ?? null;\n\n  const costGroup = text.match(COST_PATTERN)?.groups ?? flat.match(COST_PATTERN)?.groups ?? null;\n  const statusGroup = pickFirst(text, STATUS_PATTERNS) ?? pickFirst(flat, STATUS_PATTERNS);\n\n  const payer = payerProduct?.payer?.trim() || data.from || data.fromAddress?.text || null;\n  const product = payerProduct?.product?.trim() || null;\n  const memberRaw = memberGroup?.member?.trim() || null;\n  const method = methodGroup?.method?.trim() || null;\n  const clubsparkStatus = statusGroup?.status?.trim() || 'Unknown';\n  const quantity = qtyGroup?.quantity?.trim() || '1';\n  const cost = costGroup?.cost?.replace(',', '.') || null;\n\n  if (!cost) {\n    out.push({\n      json: {\n        id: gmailId,\n        gmail_id: gmailId,\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Neither total cost nor monthly cost could be extracted.',\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  if (!payer || !product || !memberRaw || !method) {\n    out.push({\n      json: {\n        id: gmailId,\n        gmail_id: gmailId,\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Required membership fields were not extracted.',\n        partial: { payer, product, member: memberRaw, method, clubspark_status: clubsparkStatus, cost, quantity },\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  const members = splitMembers(memberRaw);\n  if (!members.length) {\n    out.push({\n      json: {\n        id: gmailId,\n        gmail_id: gmailId,\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Member list was empty after splitting.',\n        partial: { payer, product, member: memberRaw, method, clubspark_status: clubsparkStatus, cost, quantity },\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  const signupDate = data.sentDate ?? data.send_date ?? data.date ?? new Date().toISOString();\n  const type = /monthly\\s*cost/i.test(text) ? 'Installments' : 'Payment';\n\n  for (const member of members) {\n    out.push({\n      json: {\n        id: gmailId,\n        gmail_id: gmailId,\n        message_id: data.messageId ?? data.message_id ?? null,\n        signup_date: signupDate,\n        member,\n        product,\n        payer,\n        cost,\n        quantity,\n        type,\n        method,\n        status: 'New',\n        clubspark_status: clubsparkStatus,\n        batch_id: null,\n        raw_member_field: memberRaw,\n        subject,\n        memberSignupSql: `with existing_signup as (\n  select id, source\n  from public.member_signups\n  where lower(trim(member)) = lower(trim(${sqlLiteral(member)}))\n    and lower(trim(product)) = lower(trim(${sqlLiteral(product)}))\n  order by case when source = 'missing_signup_capture' then 0 else 1 end, id desc\n  limit 1\n), updated_backfill as (\n  update public.member_signups ms\n  set signup_date = ${sqlLiteral(signupDate)},\n      payer = ${sqlLiteral(payer)},\n      cost = ${sqlNumber(cost)},\n      quantity = ${sqlNumber(quantity)},\n      method = ${sqlLiteral(method)},\n      status = 'New',\n      clubspark_status = ${sqlLiteral(clubsparkStatus)},\n      batch_id = NULL,\n      source = 'email_capture'\n  where ms.id in (\n    select id\n    from existing_signup\n    where source = 'missing_signup_capture'\n  )\n  returning ms.id\n)\ninsert into public.member_signups (\n  signup_date,\n  member,\n  product,\n  payer,\n  cost,\n  quantity,\n  method,\n  status,\n  clubspark_status,\n  batch_id,\n  source\n)\nselect\n  ${sqlLiteral(signupDate)},\n  ${sqlLiteral(member)},\n  ${sqlLiteral(product)},\n  ${sqlLiteral(payer)},\n  ${sqlNumber(cost)},\n  ${sqlNumber(quantity)},\n  ${sqlLiteral(method)},\n  'New',\n  ${sqlLiteral(clubsparkStatus)},\n  NULL,\n  'email_capture'\nwhere not exists (select 1 from existing_signup)\n  and not exists (select 1 from updated_backfill);`,\n        processedStatusSql: `update email_status set status_date = now(), status = 'Processed' where message_id = ${sqlLiteral(data.messageId ?? data.message_id ?? null)};`,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n  }\n}\n\nreturn out;\n"},"id":"03a6f070-1bbe-423f-82b8-e5669368fc98","name":"Parse ClubSpark New Member Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,224]},{"parameters":{"operation":"executeQuery","query":"={{ $json.processedStatusSql }}","options":{}},"id":"c130b568-f71b-4736-af61-7059b194b8f5","name":"Update email_status Processed","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,224],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * * * *"}]}},"id":"9a7f3561-5a86-47cf-aec4-c689cc5c9f11","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1104,-224]}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Normalize HTML To Text","type":"main","index":0}]]},"Normalize HTML To Text":{"main":[[{"node":"Keep ClubSpark Membership Subjects","type":"main","index":0}]]},"Keep ClubSpark Membership Subjects":{"main":[[{"node":"Insert email_status Start","type":"main","index":0},{"node":"Parse ClubSpark New Member Email","type":"main","index":0}]]},"Parse ClubSpark New Member Email":{"main":[[{"node":"Keep Parsed Signup Rows","type":"main","index":0}]]},"Keep Parsed Signup Rows":{"main":[[{"node":"Insert member_signups","type":"main","index":0}]]},"Insert member_signups":{"main":[[{"node":"Build Processed Status Updates","type":"main","index":0}]]},"Build Processed Status Updates":{"main":[[{"node":"Update email_status Processed","type":"main","index":0},{"node":"Keep Found Gmail Messages","type":"main","index":0},{"node":"Gmail Find Message To Mark Read","type":"main","index":0}]]},"Manual Gmail Backfill":{"main":[[{"node":"Gmail Get All Messages","type":"main","index":0}]]},"Gmail Get All Messages":{"main":[[{"node":"Normalize HTML To Text","type":"main","index":0}]]},"Update email_status Processed":{"main":[[{"node":"Execute Create Signup Batch","type":"main","index":0}]]},"Gmail Find Message To Mark Read":{"main":[[{"node":"Keep Found Gmail Messages","type":"main","index":0}]]},"Keep Found Gmail Messages":{"main":[[{"node":"Gmail Mark Message Read","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Gmail Get All Messages","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8f5f3d0e-dbf6-451a-a3ba-92f51c5f8d7a","activeVersionId":"8f5f3d0e-dbf6-451a-a3ba-92f51c5f8d7a","versionCounter":13,"triggerCount":1,"shared":[{"updatedAt":"2026-03-13T10:24:40.908Z","createdAt":"2026-03-13T10:24:40.908Z","role":"workflow:owner","workflowId":"AP0C00u3WbKfyIqD8pyZr","projectId":"AtpW2flNrTDUqcis","project":{"updatedAt":"2026-03-07T15:05:21.831Z","createdAt":"2025-04-29T13:45:55.157Z","id":"AtpW2flNrTDUqcis","name":"Steve Short <steve@shortcentral.com>","type":"personal","icon":null,"description":null,"creatorId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectRelations":[{"updatedAt":"2025-04-29T13:45:55.157Z","createdAt":"2025-04-29T13:45:55.157Z","userId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectId":"AtpW2flNrTDUqcis","user":{"updatedAt":"2026-03-20T10:25:38.769Z","createdAt":"2025-04-29T13:45:54.337Z","id":"1aa25644-d384-4810-beaa-f58314d3e70c","email":"steve@shortcentral.com","firstName":"Steve","lastName":"Short","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-29T13:48:39.758Z","personalization_survey_n8n_version":"1.89.2","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6XC5aXJ8uS5DS553","userActivatedAt":1773664748790},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-20","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-20T10:25:10.816Z","createdAt":"2026-03-20T10:25:10.816Z","versionId":"8f5f3d0e-dbf6-451a-a3ba-92f51c5f8d7a","workflowId":"AP0C00u3WbKfyIqD8pyZr","nodes":[{"parameters":{"jsCode":"const rows = $(\"Keep Parsed Signup Rows\").all();\nconst seen = new Set();\n\nreturn rows\n  .filter((item) => {\n    const messageId = item.json?.message_id ?? null;\n    if (!messageId || seen.has(messageId)) return false;\n    seen.add(messageId);\n    return Boolean(item.json?.processedStatusSql);\n  })\n  .map((item) => ({\n    json: {\n      id: item.json?.gmail_id ?? item.json?.id ?? null,\n      gmail_id: item.json?.gmail_id ?? item.json?.id ?? null,\n      message_id: item.json.message_id,\n      processedStatusSql: item.json.processedStatusSql,\n    },\n  }));"},"id":"06ce7053-19ae-4101-ba55-ce8a14df56c7","name":"Build Processed Status Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[784,224]},{"parameters":{"mailbox":"NewMemberships","postProcessAction":"nothing","options":{"customEmailConfig":"[\"UNSEEN\"]","trackLastMessageId":true}},"id":"18463494-6877-4cb9-a7d9-5fc3c91b937d","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-832,160],"credentials":{"imap":{"id":"b77nZMkK8g7SfnIm","name":"Avondale Members Gmail IMAP"}},"disabled":true},{"parameters":{"source":"database","workflowId":{"mode":"list","value":"YYrFJbug2FOcujPmhhQ8T"},"mode":"once","options":{"waitForSubWorkflow":true}},"id":"db86870f-c55a-47a3-8b08-b703e03da279","name":"Execute Create Signup Batch","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2190,180]},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"getAll","returnAll":false,"limit":1,"simple":true,"filters":{"q":"={{ 'rfc822msgid:' + $json.message_id }}","readStatus":"unread"},"options":{}},"id":"f22e9a10-a75d-458f-930b-647c5f7e9117","name":"Gmail Find Message To Mark Read","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2200,360],"credentials":{"gmailOAuth2":{"id":"JHuPZBB6pULmuxKm","name":"Avondale Gmail OAuth2"}}},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"getAll","returnAll":true,"simple":false,"filters":{"readStatus":"unread"},"options":{}},"id":"6d902344-b994-41e0-a1ad-fae46253c4ab","name":"Gmail Get All Messages","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-832,-32],"webhookId":"d6dcb3d2-0884-4e40-bb62-c1da93f18208","credentials":{"gmailOAuth2":{"id":"JHuPZBB6pULmuxKm","name":"Avondale Gmail OAuth2"}}},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"markAsRead","messageId":"={{ $json.id }}"},"id":"d6cb1c3b-44fb-483a-befc-bfa4a65ee23a","name":"Gmail Mark Message Read","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2680,360],"credentials":{"gmailOAuth2":{"id":"JHuPZBB6pULmuxKm","name":"Avondale Gmail OAuth2"}}},{"parameters":{"operation":"executeQuery","query":"={{ $json.startStatusSql }}","options":{}},"id":"83c74081-b146-4d8b-97ff-c93f8a47b97f","name":"Insert email_status Start","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"={{ $json.memberSignupSql }}","options":{}},"id":"36e42079-6fe0-4279-8ac6-8853d497c5b0","name":"Insert member_signups","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[624,224],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"jsCode":"const subjectNeedle = 'New membership application on ClubSpark';\nconst BODY_PATTERNS = [/has\\s+applied\\s+for/i, /has\\s+renewed/i];\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined) return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\n\nreturn $input.all()\n  .filter((item) => {\n    const subject = item.json?.subject ?? '';\n    const text = item.json?.normalizedText ?? item.json?.textPlain ?? item.json?.text ?? '';\n    return subject.includes(subjectNeedle) || BODY_PATTERNS.some((regex) => regex.test(text));\n  })\n  .map((item) => {\n    const json = item.json ?? {};\n    return {\n      json: {\n        ...json,\n        startStatusSql: `insert into email_status (message_id, send_date, \"from\", subject, status_date, status) values (${sqlLiteral(json.messageId)}, ${sqlLiteral(json.sentDate)}, ${sqlLiteral(json.fromAddress)}, ${sqlLiteral(json.subject)}, now(), 'Start processing');`,\n      },\n      binary: item.binary,\n      pairedItem: item.pairedItem,\n    };\n  });"},"id":"7afd6ae7-992a-4e22-8458-b209ae8a39fe","name":"Keep ClubSpark Membership Subjects","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,160]},{"parameters":{"jsCode":"return $input.all().filter((item) => {\n  const id = item.json?.id ?? null;\n  return id !== null && id !== undefined && String(id).trim() !== '';\n});"},"id":"2e88b2fb-96af-4132-bff7-f37ed36dd4bf","name":"Keep Found Gmail Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,360]},{"parameters":{"jsCode":"const required = ['signup_date', 'member', 'product'];\n\nreturn $input.all().filter((item) =>\n  required.every((key) => {\n    const val = item.json?.[key];\n    return val !== undefined && val !== null && String(val).trim() !== '';\n  })\n);\n"},"id":"71d2d6ae-3355-4f3a-aff6-c8fec4c0421d","name":"Keep Parsed Signup Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,224]},{"parameters":{},"id":"2d765afe-4181-4b2d-a4e4-25180e162b01","name":"Manual Gmail Backfill","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1104,-32],"disabled":true},{"parameters":{"jsCode":"const decodeHtml = (value) => {\n  if (!value) return '';\n  return value\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&pound;/gi, '\\u00A3')\n    .replace(/&#163;/gi, '\\u00A3')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>');\n};\n\nconst htmlToText = (html) => {\n  if (!html) return '';\n  return decodeHtml(\n    html\n      .replace(/<br\\s*\\/?>/gi, '\\n')\n      .replace(/<\\/p>/gi, '\\n')\n      .replace(/<\\/div>/gi, '\\n')\n      .replace(/<li>/gi, '\\n- ')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\r/g, '')\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim(),\n  );\n};\n\nreturn $input.all().map((item) => {\n  const json = item.json ?? {};\n  const headers = json.headers ?? json.email?.headers ?? {};\n  const metadata = json.metadata ?? json.email?.metadata ?? {};\n  const textHtml = json.textHtml ?? json.html ?? json.textAsHtml ?? json.bodyHtml ?? '';\n  const textPlain = json.textPlain ?? json.text ?? json.bodyText ?? '';\n  const normalizedText = textPlain && textPlain.trim() ? decodeHtml(textPlain) : htmlToText(textHtml);\n  const fromAddress = json.fromAddress ?? json.from ?? headers['from.0'] ?? headers.from?.[0] ?? headers.from ?? json.sender ?? null;\n\n  return {\n    json: {\n      ...json,\n      headers,\n      metadata,\n      normalizedText,\n      fromAddress,\n      messageId: json.messageId ?? json.message_id ?? headers['message-id'] ?? headers.messageId ?? metadata['message-id'] ?? metadata.messageId ?? null,\n      sentDate: json.date ?? json.sentDate ?? json.sent_date ?? headers.sent_date ?? headers.date ?? metadata.date ?? null,\n      subject: json.subject ?? headers.subject ?? metadata.subject ?? null,\n    },\n    binary: item.binary,\n    pairedItem: item.pairedItem,\n  };\n});"},"id":"1a50c552-fa9a-4cd9-9a3b-92c38d80ba18","name":"Normalize HTML To Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,160]},{"parameters":{"jsCode":"const decodeHtml = (value) => {\n  if (!value) return '';\n  return String(value)\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/&pound;/gi, '\\u00A3')\n    .replace(/&#163;/gi, '\\u00A3')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>');\n};\n\nconst htmlToText = (html) => {\n  if (!html) return '';\n  return decodeHtml(\n    String(html)\n      .replace(/<br\\s*\\/?>/gi, '\\n')\n      .replace(/<\\/p>/gi, '\\n')\n      .replace(/<\\/div>/gi, '\\n')\n      .replace(/<\\/li>/gi, '\\n')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\r/g, '')\n      .replace(/[ \\t]+\\n/g, '\\n')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim(),\n  );\n};\n\nconst TRAILING_SEMICOLONS_PATTERN = /;+$/g;\nconst SQL_NUMBER_PATTERN = /^-?\\d+(?:\\.\\d+)?$/;\nconst ACTION_PATTERN = /has\\s+(?:applied\\s+for|renewed)/i;\n\nconst COST_PATTERN = /(?:Total|Monthly)\\s*cost\\s*:\\s*[\\u00A3]?\\s*(?<cost>\\d+(?:[\\.,]\\d{1,2})?)/i;\nconst PAYER_PRODUCT_PATTERN = /^(?:Hi\\s*,?\\s*)?(?<payer>.*?)\\s+has\\s+(?:applied\\s+for|renewed)\\s+(?<product>.+?)\\s*\\.?$/i;\nconst MEMBER_PATTERN = /Members?\\s*(?:name|names|name\\(s\\)|names\\(s\\))?\\s*:\\s*(?<member>.+?)(?:;|\\n|$)/i;\nconst METHOD_PATTERN = /Payment\\s*(?:method|by|type)?\\s*:?\\s*(?<method>.+?)(?:\\n|$)/i;\nconst INSTALLMENT_QTY_PATTERN = /Number\\s+of\\s+installments\\s*:\\s*(?<quantity>.+?)(?:\\n|$)/i;\nconst STATUS_PATTERNS = [\n  /membership\\s+is\\s+\"?(?<status>[^\".\\n]+)\"?/i,\n  /payment\\s+will\\s+appear\\s+as\\s+\"?(?<status>[^\".\\n]+)\"?/i,\n  /payment\\s+status\\s+of\\s+(?<status>\\w+)/i,\n];\n\nconst splitMembers = (value) => {\n  if (!value) return [];\n  return String(value)\n    .split(',')\n    .map((entry) => entry.replace(TRAILING_SEMICOLONS_PATTERN, '').trim())\n    .filter(Boolean);\n};\n\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\n\nconst sqlNumber = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const normalized = String(value).replace(',', '.').trim();\n  return SQL_NUMBER_PATTERN.test(normalized) ? normalized : sqlLiteral(normalized);\n};\n\nconst pickFirst = (text, regexes) => {\n  for (const regex of regexes) {\n    const match = text.match(regex);\n    if (match?.groups) return match.groups;\n  }\n  return null;\n};\n\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const data = item.json ?? {};\n  const subject = data.subject ?? '';\n  const rawText = data.normalizedText ?? data.text ?? data.textPlain ?? data.snippet ?? (data.textHtml ? htmlToText(data.textHtml) : '') ?? (data.html ? htmlToText(data.html) : '');\n  const text = decodeHtml(rawText).replace(/\\r/g, '');\n  const flat = text.replace(/\\s+/g, ' ').trim();\n  const gmailId = data.id ?? data.gmail_id ?? null;\n\n  const lines = text.split('\\n').map((line) => line.trim()).filter(Boolean);\n  const actionLine = lines.find((line) => ACTION_PATTERN.test(line)) ?? null;\n\n  const payerProduct = (actionLine && actionLine.match(PAYER_PRODUCT_PATTERN)?.groups)\n    ?? flat.match(/(?:Hi\\s*,?\\s*)?.+?\\s+has\\s+(?:applied\\s+for|renewed)\\s+.+?(?:\\.|$)/i)?.[0]?.match(PAYER_PRODUCT_PATTERN)?.groups\n    ?? null;\n\n  const memberGroup = lines.map((line) => line.match(MEMBER_PATTERN)?.groups).find(Boolean)\n    ?? text.match(MEMBER_PATTERN)?.groups\n    ?? flat.match(MEMBER_PATTERN)?.groups\n    ?? null;\n\n  const methodGroup = lines.map((line) => line.match(METHOD_PATTERN)?.groups).find(Boolean)\n    ?? text.match(METHOD_PATTERN)?.groups\n    ?? flat.match(METHOD_PATTERN)?.groups\n    ?? null;\n\n  const qtyGroup = lines.map((line) => line.match(INSTALLMENT_QTY_PATTERN)?.groups).find(Boolean)\n    ?? text.match(INSTALLMENT_QTY_PATTERN)?.groups\n    ?? null;\n\n  const costGroup = text.match(COST_PATTERN)?.groups ?? flat.match(COST_PATTERN)?.groups ?? null;\n  const statusGroup = pickFirst(text, STATUS_PATTERNS) ?? pickFirst(flat, STATUS_PATTERNS);\n\n  const payer = payerProduct?.payer?.trim() || data.from || data.fromAddress?.text || null;\n  const product = payerProduct?.product?.trim() || null;\n  const memberRaw = memberGroup?.member?.trim() || null;\n  const method = methodGroup?.method?.trim() || null;\n  const clubsparkStatus = statusGroup?.status?.trim() || 'Unknown';\n  const quantity = qtyGroup?.quantity?.trim() || '1';\n  const cost = costGroup?.cost?.replace(',', '.') || null;\n\n  if (!cost) {\n    out.push({\n      json: {\n        id: gmailId,\n        gmail_id: gmailId,\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Neither total cost nor monthly cost could be extracted.',\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  if (!payer || !product || !memberRaw || !method) {\n    out.push({\n      json: {\n        id: gmailId,\n        gmail_id: gmailId,\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Required membership fields were not extracted.',\n        partial: { payer, product, member: memberRaw, method, clubspark_status: clubsparkStatus, cost, quantity },\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  const members = splitMembers(memberRaw);\n  if (!members.length) {\n    out.push({\n      json: {\n        id: gmailId,\n        gmail_id: gmailId,\n        message_id: data.messageId ?? data.message_id ?? null,\n        subject,\n        parse_error: 'Member list was empty after splitting.',\n        partial: { payer, product, member: memberRaw, method, clubspark_status: clubsparkStatus, cost, quantity },\n        normalized_text: text,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n    continue;\n  }\n\n  const signupDate = data.sentDate ?? data.send_date ?? data.date ?? new Date().toISOString();\n  const type = /monthly\\s*cost/i.test(text) ? 'Installments' : 'Payment';\n\n  for (const member of members) {\n    out.push({\n      json: {\n        id: gmailId,\n        gmail_id: gmailId,\n        message_id: data.messageId ?? data.message_id ?? null,\n        signup_date: signupDate,\n        member,\n        product,\n        payer,\n        cost,\n        quantity,\n        type,\n        method,\n        status: 'New',\n        clubspark_status: clubsparkStatus,\n        batch_id: null,\n        raw_member_field: memberRaw,\n        subject,\n        memberSignupSql: `insert into member_signups (signup_date, member, product, payer, cost, quantity, method, status, clubspark_status, batch_id) values (${sqlLiteral(signupDate)}, ${sqlLiteral(member)}, ${sqlLiteral(product)}, ${sqlLiteral(payer)}, ${sqlNumber(cost)}, ${sqlNumber(quantity)}, ${sqlLiteral(method)}, 'New', ${sqlLiteral(clubsparkStatus)}, NULL);`,\n        processedStatusSql: `update email_status set status_date = now(), status = 'Processed' where message_id = ${sqlLiteral(data.messageId ?? data.message_id ?? null)};`,\n      },\n      pairedItem: item.pairedItem,\n      binary: item.binary,\n    });\n  }\n}\n\nreturn out;\n"},"id":"03a6f070-1bbe-423f-82b8-e5669368fc98","name":"Parse ClubSpark New Member Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,224]},{"parameters":{"operation":"executeQuery","query":"={{ $json.processedStatusSql }}","options":{}},"id":"c130b568-f71b-4736-af61-7059b194b8f5","name":"Update email_status Processed","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,224],"credentials":{"postgres":{"id":"PjTUDAMk0dZ7g1iO","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 * * * *"}]}},"id":"9a7f3561-5a86-47cf-aec4-c689cc5c9f11","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1104,-224]}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Normalize HTML To Text","type":"main","index":0}]]},"Normalize HTML To Text":{"main":[[{"node":"Keep ClubSpark Membership Subjects","type":"main","index":0}]]},"Keep ClubSpark Membership Subjects":{"main":[[{"node":"Insert email_status Start","type":"main","index":0},{"node":"Parse ClubSpark New Member Email","type":"main","index":0}]]},"Parse ClubSpark New Member Email":{"main":[[{"node":"Keep Parsed Signup Rows","type":"main","index":0}]]},"Keep Parsed Signup Rows":{"main":[[{"node":"Insert member_signups","type":"main","index":0}]]},"Insert member_signups":{"main":[[{"node":"Build Processed Status Updates","type":"main","index":0}]]},"Build Processed Status Updates":{"main":[[{"node":"Update email_status Processed","type":"main","index":0},{"node":"Keep Found Gmail Messages","type":"main","index":0},{"node":"Gmail Find Message To Mark Read","type":"main","index":0}]]},"Manual Gmail Backfill":{"main":[[{"node":"Gmail Get All Messages","type":"main","index":0}]]},"Gmail Get All Messages":{"main":[[{"node":"Normalize HTML To Text","type":"main","index":0}]]},"Update email_status Processed":{"main":[[{"node":"Execute Create Signup Batch","type":"main","index":0}]]},"Gmail Find Message To Mark Read":{"main":[[{"node":"Keep Found Gmail Messages","type":"main","index":0}]]},"Keep Found Gmail Messages":{"main":[[{"node":"Gmail Mark Message Read","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Gmail Get All Messages","type":"main","index":0}]]}},"authors":"Steve Short","name":"New Member Email Parser","description":null,"autosaved":false,"workflowPublishHistory":[]}}