workflows/print-j8160-labels-from-cloud.json
{
  "name": "Print J8160 Labels from Cloud",
  "nodes": [
    {
      "parameters": {},
      "id": "d1e2f3a4-0001-0001-0001-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000002",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        460
      ]
    },
    {
      "parameters": {
        "path": "download-j8160-labels",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "responseData": "firstEntryBinary",
        "responseBinaryPropertyName": "data",
        "options": {}
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000007",
      "name": "Download Labels PDF",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "download-j8160-labels"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH processed_signups_base AS (\n    SELECT\n        b.id AS batch_id,\n        s.signup_date,\n        s.member,\n        s.payer,\n        s.product,\n        b.status AS batch_status,\n        x.\"Address 1\",\n        x.\"Address 2\",\n        x.\"town\",\n        x.\"postcode\",\n        CASE WHEN s.product = '6. Parent 2026' THEN 1 ELSE 0 END AS is_parent_2026,\n        CASE WHEN s.product <> '6. Parent 2026' THEN 1 ELSE 0 END AS is_other_product,\n        CASE WHEN s.product = 'b. Pavilion Key' THEN 1 ELSE 0 END AS is_key\n    FROM public.signup_batches AS b\n    INNER JOIN public.member_signups AS s\n        ON b.id = s.batch_id\n    LEFT JOIN public.raw_contacts AS x\n        ON s.payer = CONCAT(x.\"First name\", ' ', x.\"Last name\")\n    WHERE b.status = 'Processing'\n),\nconsolidated AS (\n    SELECT\n        MIN(batch_id) AS batch_id,\n        COUNT(DISTINCT batch_id) AS batch_count,\n        payer,\n        \"Address 1\",\n        \"Address 2\",\n        town,\n        postcode,\n        SUM(is_parent_2026) AS parent_tags,\n        SUM(is_other_product) AS regular_tags,\n        SUM(is_key) AS key_tags,\n        COUNT(*) AS total_items\n    FROM processed_signups_base\n    WHERE product <> 'a. Social 2026'\n    GROUP BY payer, \"Address 1\", \"Address 2\", town, postcode\n)\nSELECT\n    batch_id,\n    batch_count,\n    payer,\n    \"Address 1\",\n    \"Address 2\",\n    town,\n    postcode,\n    parent_tags,\n    regular_tags,\n    key_tags,\n    total_items\nFROM consolidated\nORDER BY payer, \"Address 1\", \"Address 2\", town, postcode;"
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000003",
      "name": "Read Cloud Label Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        520,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "39a4v88oeLUdsmM3",
          "name": "avondale-n8n-user"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const rows = $input.all().map((item) => item.json ?? {});\nif (!rows.length) {\n  throw new Error('The cloud labels query returned no rows.');\n}\n\nconst batchIds = [...new Set(rows.map((row) => String(row.batch_id ?? '').trim()).filter(Boolean))];\nif (!batchIds.length) {\n  throw new Error('The cloud labels query did not return a batch id.');\n}\nconst batchId = batchIds.length === 1 ? batchIds[0] : `multiple-${batchIds.join('-')}`;\n\nconst escapeHtml = (value) => String(value ?? '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst text = (value) => String(value ?? '').trim();\nconst labels = rows.map((row) => ({\n  payer: text(row.payer),\n  address1: text(row['Address 1']),\n  address2: text(row['Address 2']),\n  town: text(row.town),\n  postcode: text(row.postcode).toUpperCase(),\n  parentTags: Number(row.parent_tags ?? 0),\n  regularTags: Number(row.regular_tags ?? 0),\n  keyTags: Number(row.key_tags ?? 0),\n  totalItems: Number(row.total_items ?? 0),\n}));\n\nconst blankLabel = '<div class=\"label blank\"></div>';\nconst pageSize = 21;\nconst sheets = [];\nfor (let i = 0; i < labels.length; i += pageSize) {\n  const chunk = labels.slice(i, i + pageSize);\n  while (chunk.length < pageSize) chunk.push(null);\n  sheets.push(chunk);\n}\n\nconst renderLabel = (label) => {\n  if (!label) return blankLabel;\n  const lines = [label.address1, label.address2, label.town].filter(Boolean);\n  const counts = [];\n  if (label.parentTags) counts.push(`${label.parentTags} parent`);\n  if (label.regularTags) counts.push(`${label.regularTags} regular`);\n  if (label.keyTags) counts.push(`${label.keyTags} key`);\n  const countsText = counts.length ? escapeHtml(counts.join(' / ')) : '';\n  return `\n    <div class=\"label\">\n      <div class=\"line payer\">${escapeHtml(label.payer)}</div>\n      ${lines.map((line) => `<div class=\"line\">${escapeHtml(line)}</div>`).join('')}\n      <div class=\"line postcode\">${escapeHtml(label.postcode)}</div>\n      ${countsText ? `<div class=\"line meta\">${countsText}</div>` : ''}\n    </div>`;\n};\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>J8160 Labels</title>\n  <style>\n    @page {\n      size: A4;\n      margin: 0;\n    }\n    * {\n      box-sizing: border-box;\n    }\n    html, body {\n      margin: 0;\n      padding: 0;\n      width: 210mm;\n      background: #fff;\n    }\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      color: #000;\n      -webkit-print-color-adjust: exact;\n      print-color-adjust: exact;\n    }\n    .sheet {\n      width: 210mm;\n      height: 297mm;\n      padding: 15.1mm 0 0 7.1mm;\n      display: grid;\n      grid-template-columns: repeat(3, 63.5mm);\n      grid-auto-rows: 38.1mm;\n      column-gap: 2.65mm;\n      row-gap: 0;\n      page-break-after: always;\n    }\n    .sheet:last-child {\n      page-break-after: auto;\n    }\n    .label {\n      width: 63.5mm;\n      height: 38.1mm;\n      padding: 3.6mm 3.6mm 2.8mm 3.6mm;\n      overflow: hidden;\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n    }\n    .blank {\n      visibility: hidden;\n    }\n    .line {\n      line-height: 1.15;\n      font-size: 10.6pt;\n      white-space: nowrap;\n      overflow: hidden;\n      text-overflow: ellipsis;\n    }\n    .payer {\n      font-weight: 700;\n      margin-bottom: 0.9mm;\n    }\n    .postcode {\n      margin-top: 0.9mm;\n      font-weight: 700;\n      letter-spacing: 0.3px;\n    }\n    .meta {\n      margin-top: 1.1mm;\n      font-size: 7.7pt;\n      color: #444;\n    }\n  </style>\n</head>\n<body>\n  ${sheets.map((sheet) => `<section class=\"sheet\">${sheet.map(renderLabel).join('')}</section>`).join('')}\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    batch_id: batchId,\n    label_count: labels.length,\n    page_count: sheets.length,\n    labels,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(html, 'utf8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html',\n      fileExtension: 'html',\n    },\n  },\n}];"
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000004",
      "name": "Build J8160 HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        810,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000005",
      "name": "Render PDF with Gotenberg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nconst binary = item.binary?.data;\nif (!binary?.data) {\n  throw new Error('Gotenberg did not return a PDF binary payload.');\n}\nconst batchId = String(item.json?.batch_id ?? 'unknown').replace(/[^A-Za-z0-9_-]+/g, '-');\nreturn [{\n  json: {\n    ...(item.json ?? {}),\n    generated_at: new Date().toISOString(),\n  },\n  binary: {\n    data: {\n      ...binary,\n      mimeType: 'application/pdf',\n      fileName: `j8160-labels-batch-${batchId}.pdf`,\n      fileExtension: 'pdf',\n    },\n  },\n}];"
      },
      "id": "d1e2f3a4-0001-0001-0001-000000000006",
      "name": "Finalize PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1390,
        300
      ]
    }
  ],
  "connections": {
    "Download Labels PDF": {
      "main": [
        [
          {
            "node": "Read Cloud Label Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read Cloud Label Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Read Cloud Label Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Cloud Label Rows": {
      "main": [
        [
          {
            "node": "Build J8160 HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build J8160 HTML": {
      "main": [
        [
          {
            "node": "Render PDF with Gotenberg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render PDF with Gotenberg": {
      "main": [
        [
          {
            "node": "Finalize PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
