workflows/refund-form.json
{
  "name": "Refund Form",
  "nodes": [
    {
      "parameters": {},
      "id": "r1000000-0000-0000-0000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "path": "refund-form",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "r1000000-0000-0000-0000-000000000002",
      "name": "Refund Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "refund-form"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(CASE WHEN key = 'n8n_base_url' THEN value END) AS n8n_base_url FROM public.global_settings WHERE key = 'n8n_base_url';"
      },
      "id": "r1000000-0000-0000-0000-000000000003",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        520,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $('Refund Form Webhook').first()?.json ?? $('When clicking \\'Execute workflow\\'').first()?.json ?? $input.first()?.json ?? {};\nconst query = source.query ?? source;\nconst settings = $('Load Global Settings').first()?.json ?? {};\nconst headers = source.headers ?? {};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst escapeHtml = (value) => clean(value)\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\nconst deriveBaseUrl = (headers, fallback) => {\n  const forwardedProto = clean(headers['x-forwarded-proto']);\n  const forwardedHost = clean(headers['x-forwarded-host']);\n  const host = forwardedHost || clean(headers.host);\n  const forwardedPort = clean(headers['x-forwarded-port']);\n  if (!host) return fallback;\n  const proto = forwardedProto || 'http';\n  let authority = host;\n  if (forwardedPort && !authority.includes(':')) {\n    const isDefaultPort = (proto === 'http' && forwardedPort === '80') || (proto === 'https' && forwardedPort === '443');\n    if (!isDefaultPort) authority = `${authority}:${forwardedPort}`;\n  }\n  return `${proto}://${authority}`;\n};\nconst fallbackBaseUrl = clean(settings.n8n_base_url) || 'http://n8n:5678';\nconst n8nBaseUrl = deriveBaseUrl(headers, fallbackBaseUrl);\nconst actionUrl = `${n8nBaseUrl}/webhook/add-refund`;\nconst previewUrl = `${n8nBaseUrl}/webhook/preview-refund-request-email`;
const statusFormUrl = `${n8nBaseUrl}/webhook/refund-status-form`;\nconst name = clean(query.name);\nconst refundFor = clean(query.refund_for ?? query.for_name ?? query.for);\nconst reason = clean(query.reason);\nconst membership = clean(query.membership);\nconst amount = clean(query.amount);\nconst fromDate = clean(query.from_date ?? query.fromDate);\nconst toDate = clean(query.to_date ?? query.toDate);\nconst status = clean(query.status) || 'Request Bank Details';\nconst html = `<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Refund Form</title>\n  <style>\n    :root { color-scheme: light; --bg: #f7f8fc; --panel: #ffffff; --ink: #243447; --muted: #66788a; --line: #d9e2ec; --accent: #2f80d8; --accent-dark: #2567ad; }\n    * { box-sizing: border-box; }\n    body { margin: 0; padding: 24px; min-height: 100vh; font-family: Lato, 'Helvetica Neue', Arial, sans-serif; background: linear-gradient(180deg, #fbfcfe 0%, var(--bg) 100%); color: var(--ink); }\n    .wrap { max-width: 760px; margin: 0 auto; background: var(--panel); border: 1px solid var(--line); border-radius: 18px; padding: 28px; box-shadow: 0 18px 40px rgba(36, 52, 71, 0.08); }\n    h1 { margin: 0 0 10px; font-size: 32px; line-height: 1.1; }\n    p { margin: 0 0 20px; color: var(--muted); }\n    form { display: grid; gap: 16px; }\n    .grid { display: grid; gap: 16px; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); }\n    label { display: block; font-weight: 700; margin-bottom: 6px; }\n    input { width: 100%; border: 1px solid var(--line); border-radius: 10px; padding: 10px 12px; font: inherit; color: var(--ink); background: #fff; }\n    .actions { display: flex; gap: 12px; align-items: center; flex-wrap: wrap; }\n    button, .close-button { appearance: none; border: 0; border-radius: 999px; padding: 12px 18px; font: inherit; font-weight: 700; cursor: pointer; text-decoration: none; }\n    button { color: #fff; background: linear-gradient(135deg, var(--accent) 0%, var(--accent-dark) 100%); }\n    .close-button { color: var(--ink); background: #eef2f7; border: 1px solid var(--line); }\n    .note { font-size: 14px; color: var(--muted); }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <h1>Refund Form</h1>\n    <p>Create a refund row. The webhook calculates <code>months</code>, <code>refund</code>, and <code>explanation</code> from the dates and amount.</p>\n    <form action=\"${actionUrl}\" method=\"get\" target=\"_blank\">\n      <input type=\"hidden\" name=\"created_by\" value=\"refund_form_webhook\">\n      <div class=\"grid\">\n        <div>\n          <label for=\"name\">Name</label>\n          <input id=\"name\" name=\"name\" type=\"text\" value=\"${escapeHtml(name)}\" required>\n        </div>\n        <div>\n          <label for=\"refund_for\">For</label>\n          <input id=\"refund_for\" name=\"refund_for\" type=\"text\" value=\"${escapeHtml(refundFor)}\" required>\n        </div>\n      </div>\n      <div class=\"grid\">\n        <div>\n          <label for=\"reason\">Reason</label>\n          <input id=\"reason\" name=\"reason\" type=\"text\" list=\"reason-options\" value=\"${escapeHtml(reason)}\" required>\n          <datalist id=\"reason-options\">\n            <option value=\"Injured\"></option>\n            <option value=\"Deceased\"></option>\n          </datalist>\n        </div>\n        <div>\n          <label for=\"membership\">Membership</label>\n          <input id=\"membership\" name=\"membership\" type=\"text\" value=\"${escapeHtml(membership)}\" required>\n        </div>\n      </div>\n      <div class=\"grid\">\n        <div>\n          <label for=\"amount\">Amount</label>\n          <input id=\"amount\" name=\"amount\" type=\"number\" min=\"0\" step=\"0.01\" value=\"${escapeHtml(amount)}\" required>\n        </div>\n        <div>\n          <label for=\"status\">Status</label>\n          <input id=\"status\" name=\"status\" type=\"text\" value=\"${escapeHtml(status)}\" required>\n        </div>\n      </div>\n      <div class=\"grid\">\n        <div>\n          <label for=\"from_date\">From Date</label>\n          <input id=\"from_date\" name=\"from_date\" type=\"date\" value=\"${escapeHtml(fromDate)}\" required>\n        </div>\n        <div>\n          <label for=\"to_date\">To Date</label>\n          <input id=\"to_date\" name=\"to_date\" type=\"date\" value=\"${escapeHtml(toDate)}\" required>\n        </div>\n      </div>\n      <div class=\"actions\">\n        <button type=\"submit\">Create Refund</button>\n        <button type=\"submit\" formaction=\"${previewUrl}\">Send Request</button>\n        <button type=\"button\" class=\"close-button\" onclick=\"window.close()\">Close</button>\n        <span class=\"note\">Suggested reasons are provided, but you can type your own. The send request flow opens a preview before you send the treasury email.</span>\n      </div>\n    </form>\n  </div>\n</body>\n</html>`;\nreturn [{ json: { html } }];"
      },
      "id": "r1000000-0000-0000-0000-000000000004",
      "name": "Build Form HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "r1000000-0000-0000-0000-000000000005",
      "name": "Respond Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1060,
        220
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refund Form Webhook": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Build Form HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Form HTML": {
      "main": [
        [
          {
            "node": "Respond Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "pinData": {},
  "versionId": "refund-form-v3",
  "active": true
}
