workflows/send-gmail-test-message.json
{
  "name": "Send Gmail Test Message",
  "nodes": [
    {
      "parameters": {},
      "id": "f6f3537f-3963-4c96-8cb5-1eeec40da4c1",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'gmail_test_email_template_key' THEN value END) AS gmail_test_email_template_key,\n  MAX(CASE WHEN key = 'email_sender_name' THEN value END) AS email_sender_name,\n  MAX(CASE WHEN key = 'email_reply_to' THEN value END) AS email_reply_to\nFROM public.global_settings\nWHERE key IN ('gmail_test_email_template_key', 'email_sender_name', 'email_reply_to');"
      },
      "id": "f6f3537f-3963-4c96-8cb5-1eeec40da4c2",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const settings = $('Load Global Settings').first().json ?? {};\nreturn [{\n  json: {\n    template_key: settings.gmail_test_email_template_key || 'shoe_tag_pigeon_hole',\n    recipient_first_name: 'Steve',\n    recipient_last_name: 'Short',\n    sender_name: settings.email_sender_name || 'Steve Short',\n    reply_to: settings.email_reply_to || 'members.avondaleltc@gmail.com',\n  },\n}];"
      },
      "id": "3d37df33-7788-4f26-b2ec-4745b0de486b",
      "name": "Editable Send Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst sql = `with candidates as (\n  select 1 as priority,\n    \"First name\" as first_name,\n    \"Last name\" as last_name,\n    \"Email address\" as email_address,\n    \"Address 1\" as address_1,\n    town,\n    postcode\n  from public.raw_contacts\n  where \"First name\" = ${sqlLiteral(item.recipient_first_name)}\n    and \"Last name\" = ${sqlLiteral(item.recipient_last_name)}\n  union all\n  select 2 as priority,\n    \"First name\" as first_name,\n    \"Last name\" as last_name,\n    \"Email address\" as email_address,\n    \"Address 1\" as address_1,\n    \"Town\" as town,\n    \"Postcode\" as postcode\n  from public.raw_members\n  where \"First name\" = ${sqlLiteral(item.recipient_first_name)}\n    and \"Last name\" = ${sqlLiteral(item.recipient_last_name)}\n)\nselect first_name, last_name, email_address, address_1, town, postcode\nfrom candidates\nwhere email_address is not null and email_address <> ''\norder by priority\nlimit 1;`;\nreturn [{ json: { ...item, sql } }];"
      },
      "id": "0b0f4afc-e284-4e41-8a1d-b2c0a1f7b230",
      "name": "Build Recipient Lookup SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "4d3b653a-a718-4f55-b4f3-509d08f9ff11",
      "name": "Load Recipient Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $('Editable Send Inputs').first().json;\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst sql = `select template_key, subject_template, text_template, html_template\nfrom public.email_templates\nwhere template_key = ${sqlLiteral(item.template_key)}\n  and is_active = true\norder by id desc\nlimit 1;`;\nreturn [{ json: { template_key: item.template_key, sql } }];"
      },
      "id": "cb81d4ae-3a9f-494f-8243-09af06f09124",
      "name": "Build Template Lookup SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "6f0e907a-805e-4cca-a69d-cfd68e2ac1d9",
      "name": "Load Email Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1540,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Editable Send Inputs').first().json;\nconst recipient = $('Load Recipient Record').first()?.json ?? {};\nconst template = $('Load Email Template').first()?.json ?? {};\nif (!recipient.email_address) {\n  throw new Error(`No email address found for ${input.recipient_first_name} ${input.recipient_last_name}`);\n}\nif (!template.template_key) {\n  throw new Error(`Email template ${input.template_key} was not found`);\n}\nconst tokenMap = {\n  '{{$json.first_name}}': recipient.first_name ?? '',\n  '{{$json.last_name}}': recipient.last_name ?? '',\n  '{{$json.email_address}}': recipient.email_address ?? '',\n  '{{$json.address_1}}': recipient.address_1 ?? '',\n  '{{$json.town}}': recipient.town ?? '',\n  '{{$json.postcode}}': recipient.postcode ?? '',\n  '{{$json.contact.first_name}}': recipient.first_name ?? '',\n  '{{$json.contact.last_name}}': recipient.last_name ?? '',\n  '{{$json.contact.email_address}}': recipient.email_address ?? '',\n  '{{$json.contact.address_1}}': recipient.address_1 ?? '',\n  '{{$json.contact.town}}': recipient.town ?? '',\n  '{{$json.contact.postcode}}': recipient.postcode ?? '',\n  '{{$json.member.first_name}}': recipient.first_name ?? '',\n  '{{$json.member.last_name}}': recipient.last_name ?? '',\n  '{{$json.member.email_address}}': recipient.email_address ?? '',\n  '{{first_name}}': recipient.first_name ?? '',\n  '{{last_name}}': recipient.last_name ?? '',\n  '{{email_address}}': recipient.email_address ?? '',\n  '{{address_1}}': recipient.address_1 ?? '',\n  '{{town}}': recipient.town ?? '',\n  '{{postcode}}': recipient.postcode ?? '',\n  '<first name>': recipient.first_name ?? '',\n  '<last name>': recipient.last_name ?? '',\n  '<email address>': recipient.email_address ?? '',\n  '{contact.first_name}': recipient.first_name ?? '',\n  '{contact.last_name}': recipient.last_name ?? '',\n  '{contact.email_address}': recipient.email_address ?? '',\n  '{contact.address_1}': recipient.address_1 ?? '',\n  '{contact.town}': recipient.town ?? '',\n  '{contact.postcode}': recipient.postcode ?? '',\n  '{member.first_name}': recipient.first_name ?? '',\n  '{member.last_name}': recipient.last_name ?? '',\n  '{member.email_address}': recipient.email_address ?? '',\n};\nconst applyTokens = (value) => {\n  let rendered = String(value ?? '');\n  for (const [token, replacement] of Object.entries(tokenMap)) {\n    rendered = rendered.split(token).join(String(replacement));\n  }\n  return rendered.trim();\n};\nconst bodySource = template.text_template ?? template.html_template ?? '';\nreturn [{\n  json: {\n    to_email: recipient.email_address,\n    sender_name: input.sender_name,\n    reply_to: input.reply_to,\n    template_key: template.template_key,\n    rendered_subject: applyTokens(template.subject_template ?? 'Message from Avondale about your tags'),\n    rendered_message: applyTokens(bodySource),\n    email_type: template.html_template && !template.text_template ? 'html' : 'text',\n    recipient_first_name: recipient.first_name,\n    recipient_last_name: recipient.last_name,\n  },\n}];"
      },
      "id": "9f127ebf-51d7-4dae-ad95-2ec502b2324f",
      "name": "Render Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to_email }}",
        "subject": "={{ $json.rendered_subject }}",
        "emailType": "={{ $json.email_type }}",
        "message": "={{ $json.rendered_message }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "={{ $json.reply_to }}",
          "senderName": "={{ $json.sender_name }}"
        }
      },
      "id": "54f78356-f5a5-4774-b2df-cbfa87f9241b",
      "name": "Send Gmail Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2060,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "JHuPZBB6pULmuxKm",
          "name": "Avondale Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Editable Send Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editable Send Inputs": {
      "main": [
        [
          {
            "node": "Build Recipient Lookup SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Recipient Lookup SQL": {
      "main": [
        [
          {
            "node": "Load Recipient Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Recipient Record": {
      "main": [
        [
          {
            "node": "Build Template Lookup SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Template Lookup SQL": {
      "main": [
        [
          {
            "node": "Load Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Email Template": {
      "main": [
        [
          {
            "node": "Render Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Message": {
      "main": [
        [
          {
            "node": "Send Gmail Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
