workflows/send-team-captain-contact-lists.json
{
  "name": "Send Team Captain Contact Lists",
  "nodes": [
    {
      "parameters": {
        "path": "send-team-captain-contact-lists",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4000000-0000-0000-0000-000000000002",
      "name": "Send Team Captain Contact Lists Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        220
      ],
      "webhookId": "send-team-captain-contact-lists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'email_delivery_mode' THEN value END) AS default_delivery_mode,\n  MAX(CASE WHEN key = 'email_test_recipient' THEN value END) AS default_test_recipient,\n  MAX(CASE WHEN key = 'email_sender_name' THEN value END) AS email_sender_name,\n  MAX(CASE WHEN key = 'email_reply_to' THEN value END) AS email_reply_to,\n  MAX(CASE WHEN key = 'email_signature_template_key' THEN value END) AS email_signature_template_key\nFROM public.global_settings\nWHERE key IN (\n  'email_delivery_mode',\n  'email_test_recipient',\n  'email_sender_name',\n  'email_reply_to',\n  'email_signature_template_key'\n);"
      },
      "id": "d4000000-0000-0000-0000-000000000003",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const defaults = $('Load Global Settings').first()?.json ?? {};\nconst request = $('Send Team Captain Contact Lists Webhook').first()?.json ?? $input.first()?.json ?? {};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst parseJsonObject = (value) => {\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {};\n    } catch {\n      return {};\n    }\n  }\n  return value && typeof value === 'object' && !Array.isArray(value) ? value : {};\n};\nconst parseOptionalBool = (value) => {\n  const normalized = clean(value).toLowerCase();\n  if (!normalized) return null;\n  if (['1', 'true', 'yes', 'y', 'on'].includes(normalized)) return true;\n  if (['0', 'false', 'no', 'n', 'off'].includes(normalized)) return false;\n  return null;\n};\nconst normalizeEmail = (value) => {\n  const raw = clean(value);\n  if (!raw) return '';\n  const angleMatch = raw.match(/<([^>]+)>/);\n  const candidate = angleMatch?.[1] ? angleMatch[1] : raw;\n  const emailMatch = candidate.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return emailMatch ? emailMatch[0].trim().toLowerCase() : '';\n};\nconst parseRecipientList = (value) => {\n  const values = Array.isArray(value) ? value : [value];\n  const recipients = [];\n  for (const entry of values) {\n    const raw = String(entry ?? '');\n    if (!raw) continue;\n    for (const line of raw.split(/\\r?\\n/)) {\n      const withoutComment = line.replace(/\\s+#.*$/, '').trim();\n      if (!withoutComment) continue;\n      for (const part of withoutComment.split(/[;,]/)) {\n        const email = normalizeEmail(part);\n        if (email) recipients.push(email);\n      }\n    }\n  }\n  return recipients;\n};\nconst uniqueRecipients = (values) => {\n  const seen = new Set();\n  const recipients = [];\n  for (const value of values) {\n    const email = normalizeEmail(value);\n    if (!email || seen.has(email)) continue;\n    seen.add(email);\n    recipients.push(email);\n  }\n  return recipients;\n};\nconst query = parseJsonObject(request.query);\nconst body = parseJsonObject(request.body);\nconst modeCandidates = [body.delivery_mode, body.deliveryMode, request.delivery_mode, request.deliveryMode, query.delivery_mode, query.deliveryMode, query.mode, defaults.default_delivery_mode];\nconst normalizedMode = String(modeCandidates.find((value) => clean(value) !== '') ?? 'test').trim().toLowerCase();\nconst deliveryMode = normalizedMode === 'production' ? 'production' : 'test';\nconst recipientCandidates = [body.test_recipient, body.testRecipient, request.test_recipient, request.testRecipient, query.test_recipient, query.testRecipient, defaults.default_test_recipient];\nconst testRecipient = String(recipientCandidates.find((value) => clean(value) !== '') ?? 'steve.short@gmail.com').trim();\nconst includeSharedBccInTestFlag = parseOptionalBool(body.include_shared_bcc_in_test ?? body.includeSharedBccInTest ?? request.include_shared_bcc_in_test ?? request.includeSharedBccInTest ?? query.include_shared_bcc_in_test ?? query.includeSharedBccInTest);\nconst includeSharedBccInTest = includeSharedBccInTestFlag !== false;\nconst baseDir = clean(body.base_dir) || clean(query.base_dir) || '/home/node/.n8n-files/teams-mailout/current';\nconst defaultSharedBccFile = `${String(baseDir).replace(/\\/$/, '')}/team-captain-mailout-bcc.txt`;\nconst sharedBccFileCandidates = [body.shared_bcc_file, body.sharedBccFile, request.shared_bcc_file, request.sharedBccFile, query.shared_bcc_file, query.sharedBccFile, defaultSharedBccFile];\nconst sharedBccFile = clean(sharedBccFileCandidates.find((value) => clean(value) !== '') ?? '');\nconst sharedBcc = uniqueRecipients([\n  ...parseRecipientList(body.shared_bcc),\n  ...parseRecipientList(body.sharedBcc),\n  ...parseRecipientList(request.shared_bcc),\n  ...parseRecipientList(request.sharedBcc),\n  ...parseRecipientList(query.shared_bcc),\n  ...parseRecipientList(query.sharedBcc),\n]);\nconst normalizeAttachment = (value) => {\n  if (!value) return null;\n  if (typeof value === 'string') {\n    const fileName = clean(value);\n    return fileName ? { team_name: '', file_name: fileName, kind: 'attachment' } : null;\n  }\n  if (Array.isArray(value) || typeof value !== 'object') return null;\n  const fileName = clean(value.file_name) || clean(value.fileName);\n  if (!fileName) return null;\n  return {\n    team_name: clean(value.team_name) || clean(value.teamName),\n    file_name: fileName,\n    kind: clean(value.kind) || 'attachment',\n  };\n};\nconst uniqueAttachments = (attachments) => {\n  const seen = new Set();\n  return attachments.filter((attachment) => {\n    const key = String(attachment.file_name || '').toLowerCase();\n    if (!key || seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n};\nconst legacyAttachmentsFor = (job) => uniqueAttachments([\n  job.own_pdf ? { team_name: clean(job.team_name), file_name: clean(job.own_pdf), kind: 'own' } : null,\n  job.next_pdf ? { team_name: clean(job.next_team_name), file_name: clean(job.next_pdf), kind: 'next' } : null,\n  job.reserves_pdf ? { team_name: 'Reserves', file_name: clean(job.reserves_pdf), kind: 'reserves' } : null,\n].filter(Boolean));\nconst normalizeJob = (value) => {\n  if (!value) return null;\n  if (typeof value === 'string') {\n    try {\n      return normalizeJob(JSON.parse(value));\n    } catch {\n      return null;\n    }\n  }\n  if (Array.isArray(value) || typeof value !== 'object') return null;\n  const job = value;\n  const attachments = uniqueAttachments(\n    (Array.isArray(job.attachments) ? job.attachments : [])\n      .map(normalizeAttachment)\n      .filter(Boolean)\n  );\n  const normalizedAttachments = attachments.length ? attachments : legacyAttachmentsFor(job);\n  if (!clean(job.team_name) || !normalizedAttachments.length) return null;\n  return {\n    ...job,\n    attachment_mode: clean(job.attachment_mode) || clean(body.attachment_mode) || clean(request.attachment_mode) || clean(query.attachment_mode) || 'all-in-section',\n    attachments: normalizedAttachments,\n  };\n};\nconst rawJobs = [\n  ...(Array.isArray(body.jobs) ? body.jobs : []),\n  ...(Array.isArray(request.jobs) ? request.jobs : []),\n  ...(Array.isArray(query.jobs) ? query.jobs : []),\n  body.job,\n  request.job,\n  query.job,\n].filter((value) => value !== undefined && value !== null);\nconst jobs = rawJobs.map(normalizeJob).filter(Boolean);\nconst errorMessage = jobs.length ? '' : 'At least one valid mailout job is required';\nreturn [{ json: { base_dir: baseDir, sender_name: defaults.email_sender_name || 'Steve Short', reply_to: defaults.email_reply_to || 'members.avondaleltc@gmail.com', template_key: 'team_captain_contact_lists', signature_template_key: defaults.email_signature_template_key || 'signature', delivery_mode: deliveryMode, test_recipient: testRecipient, include_shared_bcc_in_test: includeSharedBccInTest, shared_bcc_file: sharedBccFile, shared_bcc: sharedBcc, attachment_mode: clean(body.attachment_mode) || clean(request.attachment_mode) || clean(query.attachment_mode) || '', jobs, error_message: errorMessage } }];"
      },
      "id": "d4000000-0000-0000-0000-000000000004",
      "name": "Resolve Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "request-error-check",
              "leftValue": "={{ $json.error_message || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d4000000-0000-0000-0000-000000000005",
      "name": "Check Request Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json ?? {};\nreturn [{ json: { message: input.error_message || 'Invalid request', delivery_mode: input.delivery_mode ?? 'test' } }];"
      },
      "id": "d4000000-0000-0000-0000-000000000006",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "d4000000-0000-0000-0000-000000000007",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1500,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json ?? {};\nconst sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return \"'\" + String(value).replace(/'/g, \"''\") + \"'\";\n};\nconst sql = `with main_template as (\n  select template_key, subject_template, text_template, html_template\n  from public.email_templates\n  where template_key = ${sqlLiteral(input.template_key || 'team_captain_contact_lists')}\n    and is_active = true\n    and template_type = 0\n  order by id desc\n  limit 1\n), signature_template as (\n  select template_key, subject_template, text_template, html_template\n  from public.email_templates\n  where template_key = ${sqlLiteral(input.signature_template_key || 'signature')}\n    and is_active = true\n    and template_type = 2\n  order by id desc\n  limit 1\n)\nselect\n  main_template.template_key,\n  main_template.subject_template,\n  main_template.text_template,\n  main_template.html_template,\n  signature_template.template_key as signature_template_key,\n  signature_template.text_template as signature_text_template,\n  signature_template.html_template as signature_html_template\nfrom main_template\nleft join signature_template on true;`;\nreturn [{ json: { ...input, sql } }];"
      },
      "id": "d4000000-0000-0000-0000-000000000008",
      "name": "Build Signature SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "d4000000-0000-0000-0000-000000000009",
      "name": "Load Signature Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.manifest_path }}",
        "options": {
          "dataPropertyName": "manifest",
          "fileName": "team-captain-email-jobs.json",
          "mimeType": "application/json"
        }
      },
      "id": "d4000000-0000-0000-0000-000000000010",
      "name": "Read Jobs Manifest",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1240,
        520
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $('Resolve Request').first().json.shared_bcc_file }}",
        "options": {
          "dataPropertyName": "shared_bcc_file",
          "fileName": "team-captain-mailout-bcc.txt",
          "mimeType": "text/plain"
        }
      },
      "id": "d4000000-0000-0000-0000-000000000021",
      "name": "Read Shared BCC File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1500,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const config = $('Resolve Request').first()?.json ?? {};\nconst template = $('Load Signature Template').first()?.json ?? {};\nconst sharedBccBinary = $('Read Shared BCC File').first()?.binary?.shared_bcc_file?.data ?? '';\nconst jobs = Array.isArray(config.jobs) ? config.jobs : [];\nconst normalizeEmail = (value) => {\n  const raw = String(value ?? '').trim();\n  if (!raw) return '';\n  const angleMatch = raw.match(/<([^>]+)>/);\n  const candidate = angleMatch?.[1] ? angleMatch[1] : raw;\n  const emailMatch = candidate.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return emailMatch ? emailMatch[0].trim().toLowerCase() : '';\n};\nconst parseRecipientList = (value) => {\n  const values = Array.isArray(value) ? value : [value];\n  const recipients = [];\n  for (const entry of values) {\n    const raw = String(entry ?? '');\n    if (!raw) continue;\n    for (const line of raw.split(/\\r?\\n/)) {\n      const withoutComment = line.replace(/\\s+#.*$/, '').trim();\n      if (!withoutComment) continue;\n      for (const part of withoutComment.split(/[;,]/)) {\n        const email = normalizeEmail(part);\n        if (email) recipients.push(email);\n      }\n    }\n  }\n  return recipients;\n};\nconst uniqueRecipients = (values) => {\n  const seen = new Set();\n  const recipients = [];\n  for (const value of values) {\n    const email = normalizeEmail(value);\n    if (!email || seen.has(email)) continue;\n    seen.add(email);\n    recipients.push(email);\n  }\n  return recipients;\n};\nconst fileRecipients = sharedBccBinary ? parseRecipientList(Buffer.from(sharedBccBinary, 'base64').toString('utf8')) : [];\nconst sharedBcc = uniqueRecipients([...(Array.isArray(config.shared_bcc) ? config.shared_bcc : []), ...fileRecipients]);\nconst sharedBccInTest = config.include_shared_bcc_in_test !== false;\nconst uniqueAttachments = (attachments) => {\n  const seen = new Set();\n  const result = [];\n  for (const attachment of Array.isArray(attachments) ? attachments : []) {\n    const fileName = String(attachment?.file_name ?? '').trim();\n    const key = fileName.toLowerCase();\n    if (!fileName || seen.has(key)) continue;\n    seen.add(key);\n    result.push(attachment);\n  }\n  return result;\n};\nconst sendableJobs = jobs.filter((job) => Boolean(job?.can_send ?? true) && String(job?.captain_email ?? '').trim() !== '' && Array.isArray(job?.attachments) && job.attachments.length > 0);\nif (!sendableJobs.length) {\n  return [{ json: { error_message: 'No sendable captain jobs found', job_count: jobs.length, delivery_mode: config.delivery_mode } }];\n}\nif (!template.template_key) {\n  throw new Error(`Email template ${config.template_key || 'team_captain_contact_lists'} was not found`);\n}\nconst groupMode = String(config.attachment_mode ?? '').trim() === 'all-in-section';\nconst materializedJobs = groupMode\n  ? Array.from(sendableJobs.reduce((groups, job) => {\n      const key = [job.source_doc, job.section].map((value) => String(value ?? '').trim().toLowerCase()).join('::');\n      if (!groups.has(key)) {\n        groups.set(key, {\n          source_doc: String(job.source_doc ?? '').trim(),\n          section: String(job.section ?? '').trim(),\n          team_name: String(job.section ?? '').trim() || String(job.team_name ?? '').trim(),\n          next_team_name: '',\n          captain_name: String(job.section ?? '').trim() ? `${String(job.section ?? '').trim()} Captains` : 'Captains',\n          captain_names: [],\n          intended_recipients: [],\n          attachment_mode: String(job.attachment_mode ?? config.attachment_mode ?? '').trim(),\n          attachments: [],\n        });\n      }\n      const group = groups.get(key);\n      if (job.captain_name) group.captain_names.push(String(job.captain_name).trim());\n      if (job.captain_email) group.intended_recipients.push(String(job.captain_email).trim());\n      group.attachments = uniqueAttachments([...group.attachments, ...(Array.isArray(job.attachments) ? job.attachments : [])]);\n      return groups;\n    }, new Map()).values())\n  : sendableJobs.map((job) => ({\n      source_doc: String(job.source_doc ?? '').trim(),\n      section: String(job.section ?? '').trim(),\n      team_name: String(job.team_name ?? '').trim(),\n      next_team_name: String(job.next_team_name ?? 'Reserves').trim() || 'Reserves',\n      captain_name: String(job.captain_name ?? '').trim(),\n      captain_names: [String(job.captain_name ?? '').trim()].filter(Boolean),\n      intended_recipients: [String(job.captain_email ?? '').trim()].filter(Boolean),\n      attachment_mode: String(job.attachment_mode ?? config.attachment_mode ?? '').trim(),\n      attachments: Array.isArray(job.attachments) ? job.attachments : [],\n    }));\nconst templateText = String(template.text_template ?? '').trim();\nconst signatureText = String(template.signature_text_template ?? '').trim();\nconst joinPath = (baseDir, fileName) => `${String(baseDir ?? '').replace(/\\/$/, '')}/${String(fileName ?? '').replace(/^\\//, '')}`;\nconst firstNameOf = (name) => String(name ?? '').trim().split(/\\s+/)[0] || 'Captain';\nconst applyTokens = (value, tokenMap) => {\n  let rendered = String(value ?? '');\n  for (const [token, replacement] of Object.entries(tokenMap)) {\n    rendered = rendered.split(token).join(String(replacement ?? ''));\n  }\n  return rendered.trim();\n};\nconst attachmentLabel = (attachment, job) => {\n  const teamName = String(attachment?.team_name || '').trim();\n  if (attachment?.kind === 'own') return `- your team: ${teamName || String(job.team_name ?? '').trim()}`;\n  if (attachment?.kind === 'next') return `- the next team down: ${teamName || String(job.next_team_name ?? '').trim() || 'Next team'}`;\n  if (attachment?.kind === 'reserves') return '- reserves';\n  return `- ${teamName || String(attachment?.file_name || '').trim()}`;\n};\nconst renderRecipientLines = (emails) => emails.length ? emails.map((email) => `- ${email}`).join('\\n') : '- none';\nreturn materializedJobs.map((job) => {\n  const captainName = String(job.captain_name ?? '').trim();\n  const intendedRecipients = uniqueRecipients(Array.isArray(job.intended_recipients) ? job.intended_recipients : [job.captain_email]);\n  const firstName = groupMode ? 'Captains' : firstNameOf(captainName);\n  const nextTeamName = String(job.next_team_name ?? 'Reserves').trim() || 'Reserves';\n  const attachments = uniqueAttachments((Array.isArray(job.attachments) ? job.attachments : []).map((attachment, index) => ({\n    ...attachment,\n    file_path: joinPath(config.base_dir, attachment.file_name),\n    binary_property: `attachment_${index}`,\n  })));\n  const attachmentLines = attachments.map((attachment) => attachmentLabel(attachment, job));\n  const tokenMap = {\n    '{{$json.first_name}}': firstName,\n    '{{$json.captain_name}}': captainName,\n    '{{$json.team_name}}': String(job.team_name ?? ''),\n    '{{$json.next_team_name}}': nextTeamName,\n    '{{$json.section}}': String(job.section ?? ''),\n    '{{$json.source_doc}}': String(job.source_doc ?? ''),\n    '{{$json.attachment_list}}': attachmentLines.join('\\n'),\n    '{{$json.attachment_mode}}': String(job.attachment_mode ?? config.attachment_mode ?? ''),\n    '{{first_name}}': firstName,\n    '{{captain_name}}': captainName,\n    '{{team_name}}': String(job.team_name ?? ''),\n    '{{next_team_name}}': nextTeamName,\n    '{{section}}': String(job.section ?? ''),\n    '{{source_doc}}': String(job.source_doc ?? ''),\n    '{{attachment_list}}': attachmentLines.join('\\n'),\n    '{{attachment_mode}}': String(job.attachment_mode ?? config.attachment_mode ?? ''),\n  };\n  const renderedBody = applyTokens(templateText, tokenMap);\n  const renderedSignature = applyTokens(signatureText, tokenMap);\n  const composed = [renderedBody, renderedSignature].filter(Boolean).join('\\n\\n').trim();\n  const isTestMode = config.delivery_mode !== 'production';\n  const visibleRecipient = String(config.reply_to ?? '').trim() || intendedRecipients[0] || 'members.avondaleltc@gmail.com';\n  const actualBccRecipients = uniqueRecipients([\n    ...(isTestMode ? [config.test_recipient] : intendedRecipients),\n    ...((!isTestMode || sharedBccInTest) ? sharedBcc : []),\n  ]);\n  if (!actualBccRecipients.length) {\n    throw new Error(`No BCC recipients resolved for ${captainName || job.team_name || 'captain mailout'}`);\n  }\n  const verificationBlock = [\n    'TEST MODE',\n    `Visible To: ${visibleRecipient}`,\n    `Shared BCC in test mode: ${sharedBccInTest ? 'enabled' : 'disabled'}`,\n    'Intended BCC recipients:',\n    renderRecipientLines(intendedRecipients),\n    'Actual BCC recipients:',\n    renderRecipientLines(actualBccRecipients),\n  ].join('\\n');\n  const finalMessage = isTestMode ? `${composed}\\n\\n---\\n${verificationBlock}` : composed;\n  const jobKey = groupMode\n    ? [job.source_doc, job.section, job.attachment_mode].map((value) => String(value ?? '').trim().toLowerCase()).join('::')\n    : [job.source_doc, job.section, job.team_name, intendedRecipients.join(',') || captainName].map((value) => String(value ?? '').trim().toLowerCase()).join('::');\n  return {\n    json: {\n      job_key: jobKey,\n      section: job.section,\n      source_doc: job.source_doc,\n      team_name: job.team_name,\n      next_team_name: nextTeamName,\n      captain_name: captainName,\n      captain_names: Array.isArray(job.captain_names) ? job.captain_names : [captainName].filter(Boolean),\n      intended_recipient: intendedRecipients.join(', '),\n      actual_recipient: actualBccRecipients.join(', '),\n      to_recipient: visibleRecipient,\n      bcc_recipients: actualBccRecipients.join(', '),\n      shared_bcc: sharedBcc,\n      include_shared_bcc_in_test: sharedBccInTest,\n      attachment_mode: String(job.attachment_mode ?? config.attachment_mode ?? ''),\n      attachments,\n      sender_name: config.sender_name,\n      reply_to: config.reply_to,\n      delivery_mode: config.delivery_mode,\n      template_key: template.template_key,\n      signature_template_key: template.signature_template_key || config.signature_template_key || 'signature',\n      rendered_subject: applyTokens(template.subject_template ?? 'Avondale team contact lists: {{$json.team_name}}', tokenMap),\n      rendered_message: finalMessage,\n      email_type: 'text'\n    }\n  };\n});"
      },
      "id": "d4000000-0000-0000-0000-000000000011",
      "name": "Build Send Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "send-items-error-check",
              "leftValue": "={{ $json.error_message || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d4000000-0000-0000-0000-000000000012",
      "name": "Summary Only?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2020,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "d4000000-0000-0000-0000-000000000013",
      "name": "Respond No Jobs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2260,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const expandedItems = [];\nfor (const item of $input.all()) {\n  const source = item.json ?? {};\n  const attachments = Array.isArray(source.attachments) ? source.attachments : [];\n  if (!attachments.length) {\n    throw new Error(`No attachments configured for ${source.team_name || 'unknown team'}`);\n  }\n  attachments.forEach((attachment, index) => {\n    expandedItems.push({\n      json: {\n        ...source,\n        attachment_index: index,\n        attachment_property: attachment.binary_property || `attachment_${index}`,\n        attachment_file_name: attachment.file_name,\n        attachment_file_path: attachment.file_path,\n        attachment_team_name: attachment.team_name,\n        attachment_kind: attachment.kind,\n      }\n    });\n  });\n}\nreturn expandedItems;"
      },
      "id": "d4000000-0000-0000-0000-000000000014",
      "name": "Read Own Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        520
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.attachment_file_path }}",
        "options": {
          "dataPropertyName": "={{ $json.attachment_property }}",
          "fileName": "={{ $json.attachment_file_name }}",
          "mimeType": "application/pdf"
        }
      },
      "id": "d4000000-0000-0000-0000-000000000015",
      "name": "Read Next Attachment",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2520,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const sourceItems = $items('Read Own Attachment', 0, 0).map((item) => item.json ?? {});\nconst grouped = new Map();\nconst sortProperties = (properties) => properties.slice().sort((left, right) => {\n  const leftIndex = Number(String(left).split('_').pop());\n  const rightIndex = Number(String(right).split('_').pop());\n  return leftIndex - rightIndex;\n});\nfor (const item of $input.all()) {\n  const pairedIndex = Number.isInteger(item.pairedItem?.item) ? item.pairedItem.item : null;\n  const json = pairedIndex !== null ? (sourceItems[pairedIndex] ?? {}) : (item.json ?? {});\n  const jobKey = String(json.job_key ?? '').trim();\n  const attachmentProperty = String(json.attachment_property ?? '').trim();\n  const attachmentBinary = attachmentProperty ? item.binary?.[attachmentProperty] : null;\n  if (!jobKey) {\n    throw new Error('Missing job_key while assembling captain attachments');\n  }\n  if (!attachmentProperty || !attachmentBinary) {\n    throw new Error(`Missing attachment binary for ${json.attachment_file_name || attachmentProperty || jobKey}`);\n  }\n  if (!grouped.has(jobKey)) {\n    const baseJson = { ...json };\n    delete baseJson.attachment_index;\n    delete baseJson.attachment_property;\n    delete baseJson.attachment_file_name;\n    delete baseJson.attachment_file_path;\n    delete baseJson.attachment_team_name;\n    delete baseJson.attachment_kind;\n    grouped.set(jobKey, {\n      json: baseJson,\n      binary: {},\n      properties: [],\n    });\n  }\n  const group = grouped.get(jobKey);\n  group.binary[attachmentProperty] = attachmentBinary;\n  if (!group.properties.includes(attachmentProperty)) {\n    group.properties.push(attachmentProperty);\n  }\n}\nreturn Array.from(grouped.values()).map((group) => {\n  const properties = sortProperties(group.properties);\n  return {\n    json: {\n      ...group.json,\n      attachment_binary_properties: properties.join(','),\n      attachment_count: properties.length,\n    },\n    binary: group.binary,\n  };\n});"
      },
      "id": "d4000000-0000-0000-0000-000000000016",
      "name": "Read Reserves Attachment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2780,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const properties = String($json.attachment_binary_properties ?? '').split(',').map((value) => value.trim()).filter(Boolean);\nif (!properties.length) {\n  throw new Error(`No attachment binaries assembled for ${$json.team_name || 'unknown team'}`);\n}\nreturn {\n  json: { ...($json ?? {}) },\n  binary: { ...($binary ?? {}) },\n};"
      },
      "id": "d4000000-0000-0000-0000-000000000020",
      "name": "Assemble Email Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        520
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.to_recipient }}",
        "subject": "={{ $json.rendered_subject }}",
        "emailType": "={{ $json.email_type }}",
        "message": "={{ $json.rendered_message }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $json.bcc_recipients }}",
          "replyTo": "={{ $json.reply_to }}",
          "senderName": "={{ $json.sender_name }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $json.attachment_binary_properties }}"
              }
            ]
          }
        }
      },
      "id": "d4000000-0000-0000-0000-000000000017",
      "name": "Send Gmail Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3300,
        520
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "JHuPZBB6pULmuxKm",
          "name": "Avondale Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const sentItems = $input.all().map((item) => item.json ?? {});\nreturn [{\n  json: {\n    message: `Sent ${sentItems.length} captain mailout email(s) in ${sentItems[0]?.delivery_mode ?? 'test'} mode`,\n    sent_count: sentItems.length,\n    delivery_mode: sentItems[0]?.delivery_mode ?? 'test',\n    sent: sentItems.map((item) => ({\n      captain_name: item.captain_name,\n      captain_names: item.captain_names ?? [],\n      team_name: item.team_name,\n      to_recipient: item.to_recipient,\n      bcc_recipients: item.bcc_recipients,\n      actual_recipient: item.actual_recipient,\n      intended_recipient: item.intended_recipient,\n      attachment_count: item.attachment_count ?? (Array.isArray(item.attachments) ? item.attachments.length : 0)\n    }))\n  }\n}];"
      },
      "id": "d4000000-0000-0000-0000-000000000018",
      "name": "Summarize Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "d4000000-0000-0000-0000-000000000019",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3820,
        520
      ]
    }
  ],
  "connections": {
    "Send Team Captain Contact Lists Webhook": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Resolve Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Request": {
      "main": [
        [
          {
            "node": "Check Request Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Request Error": {
      "main": [
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Signature SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Signature SQL": {
      "main": [
        [
          {
            "node": "Load Signature Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Signature Template": {
      "main": [
        [
          {
            "node": "Read Shared BCC File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Shared BCC File": {
      "main": [
        [
          {
            "node": "Build Send Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Send Items": {
      "main": [
        [
          {
            "node": "Summary Only?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Only?": {
      "main": [
        [
          {
            "node": "Respond No Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Own Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Own Attachment": {
      "main": [
        [
          {
            "node": "Read Next Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Next Attachment": {
      "main": [
        [
          {
            "node": "Read Reserves Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Reserves Attachment": {
      "main": [
        [
          {
            "node": "Assemble Email Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Email Item": {
      "main": [
        [
          {
            "node": "Send Gmail Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail Message": {
      "main": [
        [
          {
            "node": "Summarize Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Send": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": null,
  "versionId": "325191b4-376a-4349-8812-54c8f316a515",
  "meta": null
}
