backups/20260320-recent-local-n8n/workflows/TPqbJ7Niw68B92T3.json
{"updatedAt":"2026-03-20T17:06:43.751Z","createdAt":"2026-03-20T17:02:37.589Z","id":"TPqbJ7Niw68B92T3","name":"Send Gmail Test Message","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"f6f3537f-3963-4c96-8cb5-1eeec40da4c1","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,304]},{"parameters":{"jsCode":"return [{\n  json: {\n    to_email: 'steve.short@gmail.com',\n    first_name: 'Steve',\n    last_name: 'Short',\n    subject: 'Message from Avondale about your tags',\n    sender_name: 'Steve Short',\n    reply_to: 'members.avondaleltc@gmail.com',\n    message_template: `Dear {{first_name}} {{last_name}},\n\nPlease check the pigeon holes at the Avondale club house in the next few days for an envelope containing your shoe tag(s) and/or club house key(s).\n(You are receiving this automated email because you have not entered a postal address on ClubSpark)\n\nRegards\nSteve Short\nMembership Secretary\nmembers.avondaleltc@gmail.com\n\n-----------------------------------------------\nhttps://clubspark.lta.org.uk/AvondaleTennisClub`\n  }\n}];"},"id":"3d37df33-7788-4f26-b2ec-4745b0de486b","name":"Editable Email Inputs","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst replacements = {\n  '{{first_name}}': item.first_name ?? '',\n  '{{last_name}}': item.last_name ?? '',\n  '{{to_email}}': item.to_email ?? '',\n};\nlet rendered = item.message_template ?? '';\nfor (const [token, value] of Object.entries(replacements)) {\n  rendered = rendered.split(token).join(String(value));\n}\nreturn [{\n  json: {\n    ...item,\n    rendered_message: rendered,\n  },\n}];"},"id":"9f127ebf-51d7-4dae-ad95-2ec502b2324f","name":"Render Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,304]},{"parameters":{"sendTo":"={{ $json.to_email }}","subject":"={{ $json.subject }}","emailType":"text","message":"={{ $json.rendered_message }}","options":{"appendAttribution":false,"senderName":"={{ $json.sender_name }}","replyTo":"={{ $json.reply_to }}"}},"id":"54f78356-f5a5-4774-b2df-cbfa87f9241b","name":"Send Gmail Message","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1024,304],"webhookId":"4e8d7e52-4863-4282-bdab-8667bccf6109","credentials":{"gmailOAuth2":{"id":"JHuPZBB6pULmuxKm","name":"Avondale Gmail OAuth2"}}}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Editable Email Inputs","type":"main","index":0}]]},"Editable Email Inputs":{"main":[[{"node":"Render Message","type":"main","index":0}]]},"Render Message":{"main":[[{"node":"Send Gmail Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"6103a7c7-a78f-4fd9-9e02-b8634242cb1a","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-03-20T17:02:37.589Z","createdAt":"2026-03-20T17:02:37.589Z","role":"workflow:owner","workflowId":"TPqbJ7Niw68B92T3","projectId":"AtpW2flNrTDUqcis","project":{"updatedAt":"2026-03-07T15:05:21.831Z","createdAt":"2025-04-29T13:45:55.157Z","id":"AtpW2flNrTDUqcis","name":"Steve Short <steve@shortcentral.com>","type":"personal","icon":null,"description":null,"creatorId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectRelations":[{"updatedAt":"2025-04-29T13:45:55.157Z","createdAt":"2025-04-29T13:45:55.157Z","userId":"1aa25644-d384-4810-beaa-f58314d3e70c","projectId":"AtpW2flNrTDUqcis","user":{"updatedAt":"2026-03-20T15:27:24.956Z","createdAt":"2025-04-29T13:45:54.337Z","id":"1aa25644-d384-4810-beaa-f58314d3e70c","email":"steve@shortcentral.com","firstName":"Steve","lastName":"Short","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-29T13:48:39.758Z","personalization_survey_n8n_version":"1.89.2","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"6XC5aXJ8uS5DS553","userActivatedAt":1773664748790,"npsSurvey":{"responded":true,"lastShownAt":1774020442311}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-20","isPending":false}}]}}],"tags":[],"activeVersion":null}