backups/20260418-170943-full-backup/workflows/QZs3SfLl3Sj423zS-Team_Management_App.json
{
  "name": "Team Management App",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "tmg000000-0000-0000-0000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        20
      ]
    },
    {
      "parameters": {
        "path": "team-management",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "tmg000000-0000-0000-0000-000000000002",
      "name": "Team Management App Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "team-management"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(CASE WHEN key = 'n8n_base_url' THEN value END) AS n8n_base_url, MAX(CASE WHEN key = 'email_test_recipient' THEN value END) AS email_test_recipient, MAX(CASE WHEN key = 'email_delivery_mode' THEN value END) AS email_delivery_mode FROM public.global_settings WHERE key IN ('n8n_base_url', 'email_test_recipient', 'email_delivery_mode');"
      },
      "id": "tmg000000-0000-0000-0000-000000000003",
      "name": "Load App Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst settings = $('Load App Settings').first()?.json ?? {};\nconst request = $('Team Management App Webhook').first()?.json ?? $input.first()?.json ?? {};\nconst query = request.query ?? request;\nconst headers = request.headers ?? {};\nconst clean = (value) => value === null || value === undefined ? '' : String(value).trim();\nconst parseOptionalBool = (value) => {\n  const normalized = clean(value).toLowerCase();\n  if (!normalized) return null;\n  if (['1', 'true', 'yes', 'y', 'on'].includes(normalized)) return true;\n  if (['0', 'false', 'no', 'n', 'off'].includes(normalized)) return false;\n  return null;\n};\nconst parseId = (value) => {\n  const n = Number.parseInt(clean(value), 10);\n  return Number.isInteger(n) && n > 0 ? n : null;\n};\nconst deriveBaseUrl = (sourceHeaders, fallback) => {\n  const forwardedProto = clean(sourceHeaders['x-forwarded-proto']);\n  const forwardedHost = clean(sourceHeaders['x-forwarded-host']);\n  const host = forwardedHost || clean(sourceHeaders.host);\n  const forwardedPort = clean(sourceHeaders['x-forwarded-port']);\n  if (!host) return fallback;\n  const proto = forwardedProto || 'http';\n  let authority = host;\n  if (forwardedPort && !authority.includes(':')) {\n    const isDefault = (proto === 'http' && forwardedPort === '80') || (proto === 'https' && forwardedPort === '443');\n    if (!isDefault) authority = authority + ':' + forwardedPort;\n  }\n  return proto + '://' + authority;\n};\nconst normalizeCategory = (value) => {\n  const raw = clean(value);\n  return ['ALL', 'Mens', 'Ladies', 'Mixed', 'Vets'].includes(raw) ? raw : 'ALL';\n};\nconst normalizeAttachmentMode = (value) => {\n  const normalized = clean(value).toLowerCase().replace(/_/g, '-');\n  const aliases = {\n    '1': 'own-plus-reserves',\n    '2': 'own-next-plus-reserves',\n    '3': 'all-in-section',\n    'own-plus-reserves': 'own-plus-reserves',\n    'ownplusreserves': 'own-plus-reserves',\n    'own+reserves': 'own-plus-reserves',\n    'own-reserves': 'own-plus-reserves',\n    'own-next-plus-reserves': 'own-next-plus-reserves',\n    'ownnextplusreserves': 'own-next-plus-reserves',\n    'own+next+reserves': 'own-next-plus-reserves',\n    'own-next-reserves': 'own-next-plus-reserves',\n    'ownnextreserves': 'own-next-plus-reserves',\n    'own-next': 'own-next-plus-reserves',\n    'current': 'own-next-plus-reserves',\n    'all-in-section': 'all-in-section',\n    'allinsection': 'all-in-section',\n    'all': 'all-in-section',\n  };\n  return aliases[normalized] || 'all-in-section';\n};\nconst normalizeDeliveryMode = (value) => clean(value).toLowerCase() === 'production' ? 'production' : 'test';\nconst validViews = new Set(['teams', 'players', 'mailout', 'nicknames', 'overrides']);\nconst rawView = clean(query.view).toLowerCase();\nconst view = validViews.has(rawView) ? rawView : 'teams';\nconst fallbackBaseUrl = clean(settings.n8n_base_url) || 'http://n8n:5678';\nconst n8nBaseUrl = deriveBaseUrl(headers, fallbackBaseUrl);\nreturn [{\n  json: {\n    view,\n    team_id: parseId(query.team_id),\n    edit_team_id: parseId(query.edit_team_id),\n    edit_player_id: parseId(query.edit_player_id),\n    edit_nickname_id: parseId(query.edit_nickname_id),\n    edit_override_id: parseId(query.edit_override_id),\n    season: clean(query.season),\n    category: normalizeCategory(query.category),\n    attachment_mode: normalizeAttachmentMode(query.attachment_mode || query.attachmentMode || query.scope),\n    delivery_mode: normalizeDeliveryMode(query.delivery_mode || query.deliveryMode || query.mode || settings.email_delivery_mode),\n    test_recipient: clean(query.test_recipient || query.testRecipient) || clean(settings.email_test_recipient) || 'steve.short@gmail.com',\n    include_shared_bcc_in_test: parseOptionalBool(query.include_shared_bcc_in_test || query.includeSharedBccInTest) !== false,\n    lookup_q: clean(query.lookup_q),\n    flash_message: clean(query.message),\n    flash_error: clean(query.error),\n    n8n_base_url: n8nBaseUrl,\n  },\n}];\n"
      },
      "id": "tmg000000-0000-0000-0000-000000000004",
      "name": "Resolve App Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const input=$input.first().json??{}; const sqlLiteral=(value)=>\"'\"+String(value??'').replace(/'/g,\"''\")+\"'\"; const summaryCte=`summary AS (SELECT (SELECT count(*)::int FROM public.teams) AS total_teams,(SELECT count(*)::int FROM public.team_players) AS total_players,(SELECT count(*)::int FROM public.team_nicknames) AS total_nicknames,(SELECT count(*)::int FROM public.team_name_overrides) AS total_overrides)`; let sql=''; if(input.view==='teams'){ const seasonFilter=input.season?`WHERE t.season = ${sqlLiteral(input.season)}`:''; const editTeamSql=Number.isInteger(input.edit_team_id)?String(input.edit_team_id):'NULL'; sql=`WITH ${summaryCte}, season_rows AS (SELECT DISTINCT season FROM public.teams ORDER BY season DESC), team_rows AS (SELECT t.team_id AS id,t.team_name,t.section,t.season,t.sort_order,t.captain_name,t.captain_match_status,t.player_count,t.ready_for_mailout FROM public.vw_team_management_summary t ${seasonFilter} ORDER BY t.season DESC, t.section ASC, t.sort_order ASC, t.team_name ASC), selected_team AS (SELECT id, section, team_name, season, sort_order FROM public.teams WHERE id = ${editTeamSql}) SELECT (SELECT row_to_json(summary) FROM summary) AS summary, COALESCE((SELECT json_agg(to_jsonb(team_rows)) FROM team_rows), '[]'::json) AS team_rows, COALESCE((SELECT json_agg(to_jsonb(season_rows)) FROM season_rows), '[]'::json) AS season_rows, COALESCE((SELECT to_jsonb(selected_team) FROM selected_team), '{}'::jsonb) AS selected_team`; } else if(input.view==='players'){ const teamSql=Number.isInteger(input.team_id)?String(input.team_id):'NULL'; const editPlayerSql=Number.isInteger(input.edit_player_id)?String(input.edit_player_id):'NULL'; const lookupSql=sqlLiteral(input.lookup_q||''); sql=`WITH ${summaryCte}, team_options AS (SELECT id, team_name, section, season FROM public.teams ORDER BY season DESC, section ASC, sort_order ASC, team_name ASC), selected_team AS (SELECT id, team_name, section, season, sort_order FROM public.teams WHERE id = ${teamSql}), player_rows AS (SELECT team_player_id AS id, team_id, source_name, is_captain, player_sort_order AS sort_order, resolved_name, match_rule, category, membership_status, self_email, self_phone, self_consent, main_contact_name, main_contact_email, main_contact_phone, match_ui_status FROM public.vw_team_roster_consolidated WHERE team_id = ${teamSql} ORDER BY player_sort_order ASC, source_name ASC), lookup_rows AS (WITH raw_names AS (SELECT DISTINCT trim(concat_ws(' ', NULLIF(trim(\"First name\"), ''), NULLIF(trim(\"Last name\"), ''))) AS player_name, COALESCE(NULLIF(trim(\"Email address\"), ''), '') AS email_address, 'raw_members' AS source_table FROM public.raw_members WHERE is_current IS TRUE UNION SELECT DISTINCT trim(concat_ws(' ', NULLIF(trim(\"First name\"), ''), NULLIF(trim(\"Last name\"), ''))) AS player_name, COALESCE(NULLIF(trim(\"Email address\"), ''), '') AS email_address, 'raw_contacts' AS source_table FROM public.raw_contacts WHERE is_current IS TRUE), deduped AS (SELECT player_name, MAX(NULLIF(email_address, '')) AS email_address, string_agg(DISTINCT source_table, ', ' ORDER BY source_table) AS source_tables FROM raw_names WHERE player_name IS NOT NULL AND player_name <> '' GROUP BY player_name) SELECT player_name, COALESCE(email_address, '') AS email_address, source_tables, player_name || CASE WHEN email_address IS NOT NULL AND email_address <> '' THEN ' (' || email_address || ')' ELSE '' END || ' [' || source_tables || ']' AS label FROM deduped WHERE LENGTH(TRIM(COALESCE(${lookupSql}, ''))) >= 2 AND player_name ILIKE ('%' || TRIM(COALESCE(${lookupSql}, '')) || '%') ORDER BY player_name ASC LIMIT 25), selected_player AS (SELECT id, team_id, source_name, is_captain, sort_order FROM public.team_players WHERE id = ${editPlayerSql}) SELECT (SELECT row_to_json(summary) FROM summary) AS summary, COALESCE((SELECT json_agg(to_jsonb(team_options)) FROM team_options), '[]'::json) AS team_options, COALESCE((SELECT to_jsonb(selected_team) FROM selected_team), '{}'::jsonb) AS team_row, COALESCE((SELECT json_agg(to_jsonb(player_rows)) FROM player_rows), '[]'::json) AS player_rows, COALESCE((SELECT json_agg(to_jsonb(lookup_rows)) FROM lookup_rows), '[]'::json) AS lookup_rows, COALESCE((SELECT to_jsonb(selected_player) FROM selected_player), '{}'::jsonb) AS selected_player`; } else if(input.view==='mailout'){ const seasonSql=input.season?sqlLiteral(input.season):'NULL'; sql=`WITH ${summaryCte}, season_rows AS (SELECT DISTINCT season FROM public.teams ORDER BY season DESC), selected_season AS (SELECT COALESCE(${seasonSql}, (SELECT season FROM season_rows LIMIT 1)) AS season), mailout_rows AS (SELECT t.team_id AS id, t.team_name, t.section, t.season, t.sort_order, t.captain_name, t.captain_match_status, t.player_count, t.ready_for_mailout FROM public.vw_team_management_summary t JOIN selected_season s ON s.season = t.season ORDER BY t.section ASC, t.sort_order ASC, t.team_name ASC) SELECT (SELECT row_to_json(summary) FROM summary) AS summary, COALESCE((SELECT json_agg(to_jsonb(season_rows)) FROM season_rows), '[]'::json) AS season_rows, COALESCE((SELECT json_agg(to_jsonb(mailout_rows)) FROM mailout_rows), '[]'::json) AS mailout_rows`; } else if(input.view==='nicknames'){ const editSql=Number.isInteger(input.edit_nickname_id)?String(input.edit_nickname_id):'NULL'; sql=`WITH ${summaryCte}, nickname_rows AS (SELECT id, source, target, notes, created_at, updated_at FROM public.team_nicknames ORDER BY lower(source) ASC, lower(target) ASC), selected_nickname AS (SELECT id, source, target, notes FROM public.team_nicknames WHERE id = ${editSql}) SELECT (SELECT row_to_json(summary) FROM summary) AS summary, COALESCE((SELECT json_agg(to_jsonb(nickname_rows)) FROM nickname_rows), '[]'::json) AS nickname_rows, COALESCE((SELECT to_jsonb(selected_nickname) FROM selected_nickname), '{}'::jsonb) AS selected_nickname`; } else { const editSql=Number.isInteger(input.edit_override_id)?String(input.edit_override_id):'NULL'; sql=`WITH ${summaryCte}, override_rows AS (SELECT id, source, target, created_at FROM public.team_name_overrides ORDER BY source ASC, target ASC), selected_override AS (SELECT id, source, target FROM public.team_name_overrides WHERE id = ${editSql}) SELECT (SELECT row_to_json(summary) FROM summary) AS summary, COALESCE((SELECT json_agg(to_jsonb(override_rows)) FROM override_rows), '[]'::json) AS override_rows, COALESCE((SELECT to_jsonb(selected_override) FROM selected_override), '{}'::jsonb) AS selected_override`; } return [{json:{...input,sql}}];"
      },
      "id": "tmg000000-0000-0000-0000-000000000005",
      "name": "Build Page SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "tmg000000-0000-0000-0000-000000000006",
      "name": "Load Page Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1320,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input=$('Resolve App Request').first()?.json??{}; const row=$('Load Page Data').first()?.json??{}; const parseMaybe=(value,fallback)=>{if(value===null||value===undefined||value==='') return fallback; if(typeof value==='string'){try{return JSON.parse(value);}catch{return fallback;}} return value;}; const clean=(value)=>value===null||value===undefined?'':String(value).trim(); const escapeHtml=(value)=>clean(value).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;').replace(/'/g,'&#39;'); const summary=parseMaybe(row.summary,{})||{}; const teamRows=parseMaybe(row.team_rows,[]); const seasonRows=parseMaybe(row.season_rows,[]); const selectedTeam=parseMaybe(row.selected_team,{})||{}; const teamOptions=parseMaybe(row.team_options,[]); const teamRow=parseMaybe(row.team_row,{})||{}; const playerRows=parseMaybe(row.player_rows,[]); const lookupRows=parseMaybe(row.lookup_rows,[]); const selectedPlayer=parseMaybe(row.selected_player,{})||{}; const nicknameRows=parseMaybe(row.nickname_rows,[]); const selectedNickname=parseMaybe(row.selected_nickname,{})||{}; const overrideRows=parseMaybe(row.override_rows,[]); const selectedOverride=parseMaybe(row.selected_override,{})||{}; const mailoutRows=parseMaybe(row.mailout_rows,[])||[]; const baseUrl=clean(input.n8n_base_url)||'http://n8n:5678'; const appUrl=baseUrl+'/webhook/team-management'; const actionsUrl=baseUrl+'/webhook/team-management-actions'; const mailoutUrl=baseUrl+'/webhook/generate-team-contact-sheets'; const mailoutViewUrl=appUrl+'?view=mailout'; const navItems=[{key:'teams',label:'Teams',href:appUrl+'?view=teams'},{key:'mailout',label:'Mailout',href:mailoutViewUrl},{key:'nicknames',label:'Nicknames',href:appUrl+'?view=nicknames'},{key:'overrides',label:'Overrides',href:appUrl+'?view=overrides'}]; if(input.view==='players'&&clean(teamRow.id)) navItems.push({key:'players',label:'Players',href:appUrl+'?view=players&team_id='+encodeURIComponent(clean(teamRow.id))}); const renderNotice=()=>clean(input.flash_error)?`<div class='alert alert-error shadow-sm'><span>${escapeHtml(input.flash_error)}</span></div>`:(clean(input.flash_message)?`<div class='alert alert-success shadow-sm'><span>${escapeHtml(input.flash_message)}</span></div>`:''); const renderSummaryCards=()=>[{label:'Teams',value:clean(summary.total_teams)||'0'},{label:'Players',value:clean(summary.total_players)||'0'},{label:'Nicknames',value:clean(summary.total_nicknames)||'0'},{label:'Overrides',value:clean(summary.total_overrides)||'0'}].map((item)=>`<div class='stat bg-base-100 shadow-sm rounded-box border border-base-300'><div class='stat-title'>${escapeHtml(item.label)}</div><div class='stat-value text-2xl'>${escapeHtml(item.value)}</div></div>`).join(''); const renderShell=(title,intro,bodyHtml)=>`<!doctype html><html lang='en'><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'><title>${escapeHtml(title)}</title><link href='https://cdn.jsdelivr.net/npm/daisyui@5' rel='stylesheet' type='text/css' /><script src='https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4'></script><style>body{background:linear-gradient(180deg,#f8fafc 0%,#eef2ff 100%)} .app-shell{min-height:100vh} .mono{font-family:ui-monospace,SFMono-Regular,Menlo,monospace}</style></head><body><div class='drawer lg:drawer-open app-shell'><input id='team-nav' type='checkbox' class='drawer-toggle' /><div class='drawer-content'><div class='navbar bg-base-100/90 backdrop-blur border-b border-base-300 sticky top-0 z-20'><div class='flex-none lg:hidden'><label for='team-nav' class='btn btn-square btn-ghost'>☰</label></div><div class='flex-1'><div><div class='text-xs font-semibold uppercase tracking-wide text-primary'>Avondale</div><h1 class='text-2xl font-bold'>${escapeHtml(title)}</h1><p class='text-sm text-base-content/70'>${escapeHtml(intro)}</p></div></div></div><main class='p-4 lg:p-6 space-y-6'>${renderNotice()}<section class='grid gap-4 md:grid-cols-4'>${renderSummaryCards()}</section>${bodyHtml}</main></div><div class='drawer-side z-30'><label for='team-nav' class='drawer-overlay'></label><aside class='w-72 bg-base-100 border-r border-base-300 p-4 flex flex-col gap-6'><div><div class='text-xs font-semibold uppercase tracking-wide text-primary'>Team Admin</div><div class='text-lg font-semibold'>n8n workflow app</div></div><ul class='menu gap-1'>${navItems.map((item)=>`<li><a class='${item.key===input.view?'active bg-primary text-primary-content':''}' href='${item.href}'>${escapeHtml(item.label)}</a></li>`).join('')}</ul><a class='btn btn-outline btn-sm' href='${mailoutViewUrl}'>Captain Mailout</a></aside></div></div></body></html>`; const matchBadgeClass=(value)=>({success:'badge-success',info:'badge-info',warning:'badge-warning',danger:'badge-error',primary:'badge-primary'})[clean(value)]||'badge-ghost'; const mailoutSeason=clean(input.season)||clean(seasonRows[0]?.season)||'2026'; const mailoutCategory=clean(input.category)||'ALL'; const mailoutAttachmentMode=clean(input.attachment_mode)||'all-in-section'; const mailoutDeliveryMode=clean(input.delivery_mode)||'test'; const mailoutTestRecipient=clean(input.test_recipient)||'steve.short@gmail.com'; const mailoutIncludeSharedBccInTest=input.include_shared_bcc_in_test!==false; let title='Team Management'; let intro='Manage team structures, player rosters, nicknames, and override mappings.'; let bodyHtml=''; if(input.view==='teams'){ const seasonOptions=seasonRows.map((item)=>`<option value='${escapeHtml(item.season)}'${clean(input.season)===clean(item.season)?' selected':''}>${escapeHtml(item.season)}</option>`).join(''); const teamTable=teamRows.length?`<div class='overflow-x-auto'><table class='table table-zebra'><thead><tr><th>Season</th><th>Section</th><th>Team</th><th>Players</th><th>Captain</th><th>Mailout</th><th></th></tr></thead><tbody>${teamRows.map((item)=>`<tr><td>${escapeHtml(item.season)}</td><td>${escapeHtml(item.section)}</td><td class='font-semibold'>${escapeHtml(item.team_name)}</td><td>${escapeHtml(item.player_count)}</td><td><div>${escapeHtml(item.captain_name||'')}</div>${clean(item.captain_match_status)?`<div class='badge badge-sm ${matchBadgeClass(item.captain_match_status)}'>${escapeHtml(item.captain_match_status)}</div>`:''}</td><td>${item.ready_for_mailout?'Ready':'Missing captain email'}</td><td><div class='flex flex-wrap justify-end gap-2'><a class='btn btn-sm btn-primary' href='${appUrl}?view=players&team_id=${encodeURIComponent(clean(item.id))}'>Players</a><a class='btn btn-sm btn-outline' href='${appUrl}?view=teams&edit_team_id=${encodeURIComponent(clean(item.id))}${clean(input.season)?'&season='+encodeURIComponent(clean(input.season)):''}'>Edit</a><form method='POST' action='${actionsUrl}' onsubmit='return window.confirm(&quot;Delete team and all linked players?&quot;)'><input type='hidden' name='action' value='delete_team'><input type='hidden' name='team_id' value='${escapeHtml(item.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=teams'+(clean(input.season)?'&season='+encodeURIComponent(clean(input.season)):''))}'><button class='btn btn-sm btn-error btn-outline' type='submit'>Delete</button></form></div></td></tr>`).join('')}</tbody></table></div>`:`<div class='card bg-base-100 border border-dashed border-base-300'><div class='card-body'><p>No teams found.</p></div></div>`; const addForm=`<form class='grid gap-3 md:grid-cols-2' method='POST' action='${actionsUrl}'><input type='hidden' name='action' value='create_team'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=teams'+(clean(input.season)?'&season='+encodeURIComponent(clean(input.season)):''))}'><label class='form-control'><span class='label-text'>Section</span><input class='input input-bordered' type='text' name='section' required></label><label class='form-control'><span class='label-text'>Team name</span><input class='input input-bordered' type='text' name='team_name' required></label><label class='form-control'><span class='label-text'>Season</span><input class='input input-bordered' type='text' name='season' value='${escapeHtml(clean(input.season)||'2026')}' required></label><label class='form-control'><span class='label-text'>Sort order</span><input class='input input-bordered' type='number' name='sort_order' value='0'></label><div class='md:col-span-2'><button class='btn btn-primary' type='submit'>Add team</button></div></form>`; const editForm=clean(selectedTeam.id)?`<form class='grid gap-3 md:grid-cols-2' method='POST' action='${actionsUrl}'><input type='hidden' name='action' value='update_team'><input type='hidden' name='team_id' value='${escapeHtml(selectedTeam.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=teams'+(clean(input.season)?'&season='+encodeURIComponent(clean(input.season)):''))}'><label class='form-control'><span class='label-text'>Section</span><input class='input input-bordered' type='text' name='section' value='${escapeHtml(selectedTeam.section)}' required></label><label class='form-control'><span class='label-text'>Team name</span><input class='input input-bordered' type='text' name='team_name' value='${escapeHtml(selectedTeam.team_name)}' required></label><label class='form-control'><span class='label-text'>Season</span><input class='input input-bordered' type='text' name='season' value='${escapeHtml(selectedTeam.season)}' required></label><label class='form-control'><span class='label-text'>Sort order</span><input class='input input-bordered' type='number' name='sort_order' value='${escapeHtml(selectedTeam.sort_order)}'></label><div class='md:col-span-2 flex gap-2'><button class='btn btn-primary' type='submit'>Save team</button><a class='btn btn-ghost' href='${appUrl}?view=teams${clean(input.season)?'&season='+encodeURIComponent(clean(input.season)):''}'>Cancel</a></div></form>`:`<div class='text-sm text-base-content/60'>Choose Edit on a team row to update it.</div>`; bodyHtml=`<section class='grid gap-6 xl:grid-cols-[minmax(0,1fr)_380px]'><div class='space-y-4'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><form class='grid gap-3 md:grid-cols-[240px_auto]' method='GET' action='${appUrl}'><input type='hidden' name='view' value='teams'><label class='form-control'><span class='label-text'>Season</span><select class='select select-bordered' name='season'><option value=''>All seasons</option>${seasonOptions}</select></label><div class='flex items-end gap-2'><button class='btn btn-outline' type='submit'>Apply</button><a class='btn btn-ghost' href='${appUrl}?view=teams'>Clear</a></div></form></div></div><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Teams</h2>${teamTable}</div></div></div><div class='space-y-4'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Add Team</h2>${addForm}</div></div><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Edit Team</h2>${editForm}</div></div></div></section>`; } else if(input.view==='players'){ title='Team Players'; intro='Maintain the team roster and the player-to-member matching inputs.'; if(!clean(teamRow.id)){ bodyHtml=`<section class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Choose a team</h2><div class='grid gap-3 md:grid-cols-2 xl:grid-cols-3'>${teamOptions.map((item)=>`<a class='card bg-base-100 shadow-sm border border-base-300 hover:border-primary' href='${appUrl}?view=players&team_id=${encodeURIComponent(clean(item.id))}'><div class='card-body py-4'><div class='font-semibold'>${escapeHtml(item.team_name)}</div><div class='text-sm text-base-content/60'>${escapeHtml(item.section)} · ${escapeHtml(item.season)}</div></div></a>`).join('')}</div></div></section>`; } else { const lookupOptions=lookupRows.map((item)=>`<option value='${escapeHtml(item.player_name)}' label='${escapeHtml(item.label)}'></option>`).join(''); const playerTable=playerRows.length?`<div class='overflow-x-auto'><table class='table table-zebra'><thead><tr><th>Order</th><th>Source</th><th>Captain</th><th>Resolved</th><th>Match</th><th>Self Email</th><th>Main Contact</th><th></th></tr></thead><tbody>${playerRows.map((item)=>`<tr><td>${escapeHtml(item.sort_order)}</td><td class='font-semibold'>${escapeHtml(item.source_name)}</td><td>${item.is_captain?'Yes':'No'}</td><td>${escapeHtml(item.resolved_name||'No Match')}</td><td>${clean(item.match_rule)?`<div class='badge ${matchBadgeClass(item.match_ui_status)}'>${escapeHtml(item.match_rule)}</div>`:'—'}</td><td>${escapeHtml(item.self_email)}</td><td>${escapeHtml(item.main_contact_email||item.main_contact_name)}</td><td><div class='flex flex-wrap justify-end gap-2'><a class='btn btn-sm btn-outline' href='${appUrl}?view=players&team_id=${encodeURIComponent(clean(teamRow.id))}&edit_player_id=${encodeURIComponent(clean(item.id))}${clean(input.lookup_q)?'&lookup_q='+encodeURIComponent(clean(input.lookup_q)):''}'>Edit</a><form method='POST' action='${actionsUrl}' onsubmit='return window.confirm(&quot;Remove this player from the team?&quot;)'><input type='hidden' name='action' value='delete_player'><input type='hidden' name='player_id' value='${escapeHtml(item.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=players&team_id='+encodeURIComponent(clean(teamRow.id)))}'><button class='btn btn-sm btn-error btn-outline' type='submit'>Delete</button></form></div></td></tr>`).join('')}</tbody></table></div>`:`<div class='card bg-base-100 border border-dashed border-base-300'><div class='card-body'><p>No players added yet.</p></div></div>`; const addForm=`<form class='space-y-3' method='POST' action='${actionsUrl}'><input type='hidden' name='action' value='create_player'><input type='hidden' name='team_id' value='${escapeHtml(teamRow.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=players&team_id='+encodeURIComponent(clean(teamRow.id)))}'><label class='form-control'><span class='label-text'>Search current members/contacts</span><div class='join'><input class='input input-bordered join-item w-full' type='text' name='lookup_q' value='${escapeHtml(input.lookup_q)}' formmethod='GET' formaction='${appUrl}'><input type='hidden' name='view' value='players' formmethod='GET' formaction='${appUrl}'><input type='hidden' name='team_id' value='${escapeHtml(teamRow.id)}' formmethod='GET' formaction='${appUrl}'><button class='btn join-item' formmethod='GET' formaction='${appUrl}'>Lookup</button></div></label><label class='form-control'><span class='label-text'>Player name</span><input class='input input-bordered' type='text' name='source_name' list='player-lookup' required><datalist id='player-lookup'>${lookupOptions}</datalist></label><div class='grid gap-3 md:grid-cols-2'><label class='form-control'><span class='label-text'>Sort order</span><input class='input input-bordered' type='number' name='sort_order' value='0'></label><label class='label cursor-pointer justify-start gap-3 mt-8'><input class='checkbox' type='checkbox' name='is_captain' value='1'><span class='label-text'>Captain</span></label></div><button class='btn btn-primary' type='submit'>Add player</button></form>`; const editForm=clean(selectedPlayer.id)?`<form class='space-y-3' method='POST' action='${actionsUrl}'><input type='hidden' name='action' value='update_player'><input type='hidden' name='player_id' value='${escapeHtml(selectedPlayer.id)}'><input type='hidden' name='team_id' value='${escapeHtml(selectedPlayer.team_id||teamRow.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=players&team_id='+encodeURIComponent(clean(teamRow.id)))}'><label class='form-control'><span class='label-text'>Player name</span><input class='input input-bordered' type='text' name='source_name' value='${escapeHtml(selectedPlayer.source_name)}' required></label><div class='grid gap-3 md:grid-cols-2'><label class='form-control'><span class='label-text'>Sort order</span><input class='input input-bordered' type='number' name='sort_order' value='${escapeHtml(selectedPlayer.sort_order)}'></label><label class='label cursor-pointer justify-start gap-3 mt-8'><input class='checkbox' type='checkbox' name='is_captain' value='1'${selectedPlayer.is_captain?' checked':''}><span class='label-text'>Captain</span></label></div><div class='flex gap-2'><button class='btn btn-primary' type='submit'>Save player</button><a class='btn btn-ghost' href='${appUrl}?view=players&team_id=${encodeURIComponent(clean(teamRow.id))}'>Cancel</a></div></form>`:`<div class='text-sm text-base-content/60'>Choose Edit on a player row to update it.</div>`; bodyHtml=`<section class='space-y-4'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><div class='flex flex-wrap justify-between gap-3'><div><h2 class='card-title'>${escapeHtml(teamRow.team_name)}</h2><p class='text-sm text-base-content/60'>${escapeHtml(teamRow.section)} · ${escapeHtml(teamRow.season)}</p></div><a class='btn btn-ghost btn-sm' href='${appUrl}?view=teams'>Back to teams</a></div></div></div><div class='grid gap-6 xl:grid-cols-[minmax(0,1fr)_380px]'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Players</h2>${playerTable}</div></div><div class='space-y-4'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Add Player</h2>${addForm}</div></div><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Edit Player</h2>${editForm}</div></div></div></div></section>`; } } else if(input.view==='mailout'){ title='Captain Mailout'; intro='Generate and send captain contact sheet bundles from the team admin app.'; const selectedSeason=mailoutSeason; const seasonOptions=seasonRows.length?seasonRows.map((item)=>`<option value='${escapeHtml(item.season)}'${clean(selectedSeason)===clean(item.season)?' selected':''}>${escapeHtml(item.season)}</option>`).join(''):`<option value='${escapeHtml(selectedSeason)}' selected>${escapeHtml(selectedSeason)}</option>`; const readyCount=mailoutRows.filter((item)=>Boolean(item.ready_for_mailout)).length; const missingCount=mailoutRows.length-readyCount; const mailoutTable=mailoutRows.length?`<div class='overflow-x-auto'><table class='table table-zebra'><thead><tr><th>Section</th><th>Team</th><th>Captain</th><th>Players</th><th>Status</th></tr></thead><tbody>${mailoutRows.map((item)=>`<tr><td>${escapeHtml(item.section)}</td><td class='font-semibold'>${escapeHtml(item.team_name)}</td><td><div>${escapeHtml(item.captain_name||'')}</div>${clean(item.captain_match_status)?`<div class='badge badge-sm ${matchBadgeClass(item.captain_match_status)}'>${escapeHtml(item.captain_match_status)}</div>`:''}</td><td>${escapeHtml(item.player_count)}</td><td>${item.ready_for_mailout?\"<span class='badge badge-success'>Ready</span>\":\"<span class='badge badge-warning'>Missing captain email</span>\"}</td></tr>`).join('')}</tbody></table></div>`:`<div class='card bg-base-100 border border-dashed border-base-300'><div class='card-body'><p>No teams found for ${escapeHtml(selectedSeason)}.</p></div></div>`; bodyHtml=`<section class='grid gap-6 xl:grid-cols-[380px_minmax(0,1fr)]'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Mailout Controls</h2><p class='text-sm text-base-content/60'>This matches the old Appsmith team mailout controls but runs through the current n8n generator workflow. Results open in a new tab.</p><form class='space-y-4' method='POST' action='${mailoutUrl}' target='_blank'><input type='hidden' name='webhook_base_url' value='http://127.0.0.1:5678'><input type='hidden' name='base_dir' value='/home/node/.n8n-files/teams-mailout/current'><label class='form-control'><span class='label-text'>Season</span><select class='select select-bordered' name='season'>${seasonOptions}</select></label><label class='form-control'><span class='label-text'>Category</span><select class='select select-bordered' name='category'><option value='ALL'${mailoutCategory==='ALL'?' selected':''}>All Categories</option><option value='Mens'${mailoutCategory==='Mens'?' selected':''}>Mens</option><option value='Ladies'${mailoutCategory==='Ladies'?' selected':''}>Ladies</option><option value='Mixed'${mailoutCategory==='Mixed'?' selected':''}>Mixed</option><option value='Vets'${mailoutCategory==='Vets'?' selected':''}>Vets</option></select></label><label class='form-control'><span class='label-text'>Attachment Mode</span><select class='select select-bordered' name='attachment_mode'><option value='own-plus-reserves'${mailoutAttachmentMode==='own-plus-reserves'?' selected':''}>Own + reserves</option><option value='own-next-plus-reserves'${mailoutAttachmentMode==='own-next-plus-reserves'?' selected':''}>Own + next + reserves</option><option value='all-in-section'${mailoutAttachmentMode==='all-in-section'?' selected':''}>All in category</option></select></label><label class='form-control'><span class='label-text'>Delivery Mode</span><select class='select select-bordered' name='delivery_mode'><option value='test'${mailoutDeliveryMode==='test'?' selected':''}>Test</option><option value='production'${mailoutDeliveryMode==='production'?' selected':''}>Production</option></select></label><label class='form-control'><span class='label-text'>Test recipient</span><input class='input input-bordered' type='email' name='test_recipient' value='${escapeHtml(mailoutTestRecipient)}'></label><label class='form-control'><span class='label-text'>Shared BCC In Test Mode</span><select class='select select-bordered' name='include_shared_bcc_in_test'><option value='true'${mailoutIncludeSharedBccInTest?' selected':''}>Enabled</option><option value='false'${!mailoutIncludeSharedBccInTest?' selected':''}>Disabled</option></select></label><div class='text-xs text-base-content/60'>The category selector is kept for compatibility with the Appsmith flow. The current generator still processes all source documents and reports the requested category in its output. Shared BCC recipients come from team-captain-mailout-bcc.txt.</div><div class='flex flex-wrap gap-2'><button class='btn btn-outline' type='submit' name='generate_only' value='1'>Generate</button><button class='btn btn-primary' type='submit' name='trigger' value='1'>Generate + Send</button></div></form></div></div><div class='space-y-4'><div class='grid gap-4 md:grid-cols-3'><div class='stat bg-base-100 shadow-sm rounded-box border border-base-300'><div class='stat-title'>Season</div><div class='stat-value text-2xl'>${escapeHtml(selectedSeason)}</div></div><div class='stat bg-base-100 shadow-sm rounded-box border border-base-300'><div class='stat-title'>Ready</div><div class='stat-value text-2xl'>${escapeHtml(readyCount)}</div></div><div class='stat bg-base-100 shadow-sm rounded-box border border-base-300'><div class='stat-title'>Missing</div><div class='stat-value text-2xl'>${escapeHtml(missingCount)}</div></div></div><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><div class='flex flex-wrap items-start justify-between gap-3'><div><h2 class='card-title'>Season Teams</h2><p class='text-sm text-base-content/60'>Current teams for the selected season and whether each one is ready for captain mailout.</p></div><a class='btn btn-ghost btn-sm' href='${appUrl}?view=teams&season=${encodeURIComponent(selectedSeason)}'>Open teams</a></div>${mailoutTable}</div></div></div></section>`; } else if(input.view==='nicknames'){ title='Team Nicknames'; intro='Maintain first-name nickname mappings used during team matching.'; const table=nicknameRows.length?`<div class='overflow-x-auto'><table class='table table-zebra'><thead><tr><th>Source</th><th>Target</th><th>Notes</th><th>Updated</th><th></th></tr></thead><tbody>${nicknameRows.map((item)=>`<tr><td class='font-semibold'>${escapeHtml(item.source)}</td><td>${escapeHtml(item.target)}</td><td>${escapeHtml(item.notes)}</td><td>${escapeHtml(item.updated_at||item.created_at)}</td><td><div class='flex flex-wrap justify-end gap-2'><a class='btn btn-sm btn-outline' href='${appUrl}?view=nicknames&edit_nickname_id=${encodeURIComponent(clean(item.id))}'>Edit</a><form method='POST' action='${actionsUrl}' onsubmit='return window.confirm(&quot;Delete this nickname mapping?&quot;)'><input type='hidden' name='action' value='delete_nickname'><input type='hidden' name='nickname_id' value='${escapeHtml(item.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=nicknames')}'><button class='btn btn-sm btn-error btn-outline' type='submit'>Delete</button></form></div></td></tr>`).join('')}</tbody></table></div>`:`<div class='card bg-base-100 border border-dashed border-base-300'><div class='card-body'><p>No nicknames found.</p></div></div>`; const addForm=`<form class='space-y-3' method='POST' action='${actionsUrl}'><input type='hidden' name='action' value='create_nickname'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=nicknames')}'><label class='form-control'><span class='label-text'>Source</span><input class='input input-bordered' type='text' name='source' required></label><label class='form-control'><span class='label-text'>Target</span><input class='input input-bordered' type='text' name='target' required></label><label class='form-control'><span class='label-text'>Notes</span><textarea class='textarea textarea-bordered' name='notes'></textarea></label><button class='btn btn-primary' type='submit'>Add nickname</button></form>`; const editForm=clean(selectedNickname.id)?`<form class='space-y-3' method='POST' action='${actionsUrl}'><input type='hidden' name='action' value='update_nickname'><input type='hidden' name='nickname_id' value='${escapeHtml(selectedNickname.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=nicknames')}'><label class='form-control'><span class='label-text'>Source</span><input class='input input-bordered' type='text' name='source' value='${escapeHtml(selectedNickname.source)}' required></label><label class='form-control'><span class='label-text'>Target</span><input class='input input-bordered' type='text' name='target' value='${escapeHtml(selectedNickname.target)}' required></label><label class='form-control'><span class='label-text'>Notes</span><textarea class='textarea textarea-bordered' name='notes'>${escapeHtml(selectedNickname.notes)}</textarea></label><div class='flex gap-2'><button class='btn btn-primary' type='submit'>Save nickname</button><a class='btn btn-ghost' href='${appUrl}?view=nicknames'>Cancel</a></div></form>`:`<div class='text-sm text-base-content/60'>Choose Edit on a nickname row to update it.</div>`; bodyHtml=`<section class='grid gap-6 xl:grid-cols-[minmax(0,1fr)_380px]'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Nicknames</h2>${table}</div></div><div class='space-y-4'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Add Nickname</h2>${addForm}</div></div><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Edit Nickname</h2>${editForm}</div></div></div></section>`; } else { title='Team Overrides'; intro='Maintain explicit full-name overrides used by team player matching.'; const table=overrideRows.length?`<div class='overflow-x-auto'><table class='table table-zebra'><thead><tr><th>Source</th><th>Target</th><th>Created</th><th></th></tr></thead><tbody>${overrideRows.map((item)=>`<tr><td class='font-semibold'>${escapeHtml(item.source)}</td><td>${escapeHtml(item.target)}</td><td>${escapeHtml(item.created_at)}</td><td><div class='flex flex-wrap justify-end gap-2'><a class='btn btn-sm btn-outline' href='${appUrl}?view=overrides&edit_override_id=${encodeURIComponent(clean(item.id))}'>Edit</a><form method='POST' action='${actionsUrl}' onsubmit='return window.confirm(&quot;Delete this override mapping?&quot;)'><input type='hidden' name='action' value='delete_override'><input type='hidden' name='override_id' value='${escapeHtml(item.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=overrides')}'><button class='btn btn-sm btn-error btn-outline' type='submit'>Delete</button></form></div></td></tr>`).join('')}</tbody></table></div>`:`<div class='card bg-base-100 border border-dashed border-base-300'><div class='card-body'><p>No overrides found.</p></div></div>`; const addForm=`<form class='space-y-3' method='POST' action='${actionsUrl}'><input type='hidden' name='action' value='create_override'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=overrides')}'><label class='form-control'><span class='label-text'>Source</span><input class='input input-bordered' type='text' name='source' required></label><label class='form-control'><span class='label-text'>Target</span><input class='input input-bordered' type='text' name='target' required></label><button class='btn btn-primary' type='submit'>Add override</button></form>`; const editForm=clean(selectedOverride.id)?`<form class='space-y-3' method='POST' action='${actionsUrl}'><input type='hidden' name='action' value='update_override'><input type='hidden' name='override_id' value='${escapeHtml(selectedOverride.id)}'><input type='hidden' name='return_url' value='${escapeHtml(appUrl+'?view=overrides')}'><label class='form-control'><span class='label-text'>Source</span><input class='input input-bordered' type='text' name='source' value='${escapeHtml(selectedOverride.source)}' required></label><label class='form-control'><span class='label-text'>Target</span><input class='input input-bordered' type='text' name='target' value='${escapeHtml(selectedOverride.target)}' required></label><div class='flex gap-2'><button class='btn btn-primary' type='submit'>Save override</button><a class='btn btn-ghost' href='${appUrl}?view=overrides'>Cancel</a></div></form>`:`<div class='text-sm text-base-content/60'>Choose Edit on an override row to update it.</div>`; bodyHtml=`<section class='grid gap-6 xl:grid-cols-[minmax(0,1fr)_380px]'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Overrides</h2>${table}</div></div><div class='space-y-4'><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Add Override</h2>${addForm}</div></div><div class='card bg-base-100 shadow-sm border border-base-300'><div class='card-body'><h2 class='card-title'>Edit Override</h2>${editForm}</div></div></div></section>`; } return [{json:{html:renderShell(title,intro,bodyHtml)}}];"
      },
      "id": "tmg000000-0000-0000-0000-000000000007",
      "name": "Build Page HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              },
              {
                "name": "Cache-Control",
                "value": "no-store, no-cache, must-revalidate, max-age=0"
              },
              {
                "name": "Pragma",
                "value": "no-cache"
              },
              {
                "name": "Expires",
                "value": "0"
              }
            ]
          }
        }
      },
      "id": "tmg000000-0000-0000-0000-000000000008",
      "name": "Respond App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1860,
        220
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load App Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Team Management App Webhook": {
      "main": [
        [
          {
            "node": "Load App Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load App Settings": {
      "main": [
        [
          {
            "node": "Resolve App Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve App Request": {
      "main": [
        [
          {
            "node": "Build Page SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Page SQL": {
      "main": [
        [
          {
            "node": "Load Page Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Page Data": {
      "main": [
        [
          {
            "node": "Build Page HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Page HTML": {
      "main": [
        [
          {
            "node": "Respond App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-16T15:05:33.577+00:00",
  "updatedAt": "2026-04-18T12:26:39.325+00:00",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "22f1a8f5-698f-4217-9f2b-e1f6e85890f5",
  "triggerCount": 1,
  "id": "QZs3SfLl3Sj423zS",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 19,
  "description": "",
  "activeVersionId": "22f1a8f5-698f-4217-9f2b-e1f6e85890f5"
}
