backups/20260418-170943-full-backup/workflows/uRd78LSp8p7BWKkC-ClubSpark_Auth_Session_Test.json
{
  "name": "ClubSpark Auth Session Test",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "c5c10002-2222-4222-8222-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'clubspark_venue_slug' THEN value END) AS clubspark_venue_slug\nFROM public.global_settings\nWHERE key = 'clubspark_venue_slug';"
      },
      "id": "c5c10002-2222-4222-8222-000000000005",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "mode": "list",
          "value": "JETtfbr4EGBAcCAA"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c5c10002-2222-4222-8222-000000000002",
      "name": "Execute ClubSpark Auth Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://clubspark.lta.org.uk/' + $('Load Global Settings').first().json.clubspark_venue_slug + '/Admin/Membership/Members' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            },
            {
              "name": "User-Agent",
              "value": "={{ $json.userAgent }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "c5c10002-2222-4222-8222-000000000003",
      "name": "Fetch Members Page With Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const auth = $('Execute ClubSpark Auth Session').first().json ?? {};\nconst settings = $('Load Global Settings').first().json ?? {};\nconst html = String($input.first().json?.data ?? $input.first().json?.body ?? '');\nconst fetchVerifiedUrl = `https://clubspark.lta.org.uk/${settings.clubspark_venue_slug}/Admin/Membership/Members`;\nif (!html.trim()) {\n  throw new Error('The authenticated fetch did not return any HTML.');\n}\nif (/Sign in|Log in/i.test(html) && /auth\\.clubspark\\.uk|mylta\\.my\\.site\\.com/i.test(html)) {\n  throw new Error('The returned HTML is still the ClubSpark/LTA sign-in page.');\n}\nconst hasMembersTable = /members-table/i.test(html);\nconst hasAdminMarkers = /Contact Options|Reset filters|Export CSV|Membership/i.test(html);\nif (!hasMembersTable && !hasAdminMarkers) {\n  throw new Error('The fetched HTML does not look like the authenticated ClubSpark members page.');\n}\nreturn [{\n  json: {\n    authenticated: true,\n    auth_target_url: auth.targetUrl,\n    auth_authenticated_url: auth.authenticatedUrl,\n    cookie_count: auth.cookieCount,\n    fetch_verified_url: fetchVerifiedUrl,\n    members_table_detected: hasMembersTable,\n    html_snippet: html.replace(/\\s+/g, ' ').slice(0, 400),\n  },\n}];"
      },
      "id": "c5c10002-2222-4222-8222-000000000004",
      "name": "Validate Reused Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Execute ClubSpark Auth Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute ClubSpark Auth Session": {
      "main": [
        [
          {
            "node": "Fetch Members Page With Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Members Page With Session": {
      "main": [
        [
          {
            "node": "Validate Reused Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-20T15:32:40.827+00:00",
  "updatedAt": "2026-03-22T17:19:56.245+00:00",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "pinData": null,
  "versionId": "ec8ba27f-ac0b-443a-aca7-4603129a3386",
  "triggerCount": 0,
  "id": "uRd78LSp8p7BWKkC",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 2,
  "description": null,
  "activeVersionId": null
}
