backups/20260418-170943-full-backup/workflows/Wgq4rJytywxHEZ5n-Capture_Membership_and_Contact_History_Snapshot.json
{
  "name": "Capture Membership and Contact History Snapshot",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 2 * * *"
            }
          ]
        }
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000002",
      "name": "Daily at 02:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $input.first()?.json ?? {};\nconst now = new Date();\nconst yearText = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/London',\n  year: 'numeric',\n}).format(now);\nconst defaultYear = Number.parseInt(yearText, 10);\nconst rawSeason = source.source_season ?? source.snapshot_year ?? source.year ?? defaultYear;\nconst sourceSeason = String(rawSeason).trim();\nif (!/^\\d{4}$/.test(sourceSeason)) {\n  throw new Error('source_season must be a four-digit year');\n}\nconst snapshotYear = Number.parseInt(sourceSeason, 10);\nconst nextSeason = String(snapshotYear + 1);\nconst snapshotKey = String(source.snapshot_key ?? `${sourceSeason}/${nextSeason}`).trim();\nreturn [{\n  json: {\n    snapshot_key: snapshotKey,\n    source_season: sourceSeason,\n    contact_snapshot_year: snapshotYear\n  }\n}];"
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000003",
      "name": "Build Snapshot Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const sqlLiteral = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n};\nconst sqlInteger = (value) => {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  const parsed = Number.parseInt(String(value), 10);\n  if (Number.isNaN(parsed)) {\n    throw new Error('contact_snapshot_year must be an integer');\n  }\n  return String(parsed);\n};\nconst config = $input.first()?.json ?? {};\nconst sql = `WITH membership_capture AS (\\n  SELECT *\\n  FROM public.capture_membership_history_snapshot(${sqlLiteral(config.snapshot_key)}, ${sqlLiteral(config.source_season)})\\n), contact_capture AS (\\n  SELECT *\\n  FROM public.archive_raw_contacts_yearly_snapshot(${sqlInteger(config.contact_snapshot_year)})\\n)\\nSELECT\\n  m.snapshot_key,\\n  m.source_season,\\n  m.rows_written AS membership_rows_written,\\n  m.updated_membership_history,\\n  c.snapshot_year AS contact_snapshot_year,\\n  c.archived_row_count AS contact_rows_written\\nFROM membership_capture m\\nCROSS JOIN contact_capture c;`;\nreturn [{ json: { ...config, sql } }];"
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000004",
      "name": "Build Capture SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000005",
      "name": "Capture Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const row = $input.first()?.json ?? {};\nreturn [{\n  json: {\n    snapshot_key: row.snapshot_key,\n    source_season: row.source_season,\n    membership_rows_written: Number(row.membership_rows_written ?? 0),\n    updated_membership_history: Boolean(row.updated_membership_history),\n    contact_snapshot_year: Number(row.contact_snapshot_year ?? row.source_season ?? 0),\n    contact_rows_written: Number(row.contact_rows_written ?? 0),\n    captured_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "aa2fd804-c1fb-4efa-84e0-0f0000000006",
      "name": "Summarize Capture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        360
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Build Snapshot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily at 02:30": {
      "main": [
        [
          {
            "node": "Build Snapshot Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Snapshot Config": {
      "main": [
        [
          {
            "node": "Build Capture SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Capture SQL": {
      "main": [
        [
          {
            "node": "Capture Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Snapshot": {
      "main": [
        [
          {
            "node": "Summarize Capture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-22T11:14:51.567+00:00",
  "updatedAt": "2026-04-09T08:00:14.114+00:00",
  "settings": {},
  "staticData": {
    "node:Half Past Every Hour": {
      "recurrenceRules": []
    },
    "node:Daily at 02:30": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "versionId": "12012d31-a50d-46cc-bdac-742988a498cc",
  "triggerCount": 1,
  "id": "Wgq4rJytywxHEZ5n",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 72,
  "description": "",
  "activeVersionId": "12012d31-a50d-46cc-bdac-742988a498cc"
}
