backups/20260415-151258-full-backup/workflows/qIPVxBPsN57mcG3m-My_workflow.json
{
  "name": "My workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7bca8339-04d9-456e-a0bd-7ec17f059f84",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/var/lib/n8n/import/contacts.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "3efc0361-581d-47c7-bb93-6c1ea04afc8b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "48233e42-1d76-40a8-9395-5f521d4d7ac6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e16b7d6a-2858-47e6-88cf-c8844cfdd2bd",
              "name": "Unique ID",
              "value": "={{ $json[\"Unique ID\"].slice(1, $json[\"Unique ID\"].length-1) }}",
              "type": "string"
            },
            {
              "id": "247f1392-a36e-46d3-b611-a2e8e725b441",
              "name": "Postcode",
              "value": "={{ $json.Postcode.replace(' ', '') }}",
              "type": "string"
            },
            {
              "id": "a2adc784-6298-4069-8592-e24018eb8e40",
              "name": "Phone number",
              "value": "={{ $json[\"Phone number\"].slice(1, $json[\"Phone number\"].length-1) }}",
              "type": "string"
            },
            {
              "id": "7cb54ea8-58ef-4426-9c13-138f467db30a",
              "name": "Mobile number",
              "value": "={{ $json[\"Mobile number\"].slice(1, $json[\"Mobile number\"].length-1) }}",
              "type": "string"
            },
            {
              "id": "fbab4e57-4298-49a8-aac4-3b73f995e651",
              "name": "Emergency phone number",
              "value": "={{ $json[\"Emergency phone number\"].slice(1, $json[\"Emergency phone number\"].length-1) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "c1319a1e-a488-4642-8ceb-b52f0458fc6d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First name": "={{ $json[\"First name\"] }}",
            "Last name": "={{ $json[\"Last name\"] }}",
            "gender": "={{ $json.Gender }}",
            "age": "={{ $json.Age }}",
            "junior": "={{ $json.Junior }}",
            "Date of birth": "={{ $json[\"Date of birth\"] }}",
            "Email address": "={{ $json[\"Email address\"] }}",
            "Phone number": "={{ $json[\"Phone number\"] }}",
            "Mobile number": "={{ $json[\"Mobile number\"] }}",
            "Work number": "={{ $json[\"Work number\"] }}",
            "Emergency phone number": "={{ $json[\"Emergency phone number\"] }}",
            "Address 1": "={{ $json[\"Address 1\"] }}",
            "Address 2": "={{ $json[\"Address 2\"] }}",
            "Address 3": "={{ $json[\"Address 3\"] }}",
            "town": "={{ $json.Town }}",
            "county": "={{ $json.County }}",
            "country": "={{ $json.Country }}",
            "postcode": "={{ $json.Postcode }}",
            "Date joined venue": "={{ $json[\"Date joined venue\"] }}",
            "Member status": "={{ $json[\"Member status\"] }}",
            "Last active": "={{ $json[\"Last active\"] }}",
            "Share Contact Detail": "={{ $json[\"Share Contact Detail\"] }}",
            "photography": "={{ $json.Photography }}",
            "created": "={{ $json.Created }}",
            "registered": "={{ $json.Registered }}",
            "unsubscribed": "={{ $json.Unsubscribed }}",
            "Receipt of Emails": "={{ $json[\"Receipt of Emails\"] }}",
            "Emergency contact name": "={{ $json[\"Emergency contact name\"] }}",
            "Unique ID": "={{ $json[\"Unique ID\"] }}",
            "Venue ID": "={{ $json[\"Venue ID\"] }}",
            "British Tennis Number": "={{ $json[\"British Tennis Number\"] }}",
            "Medical history": "={{ $json[\"Medical history\"] }}",
            "occupation": "={{ $json[\"occupation\"] }}",
            "Member's Directory": "={{ $json[\"Member's Directory\"] }}"
          },
          "matchingColumns": [
            "Unique ID"
          ],
          "schema": [
            {
              "id": "Venue ID",
              "displayName": "Venue ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Unique ID",
              "displayName": "Unique ID",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "junior",
              "displayName": "junior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Date of birth",
              "displayName": "Date of birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Work number",
              "displayName": "Work number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Mobile number",
              "displayName": "Mobile number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Emergency contact name",
              "displayName": "Emergency contact name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Emergency phone number",
              "displayName": "Emergency phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Address 1",
              "displayName": "Address 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Address 2",
              "displayName": "Address 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Address 3",
              "displayName": "Address 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "town",
              "displayName": "town",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "county",
              "displayName": "county",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "postcode",
              "displayName": "postcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "British Tennis Number",
              "displayName": "British Tennis Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Date joined venue",
              "displayName": "Date joined venue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Medical history",
              "displayName": "Medical history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "occupation",
              "displayName": "occupation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "registered",
              "displayName": "registered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "unsubscribed",
              "displayName": "unsubscribed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Member status",
              "displayName": "Member status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Last active",
              "displayName": "Last active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Receipt of Emails",
              "displayName": "Receipt of Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Share Contact Detail",
              "displayName": "Share Contact Detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Member's Directory",
              "displayName": "Member's Directory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "photography",
              "displayName": "photography",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        0
      ],
      "id": "8793a893-ae93-4c5c-9ad3-d4d5aa63458e",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-29T13:59:29.007+00:00",
  "updatedAt": "2026-03-13T10:23:48.451+00:00",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "17115190-5044-4c51-b9b5-8a48c9380da1",
  "triggerCount": 0,
  "id": "qIPVxBPsN57mcG3m",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "isArchived": true,
  "versionCounter": 2,
  "description": null,
  "activeVersionId": null
}
