backups/20260409-094516-full-backup/workflows/cyuhb-8azn6RvobqL4wWg-Complete_Signup_Batch.json
{
  "name": "Complete Signup Batch",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "a4ca9659-4cdf-4452-92d1-79263ae2f401",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Complete Signup Batch Webhook').first()?.json ?? null;\nif (request) {\n  const query = request.query ?? {};\n  const params = request.params ?? {};\n  const candidates = [\n    request.batch_id,\n    request.batchId,\n    query.batch_id,\n    query.batchId,\n    params.batch_id,\n    params.batchId,\n  ];\n  const rawBatchId = candidates.find((value) => value !== undefined && value !== null && String(value).trim() !== '');\n  const batchId = rawBatchId === undefined ? null : Number.parseInt(String(rawBatchId), 10);\n  return [{\n    json: {\n      batch_id: Number.isInteger(batchId) && batchId > 0 ? batchId : null,\n    },\n  }];\n}\n\n// Optionally set batchId before manual execution.\n// Leave as null to complete the latest batch that is still Processing.\nconst batchId = null;\n\nreturn [{\n  json: {\n    batch_id: batchId,\n  },\n}];"
      },
      "id": "8d80a2b3-8b3f-4f91-849e-f1192ab44f0d",
      "name": "Set Batch Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawBatchId = $input.first()?.json?.batch_id;\nconst batchId = rawBatchId === null || rawBatchId === undefined || rawBatchId === ''\n  ? null\n  : Number(rawBatchId);\n\nif (batchId !== null && (!Number.isInteger(batchId) || batchId <= 0)) {\n  return [{\n    json: {\n      batch_id: rawBatchId,\n      completeBatchSql: \"select NULL::bigint as requested_batch_id, NULL::bigint as batch_id, 0::bigint as completed_signup_count, 'batch_id must be a positive integer when provided'::text as message;\",\n    },\n  }];\n}\n\nconst requestedBatchSql = batchId === null ? 'NULL' : `${batchId}::bigint`;\nconst selectedBatchSql = batchId === null\n  ? \"select id from signup_batches where status = 'Processing' order by id desc limit 1\"\n  : `select ${batchId}::bigint as id`;\n\nreturn [{\n  json: {\n    batch_id: batchId,\n    completeBatchSql: `with selected_batch as (\n    ${selectedBatchSql}\n),\nupdated_signups as (\n    update member_signups\n    set status = 'Complete'\n    where batch_id = (select id from selected_batch)\n      and status = 'Processing'\n    returning id\n),\nupdated_batch as (\n    update signup_batches\n    set status = 'Complete',\n        completed_at = now()\n    where id = (select id from selected_batch)\n      and status = 'Processing'\n    returning id\n)\nselect\n    ${requestedBatchSql} as requested_batch_id,\n    (select id from updated_batch) as batch_id,\n    coalesce((select count(*) from updated_signups), 0) as completed_signup_count,\n    case\n        when exists (select 1 from updated_batch) then 'Complete'\n        when exists (select 1 from selected_batch) then 'Batch not found or already complete'\n        else 'No processing batch found'\n    end as message;`,\n  },\n}];"
      },
      "id": "5f5ee683-4c7d-4b4b-9c7c-5744d60ee44c",
      "name": "Build Completion Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.completeBatchSql }}"
      },
      "id": "9332f44c-100f-457f-a774-8209f2fbaee9",
      "name": "Complete Batch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1160,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "8f7f47fb-7d0e-4fd2-81c1-851b8ef3c101",
      "name": "Complete Signup Batch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        140
      ],
      "parameters": {
        "path": "complete-signup-batch",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "83582001-0627-4a65-baa6-ba6735623790"
    },
    {
      "id": "bd730a16-f814-4984-94d1-0f244de1767e",
      "name": "Respond Completion Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1470,
        140
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Batch Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Batch Id": {
      "main": [
        [
          {
            "node": "Build Completion Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Completion Query": {
      "main": [
        [
          {
            "node": "Complete Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Signup Batch Webhook": {
      "main": [
        [
          {
            "node": "Set Batch Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Batch": {
      "main": [
        [
          {
            "node": "Respond Completion Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-13T10:25:08.651+00:00",
  "updatedAt": "2026-03-28T09:36:22.302+00:00",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "773b4317-d13a-46e5-b1a6-ce89889e5603",
  "triggerCount": 1,
  "id": "cyuhb-8azn6RvobqL4wWg",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 42,
  "description": null,
  "activeVersionId": "773b4317-d13a-46e5-b1a6-ce89889e5603"
}
