backups/20260409-094516-full-backup/workflows/f5433cbcf5b14ade-Generate_Team_Contact_Sheets.json
{
  "name": "Generate Team Contact Sheets",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "generate-team-contact-sheets",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "r7000000-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "generate-team-contact-sheets"
    },
    {
      "parameters": {
        "command": "cd /mnt/c/dev/avondale-n8n && TEAM_CONTACTS_SEASON={{ $json.query.season || '2026' }} /mnt/c/dev/postgres-mcp-venv-linux/bin/python Teams/generate_team_contact_lists.py",
        "options": {}
      },
      "id": "r7000000-0000-0000-0000-000000000002",
      "name": "Run Generate Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.stdout ? 'Contact sheets generated successfully:\\n' + $json.stdout : 'Error: ' + ($json.stderr || 'Unknown error') }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "r7000000-0000-0000-0000-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Generate Script": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-06T09:26:16.559+00:00",
  "updatedAt": "2026-04-06T09:38:08.154+00:00",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null,
  "versionId": "v1                                  ",
  "triggerCount": 1,
  "id": "f5433cbcf5b14ade",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 6,
  "description": null,
  "activeVersionId": null
}
