backups/20260409-094516-full-backup/workflows/hDUOGcEmhcdO8dLN-Print_J8160_Calibration.json
{
  "name": "Print J8160 Calibration",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "c1f7f2b0-0001-0001-0001-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c1f7f2b0-0001-0001-0001-000000000002",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        460
      ]
    },
    {
      "parameters": {
        "path": "download-j8160-calibration",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1f7f2b0-0001-0001-0001-000000000003",
      "name": "Download Calibration PDF",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        140
      ],
      "webhookId": "download-j8160-calibration"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  MAX(CASE WHEN key = 'gotenberg_base_url' THEN value END) AS gotenberg_base_url\nFROM public.global_settings\nWHERE key = 'gotenberg_base_url';"
      },
      "id": "c1f7f2b0-0001-0001-0001-000000000008",
      "name": "Load Global Settings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PjTUDAMk0dZ7g1iO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const labels = [];\nfor (let row = 1; row <= 7; row += 1) {\n  for (let col = 1; col <= 3; col += 1) {\n    labels.push({ row, col, index: labels.length + 1 });\n  }\n}\n\nconst renderLabel = (label) => `\n  <div class=\"label\">\n    <div class=\"corner tl\"></div>\n    <div class=\"corner tr\"></div>\n    <div class=\"corner bl\"></div>\n    <div class=\"corner br\"></div>\n    <div class=\"crosshair\"></div>\n    <div class=\"grid-label\">R${label.row} C${label.col}</div>\n    <div class=\"measure top\">${label.index}</div>\n    <div class=\"measure left\">${label.row}.${label.col}</div>\n  </div>`;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>J8160 Calibration</title>\n  <style>\n    @page {\n      size: A4;\n      margin: 0;\n    }\n    * {\n      box-sizing: border-box;\n    }\n    html, body {\n      margin: 0;\n      padding: 0;\n      width: 210mm;\n      background: #fff;\n    }\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      color: #000;\n      -webkit-print-color-adjust: exact;\n      print-color-adjust: exact;\n    }\n    .sheet {\n      width: 210mm;\n      height: 297mm;\n      padding: 14.7mm 0 0 4.5mm;\n      display: grid;\n      grid-template-columns: repeat(3, 63.5mm);\n      grid-template-rows: repeat(7, 38.33mm);\n      column-gap: 2.54mm;\n      row-gap: 0;\n    }\n    .label {\n      position: relative;\n      width: 63.5mm;\n      height: 38.1mm;\n      border: 0.2mm solid rgba(0, 0, 255, 0.55);\n      border-radius: 3mm;\n      overflow: hidden;\n    }\n    .grid-label {\n      position: absolute;\n      top: 2.8mm;\n      left: 3mm;\n      font-size: 11pt;\n      font-weight: 700;\n      color: rgba(220, 0, 0, 0.85);\n    }\n    .measure {\n      position: absolute;\n      font-size: 7pt;\n      color: rgba(0, 0, 0, 0.75);\n      background: rgba(255, 255, 255, 0.7);\n      padding: 0.2mm 0.6mm;\n      border-radius: 1mm;\n    }\n    .measure.top {\n      top: 2.8mm;\n      right: 3mm;\n    }\n    .measure.left {\n      left: 3mm;\n      bottom: 2.8mm;\n    }\n    .crosshair {\n      position: absolute;\n      left: 50%;\n      top: 50%;\n      width: 10mm;\n      height: 10mm;\n      transform: translate(-50%, -50%);\n    }\n    .crosshair::before,\n    .crosshair::after {\n      content: \"\";\n      position: absolute;\n      background: rgba(0, 150, 0, 0.55);\n    }\n    .crosshair::before {\n      left: 50%;\n      top: 0;\n      width: 0.2mm;\n      height: 100%;\n      transform: translateX(-50%);\n    }\n    .crosshair::after {\n      top: 50%;\n      left: 0;\n      height: 0.2mm;\n      width: 100%;\n      transform: translateY(-50%);\n    }\n    .corner {\n      position: absolute;\n      width: 6mm;\n      height: 6mm;\n      border-color: rgba(0, 0, 255, 0.55);\n      border-style: solid;\n    }\n    .corner.tl {\n      top: 1.6mm;\n      left: 1.6mm;\n      border-width: 0.25mm 0 0 0.25mm;\n    }\n    .corner.tr {\n      top: 1.6mm;\n      right: 1.6mm;\n      border-width: 0.25mm 0.25mm 0 0;\n    }\n    .corner.bl {\n      bottom: 1.6mm;\n      left: 1.6mm;\n      border-width: 0 0 0.25mm 0.25mm;\n    }\n    .corner.br {\n      bottom: 1.6mm;\n      right: 1.6mm;\n      border-width: 0 0.25mm 0.25mm 0;\n    }\n  </style>\n</head>\n<body>\n  <section class=\"sheet\">${labels.map(renderLabel).join('')}</section>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    label_count: labels.length,\n    page_count: 1\n  },\n  binary: {\n    data: {\n      data: Buffer.from(html, 'utf8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html',\n      fileExtension: 'html'\n    }\n  }\n}];"
      },
      "id": "c1f7f2b0-0001-0001-0001-000000000004",
      "name": "Build Calibration HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Load Global Settings').first().json.gotenberg_base_url + '/forms/chromium/convert/html' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "c1f7f2b0-0001-0001-0001-000000000005",
      "name": "Render PDF with Gotenberg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first();\nconst binary = item.binary?.data;\nif (!binary?.data) {\n  throw new Error('Gotenberg did not return a PDF binary payload.');\n}\nconst generatedAt = new Date().toISOString();\nreturn [{\n  json: {\n    ...(item.json ?? {}),\n    generated_at: generatedAt\n  },\n  binary: {\n    data: {\n      ...binary,\n      mimeType: 'application/pdf',\n      fileName: `j8160-calibration-${generatedAt.replace(/[:.]/g, '-')}.pdf`,\n      fileExtension: 'pdf'\n    }\n  }\n}];"
      },
      "id": "c1f7f2b0-0001-0001-0001-000000000006",
      "name": "Finalize PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "inputFieldName": "data",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c1f7f2b0-0001-0001-0001-000000000007",
      "name": "Respond PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1630,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Calibration PDF": {
      "main": [
        [
          {
            "node": "Load Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Global Settings": {
      "main": [
        [
          {
            "node": "Build Calibration HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Calibration HTML": {
      "main": [
        [
          {
            "node": "Render PDF with Gotenberg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render PDF with Gotenberg": {
      "main": [
        [
          {
            "node": "Finalize PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize PDF": {
      "main": [
        [
          {
            "node": "Respond PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-21T10:09:40.764+00:00",
  "updatedAt": "2026-03-22T17:19:57.482+00:00",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "pinData": null,
  "versionId": "2f668aa1-cd32-4aa0-a3c0-d71b3a381fd0",
  "triggerCount": 1,
  "id": "hDUOGcEmhcdO8dLN",
  "meta": null,
  "parentFolderId": null,
  "isArchived": false,
  "versionCounter": 65,
  "description": null,
  "activeVersionId": "2f668aa1-cd32-4aa0-a3c0-d71b3a381fd0"
}
